[2021-08-09 16:29] akinsho commented on #177
@alohaia I tried that, and it seems to work fine, except I don't know if it's correct since truncation should happen based on how many *cells* a character occupies, not based on the number of characters. The intent with the truncation is that it is checking against the width of the terminal grid, so truncation is based on the number of columns, not the actual character count.

Looking at the chara

[2021-08-09 19:41] I60R opened #178 "[Feature request] Add option to swap `ordinal` and `buffer_id` position with `numbers = "both"`"
I like the result when `numbers = 'both'` and `number_style = { 'none', 'superscript' }` are set:

` 1.¹   foo |  3,²   bar |  4.³ baz |`

But I see `ordinal` as more useful than `buffer_id`, so instead I would like the above to be:

` 1.¹   foo |  2,³   bar |  3.⁴ baz |`

Would you consider implementing something like that?

[2021-08-10 05:28] alohaia commented on #177
@akinsho yes, you're right. But the code seemly doesn't work as you expected.

![image](https://user-images.githubusercontent.com/36324537/128810193-0f3ee7bf-959f-4efb-b0a5-69f7d25b77f8.png)

https://github.com/akinsho/nvim-bufferline.lua/blob/5c82307c64143ed2848e6ea1777ee51a40d3b978/lua/bufferline.lua#L219-L232

The name `人类发育的细胞学和遗传学基础.md` has `17` characters and occupies `31` cells. It is judge

[2021-08-10 07:28] akinsho commented on #177
@alohaia

I have no idea, basically I want truncation to happen in terms of cells, but it appears it can't since each character has to be treated as a whole or else we are back to where we started, doing it by character alone is not a good solution since if there was a very large multibyte character things could start to overflow in an undesirable way.

I'll think a bit more about this, but open t

[2021-08-10 09:55] alohaia commented on #177
@akinsho if there is no other method provided, you can use the implementation `widestrpart` below. It's not that elegant, but it does work. You can use it in any way you like.

[code]

[2021-08-10 18:59] akinsho commented on #178
@I60R tbh I don't really personally use the numbers' functionality, a lot of the improvements were made through the contributions of another user who does, if you'd be open to raise a PR for it then I can help guide it. Otherwise, I'll leave this open and myself or someone else can tackle it, but it's not going to be a priority for me as I have quite a lot of feature requests and bugs across multi

[2021-08-11 02:33] alohaia commented on #177
@akinsho sorry to respond so late because of the time difference. https://github.com/akinsho/nvim-bufferline.lua/pull/180#issue-707528849 fixes this issue perfectly, so I think it's time to close this issue.

[2021-08-11 08:38] #177 closed

[2021-08-11 08:40] akinsho commented on #81
The upstream part of this bug is not resolved, and was not reported the OP didn't nor have I had the time, but it was due to trying to truncate multibyte characters by byte which this plugin now handles better anyway

[2021-08-11 08:40] #81 closed

[2021-08-11 16:21] olimorris opened #181 "[Question] Reload bufferline after theme or background change?"
Firstly, loving `nvim-bufferline`. Recent convert from `barbar.nvim` and it's great!

One of my UI workflows consists of my whole Mac going dark before sunset. I have some nice Python scripts which cause my apps like Alacritty, Alfred, Code, Safari and Neovim, to switch to their respective dark modes.

For Neovim, I actually just apply a `vim.o.background = 'dark'` via the Neovim API. This causes

[2021-08-11 17:08] akinsho commented on #181
Hi @olimorris,

Thanks for the kind words.

So this should already work, i.e. changing the colorscheme should change for bufferline as well. If you swap between different colorschemes whilst vim is open, you should see this *with a minimal config* (I just verified locally).

I *think* in your case the reason this isn't working is that you have created some custom highlight groups and that is what

[2021-08-12 04:13] anurag3301 opened #182 "Prevent opening of bufferline in dashboard."
Hey I use [glepnir/dashboard-nvim](https://github.com/glepnir/dashboard-nvim) as my nvim startup buffer.
Is there a way to prevent bufferline to showing up in dashboard screen.
![image](https://user-images.githubusercontent.com/52702259/129137122-11c1f808-e326-4ad8-a0d3-a5952267b99a.png)
The black line if of bufferline
extra info
[code]
My [nvim config](https://github.com/anurag3301/my-linux-setup

[2021-08-12 08:03] akinsho commented on #182
@anurag3301 you can set `always_show_bufferline = false` this will hide the tabline if there is only one buffer open which will work to hide the tabline for start screens like dashboard.

[2021-08-13 07:25] akinsho commented on #181
@olimorris to be clear, I don't think the solution to this has anything to do with bufferline. When you create a custom highlight then change your colorscheme, the colorscheme will clear all existing highlights in order to re-apply its own. You should always re-apply your custom highlights in a Colorscheme autocommand.

e.g.
[code]

[2021-08-13 08:36] siduck76 opened #183 "[Feature Request] Add buttons to bufferline"
![image](https://user-images.githubusercontent.com/59060246/129329318-2601fdb4-a766-488f-b1a6-8d0a0a6c14c7.png)

Is there any config to add multiple buttons here (on the right) , similar to the close button?

[2021-08-13 08:38] siduck76 commented on #183
I wanted to add another button which executes certain cmd commands on being clicked

[2021-08-13 08:54] akinsho commented on #183
@siduck76 you can create a `custom_area` in your config see https://github.com/akinsho/nvim-bufferline.lua#custom-area and then add whatever you want into that space.

[2021-08-13 09:33] siduck76 commented on #183
@akinsho I added some icons here
![image](https://user-images.githubusercontent.com/59060246/129337067-4cc85858-1fae-402c-961a-5f430fcbe469.png)

any way I could show the custom area to the left of the close_button? I want the close_button as the last icon

[2021-08-13 09:46] akinsho commented on #183
Nope sorry, the custom area is rendered after the close button. It supposed to be after the bufferline content and is much messier and complicated if it inside it.

[2021-08-13 09:49] siduck76 commented on #183
oh , btw can we make these buttons clickable? I want to execute certain cmds when a button is clicked

[2021-08-13 09:51] siduck76 commented on #183
no worries! I disabled the close icon and added another button for the close icon in the custom area

![image](https://user-images.githubusercontent.com/59060246/129339247-237d76bb-2bc5-4e0c-a66d-a6468f99f729.png)

[2021-08-13 09:51] siduck76 commented on #183
if clicking these was possible , then it would be great :(

[2021-08-13 10:07] akinsho commented on #183
@siduck76 you can already make them clickable yourself
e.g.
[code]

Then in vimscript
[code]

See `:help statusline` under the `@` section

	      end the label, e.g.: %10@SwitchBuffer@foo.c%X.  Clicking this
	      label runs specified function: in the example when clicking once
	      using left mouse button on "foo.c" "SwitchBuffer(10, 1, 'l',
	      '    ')" expression will be run.  Function r

[2021-08-13 10:11] siduck76 commented on #183
@akinsho could we use lua function for it ?

[2021-08-13 10:38] akinsho commented on #183
@siduck76 no that won't work. The tabline click feature was added long before the nvim lua integration. It expects a `FuncRef` i.e. a reference to a `viml` function. It is currently not possible to pass a reference using `v:lua.MyFunc` that will error. This is the only reason bufferline still has some vimscript code. I suggest you use a
[code]

[2021-08-13 10:44] siduck76 commented on #183
@akinsho I tried that and here's my icon :

![image](https://user-images.githubusercontent.com/59060246/129345567-317377ed-9987-41a0-8a8e-3f9a23595425.png)

My funciton :
![image](https://user-images.githubusercontent.com/59060246/129345635-c2db2072-4a45-4279-adee-49b93a2bbd5d.png)

I get this error :
![image](https://user-images.githubusercontent.com/59060246/129345591-86d3e0a6-0475-4089-a13f-e15

[2021-08-13 10:49] akinsho commented on #183
@siduck76 you should read the documentation I shared about how the `tablineat` functions work, they receive 3 or 4 arguments and in viml you always have to specify the correct number of arguments whereas your function does not declare any arguments so you get an error.

[2021-08-13 11:05] siduck76 commented on #183
@akinsho thanks for all the help! It works . have a nice day :heart:

[2021-08-13 11:05] #183 closed

[2021-08-16 15:52] olimorris commented on #181
In the end I solved this by doing a little bit of refactoring of my own dotfiles. I create a color palette of light and dark colors. I then create an autocmd which which is bound to `ColorScheme` which reloads my bufferline setup and selects the correct color palette beforehand.

Really swish!

![Screen Shot 2021-08-16 at 16 51 09](https://user-images.githubusercontent.com/9512444/129592222-b97503

[2021-08-16 15:52] #181 closed

[2021-08-17 09:48] xtrats opened #185 "Anyway to switch to a buffer by buffer number?"
Is there an function which can switch to a buffer by its buffer number like `lightline#bufferline#go()`? Thanks!

[code]

[2021-08-17 21:59] I60R commented on #185
Yes, `:h bufferline-lua-mappings`

[2021-08-18 02:35] jeanlucthumm opened #186 "[Question] Disable default behavior of new tab on new buffer"
Is it possible to match the functionality of default nvim tabs but keep the aesthetics of `nvim-bufferline`? Specifically, is there an option to not have bufferline open a new tab when a new buffer is created?

[2021-08-18 08:27] xtrats commented on #185
Thanks!

[2021-08-18 08:35] xtrats commented on #185
Thanks!

[2021-08-18 08:36] #185 closed

[2021-08-19 22:28] atchim commented on #178
I think the possibility of a format string definition by the user would be better.

[2021-08-20 01:30] ammmir opened #187 "[Feature request] Reorder buffers using mouse"
It would be nice to be able to use the mouse to reorder tabs on the fly.

[2021-08-20 01:44] ammmir opened #188 ":q closes number tab but not filename tab"
If I run `vi file1 file2 file3` I get 3 tabs (and 3 number tabs). However, if I `:q` the number tab goes away, but the filename tab is still there. Any way to remedy this behaviour?

When I do `:q` I'd like to have it close both tabs.

[2021-08-20 01:50] ammmir commented on #188
I'm dumb, I'll create another issue

[2021-08-20 01:50] #188 closed

[2021-08-20 12:33] xiyaowong opened #189 "[feature request]: Support to set custom area click callback function"
![image](https://user-images.githubusercontent.com/47070852/130233302-55615d2f-369a-4230-b0a5-ce937d9bf6fd.png)

this is what I do now and It works well.  It would be nice if the plugin had direct support for registration callbacks

[2021-08-20 13:08] akinsho commented on #189
@xiyaowong I don't think I will implement this because it will introduce unnecessary complexity in this plugin, meanwhile a user can already do this on their own. The idea with the custom area is that a user can go away and add some stuff of their own choosing and by default is intended for advanced users who are comfortable doing that, so I don't really plan on building in specific functionality

[2021-08-20 13:11] xiyaowong commented on #189
I agree with you and thank you for your reply :)

[2021-08-20 13:11] #189 closed

[2021-08-20 13:13] akinsho commented on #186
@jeanlucthumm this is essentially completely different functionality to what this plugin provides. I've got this request a surprising amount of times, but given that the plugin is called `bufferline`.

I'm going to add in a section to the README to explain this, but basically I use a buffer based workflow and only sometimes want to see tabs and even then I only need to know how many are open and w

[2021-08-20 13:15] akinsho commented on #187
@ammmir since neovim is a TUI program it doesn't support dragging and dropping (at least as far as I know), so I believe this request isn't even possible.

[2021-08-20 14:28] siduck76 opened #190 "[Question] How do I make shorten buffername if there are multiple buffers of the same name"
Hi @akinsho ! Sorry for making another issue :( .I wanted to know if I could shorten the buffername's length if there are multiple buffers opened of the same name. For example :

buffername with mksh

![image](https://user-images.githubusercontent.com/59060246/130248406-b834fb67-8a4c-477b-b73b-9140242c90d8.png)

If there are multiple mksh buffers :

![image](https://user-images.githubusercontent.c

[2021-08-20 14:45] siduck76 commented on #56
Idk if this sounds dumb lol , maybe you can use one buffer for grouping multiple buffers and pressing a mapping when you're in the group buffer will open a lil popup over the bottom of the grouped buffer and cycling within the popup ( of grouped buffer ) with a mapping.

![image](https://user-images.githubusercontent.com/59060246/130251130-b5eaab8d-a48a-4d25-a1fd-a18ecf15df3d.png)

[2021-08-20 15:31] CaptainKO opened #191 "[Bug]: Bufferline don't show overidden icons which are set by nvim-web-devicons"
### What happened?

 default = true,
}

### What did you expect to happen?

[code]

### Additional Information

[nvim-web-devicons config](https://github.com/kyazdani42/nvim-tree.lua/pull/423#issue-658556199)

### commit

_No response_

[2021-08-20 16:37] ammmir commented on #187
thanks for the great plugin man!

"dragging and dropping" is essentially text selection in visual mode. not sure how it's implemented, but there is a tab plugin built-in to vim that supports reordering tabs by dragging the mouse. it's pretty cool.

on a fresh vim install run: `vim -p`
and then do a few `:tabnew` use the mouse to reorder the top tabs. you might need to enable mouse support first.

[2021-08-20 16:49] akinsho commented on #187
Hmm, I never knew that existed as a feature of the default tabline. Tbh I have no idea how that works at all, and I can't find any documentation about it. If you happen to find clear implementation documentation that can serve as a jumping off point, then please post it here. I personally have a very mouseless workflow, so this won't be a priority for me to implement, but will definitely accept a

[2021-08-20 16:51] akinsho commented on #191
Hi @CaptainKO, can you confirm when you are setting this override i.e. are you sure it is being set before bufferline starts?

[2021-08-20 16:54] akinsho commented on #56
@siduck76 I've already started some work over in #179 I'm probably not going to go with the structure above since that is way more work/complexity i.e. hiding buffers and then trying to add a new secondary UI. The main way this is probably going to work will be different highlighting/icons for grouped buffers and just as a visual indicator, I might also allow some custom separator e.g. a space or

[2021-08-20 17:02] siduck76 commented on #56
@akinsho My friend has added a [pr](https://github.com/NvChad/NvChad/pull/275) which lets me hide/unhide specific terminal buffers through telescope. Might be useful if you could implement the same with hiding buffers and unhiding them through telescope or any other floating window like thing

![image](https://user-images.githubusercontent.com/59060246/130268392-d9595001-6fac-4a6f-8ab3-1cbca37eafb

[2021-08-20 17:02] akinsho commented on #190
Hi @siduck76, short answer is no. The way buffers are deduplicated is that the plugin tries to find the first part of the buffer's path that is not the same as the other buffers of a similar name, so the length will be as long as that it takes to find the first different parent directory or the limit of a buffer name length. Tbh I will not change this myself. I don't like the idea of arbitrary num

[2021-08-20 17:05] akinsho commented on #56
I'm sure I understand tbh or if it relates to this particular functionality at all really.

[2021-08-20 17:07] siduck76 commented on #190
@akinsho I agree, thanks for mentioning the name_formatter , I'll definitely look onto it!

[2021-08-20 17:07] #190 closed

[2021-08-20 17:34] akinsho commented on #190
Let me know if you get stuck @siduck76 sorry if I was a bit abrupt, getting quite a lot of issues/feature requests across my plugins. Didn't think they'd end up causing so much work for me in the end 😆

[2021-08-20 17:51] siduck76 commented on #190
Haha np! I get issues everyday on my repo :rofl:

[2021-08-20 17:59] ammmir commented on #187
I perused `:help mouse` and came across some interesting tidbits, you can actually map stuff:

[code]

so if you map those 2 to functions that calculate the old tab position and new tab position, you can use `:tabmove` to perform the actual move. alas, I don't know the details about the mappings and callbacks, but seems possible?

[2021-08-20 18:15] akinsho commented on #187
Hmm, I don't think that will work since the clickable functionality in the tabline uses the `tablineat` feature which allows passing a callback when creating the tabline string but it itself doesn't specify a way to handle drag actions. The mappings you link to would involve creating a global mapping overriding user settings and still wouldn't have access to the currently selected buffer tab where

[2021-08-20 18:36] ammmir commented on #187
I started prototyping it:

[code]

and then:

[code]

[2021-08-20 18:45] ammmir commented on #187
I think you're right. this is just overriding the global event handler. there doesn't seem to be a tree of event handler support in vim. I give up. I'll just get used to a keyboard.

[2021-08-20 18:45] #187 closed

[2021-08-21 02:44] G-Rowell commented on #56
Hi @akinsho & @siduck76,

I thought I might explain my implementation a little, though mine clearly has flaws with it's implementation as it is currently. (I intend to improve it after my exams soon!)

### On Terminal creation,
- set a local terminal variable `term_type` to indicate that this is a `managed term` & `what kind of window the user created the term as`
  - Eg: `map("n", "<leader>w", ":

[2021-08-21 05:40] HumblePresent opened #192 "[Feature Request]: Option for padding between buffer icon and buffer name"
### What happened?

I recently started using [nonicons](https://github.com/yamatsum/nvim-nonicons) which are slightly larger than the typical icons from nerd fonts. For that reason, I include an extra space after each icon in my config for [nvim-web-devicons](https://github.com/kyazdani42/nvim-web-devicons) so that there is sufficient gap between the icon and any text after it. With this config, b

[2021-08-21 07:49] akinsho commented on #56
@G-Rowell thanks for explaining the terminal functionality referenced above. Just to clarify, I think there's generally a bit of confusion about what this issue is about and what the related PR will do. It doesn't have anything to do with hiding buffers or toggling things or secondary UI's. The buffer group logic is a mechanism for users to specify how buffers get grouped, things like highlights a

[2021-08-21 09:11] G-Rowell commented on #56
Yeah, my apologies, I barely got any sleep last night :cry:

I was manly trying to supplement SiDuck's answer.

I'm slightly more awake now and agree, it's a little irrelevant.
Sorry, my bad :laughing:

If I do get bufferline grouping working would you like me to let you know?

[2021-08-21 11:06] CaptainKO commented on #191
I put it int the config callback.
I as can see right now `nvim-tree` and `coc-explorer` work fine.

[code]

[2021-08-21 12:04] akinsho commented on #191
@CaptainKO sorry I should have clarified, does bufferline load *before* `nvim-web-devicons` or not? i.e. if you are applying the override after bufferline has already loaded, then that might be why you don't see them applied

[2021-08-21 15:03] akinsho commented on #191
I've also made a few changes to how icons are required. Can you test it out and see if it works now

[2021-08-21 15:49] CaptainKO commented on #191
Thank you. I will check it out ASAP.

[2021-08-21 17:55] Chaitanyabsprip opened #193 "[ Question ] Sorting buffers"
How can I sort the buffers in the order in which they were opened?

Also, with mappings being deprecated, is there a way I can have the same functionality?

[2021-08-21 18:04] akinsho commented on #164
This has now been added in the latest commit to master

[2021-08-21 18:04] #164 closed

[2021-08-21 18:05] akinsho commented on #167
This should now be resolved by #169 with the new `BufferLineGotoBuffer` command

[2021-08-21 18:08] akinsho commented on #193
@Chaitanyabsprip the warning if mappings is setup points to the correct part of the README to replicate this functionality, i.e. `BufferLineGotoBuffer <number>`, please read that section in the README for mapping information.

Regarding sorting buffers by when they were opened this was addressed in https://github.com/akinsho/bufferline.nvim/issues/135, essentially the best solution is the default

[2021-08-21 18:32] Chaitanyabsprip commented on #193
Thank you for answering!

[2021-08-21 18:32] #193 closed

[2021-08-22 15:21] cstsunfu commented on #167
@akinsho  Hi, thanks for your job. And there are two small questions.
The first one is when I sort the buffers manually, it works well, but when I want the buffer auto sorted, the configure in "require('bufferline').setup(sort_by = custom_function())" don't work as expected.

The second one is a feature request, besides the :bnext and :bprev, the :blast and :bfirst is also very useful when I open

[2021-08-22 15:35] akinsho commented on #167
@cstsunfu

Not sure if I understand fully, but the example you are showing looks incorrect since you are immediately invoking your `custom_function` rather than *passing* a custom function to the sort by field. It should look like

[code]

One other thing to look out for if you are using vim sessions is that manually sorted buffers are persisted across sessions so check if the `g:BufferLinePositio

[2021-08-22 17:11] akinsho commented on #192
@HumblePresent I think this plugin is getting very weighed down with innumerable configurations and options making the codebase increasingly hard to work with. This particular option is one I'd rather not expose.

Tbh I'm not sure why nonicons would need more than one space since it should just take as many cells as needed for example multibyte characters so not require extra padding. Could it be

[2021-08-22 17:35] HumblePresent commented on #192
@akinsho The icons themselves are still rendered in two cells like glyphs from other icon or patched fonts. I have added an extra third cell of space because the glyphs from nonicons render a bit larger within those two cells than other fonts. It just keeps the icon from appearing too close to the adjacent text. That said I totally understand your desire to keep the number of configuration paramet

[2021-08-22 17:35] #192 closed

[2021-08-23 01:31] CaptainKO commented on #191
I have updated to the latest version and made sure that the `nvim-web-devicons` was configured before loading `bufferline`.
[code]

[2021-08-23 04:12] CaptainKO commented on #191
Actually `bufferline` properly shows the overridden icon if the icon was specified only by extension.

[code]

[2021-08-23 05:52] VVKot opened #195 "[Feature request] add tab only mode"
Is there any way to just get fancy formatting, LSP indicators, etc for tabs? I often have a lot of buffers opened, which works great with `hidden` (compared to how other editors do it) - so displaying all of those buffers as tabs is not something I want to do.

[2021-08-23 05:52] VVKot commented on #195
@akinsho ?

[2021-08-23 06:28] akinsho commented on #195
@VVKot I get this question a surprising amount, weekly at least. My personal workflow that inspired this plugin is entirely based around what files (buffers) I have open, I have always used tabs the way that the help docs describe them

pages, so that you have several collections of windows to work on different
things

Given the description above i.e. a tab being a set of windows I don't really kn

[2021-08-23 07:22] VVKot commented on #195
@akinsho sure, completely understand your motivation and thought process here. I can consider contributing this when/if I am sufficiently inclined. Answering your specific questions:

1. Name/LSP indicator value - for last active window in the tab, as it currently works.
2. Actions on tabs - same, "close tab" icon/middle click closes the tab itself, left click selects the tab.

[2021-08-23 08:00] cstsunfu commented on #167
@akinsho  I'm sorry for I do not clearly describe the first question.
The sort_function is not called immediately, I just use your method to sort buffers.
![func](https://user-images.githubusercontent.com/24812659/130410835-acb65e3a-1f54-4dcc-9d67-eaa04a794e5c.png)

Use this method to sort buffers, the buffer will be auto sorted when I change some buffer, but the number is not updated as expected

[2021-08-23 09:25] akinsho commented on #186
closing as a duplicate/in favour of #195 and since the note has been added to the README. If you are interested in contributing please comment in #195

[2021-08-23 09:25] #186 closed

[2021-08-23 10:01] akinsho commented on #191
@CaptainKO thanks for the reference to the commit in coc-explorer 👍🏿 . I tried locally passing the full file name to the get icon method but that didn't work. It did however work when I passed in the full extension i.e. `spec.ts` by default bufferline will only pass `.ts` to devicons

[2021-08-23 12:47] akinsho commented on #191
Actually I've dug into this a lot more and actually checked the code of nvim-tree where this is also used, and I think maybe that this is an upstream problem or should be partially resolved upstream. Basically devicons maintains a map of file extensions/names and does a direct lookup e.g. `table[extension] = icon` so in this case I wasn't passing the full `spec.ts` so it doesn't match your overrid

[2021-08-23 19:02] antaxiom opened #196 "Set tab width purely relatively to the file name"
Hello, this may be a dumb issue, but I don't know any way to define tab with purely by padding around the tab name and adding a max limit, all tabs are the same width. Barbar.nvim adjusted the length depending the file name. Short file names end up with wasted space like so:
![image](https://user-images.githubusercontent.com/40070530/130503048-3ca6b4d5-48e2-4b8e-b954-3b8b6b8d4f0d.png)

I may be mi

[2021-08-23 19:28] akinsho commented on #196
@antaxiom there are 2 options that can control the size of a tab
[code]

The padding in this plugin is different to barbar.nvim by conscious choice we very briefly discussed this a very long time ago myself and the barbar author who suggested I adopt the same style, but I *strongly* dislike inconsistency of tab sizes. The aesthetic this plugin aspires to is similar to gui editors or centaur tabs,

[2021-08-23 19:56] antaxiom commented on #196
I see, no problem, I didn't fully realize the difference between tab_suze and max_name_length.
Thanks!

[2021-08-23 19:57] #196 closed

[2021-08-24 10:42] akinsho commented on #167
Ah right I forgot about that aspect of things. I'll leave this open till it's sorted

[2021-08-24 14:34] #167 closed

[2021-08-24 14:34] akinsho commented on #167
This should be resolved now @cstsunfu 🤞🏿 👍🏿

[2021-08-24 17:01] cstsunfu commented on #167
@akinsho Thank you for responding so quickly. But there is a small issue.
The behavior of manually executing the sorting command and automatically executing the sorting command in the configuration file is still inconsistent. The serial number of the buffer is fixed after the sort command is executed manually, and the serial number will not change even after the file is saved, this is reasonable.

[2021-08-24 17:08] akinsho commented on #167
@cstsunfu sorry I don't understand, I use a custom sort function to order functions by their last modified time and this seems to sort things correctly. I'm not sure which cases aren't covered, pictures might be helpful. Tbh I've more or less reached the limit of time I think I'm willing to spend fixing this issue since it's a feature I personally don't use. Please add some photos and if it's simp

[2021-08-24 18:16] cstsunfu commented on #167
@akinsho  I'm really sorry to have delayed you so long here.

This is my configuration about sorting.
![sort](https://user-images.githubusercontent.com/24812659/130666615-de62d87a-e8a5-4538-8f1f-56cd7b903ddc.png)

The following screen recording is what happened when I was editing the file.
![record](https://user-images.githubusercontent.com/24812659/130666913-991b38ca-431c-44c2-9b0c-bae81373bc11.g

[2021-08-25 12:09] xtrats opened #200 "highlights config doesn't work"
### What happened?

The issue is that...

### What did you expect to happen?

Expected behaviour

### Additional Information

...

### commit

_No response_

[2021-08-25 12:12] #200 closed

[2021-08-25 12:12] vinicius507 opened #201 "[Bug]: BufferLineGoToBuffer 1 takes a long time to complete"
### What happened?

With the mappings breaking changes, the command `BufferLineGoToBuffer 1` takes a long time to complete. On the other hand, it is instant for any other relative buffer.

### What did you expect to happen?

The buffer change to be instant.

### Additional Information

[code]

Config:

[code]

### commit

d343bc3

[2021-08-25 12:59] akinsho commented on #201
Hi @vinicius507, how have you mapped the keys? a common error that occurs is if you map both `1` and `10` e.g.
[code]
If you do the following then the first mapping will wait `ttimeoutlen` to see if you are going to type `0` which can cause a delay. Generally you should avoid double digit mappings in vim for this reason

[2021-08-25 13:42] vinicius507 commented on #201
Thanks for the fast response, @akinsho!

Indeed the problem was precisely that! The mappings:

[code]

Fixed it, now it is working fine. Closing!

[2021-08-25 13:42] #201 closed

[2021-08-25 15:39] iovis opened #202 "[Bug]: Buffers with no file are no longer shown"
### What happened?

After commit https://github.com/akinsho/bufferline.nvim/commit/706e3098118400214f20b2a29279351a9ad7f1f2, bufferline ignores buffers created with no file attached yet (like `:enew`), it also can't navigate through the other buffers.

### What did you expect to happen?

Expected:
![Screen Shot 2021-08-25 at 11 35 37](https://user-images.githubusercontent.com/6660202/130821261-a05

[2021-08-25 16:16] akinsho commented on #202
Thanks for raising this @iovis I'll look into it once I get a chance

[2021-08-25 17:39] rebelot opened #203 "[Bug]: empty buffers are not shown in tabline"
### What happened?

Empty buffers (eg. `:enew`) are not shown in the tabline. Is there a way to display [No Name] buffers?

### What did you expect to happen?

Show unnamed empty buffers

### Additional Information

I’m not entirely sure but I think this was working fine before I updated the plugin.

### commit

_No response_

[2021-08-25 17:43] #203 closed, assigned to nobody

[2021-08-26 13:40] Augists opened #204 "[Feature Request]: Hidden depends on filetype"
### What happened?

I use nvim-dashboard and telescope
and I set `always_show_bufferline` to false
If I open telescope and it will show the bufferline in black
which does not match my color scheme used in neovim

### What did you expect to happen?

auto hide bufferline in the filetype `TelescopePrompt`

### Additional Information

...

### commit

_No response_

[2021-08-28 01:37] ourigen opened #206 "[Bug]: bufferline doesn't respect nvim-web-devicons `default = false`"
### What happened?

I believe by default, file types without an associated devicon will just not show the icon. It is as if I set this config:

[code]

However, bufferline will still show the gray default icon. Other plugins such as lualine doesn't

Bufferline:
![bufferline](https://user-images.githubusercontent.com/79729735/131202127-ffad4c48-9b81-45b5-a511-035cec416b1e.png)

Lualine:
![lualine](

[2021-08-28 04:30] zawedcvg opened #207 "[Bug]: Background colour a bit weird when using with tmux"
### What happened?

The issue is that when using bufferline with tmux, the current tab is highlighted in a weird fashion.
![Screenshot from 2021-08-28 12-28-14](https://user-images.githubusercontent.com/46929289/131206124-5dfdebb5-5ba4-4e37-aedf-ab740f1c7bc2.png)

### What did you expect to happen?

Expected behaviour: the normal bufferline current tab colour.

### Additional Information

...

###

[2021-08-28 09:02] akinsho commented on #207
@zawedcvg this is because by default the current buffer users an `bold italic` highlight, and it seems your tmux has not been set up to correctly draw bold italic text. Your two options are to fix italic highlights inside tmux in your config (I don't remember how I did this off the top of my head so you will need to google it) or to disable them by setting current buffer highlights (the exact grou

[2021-08-28 09:05] akinsho commented on #206
@ourigen this isn't actually a bug, but by design. I wanted/needed the buffer icons for all tabs to be consistent, so the size of tabs were consistent, so I explicitly pass `{ default = true }` to devicons. Tbh this has been the case for the entirety of the plugin's life and hasn't been an issue. I don't really want to deal with adding logic to handle empty icons and the sizing/spacing issues that

[2021-08-28 09:48] kyazdani42 commented on #191
I guess it could work, and it might actually be more efficient than custom implementations.

[2021-08-28 10:56] zawedcvg commented on #207
managed to enable bold italic highlight and now it works like a charm. Thanks!

[2021-08-28 10:56] #207 closed

[2021-08-30 04:51] siduck76 opened #208 "Change command for close_icon"
Hi @akinsho , how do I change the command for close_icon? I mean this icon on the top right
![image](https://user-images.githubusercontent.com/59060246/131286817-f42cb550-9a7f-40b4-9f5c-e348b8634cbb.png)

[2021-08-30 04:52] siduck76 commented on #208
I have tried setting close_command but that works for the buffer's close icon

[2021-08-31 09:08] akinsho commented on #208
@siduck76 that button is there *specifically* for interacting with an most importantly closing *tabs* it isn't for anything else and doesn't do anything else. It is currently the only way to close tabs so I won't can't change it's functionality. If you don't use the tab indicators you might as well disable it and forget about it.

[2021-08-31 09:10] siduck76 commented on #208
oh shoot I didnt know about that , sorry! I thought that button was for closing buffers lul , dumb me xD

[2021-08-31 09:10] #208 closed

[2021-08-31 09:11] siduck76 commented on #208
I have tried using
[code]
But it takes more space idk how

[2021-08-31 09:13] siduck76 commented on #208
![image](https://user-images.githubusercontent.com/59060246/131476052-861d4cd2-3f6e-401c-87c3-d73c01e8f01a.png)
(5 buffers)

where as just using the default close_icon

![image](https://user-images.githubusercontent.com/59060246/131476124-0b44f763-95f6-4ddd-b18a-25b438563e14.png)

(5 buffers)

[2021-08-31 09:18] akinsho commented on #208
Yeah I'm not sure how the handling of the icon is done off the top of my head but it already has click syntax so you adding another will actually not work/break it e.g. it already has somthing like
`%@close@<Icon>` so you adding another `@func@` will just duplicate them

[2021-08-31 09:23] siduck76 commented on #208
thanks this worked :'

[2021-09-01 16:45] akinsho commented on #152
This was closed by #199

[2021-09-01 16:46] #152 closed

[2021-09-01 20:57] lcrockett opened #210 "Recent changes to BufferLineGoToBuffer"
I was used to using `BufferLineGoToBuffer` based on the ordinal number of the buffer, regardless of it's visual position. However in commit `d343bc322e00e9b21bcb9b3c8bf6a989b64a92a2` this behaviour changed to jumping to a buffer based on it's visual position. It does make sense from one perspective, however it seems cumbersome to keep counting the how "many'th" buffer you'd like to jump to and onl

[2021-09-01 21:42] rickyelopez opened #211 "Any way to sort buffers so that .h/.hpp files end up next to the appropriately named .c/.cpp file?"
if the files are named correctly (i.e. MyCoolModule.c => MyCoolModule.h), would be really cool if we could sort the buffer such that related files are next to one another.

I searched through closed issues but didn't notice a relevant one, sorry if I missed it!

[2021-09-01 22:11] akinsho commented on #211
@rickyelopez this plugin exposes an option called `sort_by` which a user can specify as a function which is can be used to sort buffers. You can use this function to figure a way to get your desired outcome. Maybe check the extensions of the buffers or something. I don't work with either of those filetypes regularly, so can't help specifically.

[2021-09-01 22:16] akinsho commented on #210
@lcrockett the change was intentional and didn't offer an alternative because I'm trying to manage the proliferation of options in this plugin. Ultimately, I don't want there to be a bunch of options around this. The main issue is that counting visible buffers is an overhead, ideally there'd be an option to show these but atm that'd be complicated to do. In the short/medium term, there is a way ro

[2021-09-01 22:25] lcrockett commented on #210
Perfect, works like a charmadillo. Cheers !

[2021-09-01 22:25] #210 closed

[2021-09-01 22:47] rickyelopez commented on #211
Okidoke, I'll try to mess with that if I ever get a chance, thanks!

[2021-09-02 14:04] d-miketa opened #213 "[Bug]: LSP diagnostics don't update after undo"
### What happened?

1. Cause something the LSP recognises as an error; both bufferline and any statusline correctly report it as such.
2. Hit `u` to undo said error. The statusline (lualine in my case) correctly removes said error, but bufferline keeps reporting it until `:w`, `:e` or similar actions.

### What did you expect to happen?

I'd expect bufferline to stay up with the statusline, i.e. r

[2021-09-02 14:08] akinsho commented on #213
Hi @d-miketa,

I've just had a quick look and I'm not actually able to reproduce this issue. Can you share your bufferline configuration. Maybe it has something to do with your setup.

[2021-09-02 14:31] d-miketa commented on #213
I'll go look into that. So far I've noticed it doesn't happen in small files or when I create an error after the `return` statement in Lua. So I think it may be happening when the LSP has to do some non-trivial thinking.

[2021-09-03 10:33] MaiLunJiye commented on #195
It can work like airline, display all buffers if there are only one tab.
When it comes to more tab, display the last buffer of each tab, and click it to switch to the tab rather than the buffer.

[2021-09-04 10:04] akinsho commented on #213
@d-miketa I think if this relates to the actual behaviour of the language server or neovim's get diagnostics function, then it's not really something I can solve here. The implementation for getting diagnostics is really straightforward. This plugin just calls `:h vim.lsp.diagnostic.get_all()` and that returns a table with the information, we don't really do anything that should affect undo.

Will

[2021-09-04 10:04] #213 closed

[2021-09-05 02:23] aspeddro opened #215 "[Feature request]: a simple command to close current buffer"
### What happened?

I tested the following commands:

`:BufferLinePickClose`
`:BufferLinePick`

Both not close the buffer. The plugin [barbar.nvim](https://github.com/romgrk/barbar.nvim#lua) provide some simple intuitive functions to handler the buffers.

How i can close the current buffer?

running `:BufferLinePickClose` the icon only change color
![image](https://user-images.githubusercontent.co

[2021-09-05 21:24] LuisxSullivaN commented on #142
@akinsho don't you think this prevents colorschemes from supporting this plugin? we'd have to manually set the colors.

[2021-09-05 23:49] d-miketa commented on #213
Alright, seems like a good shout. I'll be on the lookout but it is difficult to reproduce. And it could've been a plugin issue too (I've been going through a few recently). Sorry!

[2021-09-06 08:41] akinsho commented on #142
@LuisxSullivaN one of the core reasons I created this plugin was that I wanted a bufferline that was *consistent* regardless of colorscheme. I didn't want myself or users to add a new colorscheme only to be like why is the focused tab suddenly purple or why are the close buttons bright red or something. I want this plugin to work very similarly across themes i.e. use the same highlight groups per

[2021-09-06 13:29] akinsho commented on #215
Hi @aspeddro,

so `BufferLinePickClose` works by showing you the a character you can press to trigger a closing the specified buffer with `bdelete` in the example you show above as you can see in the image the letter b appears. If you *then* press b the buffer in question will be deleted.

Alternatively you can press the close icon.

Regarding commands to close a buffer, vim by default provides ma

[2021-09-06 22:35] aspeddro commented on #215
Thank you @akinsho

[2021-09-06 22:35] #215 closed

[2021-09-09 03:41] HumblePresent opened #217 "[Bug]: Buffer component changes size when entering buffer pick mode"
### What happened?

When entering buffer pick mode components of a specific size change length. From what I can tell this only happens to components with a buffer name 9 characters long and a buffer icon that uses more than a single cell (I am using icons with 2 cells but 3 appears to produce the issue as well). It looks like an extra space of padding is added to the left of the icon and to the ri

[2021-09-09 08:30] akinsho commented on #217
@HumblePresent I've pushed what I hope is a fix for this in the latest commit. Can you try it out and if it works, close out this issue 👍🏿

[2021-09-09 20:29] akinsho commented on #56
closed by #179

[2021-09-09 20:29] #56 closed

[2021-09-10 01:31] HumblePresent commented on #217
@akinsho I just tested the latest on master and it looks like my original issue is resolved but now certain components don't have any padding on either side as seen in the screenshot

![bufferline_217](https://user-images.githubusercontent.com/60856003/132784240-9bfe8810-2e95-4fd3-89a0-f9e19eea9a4d.png)

I'm not sure if that is intended or not but it seems like different behavior than I have seen

[2021-09-10 06:51] akinsho commented on #217
@HumblePresent I think if the main bug in this issue is resolved we should close it, regarding the other issue you are I cannot reproduce it, my buffers have padding. So I suggest we close this issue and if/when you figure out how to reproduce it, you open a new issue with some steps to reproduce, and I'll take a look.

[2021-09-10 10:35] ram02z commented on #217
@akinsho I think I am also experiencing a similar issue as @HumblePresent. My buffers seems to have different sizes, I have tried changing `enforce_regular_tabs` to true, but I don't think that's the problem because I had padding before without having to set it to true.

![image](https://user-images.githubusercontent.com/59267627/132840971-fcc738ce-e6ca-4d44-8de8-0f23b596f9d6.png)

[2021-09-10 11:09] akinsho commented on #217
@ram02z it's very possible that there's been a regression somewhere, yesterday's commits included the largest refactor I've done on this plugin since I first wrote it to accommodate some new features but I can't fix the issue without a clear way to reproduce it. Can either of you share your bufferline configs (just the setup bit) and a list of filenames that causes this issue. On my end I don't se

[2021-09-10 11:18] akinsho commented on #217
Ah I found the issue, it relates to having the `show_buffer_close_icons` set to `false` if you enable them it works which is why I didn't see the issue.

[2021-09-10 11:27] ram02z commented on #217
Yeah, I had `show_buffer_close_icons` set to `false`, setting it to `true` does resolve the issue.

[2021-09-10 11:40] #217 closed

[2021-09-10 11:41] akinsho commented on #217
I've just pushed a fix and optimistically closed the issue since I believe it should be resolved now. Let me know if I was too quick and it's still there 😅

[2021-09-10 11:47] ram02z commented on #217
@akinsho It works now, thanks for the quick fix!

[2021-09-10 16:16] Shatur opened #218 "[Bug]: Bufferline colors don't reload"
### What happened?

After efb9a699d2132a1ace759dbb1405cf6f369c4adc, the colors do not change when the theme or background is changed.

### What did you expect to happen?

I would expect the colors to update when changing the colorscheme or background.

### Additional Information

_No response_

### commit

efb9a699d2132a1ace759dbb1405cf6f369c4adc

[2021-09-10 17:13] Shatur commented on #218
Thank you! It fixed the issue, but now after theme change values from `highlights` table that passed to `setup` doesn't respected.

[2021-09-10 17:25] akinsho commented on #218
Ok I'll have a look when next I'm able.

[2021-09-10 17:52] akinsho commented on #211
Going to close this out now since I believe this can be solved in userland using a sort function, I'd rather not go down the rabbit hole of doing it myself since I don't have a use case or the time to implement an example but if you do work it out please post it back here as someone else might find it useful

[2021-09-10 17:52] #211 closed

[2021-09-10 17:54] akinsho commented on #204
Going to close this out since I’m not a fan of hiding or showing the tabline based on filetype and this can be done using an appropriate autocommand in the users config

[2021-09-10 17:54] #204 closed

[2021-09-10 17:56] akinsho commented on #176
@smichaud I finally had time to look into this again and confirmed that this bug is an upstream issue, not one with this plugin. For whatever reason, nvim doesn't return the right values when using `vim.bo[id]` or `nvim_buf_get_option(id, value)` *until* a buffer has been entered. The logic which belongs to this plugin i.e. showing or hiding a buffer based on returning true or false from this func

[2021-09-10 17:56] #176 closed

[2021-09-10 17:57] akinsho commented on #160
I believe this can be closed by #209 which added an option to not update diagnostics in insert mode, you can have a look at that PR for more details.

[2021-09-10 17:57] #160 closed

[2021-09-10 18:05] lucasvianav commented on #112
Just to help anyone that may be wondering, [folke/tokyonight.nvim](https://github.com/folke/tokyonight.nvim) does [overwrite `BufferLineFill`](https://github.com/folke/tokyonight.nvim/blob/eede574f9ef57137e6d7e4bab37b09db636c5a56/lua/tokyonight/theme.lua#L372-L374).

[2021-09-10 18:37] moshiur-raj commented on #160
the problem still persists though. is there an option i need to enable?

[2021-09-10 19:23] akinsho commented on #160
@moshiur-raj yes there is please check the linked PR for details

[2021-09-10 19:25] moshiur-raj commented on #160
thanks,  using `	diagnostics_update_in_insert = false` fixed the issue.

[2021-09-10 19:28] LandonSchropp commented on #195
@akinsho Would it be possible for you to post a summary of the high-level steps you'd see as being necessary to support tabs? Being new to Lua, I'm not sure I'm up to the challenge of adding this feature, but I'd like to check it out and see if it's feasible.

Is there an abstraction between the bufferline TUI and the results of the actions?

[2021-09-10 22:29] akinsho commented on #195
@LandonSchropp so quite a bit of the how it should work will need to be determined by the person who picks this up, as I don't use a tab based workflow a lot of the questions about how the existing functionality of this plugin would map to tabs is unclear to me, does deduplication work, what is the underlying data for a tab, how do the various actions map to tabs etc.

Ignoring all of those more "

[2021-09-11 03:30] HumblePresent commented on #217
Working for me as well. Thanks @akinsho!

[2021-09-11 04:37] LandonSchropp commented on #195
@akinsho Thanks for the reply! I'll give this a shot. No promises though. 🙂

In terms of behavior, I think defaulting to the exact same behavior as tabline makes sense. That component has been in use for years and seems pretty solid. I agree with all of @VVKot's suggestions on how this should work. The feature @MaiLunJiye sounds interesting, but I'd hold off on adding it and just get things workin

[2021-09-11 05:52] atomiccity opened #219 "[Bug]: NeoVim-qt on Windows Styling"
### What happened?

The tabs appear to be unstyled on NeoVim-qt on Windows 10.  I have vim.opt.termguicolors set to true.  Is this plugin compatible with NeoVim-qt?  I'm still pretty new to NeoVim and appreciate the help.

### What did you expect to happen?

Expected behaviour is that the tabs appear styled like in the screenshots.

### Additional Information

...

### commit

_No response_

[2021-09-11 05:53] atomiccity commented on #219
Here is a screenshot.

![image](https://user-images.githubusercontent.com/28820002/132937835-31969468-7575-4c4b-841d-0a781de149c1.png)

[2021-09-11 08:33] akinsho commented on #219
Hi @atomiccity, so QT is a neovim GUI whereas this plugin is aimed at neovim in the terminal so it's styling doesn't apply to the tabs in QT. there might be a way to disable it's and use the terminal ones but I'm not familiar with QT so can't help

[2021-09-11 10:23] akinsho commented on #218
This should be fixed now, can you confirm if it is? if so I'll close this out

[2021-09-11 10:38] Shatur commented on #218
Yes, works perfectly now, thank you!

[2021-09-11 10:38] #218 closed

[2021-09-11 15:12] booperlv opened #220 "[Bug]: Error on VimEnter when using custom highlights"
### What happened?

When opening neovim, I am greeted by an error message:
[code]
Following the lines, it looked like it was an issue with custom highlights.
And so,, disabling/commenting my custom highlights out of my config worked.

### What did you expect to happen?

For it to launch properly, without any errors.

### Additional Information

I have not found any specific value in highlights tha

[2021-09-11 18:53] atomiccity commented on #219
Ahh, I understand. Thank you for the help, @akinsho.  This is a wonderful looking plugin!

[2021-09-11 18:53] #219 closed

[2021-09-12 03:40] booperlv commented on #220
Tried to debug this myself, but couldn't really solve the issue. Most I found is that removing line 94 had stopped the error, but reset the config to default when changing colorschemes. Oddly enough, it says that self.__original is a string in the error, but when I tried to `print(vim.inspect(self.__original), type(self.__original))` the output was `} table`.

Tried following the events happening

[2021-09-12 10:09] akinsho commented on #220
@booperlv thanks for raising this, I'll take a look as soon as I can. I'm not really sure how is possible that the original config could be a string.

[2021-09-12 10:20] akinsho commented on #220
@booperlv I've just tried copying your entire config and replicating this issue and it doesn't reproduce for me. Can you try to isolate this issue using a minimal init.lua i.e. only load this plugin and your colorscheme with the config above and see if it reproduces? since I don't think the setup you provided on it's own will reproduce the issue

[2021-09-12 10:40] booperlv commented on #220
Oh man, was wondering what was wrong since nothing looked to be off. I'll do some investigating in my config and hopefully find either a solution or a minimal config to reproduce the issue. Thanks for looking into it! I'll update here with whatever I find

[2021-09-12 11:15] booperlv commented on #220
Did some debugging and this init.lua could reproduce the issue.

[code]

I honestly don't know if this is a bigger issue with my computer or what - I don't have another machine to test on. If this does not reproduce the issue on your side: It might be an issue with something in my .local/share/nvim or the likes, in which case I might close this issue since it would be my fault then - and then add

[2021-09-12 11:24] akinsho commented on #220
@booperlv just tried it out with a few tweaks i.e. not using packer, shouldn't make a difference, One thing I noticed though is  that your minimal example doesn't use `termguicolors` which is a necessary setting for using this plugin. Tbh I don't know if it relates to this issue since I tried with and without it and in either case it doesn't reproduce the bug.

What version of neovim are you one?

[2021-09-12 11:34] booperlv commented on #220
@akinsho the version I'm using is stable, with the whole info being
[code]
I just downloaded this from the Arch package manager.

On a side note,   I got to a super minimal config that reproduces the issue on my machine:
[code]
Apparently, removing the values inside changing fill to `fill = {}` would stop the issue.

This is a pretty weird issue. Wonder what's wrong on my side?

[2021-09-12 11:39] booperlv commented on #220
Fortunately have a nightly-appimage script I made from a while ago, and that fixed the issue! I downloaded the latest appimage `NVIM v0.6.0-dev+254-g413e86869` and after a +PackerSync it just worked from the get-go. Guess the behavior did change in between these versions? Will the plugin use something else for now?

[2021-09-12 15:42] akinsho commented on #220
Okay @booperlv I've managed to reproduce this issue now, it definitely relates to a change of behaviour using vim.tbl_deep_extend in nvim-0.5 vs nvim-0.6+ 😓 really annoying since I have to build some sort of shim or duplicate the logic from nvim-0.6 in this plugin till 0.6 becomes stable

[2021-09-12 19:31] akinsho commented on #220
This should be fixed by #222 gonna optimistically close this out. let me know if it isn't fixed though 🤞🏿

[2021-09-12 19:31] #220 closed

[2021-09-13 06:36] booperlv opened #223 "[Bug]: user highlights are not refreshed on colorscheme change"
### What happened?

When changing colorschemes, the bufferline  doesn't change colors from the first colorscheme set on startup.

### What did you expect to happen?

When changing colorschemes, the bufferline should change colors and inherit the values of the highlight groups in the new colorscheme.

### Additional Information

using stable 0.5.0

### commit

there is no specific commit, but this

[2021-09-13 06:52] akinsho commented on #223
@booperlv I tested specifically this case with the PR I merged yesterday on both nvim 0.5 and 0.6 and again for good measure just now. Can you clarify how you are testing it so I can try and reproduce this issue since once again I'm unable to reproduce it

[2021-09-13 07:13] booperlv commented on #223
Oh, it does look like something wrong on my end. Tried to create a reproducible config and it had worked properly. I apologize for the bother and thanks for the plugin + fast fixes! I'll close this in the meanwhile and just comment whatever had been the cause of the conflict in case others encounter the same issue. Thanks again @akinsho!

[2021-09-13 14:24] booperlv commented on #223
@ akinsho Reopening in respect to a recent finding of mine: Apparently, the values of the `self.original.highlights` are already converted from the `{attribute="", highlight=""}` to a hex color code. Thus, when changing colorschemes: the functions do do their job correctly in setting the updated highlights: however, there is nothing to update as the table is already converted to a string.

Here's

[2021-09-13 14:47] akinsho commented on #223
@booperlv please try the latest commit, should resolve the mutation of the original highlights

[2021-09-13 14:52] booperlv commented on #223
It worked! - Yet another thanks for the plugin and the fast fixes!
Closing the issue now :)

[2021-09-13 14:52] #223 closed

[2021-09-13 15:01] iRealistiX opened #224 "[Bug]: offset not setting correcltly for nvim-tree.lua"
### What happened?

The bufferline is not offset correctly

### What did you expect to happen?

It should offset properly, without a missing space

### Additional Information

Here's the screenshot describing the offset issue
![21-09-13_16h:58](https://user-images.githubusercontent.com/67875888/133107882-04b3e5fc-44bb-4d94-96c5-05d1514a89c2.png)

It misses 1 space of offset

### commit

_No respon

[2021-09-13 15:05] akinsho commented on #224
@iRealistiX I believe this isn't a bug but an issue with your setting for `VertSplit` you have likely got `fillchars` for `vertsplit` set to an empty character and highlights set to something, so it appears like that. That's more an issue with user configuration than this plugin since it cannot and doesn't change a user's fillchars or vertsplit which is well outside the scope of this plugin

[2021-09-13 15:08] iRealistiX commented on #224
I got a "hacky" way to fix this is that the color of the vertsplit of the filetree matches the color of the vertsplit of the `Normal` hi group, but then the statuslines at the bottom breaks
![21-09-13_17h:08](https://user-images.githubusercontent.com/67875888/133109137-e2138c99-2608-4693-b2bf-0683a933fae5.png)

[2021-09-13 15:10] iRealistiX commented on #224
Update: the vertsplit causing this issue is the filetree vertsplit, named `NvimTreeVertSplit`, going a bit in the Normal window by clearing the highlight on it
![21-09-13_17h:10](https://user-images.githubusercontent.com/67875888/133109481-ade844de-3749-403e-ba38-ec6dc973ef3e.png)

[2021-09-13 16:18] akinsho commented on #224
Gonna close this out since you've found a way around the issue. In either case this plugin can't solve this particular problem automatically for the user since it's entirely dependent on a user's settings

[2021-09-13 16:18] #224 closed

[2021-09-13 16:34] iovis commented on #220
Seems fixed on my end 🎉

[2021-09-14 17:37] hqkhan commented on #202
Is there a way to undo this. Not in the source code but is there a flag to hide all empty buffers?

[2021-09-14 17:52] akinsho commented on #202
@hqkhan you can add a `custom_filter` and filter out all buffers with no name in your config. Please have a look through the docs to see how to set that up, you will need to experiment with the exact solution in your config.

[2021-09-14 18:46] hqkhan commented on #202
@akinsho Thank you for letting me know about the docs. I did look at the `custom_filter` section which had some clarifying information. However, I can't seem to be able to refer to `[No Name]` buffers at all. I've tried using `nil` `bufname.length == 0` or `~= ''` as shown in the README, checking for exact match with `''` or `[No Name]` but none have been able to filter out empty buffers. I'm not

[2021-09-14 18:48] akinsho commented on #202
@hqkhan try using the `buf.path` property which should be `""`

[2021-09-14 18:58] hqkhan commented on #202
I tried:

[code]
as one of the filters but it didn't work

[2021-09-14 19:53] akinsho commented on #202
@hqkhan I forgot that `buf` is a number i.e. the buffer id, for future reference you can check the value of something in lua using `print(vim.inspect(value))`. The way to achieve what you want is
[code]

[2021-09-14 20:06] hqkhan commented on #202
@akinsho Thank you so much for your help and for the tip! I was also removing `NvimTree` and had some incorrect ordering for if statements as well. Sorry about that.

[code]

solved the issue. Thanks again!

[2021-09-16 15:13] knpwrs opened #225 "[Feature request] BufferlineCloseOthers command"
I have the following command mapped to `<Leader>bo` to make the current buffer the only open buffer (close all other buffers):

[code]

It would be great to map something simpler, say:

[code]

[2021-09-17 15:37] 0xRZ opened #226 "[Bug]: vim's sessions handling"
### What happened?

Hi, thank you for the plugin, it makes nvim more convenient. But there is an issue that vim's mksession creates additional empty buffers while using this plugin.

To Reproduce:
With vim-plug, init.vim:
[code]
Steps:
1. Create file1 and file2
2. Open nvim with file1
3. In nvim run :new file2
4. move file2 to new tab with :tab sp
5. :mksession!
6: :qa
7: reopen nvim and run :sour

[2021-09-17 16:09] akinsho commented on #226
Hi @0xRZ, I don't believe this is this plugin tbh, since the commit you mention doesn't actually change how this plugin handles the buffer list. In all likelihood you have `tabs` as part of your `sessionopts` and there is a bug in nvim where having tabs creates new blank buffers. I don't recall the nvim issue off hand but this plugin doesn't have the ability to actually *create* buffers it only re

[2021-09-17 16:31] 0xRZ commented on #226
Well this one new blank [No name] buffer does not appear after session restore with plain init.vim file, only when im using this plugin. In both cases sessionopts includes tabpages by default

[2021-09-17 16:40] akinsho commented on #226
@0xRZ I'm not sure if I understand, if you use a plain init.vim you won't be able to see buffers anyway so in the case of a blank init.vim you'd never expect to see this no name buffer.

[2021-09-17 16:41] akinsho commented on #226
The most important point at @0xRZ is if your `:ls` command contains a listed no name buffer since that essentially proves that the buffer came from vim. This plugin only reads the state from vim, so it's not really possible for it to show buffers that doesn't exist in vim since that's where the data comes from for the UI

[2021-09-17 16:50] 0xRZ commented on #226
@akinsho Oh yeah sorry, my fault. ```:ls``` contains that noname blank buffer in both cases, guess i will make bugreport to nvim.

[2021-09-17 16:58] akinsho commented on #226
@0xRZ I think https://github.com/neovim/neovim/pull/15062 PR was an attempt to port a fix that maybe should have fixed it, the original vim patch was https://github.com/vim/vim/commit/d39e275b57493f9e25e1b62f84810571eee30cf4. Although I don't know if those specifically target tabs in sessions, but I've had to turn that option off for this reason but don't have the time to shepherd an nvim issue my

[2021-09-17 17:04] 0xRZ commented on #226
@akinsho but ```hidden``` option is essential, if i remember correctly without it buffers may be destroyed when using LSP and jumping to definition that is contained in another buffer for example.

[2021-09-17 17:07] akinsho commented on #226
@0xRZ it is essential and soon to be default if not already default in nvim master, I'm not suggesting removing it, not sure if the issues or patch suggest that either. I only added those links for reference

[2021-09-19 03:01] eeeXun opened #227 "[Bug]: Color highlight not render correctly when unique buffer name"
### What happened?

When unique buffer name triggered, the color doesn't consist with my setting of buffer_select.
![](https://i.imgur.com/0pG3lMK.png)

### What did you expect to happen?

I set background color of buffer_select to be gray, and foreground color to be black.
And this is normal case that without triggering unique buffer name
![](https://i.imgur.com/a0hw1un.png)

### Additional Infor

[2021-09-19 11:18] akinsho commented on #227
@eeeXun sorry I'm on mobile atm so can't answer in detail. In short this isn't a bug there is a separate highlight setting for duplicate buffers. Please check the help docs you need to use the `duplicate_*` highlight fields to change those colours

[2021-09-19 13:38] eeeXun commented on #227
Yes, I didn't notice that option. Thanks a lot.

[2021-09-19 13:38] #227 closed

[2021-09-21 09:53] iRealistiX commented on #224
**UPDATE**: The real error in the story was the `indicator_selected` highlight issue in the config.

[2021-09-22 18:02] knpwrs commented on #225
Okay, I'll stick with the `[[<Cmd>%bd|e#|bd#<Cr>|'"<Cr>]]` mapping. Thank you!

[2021-09-22 18:02] #225 closed

[2021-09-24 15:51] alexzanderr opened #228 "[documentation] how to make another status line like bufferline"
this is not an issue.
im just curious about how to create another status line just like bufferline and print it in neovim, but keep the bufferline just in its place.

i dont know if the bufferline.nvim is another vim default status line just enhanced with colors.

can you guys provide me with some docs, advices on how to create another buffer line ?

what i trully want:
- to make another buffer li

[2021-09-24 22:56] ExpandingMan opened #229 "open buffer in new split?"
There's probably already a way of doing this, but it's still not apparent to me.  I'd like to have the ability to open buffers in new splits (or existing splits other than the one I'm on) using the same numerical designations as `bufferline.go_to_buffer`.

Is there a relatively easy way of doing this already?  If not, it seems like it would make a nice feature.

[2021-09-25 18:13] akinsho commented on #229
@ExpandingMan there are a few different ways to handle this. You can set a click command so that clicking a tab opens it in a split e.g. I have
[code]
In my dotfiles so that the right mouse opens a buffer in a split
otherwise you can use the `require'bufferline'.buf_exec` api to do something like
[code]
Then create a mapping with the above function

[2021-09-25 18:17] akinsho commented on #228
Hi @alexzanderr, tbh I don't think I follow that this issue is about. Bufferline is *not* a statusline plugin. The statusline is what appears on the bottom of your nvim, bufferline instead hijacks the tabline. I also really don't understand the request or how I can help bufferline's code is open in this repo so you can easily see how it works. If you are interested in the more basic statusline cre

[2021-09-25 18:18] akinsho commented on #228
Bufferline is not related to any default status line and is mostly separate/unlike anything nvim provides by default

[2021-09-25 18:19] akinsho commented on #228
I think what you probably want is to look into creating a floating window and positioning it just under the bufferline/tabline rather than re-using the tabline or status line as there can only be 1 single line one of those

[2021-09-25 18:19] #228 closed

[2021-09-25 18:59] ExpandingMan commented on #229
Cool, thanks!  Feel free to close.

[2021-09-25 20:20] alexzanderr commented on #228
`:help status-line` is useless.

yea its not, because its not a status-line, is a `tabline` and im guessing that its relying the default vim tabline. bufferline is just the vim tabline with enhanced colors and unicode. is that correct?

that is exactly what i want to do. since vim has only status-line and tab-line, which are already used.

[2021-09-25 20:55] #229 closed

[2021-09-25 21:59] alexzanderr commented on #228
yes, i've done it.
![image](https://user-images.githubusercontent.com/54772464/134786921-f087535b-c85a-4e1c-a8d4-b24637596918.png)

thanks for the idea.

[2021-09-25 22:04] akinsho commented on #228
Looks cool 👍🏿

[2021-09-25 22:04] alexzanderr commented on #228
yes, but the cursor overlays it.

[2021-09-25 22:06] alexzanderr commented on #228
when its pass the end of file its fine
![image](https://user-images.githubusercontent.com/54772464/134787029-c1e39ea7-2b5d-466d-b651-6fd9afa36f4c.png)

but when in not at the end of file, the last line in the visible vim buffer is not visible and the cursor can go over it. so the cursor can get over the floating window. and thats my problem.
![image](https://user-images.githubusercontent.com/54772

[2021-09-25 22:13] akinsho commented on #228
I don't think there's anyway to prevent that because the cursor is underneath the floating window, and it doesn't know about the floating window that is a layer above it, you could try some complex hacks to manipulate the cursor, but I think that's a bad idea. You might want to add a `scrolloff` see `:help scrolloff` as mandatory config options, since it can prevent the cursor from ever being at t

[2021-09-25 22:23] alexzanderr commented on #228
yes, `set scrolloff=1` will fix the issue. except the last line. when you are on the last line of the file, this will not work anymore. but in the rest is very good.

thank you so much for help!

[2021-09-25 22:23] alexzanderr commented on #228
you just made someone happy.

[2021-09-26 23:29] kkharji opened #230 "feat: fall back to a function with BufferLinePick"
Hey @akinsho

I have set a mapping to pick a buffer tab, but I wanted to have a fall back function (in my case telescope buffer)

I've changed select_buffer_apply a bit, but not sure how to make it configurable

[code]

[2021-09-26 23:32] tami5 commented on #230
my usecase is this:

- `<leader>b` pick
- not visible
- press `<space>` have telescope buffers open

Though it works now, but there's a bit of delay from pressing space to the actual telescope picker open

[2021-09-26 23:42] tami5 commented on #230
Okay found the reason of the delay and did this

[code]

[2021-09-27 01:34] wellcomez opened #231 "all tabs are black while launched for osx's buildin terminal"
I know root cause is osx's build-in terminal doesn't support true color.
Can you provide optional callback which can  set txt color or background color?

[2021-09-27 01:53] wellcomez commented on #231
my hack way is
  numbers = function(opts)
    local fn = vim.fn
    local current = fn.winbufnr(0) == opts.id
    if current then
      return string.format('* %s%s', opts.id, opts.raise(opts.ordinal))
    end
    return string.format('%s%s', opts.id, opts.raise(opts.ordinal))
  end,

[2021-09-27 03:40] andytsan opened #232 "Insert new buffer after current one"
Hi, great plugin!

Is there a way to configure it to insert the newly opened buffer to immediately after the current one?

I've found that opening a new buffer, inserts it at the end of the buffer list. The default behaviour of barbar.nvim for example is to insert the buffer after the current.

Thanks!

[2021-09-27 09:57] akinsho commented on #232
Hi @andytsan,

Thanks, there is currently no way to do this. I'm not sure how easy or hard this will be to add since unlike barbar this plugin uses the buffer list from vim +/- any sorting a user applies rather than prioritising it's own internal state of buffers which this would need, I'll leave it open as a feature request.

[2021-09-27 09:59] akinsho commented on #226
Gonna close this out since it relates to upstream behaviour and can't be solved here.

[2021-09-27 09:59] #226 closed

[2021-09-27 10:23] akinsho commented on #231
Hi @wellcomez,

So I can't follow what *specifically* is the issue here, is it about the highlighting of the **numbers** options?

Or is it about not supporting cterm colors i.e. non `termguicolors`

As a general all purpose response to this not sure if it answers everything:
As I mention in README, I can't really support not using `termguicolors` it would require too much work and I really don't

[2021-09-27 10:30] akinsho commented on #230
Hi @tami5,

So tbh I think adding a fallback is a complexity I'd rather leave to users since this seems like a specific workflow rather than general functionality that the majority of users *need*. I think your final example which just adds a return value to `select_buffer_apply` is a good solution. I'm not sure I understand the escape behaviour there though, if a user presses escape seems like `p

[2021-09-27 18:04] alexzanderr opened #233 "[question] how to change the background color of offset space"
hello, i have bufferline configured and its working very well.
i just want to change the background color of offset space

![image](https://user-images.githubusercontent.com/54772464/134961008-66394169-ea9a-4323-86bb-432a95631b04.png)
(where it says NvimTree)

i want to make the background color `black` to match the bufferline blackground color which is black.

my offset options in bufferline setu

[2021-09-27 18:08] akinsho commented on #233
@alexzanderr you need to pass a highlight group to the offset that has a black background. In your case, you passed `Directory` but that doesn't have a black background. You needed to create a highlight group and pass the name in here. Please see `:help :highlight` for details on creating a highlight group

[2021-09-27 18:43] alexzanderr commented on #233
wow. thanks. it worked.
![image](https://user-images.githubusercontent.com/54772464/134966780-004a710b-38e7-4cc6-b566-382dcc3ab9b2.png)
with this
`vim.cmd("hi OffsetLine ctermbg=black guibg=#ffcb3d")`

[2021-09-27 18:43] #233 closed

[2021-09-27 18:45] alexzanderr commented on #233
ups. wait. where can i find the hex color of bufferline background ? (i now its black, but its not pure black)

[2021-09-27 20:42] akinsho commented on #233
you are probably looking for `BufferlineFill` or something

[2021-09-27 20:52] alexzanderr commented on #233
![image](https://user-images.githubusercontent.com/54772464/134983417-c3bf7c6f-c0da-4bdc-b74a-cdc9de7a10a3.png)

that is correct. thank you so much

hey, can you add me on discord? (`alexzander#5442`) in order to spam less here with issues if i have more questions, please.

[2021-09-27 21:00] akinsho commented on #233
I don't use discord sorry

[2021-09-29 01:45] wellcomez commented on #231
My suggestion is  bufferline  should take in account none termguicolors.
If you  think it will take more effect and it isn't worthing to do, you can expose  additional interface  to allow user can change it .

[2021-09-29 02:22] wellcomez commented on #231
where is it ?

[2021-09-29 06:43] akinsho commented on #231
@wellcomez the different highlights are documented under `:help bufferline-highlights` please read the documentation.

If you think it will take more effect and it isn't worthing to do, you can expose additional interface to allow user can change it .

As I have mentioned in the README and the responses here this is a large piece of work that I never intended to support/do. I personally have no us

[2021-09-29 07:21] joehannes opened #235 "[Bug]: function(buf) .... buf.path isn't consistent (as of the groups feature)"
## Inconsistent content of var buf.path in grouping feature (where buf is the only arg in a custom fn) ...

### What happened?

The issue is that...
I'd like to group files based on their directory that's part of the path (buf.path ... in example buf.filename used)

### What did you expect to happen?

Expected behaviour grouping works based on files dir

### Additional Information

... instead ini

[2021-09-29 09:48] akinsho commented on #235
@joehannes it's likely nvim is changing the path of the buffer based on how they are opened and the current cwd, the plugin just gets the full buffer name and runs `fnamemodify(filename, ':t')` to get the path so we shouldn't be truncating it.

In any case you can just format the path yourself doing `vim.fn.fnamemodify(buf.path, ':p:h')` which should give the full path.

Just to be clear return a

[2021-09-29 11:46] akinsho commented on #79
I'm going to close this out since it's been open for months and there are no takers. Frankly I don't love the complexity it would bring but will review a PR if someone else wants to still contribute this change. Alternatively there are quite a few other bufferline plugins with different UI that aim to support this type of thing out of the box so 🤷🏿‍♂️

[2021-09-29 11:46] #79 closed

[2021-09-30 07:44] akinsho commented on #235
@joehannes if you check the help for `fnamemodify` you'll see a very similar expansion
[code]
I don't know how the internals work but I guess it uses the partial name to match against a buffer and then resolve the name from there. There is no function to pass buffer objects to since are objects I created they can't go into anything. This plugin uses fnamemodify extensively and it largely works.

[2021-09-30 15:21] joehannes commented on #235
wow, I find that superstrange... must be based on some workding_directory-thingy, because how would it distinguish index.js from index.js??? well ... I'll give it  a shot!!! awesome!!!

[2021-10-07 09:36] akinsho commented on #235
Gonna close this out now, let me know if there's still something that needs doing here

[2021-10-07 09:36] #235 closed

[2021-10-13 12:00] druskus20 opened #237 "[Feature request] Disable icon highlighting"
I've been trying to change the color of my buffer icons. Currently it defaults to the one set by `nvim-web-devicons`, but I cant seem to find a way to change it looking through `:h bufferline-highlights`

![image](https://user-images.githubusercontent.com/43417195/137128007-c5983fdd-cedb-49a2-bee9-2a2bd2e0e0a3.png)

PD: the readme mentions `:h bufferline-lua-highlights` instead of `h: bufferline-h

[2021-10-13 17:43] stumash opened #238 "[Bug]: opening last-vistited buffer # does not create bufferline tab"
### What happened?

Let's say I open a file with `:e fileOne.txt`. Then I open another file with `:e fileTwo.txt`. Then I exit the second file with `:bd`.

I can get back to the file I just existed two ways:
1. `:bu #`
2. `<C-O>`

When I do the second way, `<C-O>`, nvim reopens the exited file and I get a bufferline tab for it.
But, when i do the first way, `:bu #`, nvim reopens the exited file **

[2021-10-13 18:41] stumash commented on #238
wow, thanks for the fast reply!! 💪

so, you're absolutely right, and I'll close the issue.

do you know of a way to do the equivalent of `:bu #` while getting the buffer listed?

[2021-10-13 18:41] #238 closed, assigned to nobody

[2021-10-15 04:18] ristillu opened #239 "[Bug]: bdelete with a quickfix behavior?"
### What happened?

The issue is that...
My usual use case is I have several buffers open and I use ALE so that many have an active quickfix window. I have a custom_filter set to not have a tab for 'qf' buffers, that works great. However if I am on one of my active buffers that has a quickfix at the bottom and I :bdelete that buffer, bufferline ends up in a state where the quickfix window is open

[2021-10-17 05:03] ristillu commented on #239
In answer to my own question I could do something like this:
[code]
(thanks to stackoverflow, searching for things like "vim skip buffer")

There are still a couple of quirks of behaviour if you have a single file buffer + a quickfix open but I can live with that.

[2021-10-18 00:10] AndOrangutan opened #240 "Kitty issues with slant sepaarator_style"
Basically just what the title says.
![2021-10-17_17-07](https://user-images.githubusercontent.com/40435989/137649994-27a9416c-0805-481b-adee-ebc112b18d99.png)

Just installed the plugin and really like the look of slant, but I keep getting black backgrounds behind the icons.

Here is my config:
[code]

[2021-10-18 01:04] ljmf00 commented on #155
@akinsho Apparently, this doesn't work again.

[2021-10-19 23:48] #240 closed, assigned to nobody

[2021-10-21 07:11] zeljkomarinkovic opened #241 "[Bug]: NERDTree offset not working"
### What happened?

The issue is that setting offset on NERDTree do not work.

![image](https://user-images.githubusercontent.com/23746207/138228760-f50c3d5b-e1c7-4751-b47e-bcc86c6da40c.png)

my minimal configuration

[code]

### What did you expect to happen?

Expected behaviour - to place offset for NERDTree as it does for NvimTree

### Additional Information

...

### commit

_No response_

[2021-10-21 07:32] #241 closed, assigned to nobody

[2021-10-21 07:35] zeljkomarinkovic commented on #241
Maybe you should update docs to make it clearer but non the less thanks for help 👍 ?

[2021-10-22 06:34] RaZ0rr-Two opened #243 "Issue navigating with fzf-lua with unsaved buffer"
When I make changes to a file and then use [fzf-lua](https://github.com/ibhagwan/fzf-lua) to open another file, the file doesn't open. And I get the following error :

[code]

I can only open another file after saving the buffer. Is this expected behaviour?

NVIM VERSION

[code]

[2021-10-22 10:24] #243 closed, assigned to nobody

[2021-10-24 06:59] pwntester opened #244 "[Bug]: Missing highlight for buffer path"
### What happened?

Ive trying to tweak the highlights for my custom theme but there is one part I cannot manage to get right:

![image](https://user-images.githubusercontent.com/125701/138584097-84bc4a38-aa67-4dbb-a268-312bc9f45e10.png)

When you have to buffers opened for files with same name but different path, the path for the active buffer does not get correctly highlighted.

Am I missing a h

[2021-10-25 11:43] ofk-enterprise-account opened #245 "(QUESTION) Is there a control option for `BufferLinePick` sigil's color?"
For a while, when issuing `BufferLinePick` the sigils denoting the buffers were in red. After a recent update, they're in white.
I'm guessing an option was added/triggered/removed to set the color of the sigils?

If so, I can't find it in the docs.

Thanks.

[2021-10-25 11:49] #244 closed, assigned to nobody

[2021-10-27 09:05] bryant-the-coder opened #246 "Config error"
My config

[code]

After writing and sourcing it
[code]
Please help

[2021-10-31 04:05] CrazyGriferman opened #247 "'number_style' will be deprecated problem"
I set the number to "numbers = "none" | "ordinal" | "buffer_id" | "both" | function({ ordinal, id, lower, raise }): string," as described in README.md (there is a "function" ), but it constantly shows these warnings when I open vim:

I also add the function which is listed in help guide:
[code]

But it still didn't work.
**How can I fix that?**

this is my configuration file:
[code]

[2021-10-31 04:46] CrazyGriferman commented on #247
I just deleted 'numbers' and 'number_style' and suddenly the warning disappeared. I didn't know what happened but it fixed my issue.

[2021-10-31 13:01] snvmk opened #248 "[Bug]: clicking on tab doesnt do anything"
### What happened?

The issue is that when i click on the tab (either right or left), nothing happens. In my config, i have that it should move to tab by left click, and close tab by right click. But nothing happens

### What did you expect to happen?

Expected behaviour: something happend

### Additional Information

I tried original neovim (in terminal) and Gnvim

### commit

latest i think?

[2021-10-31 13:47] snvmk commented on #248
Lol, issue was in.... me) just set mouse to a, now works

[2021-10-31 13:47] #248 closed

[2021-10-31 18:12] akinsho commented on #247
@CrazyGriferman the `numbers_style` option is deprecated please don't use it, or you will see that error, instead you should use `numbers`.

[2021-11-01 10:06] #245 closed

[2021-11-01 10:07] akinsho commented on #245
This should now be fixed @ofk-enterprise-account

[2021-11-01 10:08] akinsho commented on #246
@bryant-the-coder I don't really have enough information to help you. Can you please add a minimal vimrc that reproduces this problem? Just loading only this plugin and the setup that reproduces this bug since I can't reproduce it on my end and on one else is reporting this issue

[2021-11-01 13:27] CrazyGriferman commented on #247
Thanks! I solved the problem.

[2021-11-01 13:27] #247 closed

[2021-11-02 08:24] ofk-enterprise-account commented on #245
Yes, it worked!
Thank you very much!

[2021-11-03 19:16] rod-stuchi commented on #91
I tried, but no help for `:h bufferline-lua-highlights` or `:h bufferline-lua-styling`

[2021-11-03 21:37] rod-stuchi opened #249 "Are ordinal numbers static?"
### What happened?

![image](https://user-images.githubusercontent.com/19471811/140195648-1824d322-9142-4afe-8542-f897efbad953.png)

All good up to here

![image](https://user-images.githubusercontent.com/19471811/140195793-cedb9ef2-dd26-44db-ad82-9d14bcdc31ca.png)

But, if I hit `<Leader7>`  it stays at file006 `ordinal 6`

if I hit `<Leader1>`  it goes to file004, with `ordinal 4`

![image](http

[2021-11-04 10:07] akinsho commented on #249
@rod-stuchi no they aren't static, they represent the visible position of the buffer in the bar so as you move through visible buffers and the list shifts the numbers will shift

[2021-11-04 10:14] akinsho commented on #91
@rod-stuchi the `-lua-` bit was removed from the help tags so you can just do `:h bufferline-highlights`. FYI you can tab complete help next time to see whats available e.g. `:h bufferline<TAB>` should autocomplete the options if your stuck on this sort of thing in the future.

[2021-11-04 14:03] rod-stuchi commented on #249
Thanks @akinsho
So in this case, it could be a bug in mappings?
In the flow up above, if I hit `<Leader>1` it goes to file004 (ordinal 4), but the correct was to select file001 (ordinal 1).

IMO, I think it is cooler to select ordinal according to what is visible, if file001 was offset, file004 should be (ordinal 1) but the ordinal number should be updated visually, but the ordinal number get upda

[2021-11-04 15:40] rod-stuchi commented on #249
Hi @akinsho , this video (with screenkey) shows better what happen.

https://user-images.githubusercontent.com/19471811/140356222-8cc3f273-f600-4ebb-a2a4-9a12ddbf4077.mp4

My mappings, `Leader = ','`
[code]

The behavior is Ok, meaning the buffer ordinal 1 is what I'm seeing, if a hit `,1` it goes there, but the ordinal indicator is showing a static number (e.g: 4, assigned when file was open), if

[2021-11-05 10:26] akinsho commented on #249
@rod-stuchi thanks for the video and clarification, the whole bufferline should be redrawn when you enter a new buffer, so the ordinal numbers should change. Tbh the whole number feature is something I don't use at all that I added because of user requests and have tweaked further because of subsequent requests. Since I don't use it, I rarely see bugs with it.

I don't have much time to dig into t

[2021-11-06 10:49] max397574 opened #250 "allow disable by filetype"
Could you add an option to disable by filetype?

[2021-11-06 12:41] akinsho commented on #250
@max397574 you can accomplish this in vim already by using the `showtabline` setting and changing it in an autocommand e.g.
[code]
This is an untested example to illustrate the idea, you can tweak this to your needs in your own config. I won't however add this to the plugin itself since I don't leave it's necessary or desirable.

[2021-11-06 12:59] #250 closed

[2021-11-07 16:09] sandangel opened #251 "Show visible buffer number in the number format"
Hi, With this mapping, is it possible to show visible buffer number in on the bufferline? Currently it only supports ordinal and buf id.
[code]

[2021-11-07 19:13] akinsho commented on #251
@sandangel this is essentially a duplicate of an issue opened a few days ago #249 the solution is the same. As I mentioned there I'm busy with other things at the moment so if you or the other poster of the other issue would like to contribute a PR I can try and guide a PR but I'm not likely to pick this up soon personally.

[2021-11-08 01:10] sandangel commented on #251
hi, thanks for the heads-up. Could you please let me know your thoughts on:
- Will this be a simple task from your point of view? Like deep diving into the source code and change lots of things or just need to tweak 1, 2 functions?
- If we start implementing this, where should we look at in the code? Since I'm not familiar with the code base yet, this might help me move faster.

[2021-11-08 01:13] bryant-the-coder opened #252 "Error again while loading bufferline"
The error I got:

`E5113: Error while calling lua chunk: vim.lua:64: C:\Users\User\AppData\Local\nvim\lua\plugins\tab.lua:4: '}' expected (to close '{' at line 2) near 'close_command'`

My config:

[code]

[2021-11-08 08:09] akinsho commented on #252
@bryant-the-coder, your syntax is incorrect, you are missing a comma after the numbers key. Also your close command should not be a table just a string or a function

[2021-11-08 12:56] rod-stuchi commented on #249
Hi @akinsho

Thank you for the guidance offer!

I'll take my chances trying to fix this issue, that will help my workflow a lot

[2021-11-08 14:14] akinsho commented on #249
@rod-stuchi so it turns out I was incorrect when I described this as a bug, it's actually been raised a few times and most recently in #251, so I'll close one of these 2 issues as a duplicate. It isn't a bug that the ordinal number is "static" since that is an absolute count of the buffers in the total list. This is actually not a  bug, but a feature request to show the visible count *as well*. Th

[2021-11-08 14:16] akinsho commented on #252
Also @bryant-the-coder can you please just stick to one issue since this is now two issues regarding the same thing which is generates more admin on my end.

[2021-11-08 14:17] akinsho commented on #251
@sandangel I've renamed the other issue and am going to close this in favour of that since it was opened earlier than this one. I'm also gonna leave some comments about a potential solution to this there as well so either you or the issue author can potentially take a look at solving this.

[2021-11-08 14:17] #251 closed

[2021-11-08 14:18] akinsho commented on #251
Closed in favour of #249

[2021-11-08 14:39] sandangel commented on #249
Thanks @akinsho for your flexibility. Im also willing to help. BTW it's still a great plugin even without this feature and I really appreciate your effort to create and share with us. ❤️❤️

[2021-11-08 14:46] sandangel commented on #249
btw I think we dont need an exact visible order on bufferline. for example the first visible one could be 2 instead of 1. With that in mind I think we can try an approach that pre calculate the visible number based on the number of buffers, screen width. When we select 1 buffer, we just need to populate the precalculated visible number if this buffer is selected.

[2021-11-08 14:54] rod-stuchi commented on #249
That's a great idea, this way we could navigate to not visible buffers to the left with 1, and some X visible buffer + 1 to the right.

[2021-11-08 22:04] chriztheanvill opened #253 "[Bug]: Without sorting."
### What happened?

Always sorting.

### What did you expect to happen?

Do not sorting, just show tabs.

### Additional Information

_No response_

### commit

_No response_

[2021-11-08 22:38] akinsho commented on #253
@chriztheanvill can you please write a clear description of what you think is wrong and what you expect to happen as per the issue template. The content of this issue is nowhere near enough to help, otherwise I will close this out.

[2021-11-08 22:39] akinsho commented on #253
Also, to be absolutely clear this plugin does not show tabs it shows buffers, as documented by the README.

[2021-11-08 23:01] chriztheanvill commented on #253
The case, it is always sorting the buffers, but I would like to not sort, just show them.
Because, when open NeoVim, always re-arrange my buffers, and I do not want that.

[2021-11-08 23:57] bryant-the-coder commented on #252
Noted and sorry. I will close this issue. That issue I will leave it open. Sorry again

[2021-11-09 08:50] #252 closed

[2021-11-09 08:52] akinsho commented on #253
@chriztheanvill sorry but the above still is not very clear. The sort that this plugin does by default is arranging buffers by buffer ID which is essentially how they are list in vim so is not really a sort at all. Can you describe *exactly* what you expect to see that you aren't seeing? What do you mean by *always re-arrange buffers*, unfortunately I don't have a lot of time so if this isn't clea

[2021-11-10 03:55] chriztheanvill commented on #253
No problem, and sorry my english is not good also.
I am using the plugin auto-session and after loading the session the buffers re-arrange. I tried with id, extension, relative_dir, dir, tabs, and does not keep as I left the last time, always re-arrange.
Researching if is the plugin auto-session, and it does not.

Example:
Last time, I have this buffers:
CrisTodo.md, Anime.md, Neovim.md, etc...

I

[2021-11-10 11:11] akinsho commented on #253
Ah, that makes more sense, @chriztheanvill bufferline doesn't persist the order of your buffers across sessions since by default there is no way to do that, your session file will essentially contain a list of `edit <filename>` commands that will re-open the buffers you had open before, and so they would likely no re-use the same order as you previous vim session. This isn't something the plugin a

[2021-11-11 14:16] MikaelElkiaer opened #254 "[Feature request] Temporary buffer and previous buffer on close"
I was wondering whether these two features were feasible? First off is probably whether they fit in here, or outside of this plugin.

**Temporary buffer** A buffer that closes when it loses focus. Useful for buffers which display some output that becomes obsolete after viewing it.

**Previous buffer on close** Currently, when closing a buffer focus is switched to the first buffer. This is a bit we

[2021-11-11 14:50] akinsho commented on #254
Hi @MikaelElkiaer,

so the first concept you describe is a "scratch buffer" which is a concept that exists in vim that predates this plugin, there are quite a few existing plugins that do this and vim has some settings to help a user do this. As far as it relates to this plugin I think this is out of scope.

Regarding returning to the previous buffer similar to previous suggestion essentially this

[2021-11-11 15:03] MikaelElkiaer commented on #254
That was an awesome rundown, thank you very much. I will look into it. :)

[2021-11-11 15:03] #254 closed

[2021-11-11 16:00] 1m-N00b opened #255 "[Bug]: Error Default config"
### What happened?

The [config of deault](https://github.com/akinsho/bufferline.nvim#configuration) gives me the following [error](https://imgur.com/sA3oxvK). I'm not familiar with lua, so I can't see the syntax error.

### What did you expect to happen?

I'm guessing that the error is occurring within the option,
because the
[code]
without the option does not show the error.

[2021-11-11 16:36] akinsho commented on #255
@1m-N00b the default config is not for copy pasting please do not copy past it. Please read through the configuration options and only add or change what you need. By default, all the options in the default config are already set up, so you do not need to add them there anyway

[2021-11-11 22:02] 1m-N00b commented on #255
thx i solved and i asked 1 more question.
sidebar offset didnt support coc-explorer!?

[2021-11-11 23:19] akinsho commented on #255
@1m-N00b if `coc-explorer` has a filetype then it should work. I don't use this plugin so I don't know what it is you will have to find it's filetype yourself. It should work unless that plugins dynamically changes the filetype or messes with the tabline which it shouldn't

[2021-11-13 13:52] 1m-N00b commented on #255
I have one more question: If I write coc-explorer and vista, it doesn't work.

[code]

[2021-11-13 17:41] JavierPoduje opened #256 "[Feature request]: Open last closed buffers"
Hi :mage_man:,

It would be great that after a buffer is closed, we could reopen this buffer with a Bufferline command. If more than one file has been closed during a session, this functionality would reopen the closed buffers starting from the most recent one.

I imagine the implementation with a stack that keeps track of the files that have been closed, kind of like a _ctrl-z_ | _ctrl-y_ behavio

[2021-11-14 10:12] akinsho commented on #256
Hi @JavierPoduje, so I probably need to make this clearer somewhere near the top of the README, but this plugin is designed to provide UI features *not buffer management* it's not intended to manage what buffers used to be open or trying to open the most recent or keeping track of things. That should be the responsibility of some other plugin. This plugin is *just about seeing* what is open potent

[2021-11-14 10:15] akinsho commented on #255
@1m-N00b this configuration is not correct, `offsets` should be a list not 2 duplicate keys as you have there e.g.
[code]
If you are new to lua's syntax, I highly recommend reading https://github.com/nanotee/nvim-lua-guide and then re-reading the README in detail. Unfortunately, I can't really help debug every single user's configuration for them since this is quite time-consuming and there are ot

[2021-11-14 10:45] JavierPoduje commented on #256
Hi @akinsho. No problem and thanks for your answer! I'll close the issue :v:.

[2021-11-14 10:45] #256 closed

[2021-11-14 15:39] 1m-N00b commented on #255
I've solved it.
I'll try to touch on the basic lua syntax.

[2021-11-14 15:39] #255 closed

[2021-11-15 09:41] lcrockett commented on #253
Just chiming in here, i've noticed similar behaviour after my recent switch from Neovim 0.5.1-stable to the latest 0.6.0 `v0.6.0-dev+579-g2f37ffb71`. Ever since changing to Neovim `HEAD`, sessions that get saved (by leveraging the plugin `rmagatti/auto-session`) are restored in a different order then with 0.5.1-stable (and also 0.5.0-stable).

After some testing it looks like buffers are ordered i

[2021-11-15 10:13] akinsho commented on #253
Thanks for looking into it @lcrockett I hadn't noticed the change tbh I don't really pay attention to my buffer list order between sessions, but that makes sense, i.e. a change to how the session file is being created, maybe. I know there have been some session related patches to vim -> nvim in the last few months but had lost track. As for bufferline it definitely doesn't have any buffer restorat

[2021-11-15 19:34] akinsho commented on #246
@bryant-the-coder is this still an issue or can this be closed out?

[2021-11-16 00:34] ieh-12211-nfi opened #258 "Wrong issue [-to-delete]"
-to-delete-

[2021-11-16 00:37] lcrockett opened #259 "[Feature request]: Align offsets with more than 1 sidebar"
### What happened?

I'm using `offets` so ensure the bufferline doesn't appear above any sidebars I might pop out. This works as intended. However, i've noticed that when having more then 1 sidebar opened the bufferline only offets itself off of the first sidebar. It still appears above the second sidebar. See screenshots and configuration here below. It seems that this behaviour is consistent on

[2021-11-16 00:38] #258 closed

[2021-11-16 03:51] Unknown-User2 opened #260 "[Bug]: attempt to index field 'fn' (a nil value)"
### What happened?

The issue is that...
when i run nvim with the vimscript way to use it it give me the error on startup `attempt to index field 'fn' (a nil value)`

### What did you expect to happen?

Expected behaviour
i expected it to not give this error

### Additional Information

...

### commit

_No response_

[2021-11-16 05:57] bryant-the-coder commented on #246
I will close it thanks

[2021-11-16 05:57] #246 closed

[2021-11-16 08:56] akinsho commented on #260
@Unknown-User2 this unfortunately doesn't enough information, what version of neovim are you on? the `fn` field is a key on the vim object inside all recent versions of neovim. It seems likely that you are not on a recent neovim version since I can't reproduce this issue

[2021-11-16 09:10] akinsho commented on #259
Hi @lcrockett, this is intentional, the way `offsets` work requires reading out neovim's layout as a nested list of windows and so only a few permutations work. The offset specifically only works for one panel on the left or right, rather than off setting as many panels on either side. I was very reluctant to add this functionality when first requested since I envisioned a lot of scope creep and g

[2021-11-16 09:15] lcrockett commented on #259
Ah, I wasn't aware that this was intentional. I agree it's not a common use case. I myself usually have 1 sidebar on each end opened and occasionally an additional sidebar on the left, making three in total. So the lack of offsetting a 3rd (or more) sidebar doesn't hurt that much. I'll leave it up to you to keep this feature request open for a rainy afternoon or so.

[2021-11-16 09:20] lcrockett commented on #253
Cheers on that, i'll continue this with Neovim, it doesn't seem bufferline related indeed.

[2021-11-16 09:34] akinsho commented on #259
👍🏿 I think I'll close this out and see if more demand for this ever crops up. I'd rather keep the complexity of the offsets to a minimum and constrain the number of use cases, but maybe I'll change my mind at some other point in the future but would rather not have issues open for prolong periods of time.

[2021-11-16 09:34] #259 closed

[2021-11-16 14:04] Unknown-User2 commented on #260
my nvim is version 0.4.4

[2021-11-16 14:10] Unknown-User2 commented on #260
i updated to 0.5.1 and now its giving me the error `bufferline/colors.lua:71: attempt to index global 'bit' (a nil value)`

[2021-11-16 20:39] rickyelopez opened #261 "[Feature Request] Multi-line bufferline"
Not sure how much interest there would be in this, but for my part, I often have enough buffers open that this plugin has to move some of them offscreen to be able to show the current buffer (which makes perfect sense). I have a big monitor and it would be nice to be able to have it wrap to multiple lines (ideally, number of lines would be configurable) rather than hiding buffers off screen.

[2021-11-16 22:15] akinsho commented on #261
Hi @rickyelopez,

This isn't possible in neovim, the tabline can only occupy one row of the screen. There isn't really anything a plugin can about that.

[2021-11-16 22:17] akinsho commented on #260
@Unknown-User2 this is likely because you do not have the correct version or any version of luajit installed. Please ensure it is installed, and you should be fine. You also need to verify that you are running lua 5.1 on your system with nvim depending on how it was installed. In any case, I think it's safe to say this is more of a nvim + dependencies version issue than a bufferline issue.

[2021-11-16 22:40] akinsho commented on #260
@Unknown-User2 I don't know how to help, since the bit package should be available using luajit and is required for this plugin. I know that there are some issues with some distros regarding the versions of certain packages they use. To be clear it's a very specific version of luajit that nvim requires not just any version, but as I said the problem isn't something I can solve but something relati

[2021-11-17 00:44] rickyelopez commented on #261
Hey @akinsho,

Well that's unfortunate, thanks anyway!

[2021-11-17 00:44] #261 closed

[2021-11-17 01:54] lcrockett opened #262 "[Bug]: Invalid buffer id upon vim.diagnostic.reset"
### What happened?

I'm experiencing an issue while using the LSP indicators via `diagnostics = 'nvim_lsp'` and resetting diagnostics. See stacktrace below. The issue is triggered when resetting LSP diagnostics, but only after i've opened a float at least once before resetting LSP diagnostics.

[code]

This issue can be reproduced in the following way:
1. Open buffer with NVIM
2. Either ensure it

[2021-11-19 15:21] henriquehbr opened #263 "[Bug]: Tab page is closing when deleting a buffer"
### What happened?

I have 2 tab pages, whenever i delete a buffer with `bd`, all the buffers on that tab page are deleted, alongisde the tag page itself

### What did you expect to happen?

When deleting a specific buffer, only this buffer should be deleted and the tab page should remain opened alongside the other buffers that were already present on that given tag page

### Additional Informatio

[2021-11-19 17:29] kyp0717 opened #264 "[Bug]: Error trying to install bufferline"
### What happened?

E5113: Error while calling lua chunk: ...ite/pack/packer/start/bufferline.nvim/lua/bufferline.lua:1215: attempt to call field 'is_test' (a nil value)
stack traceback:

### What did you expect to happen?

Expected behaviour

### Additional Information

...

### commit

_No response_

[2021-11-20 09:23] akinsho commented on #264
Hi @kyp0717 I think I saw a similar issue once where a user had barbar also installed which caused a conflict or they had another lua module in their config called bufferline

[2021-11-20 09:46] akinsho commented on #263
Hi @henriquehbr I don't think this relates to this plugin as it doesn't add or remove buffers it simply reads them out of vim's state. Can you provide a minimal vimrc that reproduces this problem?

I could be an autocommand or some other plugin causing some interaction

[2021-11-20 09:49] akinsho commented on #263
Sorry I also just realised based on how the comment was phrased that there might be a misunderstanding on the behaviour of tabs. A tab will only be open if the **windows** for that tab are still open, not the buffers.

A tab is not aware of buffers so you need to keep the windows open. If you want to keep a tab open. That isn't new or related to this plug in, that's just standard vim behaviour

[2021-11-20 12:47] henriquehbr commented on #263
Thanks @akinsho! keeping the window opened prevented the tab page from closing

[2021-11-20 12:47] #263 closed

[2021-11-22 18:29] ErickTucto opened #265 "Doesn't change buffer background when info_diagnostic is set"
I configured so that the buffer has a red background color, but it is not paying attention to the values

![imagen](https://user-images.githubusercontent.com/22831024/142914500-2ec8f6fa-58ee-44b6-953d-bdf46a26b096.png)

[2021-11-23 03:57] rzksobhy78 opened #266 "How can I close tabs by number ?"
In my configuration
I setted numbers 1,2,3...
to go to the tab
I'd like to close tabs the same way
for example i want
<leader>1 to close tab 1
<leader>2 to close tab 2

and I want <C-w> to close current tab
Ty for the great plugin

[2021-11-23 10:55] akinsho commented on #264
Any news? Otherwise, I'll close out this issue shortly

[2021-11-24 14:25] akinsho commented on #266
@rzksobhy78 there is no built in function to do that but you can create your own command for it by copying the example in https://github.com/akinsho/bufferline.nvim#custom-functions. Otherwise you can use `BufferLinePickClose`

[2021-11-24 16:02] Mte90 opened #267 "[Bug]: wrong window when Chadtree is opened during switch"
### What happened?

If I open the chadtree sidebar (https://github.com/ms-jpq/chadtree/), next I switch the tab the buffer is opened in the chadtree buffer instead on the central one.
If the chadtree buffer is closed there are no issues of course.

### What did you expect to happen?

Buffer switch on the right panel and not the first one.

### Additional Information

[code]

### commit

_No respon

[2021-11-24 16:57] akinsho commented on #267
@Mte90 unfortunately I can't understand what isn't working correctly at all from this issue. To be clear this plugin *just shows buffers* it doesn't manage windows or control how buffers are opened. It doesn't have *any* code to control how your windows behave.

[2021-11-24 16:58] akinsho commented on #264
Closing this out as there's been no response and this isn't something I believe is an issue with this plugin but in all likelihood some lua module naming conflict

[2021-11-24 16:58] #264 closed

[2021-11-24 16:59] akinsho commented on #260
Going to close this out as there's been no response. I believe the root cause here is not having a version of luajit where `bit` is available, which means that neovim has likely been compiled with the wrong luajit version.

[2021-11-24 16:59] #260 closed

[2021-11-24 17:13] Mte90 commented on #267
Uhm so the offsets parameter is not useful.
Usually buffer switchers have parameters to avoid those situation, I mean if I have a "sidebar" of a specific plugin it won't be get touch when I switch to another buffer and only the center panel is used.

[2021-11-24 17:20] akinsho commented on #267
@Mte90 the `offsets` parameter works as intended, but I don't understand what you are trying to do or what situation is occurring. Can you post a video or GIF which shows what this issue is?

[2021-11-24 17:27] Mte90 commented on #267
https://user-images.githubusercontent.com/403283/143286481-034833ca-4c9f-4c04-8eda-a8f888f53a61.mp4

As you asked :-)

[2021-11-24 17:36] akinsho commented on #267
So I don't necessarily see the specific problem, but I'll point out some things I noticed.

The offset isn't working, and this is probably because you are using the wrong value for `filetype` for chadtree. I don't use this plugin, but that's probably why the offset doesn't show as expected. You need to open that buffer and get the correct filetype using something like `:echo &filetype` when inside

[2021-11-24 18:00] DanielCardonaRojas opened #268 "[Feature request] dynamic tab size depending on name length"
Is it possible to have dynamic tab size depending on file name and maybe have max_tab_size option ?

[2021-11-25 13:21] Mte90 commented on #267
The filetype is the right one instead for the second point make sense, I am wondering if it is possible to add a settings to use the last buffer window or the central one.
In this one should fix as there are tons of plugins that use sidebars.

[2021-11-25 14:03] akinsho commented on #267
@Mte90 I think that should be handled in the user's config or by using the custom open command with another plugin or a custom function. As I've mentioned in quite a few issues lately this plugin provides *UI* not buffer or window management. If a user wants to handle how windows are opened or closed they should add a custom click command which implements this as I won't add that here since that I

[2021-11-25 14:07] akinsho commented on #268
Hi @DanielCardonaRojas,

this came up quite a while ago as a suggestion from Barbar's author, interestingly enough. Personally I don't like the aesthetic and uniformity is very important to me. I think similar to web browsers or vscode's tabs etc. I think each tab should have a uniform size. I would accept and help guide a well implemented PR to add this functionality, but I personally won't add i

[2021-11-25 14:25] Mte90 commented on #267
Thanks for the help, I will look for another tab plugin.

[2021-11-25 14:25] #267 closed

[2021-11-28 09:04] 0xRZ opened #269 "[Bug]: 'scroll' option"
### What happened?

Hello, seems like when using this plugin i can not set `'scroll'` option. When i open any file `:verbose set scroll?` always outputs
[code]
Even though i have `set scroll=10` set in my .vimrc, `autocmd BufEnter * set scroll=10` also does not help. And i would really like to be able to change scroll option.

[2021-11-28 14:26] akinsho commented on #269
@0xRZ as far as I can tell this isn't something specific to this plugin but rather to neovim. I personally have never used this setting but looking at `:help scroll` it says
[code]
Specifically, it mentions that whenever the window changes size, it is set to half the window size of the window. Regarding how to fix it, I don't really know, since this seems to be standard vim behaviour. Perhaps you

[2021-11-28 15:23] 0xRZ commented on #269
@akinsho Thank you for the explanation. Yeah so i found out `autocmd WinScrolled` works for setting scroll option and it persists.

[2021-11-28 15:23] #269 closed

[2021-11-29 00:56] marwan38 opened #270 "Show buffers based on (vim)tab"
Hello, I tried searching but could not find an answer, or a discussion, for the subject of this issue.

I sometimes open (vim) tabs to maintain context of what i'm doing. IE: Project is open in a single tab with all it's buffers, then I may have another vimtab that contains my notes and misc.

When I have more than a single tab open, the buffers in the bufferline are shared by both tabs. Is this b

[2021-11-30 09:34] akinsho commented on #270
Hi @marwan38 there are actually a lot of issues relating to vim tabs, but the specific issue you are describing about buffers being shared by tabs is a neovim issue/misunderstanding of vim tabs that is super common. Vim tabs show *windows* not buffers. Vim tabs *do not know anything about buffers*, people often try to restrict buffers to a specific tab, but vim does not support this concept. A tab

[2021-11-30 15:55] marwan38 commented on #270
As a work around to what I'm trying to achieve, I think sorting buffers by relevant tab would be good enough. The minimal tab UI that displays on the top right is beautiful, and does exactly what I want.

It's all good then, thanks for taking the time to look at this thread and reply. I'll close this for now.

[2021-11-30 15:55] #270 closed

[2021-12-09 11:02] hood opened #271 "Replace deprecated `vim.lsp.diagnostic.get_all` call(s)"
https://github.com/akinsho/bufferline.nvim/blob/463637a3ac86dcaacbcd47aa608f53aaad749696/lua/bufferline/diagnostics.lua#L54

Is using `vim.lsp.diagnostic.get_all`, which has been deprecated. `vim.diagnostic.get()` should be used instead.

[2021-12-09 14:10] pinpox commented on #271
Can confirm, running into it aswell.

[2021-12-09 16:28] lcrockett commented on #262
I'll close this issue for the moment as it doesn't appear to be valid anymore using 0.6.0 stable and the latest revisions of involved plugins. Thanks.

[2021-12-09 16:28] #262 closed

[2021-12-11 06:43] efe3535 opened #273 "[Bug]: Doesn't work on Gentoo."
### What happened?

Like #260 I get the same error:
[code]

I'm using Gentoo, too.

### What did you expect to happen?

Work normally.

### Additional Information

These are what I tried:
I tried the solution in #260.
`emerge luajit`

Then, recompiling Neovim.
`emerge neovim`

That didn't work, so I found a USE flag named "luajit". Then, I compiled with it:
`USE="luajit" emerge neovim`

That didn'

[2021-12-11 10:50] akinsho commented on #273
@efe3535 much like the other issue you mentioned the problem here is that your version of luajit does not contain the bit module which is required and should be available if running the correct version  of luajit.

As I mentioned in that issue, this isn't something the plugin can fix since it depends on this module and requires that it is available. I don't know how other Gentoo users have fixed t

[2021-12-11 18:08] efe3535 commented on #273
Oh, I'll look for it then. Thanks.

[2021-12-12 21:15] #273 closed

[2021-12-13 05:53] MarmaladeSky commented on #273
@efe3535
`luajit` isn't a USE fag but a lua target.
[code]
I had the same issue and ^^ works for me.

[2021-12-13 11:23] akinsho commented on #273
Thanks for posting @MarmaladeSky 🙌🏿

[2021-12-13 13:07] efe3535 commented on #273
@MarmaladeSky
![Screenshot_2021-12-13_16-05-45](https://user-images.githubusercontent.com/46342237/145817879-0f01efc5-3c5f-4486-84b7-2c8c55e5e8b3.png)
Works flawlessly, thx so much!

[2021-12-13 22:02] rodhash opened #274 "Weird chars randomly appear in bufferline"
Hello!

First of all, congrats for this awesome plugin! Really enjoyed it!

I see a weird "issue" happening and couldn't find much reference, not sure whether this happened to someone else and couldn't find other issue reported so I'm raising this one.

My issue:
- Random chars appears in the bufferline sometimes. It doesn't happen very often so it's kind hard to track, but sometimes it happens.

[2021-12-13 22:06] rodhash commented on #274
Oh regarding the buffer name size I think it might be related to #268.

[2021-12-14 08:11] akinsho commented on #274
Hi @rodhash,

I'm not really sure what might be causing the issue in the image you've shared. It looks like some characters aren't being rendered correctly for the tab indicators. I can't reproduce on my end and have never seen it before, so I don't have a clue what it might be. There should be a thin `|` character (not that one exactly but a thinner, taller unicode separator character). It could

[2021-12-14 09:27] AlexisFinn commented on #271
+1 also running into this with the latest release-0.6
[code]

[2021-12-14 13:13] #271 closed

[2021-12-14 14:10] fernandofleury opened #275 "[Bug]: Bufferline won't close for split after closing it with :q"
### What happened?

When closing a split (opened via the `lsp_definition()` function), the bufferline will remain open for it (I only have the active bufferline open):

![image](https://user-images.githubusercontent.com/2780941/146014290-79047b3c-9471-4bc6-b8c3-66fcfedf0d64.png)

### What did you expect to happen?

The bufferline should close after I close a split

### Additional Information

...

[2021-12-15 13:37] AlexisFinn commented on #271
Hello.
I'm still experiencing the problem and with a quick investigation on the merged fix (https://github.com/akinsho/bufferline.nvim/pull/272), it seems the culprit is the `is_nightly` test in diagnostics.lua.
[code]
It only tests for `0.7` but I can confirm this this problem also appears in `0.6`.

[2021-12-15 14:08] akinsho commented on #271
@AlexisFinn can you clarify what problem you are actually seeing on 0.6. I'm running 0.6 and don't see any clear issues. The diagnostics still show up as expected. This issue never really clarified what was actually wrong i.e. what behaviour was incorrect so I don't know what you are experiencing.

[2021-12-15 14:15] akinsho commented on #275
I'm going to close this out since I think this is a misunderstanding of splits vs buffers rather than a bug in this plugin

[2021-12-15 14:15] #275 closed

[2021-12-15 14:18] akinsho commented on #271
To clarify nvim-0.6 still has access to `vim.lsp.diagnostic.get_all` tbh it could also be migrated to use `vim.diagnostic.get` but this API is not stable and seems to be changing on master so I would rather not have to work around different behaviours of the same function based on version. This issue makes me think that I might be best served restricting this plugin or at least this feature to the

[2021-12-15 15:06] AlexisFinn commented on #271
@akinsho the main issue is having the error pop up incessantly in the status bar, it's mainly a nuisance instead of a functional problem, but it just doesn't feel right to have an incessant error message that is "normal".
![2021-12-15-160210_772x93_scrot](https://user-images.githubusercontent.com/7420883/146210792-a3822438-f8e5-42c1-af6d-1609eae9d732.png)

I get that you don't want to have to upda

[2021-12-15 15:09] AlexisFinn commented on #271
Oh wait... the option does exist ? I'm supposing `diagnostics = false` will avoid this. I feel a bit silly now. Should read the docs first, sorry.

[2021-12-15 15:12] akinsho commented on #271
@AlexisFinn I'm not seeing this deprecation warning at all, are you definitely on `nvim-0.6` can you paste the output of `:version` or `nvim -v` (in the CLI) here?

[2021-12-15 15:58] AlexisFinn commented on #271
@akinsho Ok, my mistake.
I build nvim from source and was using the `release-0.6` Branch instead of the `v0.6.0` Tag.
Once I checkout the proper version the warning no longer shows up.

So it's all good, thank you very much for your time.

[2021-12-16 21:05] der-zonk opened #277 "Can't make Indictor invisible?"
Since the bar freaks out when I remove the indicator I thought I could just make it invisible by setting ctermbg/fg to none but it then falls back to some random white color..
Sorry if this is trivial but I'm just a hobby nerd and have not much experience with this stuff.
It accepts any bg color but for fg it's either a color I pick or white as fallback when set to none.
Thanks.
EDIT: Somehow gith

[2021-12-17 11:18] rodhash commented on #274
Few days have passed without any issues, it seems stable somehow and I didn't change a thing!

Well I'll keep monitoring and try to find what might be causing this.

Thanks

[2021-12-17 11:18] #274 closed

[2021-12-18 03:57] der-zonk commented on #277
As a workaround I found out u can use a blank Braille character, namely this one here:
https://www.compart.com/en/unicode/U+2800
The tabs are stable and don't jump around.
Still it would be nice if one would not have to jump through these hoops if one does not want the indicator IMHO.

[2021-12-18 15:06] lifer0se opened #278 "[Feature Request] Hide buffers if tabs are open."
As the title says, would there be a way to only show buffers if no tabs are open?

For my workflow at work, I'm dealing with 7 buffers at a time, 4 in a grid, then 2 on a vsplit on a tab and the last on another tab. I would like to hide all the buffers and only keep the tabs visible but then be able to go back to showing buffers when I close the tabs.

Would that be possible?
Thanks in advance :)

[2021-12-20 10:49] akinsho commented on #278
@lifer0se that currently isn't possible. The plugin only really shows buffers and doesn't provide any really special tab visibility functionality aside from the minimal tab indicators. There are several closed and one open tab related issue in #195 . As I've mentioned there I'm happy to accept PRs to visualise tabs but will not implement this myself, at least not in the near future

[2021-12-20 10:53] akinsho commented on #277
@der-zonk I'm not sure what character you are referring to as the indicator. I call the indicator the left aligned character that shows which tab is selected. As the README states
[code]
you can change this character but this plugin was designed with it in mind, you can just as easily change it to an empty string or space which should be equivalent to setting it to some other character 🤷🏿

[2021-12-20 11:16] der-zonk commented on #277
I thought I wrote I mean the  BufferLineIndicator

Then why does the text in the tabs freak out when setting an empty string?

https://user-images.githubusercontent.com/80225209/146758685-60b52e42-d3f5-45d9-babb-4f5573f287e7.mp4

This does only then not happen when setting a blank character (And not any one works, at least it did not for me, I had to use the one I linked).
Equivalent for me means

[2021-12-20 11:20] #277 closed

[2021-12-20 14:11] lifer0se commented on #278
Would it be possible to just hide all buffers if tabs are open?? There's a custom filter option and I assume I could get the number of tabs and filter out all buffers if  there are tabs open. I tried a few thing but none of them work.

Is it possible to filter out buffers like that??

[2021-12-20 14:32] akinsho commented on #278
@lifer0se you can use the custom filter to filter out buffers based on whatever logic you want. In your case you can maybe check the number of open tabs and use that to decide whether or not to show any buffers. The specific logic will be up to you since you will need to test this logic against your desired outcome. The help docs show an example which shows how to filter out buffers based on the t

[2021-12-20 18:36] lifer0se commented on #278
Perfect! Found the solution in he :h document. This works:

    custom_filter = function(buf)
      local tab_num = vim.fn.tabpagenr()
      if tab_num > 1 then
          return false
      else
          return true
      end
    end

Thanks for your help!!

[2021-12-20 18:36] #278 closed

[2021-12-24 06:50] ninjarogue opened #279 "How do you configure bufferline to not close unsaved files?"

[2021-12-24 06:50] ninjarogue commented on #279
Is there a way to do this with bufferline?

[2021-12-24 08:38] ninjarogue commented on #279
Okay so I tried `close_command = 'bdelete %d'` but it's still closing my buffers even if there are unsaved changes

[2021-12-25 16:12] horseinthesky opened #280 "Buffer numbers and highlights"
Hello. Thank you for a great fast and customizable plugin!

I wonder if it is possible to have a separate highlight group for buffer numbers as it is in `barbar`?
![image](https://user-images.githubusercontent.com/19948672/147389002-573210ef-ed07-4646-8ad2-201b564f8bde.png)

I would also like to have `ordinal` number on every buffer but an active one (I use these for fast buffer switching with `gt

[2021-12-27 14:07] LoadingBG opened #281 "[Bug]: Highlighting doesn't change"
### What happened?

Highlighting doesn't change when set through the `highlights` field:
![image](https://user-images.githubusercontent.com/51295058/147479457-387ca0e5-586b-496b-a41b-1481398bea29.png)

### What did you expect to happen?

![image](https://user-images.githubusercontent.com/51295058/147479417-f6a83f22-94c2-4ef4-865b-5adbdd74401e.png)

### Additional Information
config (using packer):

[2021-12-27 14:50] #281 closed

[2021-12-29 04:12] iwijaya2 commented on #75
Hi, @akinsho!

I would like to have this feature as well, so I forked your repo and implemented your suggestions. I was able to get the follwoing:

![Screenshot_20211228_214549](https://user-images.githubusercontent.com/55569482/147625700-00214510-c3db-4b80-874f-6e802c5f61eb.png)

where in this case, my color scheme is:

current buffer                : fg = black,    bg = green
visible buffer

[2021-12-29 05:23] jingkai1 opened #282 "how to display absolute path + filename?"

[2021-12-30 00:30] AndOrangutan opened #283 "[Bug]: Is custom separator_style broke?"
### What happened?

I was hoping to see what bufferline would look like with round icons instead of slant, which works perfectly, but it doesn't seem to take in any custom characters.
![2021-12-29_16-25](https://user-images.githubusercontent.com/40435989/147712447-f2fd51c0-85a1-45e0-958c-401f67835bd4.png)

I have tried many others, including using custom slants, but it doesn't seem to be working.

[2021-12-30 08:10] akinsho commented on #279
@ninjarogue I believe this is really a question about the command in nvim and less specific to this plugin, so I think searching nvim help and the web would be an easier place to find an answer. On my side I autosave on leaving a file so have never had this problem. You can try setting `confirm` see `:h confirm`. Alternatively, by default nvim won't close a file using `bdelete <num>` if no `!` is

[2021-12-30 08:24] akinsho commented on #75
@iwijaya2 the diagnostics only apply to the start of the buffer name up till the count/indicator, this is by design because it was designed to only colour the text. As is the case in your example, the diagnostics are highlighting the background instead, then this will happen. This issue highlights what I was describing when I talked about the complexity of this feature. nvim doesn't really have a

[2021-12-30 08:25] akinsho commented on #282
That isn't supported @jingkai1 and tbh isn't going to be added because it would result in a large amount of complexity since the plugin is already designed around having a manageable file name length

[2021-12-30 08:27] akinsho commented on #282
Don't want to be rude, but this is kind of a firm no unless someone who has read through the code can suggest a comprehensive solution that would allow this option without breaking everything else. I definitely will not be adding this personally, though, as it was a decision I made when initially implementing this plugin and one I won't personally go back on.

[2021-12-30 08:27] #282 closed

[2021-12-30 08:31] akinsho commented on #280
@horseinthesky I'd be happy to help guide a PR for this functionality, except maybe the ordinal behaviour generally I dislike functionality that introduces complexity for very specific use cases/preferences. I think the ordinal behaviour should be consistent rather than adding yet another if statement to accommodate a specific user preference, since this makes things more complex and harder to mai

[2021-12-30 11:14] horseinthesky commented on #280
This was the first thing I tried to do. I've spent some time finding the appropriate function in `:help vim.api` but couldn't find anything useful.
The only options I have from bufferline are `function({ ordinal, id, lower, raise })` are not helpful either.
Would be great to have something like `nvim_buf_get_state` or something =)

Please do. I can try =)

[2021-12-30 12:11] akinsho commented on #280
@horseinthesky regarding determining the buffer's modified state, it's actually fairly straight forward. You can check this by doing `vim.bo[buffer_id].modified` see `:h vim.bo` and `:h modified`

Re. the numbers highlight, this is a straightforward but involves a few steps. I'm still on holiday, so will have to be brief.
1. Add the highlight group to `config.lua` there are already a long list of

[2021-12-30 12:25] horseinthesky commented on #280
Yeah, but we were talking about the buffer being active, not modified.

Thanks. Will look through it on holiday.

[2021-12-31 04:23] iwijaya2 commented on #75
I see. I did try to have background highlight because for me it is better indicator than icon. I did introduce a bunch of new highlights when I made the modification, so I understand your concern. I am pretty satisfied the way it is now. Thank you for developing this plugin!

[2021-12-31 10:15] akinsho commented on #280
@horseinthesky sorry getting a deluge of issues since everyone has free time now so hard to keep track, you can still do something similar by check the `vim.api.nvim_get_current_buf() == buffer_id` to see if the buffer is active. Basically, there is a way using the API and it's functions, so I suggest looking into those. The above might work, if not if you do a bit of digging there is definitely a

[2021-12-31 14:44] horseinthesky commented on #280
@akinsho
`vim.api.nvim_get_current_buf() == opts.id` is exacly what I was looking for. Thanks!

Pushed a small merge request that removes extra padding in case of `numbers` func returns an empty string.

Regarding a highlight group - I've added a new group in `config.lua` but I didn't quite get what I need warp and with what in 2. and 3.

[2022-01-01 02:34] kazhala opened #285 "[Bug]: vim.lsp.diagnostic.get_all is deprecated (nvim 0.6.1)"
### What happened?

<img width="1061" alt="Screen Shot 2022-01-01 at 1 30 35 pm" src="https://user-images.githubusercontent.com/43941510/147842829-ffc22f19-1ffd-4ea8-a06d-4f0e4f27f9df.png">

Please see the attached screenshot. Started to receive this message constantly after upgrading neovim to 0.6.1

Can confirm this is caused by bufferline.nvim diagnostics. If I change the option `diagnostics=fa

[2022-01-01 13:27] MrWelsch opened #287 "[Bug]: Overlapping of Diagnostic Icons"
### What happened?

As seen in the image the diagnostic icons are overlapping with their related numbers.
Is this a known issue or is it somehow misconfigured on my end?

![image](https://user-images.githubusercontent.com/45096895/147851605-5cbedb4e-4884-4a7b-ab7e-aee27c549c84.png)

My config:

[code]

### What did you expect to happen?

No overlapping.

### Additional Information

...

### commit

[2022-01-01 13:36] #287 closed

[2022-01-02 00:16] ahmed-rezk-dev opened #288 "Only Show buffers in the active Tabs"
How to Only Show buffers in the active Tabs and Not all Buffers?

[2022-01-02 12:55] akinsho commented on #288
@ahmed-rezk-dev there are some previous issues that discuss how to do this that you can find if you search past issues, there isn't any functionality provided by default but users can solve this in their configuration using the `custom_filter` option. [This issue](https://github.com/akinsho/bufferline.nvim/issues/278) appears to be similar to what you are looking for.

[2022-01-02 12:59] #285 closed

[2022-01-02 14:00] tibimunteanu opened #289 "[Feature request] Add toggle_pin and close_pinned and close_all_but_pinned"
### What happened?

Could you add pin buffer functionality like in barbar?

I managed to have something like 'toggle_pin' by keeping a table of booleans indexed by buffer ids.. and passing bufferline a custom sorting function which always places pinned buffers first. To replace the close icon with a pin icon, I had to alter the bufferline source.

I got the 'close_pinned' and 'close_all_but_pinned

[2022-01-02 15:36] tristone13th commented on #288
Will it influence the behavior of :bn and :bp?

[2022-01-02 15:46] akinsho commented on #288
If you are using a custom filter or sorting buffers using bufferline it is recommended you use the provided `BufferLineCycleNext` and `BufferLineCyclePrev` commands since there is no way to make the builtin `bn` and `bp` respect the order this plugin shows as nvim doesn't provide anyway to do that

[2022-01-02 15:49] akinsho commented on #289
Hi @tibimunteanu for the most part I'm trying to spend my free time working on other side projects and am trying to divert the historically huge amount of time I've spent on nvim projects on other things. The feature sounds useful though so I'd be open to a PR to implement this but as I've mentioned my time is limited across multiple plugins so if you'd like to implement this feature I can help gu

[2022-01-02 16:10] tristone13th commented on #288
I'm wondering if there is a solution for binding the buffer to the tab which first accesses it, then we can treat tabs as separate projects, or is there a way to determine the buffer list of the current tab so we can just show them rather than all the buffers. (The definition of buffer list is the first time assess it).

[2022-01-03 09:15] akinsho commented on #288
@tristone13th so it's important to first clarify that vim tabs are not designed to relate to specific buffers at all but rather they are a collection of windows. This means that any attempts to relate a tab to specific buffers will essentially hacks to work around vim's native behaviour. Personally I don't want to maintain a bunch of code to hack around native vim behaviour. This is a common reque

[2022-01-03 09:44] tristone13th commented on #288
You are right, thanks for the detailed explanations, I think I may need to leave the vim native tabs untouched and find another concept such as session or workspace to achieve my workflow.

[2022-01-03 11:11] akinsho commented on #288
I personally use sessions to mirror the workspace workflow using using rmagatti's session plugin so when I open vim from a specific directory it works all the buffers I was last working on and I use tmux windows to house different projects in different directions

[2022-01-03 16:04] mgokbulut commented on #232
I would really like this functionality too

[2022-01-03 16:11] tristone13th opened #290 "Does it support the CtrlSpace plugin?"

[2022-01-03 18:17] akinsho commented on #290
I'm not aware of this plugin really @tristone13th so essentially no, I also don't really integrate specific plugins into this one since that means I'd have to keep up to date with their APIs which is definitely not something I'm keen on

[2022-01-04 02:48] tristone13th commented on #290
Many thanks to you.

[2022-01-04 16:15] akinsho commented on #290
Going to close this out as the question has been answered

[2022-01-04 16:15] #290 closed

[2022-01-04 16:51] akinsho commented on #288
Going to close this out since it was a duplicate originally and has been answered.

[2022-01-04 16:51] #288 closed

[2022-01-06 02:14] joehannes commented on #288
I just wanted to leave my solution as a comment here.
I also use rmagattis session plugin and since each tabpage can have it's own `cwd` set, you can use tabpages for different projects. To me this is useful when I for example:
* have the backend and frontend in different tabpages
* have a third party/helper repo/project opened in a different tabpage (that is evolving along the project)
* I tweak

[2022-01-06 04:06] 66RING opened #291 "[Feature request]: Is there a way to numbering with N.th?"
### What happened?

Thanks for your awesome work.👍

I want bufferline always be numbered 1th,2th,3th...Nth, so that I can easily get a number and use BufferLineGoToBuffer N.

always numbering with N.th:

[code]

### What did you expect to happen?

[code]

1. go to buf2
2. number is 2
2. : BufferLineGoToBuffer 2

[code]

1. go to buf1
2. number is 2
2. : BufferLineGoToBuffer 2

### Additional Infor

[2022-01-06 10:01] akinsho commented on #291
Hi @66RING,

I'm not sure I understand, currently the numbers are up to the user and can be the visible number or the buffer number, if you use the buffer number you can just use `:b<bufnum>` otherwise `:BufferLineGotoBuffer <visiblenum>` will take you to the visible buffer. I can't tell from the above description what doesn't work or which way things should.

[2022-01-06 11:56] 66RING commented on #291
My bad. My english is not good enough and I missed the point. I mean using the `numbers=visiblenum` may get a better workflow. The demand should be the same as this #249.

kind of

[code]

My shortcut:

[code]

If use `:b<bufnum>` , I need to press key more than twice often. Such as `22<BS>`, 22 is the buffer number and I need to press three key `2, 2, <BS>`.

![image](https://user-images.githubus

[2022-01-07 20:04] LandonSchropp opened #292 "[Feature]: BufferLineOnly function"
Vim has a handy built-in ':tabonly`function that closes all of the tabs except for the current one. This is really handy for quickly closing stale tabs without having to manually close easy one.

I'd really appreciate a `BufferLineOnly` function that does the same thing, except with bufferline's visible buffers.

Thanks!

[2022-01-07 20:09] #292 closed

[2022-01-08 09:09] holicc opened #293 "[Bug]: diagnostics_dict is nil"
### What happened?

using bufferline with lsp diagnostics .

![image](https://user-images.githubusercontent.com/19146591/148638260-2c409cc0-24b7-4712-9e6d-a64cafe96680.png)

### What did you expect to happen?

Expected behaviour like doc's example :

![Uploading image.png…]()

### Additional Information

 using nvchad as my nvim config

buffline config:

[code]

### commit

_No response_

[2022-01-08 09:11] #293 closed

[2022-01-09 12:30] MohamedIrfanAM commented on #16
Could you please explain how you did it ?? I have the same issue

[2022-01-09 15:01] quantum-booty opened #294 "[Feature request] make the numbers always ordered as they appear from left to right"
![image](https://user-images.githubusercontent.com/28958399/148687853-7fe1ed10-bf3b-41e1-aade-40addd3ac464.png)
As you see the numbers are out of order 1, 2, 4, 3, however I want the numbers to correspond to the order which they appear, so 1, 2, 3, 4.
Here is my configuration:
[code]

[2022-01-09 15:06] quantum-booty opened #295 "[feature request] customize group buble"
On Windows, I get weird lines joining the semi circle and the square gray backgrounds on the group bubble, would be nice if I could customize it to just use the squares.
![image](https://user-images.githubusercontent.com/28958399/148688026-50b5dfbc-17e0-483e-aec6-e019e54548a9.png)

[2022-01-09 16:25] tranvnhan opened #296 "How to set the numbers properly?"
First of all, thanks for putting your effort into this plugin. I have been enjoying it.

My question is, how can I properly set the buffer numbers?
As you can see in the screenshot below, the numbers are displayed as ```table: 0x...```. How do fix this issue?
Thanks.

![image](https://user-images.githubusercontent.com/18115563/148691017-dcaa7983-15e1-4648-b4a0-fc3bd2298784.png)

[2022-01-09 17:14] akinsho commented on #296
@tranvnhan it appears that rather than returning a string from the numbers function you are returning a table hence the bug. Please read [this part](https://github.com/akinsho/bufferline.nvim#numbers) of the readme carefully. I describe several ways to render the numbers correctly

[2022-01-09 17:18] akinsho commented on #295
Hi @quantum-booty,

This looks like a terminal font sizing issue, which is definitely out of scope for this plugin. The grouping feature is kind of beta, but I have *zero* time to work on this plugin in depth atm other than just triaging issues as I'm very busy atm. You can try to change the separator style for the groups. This is documented in the README
[code]

[2022-01-09 17:22] akinsho commented on #294
This is likely an issue specifically to do with mixing grouping and numbers, tbh I don't use numbers and very often consider deprecating them since it's something I don't use which I added due to previous feature requests that just creates never ending work, unfortunately. I didn't test them with the grouping functionality and tbh they are unlikely to be compatible, definitely for the time being a

[2022-01-09 18:03] tranvnhan commented on #296
I initially thought that I need to define ```opts``` somewhere so that I can use it. Following the instructions on README file I can now display the numbers  as I want.
Thanks.

[2022-01-09 18:03] #296 closed

[2022-01-09 19:17] lpawlak1 opened #297 "[Bug]: Filtering as covered in README shouldn't exists"
### What happened?

The issue is that based on code parameters mismatch

[code]
https://github.com/akinsho/bufferline.nvim/blob/master/lua/bufferline.lua#L135

Even though this takes bufs as parameter in README function provided doesn't take second argument.

### What did you expect to happen?

Filter buffers

### Additional Information

I would suggest changing README adding information about fil

[2022-01-09 21:47] quantum-booty opened #299 "What is the color group for the text of inactive buffer?"
![image](https://user-images.githubusercontent.com/28958399/148702254-b2c66205-7460-41a4-ad31-718dd9d674f1.png)

I was able to change the text color of the active buffer to purple, however I have no idea how to change the text color of the inactive buffer,

Here is my setup:
[code]

[2022-01-09 22:51] SyedAhkam opened #300 "Custom area rendering nothing"
Hey! I was trying out the `custom_area` feature.

I first tried the example existing on the `README` but when it displayed nothing, I thought of just rendering plain text by setting the `text` field to my desired text and returning the object. Regardless, It is still the same.

![image](https://user-images.githubusercontent.com/52673095/148704418-e6e41810-d362-4382-a039-0bc868765897.png)

### My s

[2022-01-10 09:39] akinsho commented on #300
Hi @SyedAhkam,

If you look closely at the example in the README you'll notice that the custom areas should not return an object but a *list* of objects so in your case you are returning just one singular object instead of a list

[code]

[2022-01-10 13:26] SyedAhkam commented on #300
Oh! I did such a dumb mistake haha.

It works perfectly now. Thank you!

[2022-01-10 13:30] #300 closed

[2022-01-10 22:51] akinsho commented on #297
Closing this as the associated PR is merged

[2022-01-10 22:51] #297 closed

[2022-01-12 15:02] Deep-Six opened #304 "[Bug]: loop or previous error loading module 'bufferline' "~/.config/nvim/lua/bufferline.lua" 50L, on NixOS"
### What happened?

I'm getting the infamous
loop or previous error loading module 'bufferline'
"~/.config/nvim/lua/bufferline.lua" 50L, 2280C

I've reviewed the 2 other bugs related to this and unfortunately haven't found any joy, it is worthy to note that I'm using NixOS which is doing some traditionally peculiar things that may be at issue.

Things I've tried:
- reducing my init.vim to a minima

[2022-01-12 16:52] akinsho commented on #304
@Deep-Six this is a bit of a guess but it looks a bit like your setup contains a file also called `bufferline.lua` inside of the lua directory which is not namespaced which would definitely cause an error loading this plugin. Can you clarify how your configuration is setup. Please don't link to a bunch of files which I'll have to read through just confirm
* where you have put your bufferline confi

[2022-01-13 07:14] Deep-Six commented on #304
@akinsho  thanks, I'll try my luck in the NixOS community,
If you fancy digging in I'll note my config, in the event you can spot something:

init.vim

pkgs:
{
  enable = true;
  vimAlias = true;
  viAlias = true;

  extraConfig = ''
  	luafile $HOME/.config/nvim/lua/bufferline.lua
  	luafile $HOME/.config/nvim/lua/lsp.lua
  	luafile $HOME/.config/nvim/lua/nvim-tree-lua.lua
  	luafile $HOME/.confi

[2022-01-13 09:15] akinsho commented on #304
[code]
@Deep-Six the above layout for your config is incorrect and is likely what is causing this but, you have a top level lua config file called the *exact same thing* as this plugins main file so your bufferline clashes with this plugins. When configuring nvim with lua you should namespace your config files rather than putting them in the top level lua folder e.g.
[code]
If this isn't clear hav

[2022-01-13 09:57] nyngwang opened #305 "question: how to disable `right_mouse_command` from closing a tab?"
As title. I have tried changing the command to `<nop>`, nothing changes.

[2022-01-13 14:08] akinsho commented on #305
You could try setting the value to an empty string or `nil` but tbh I'm not sure why you can't just *not press* the middle mouse button when you click on a buffer?

[2022-01-13 14:33] wintermonth2298 opened #306 "[Bug]: Something weird is happening with theme after splitting"
### What happened?

When I open a file and then open another file in split, something weird happens to the theme. Without bufferline, this behavior is not observed.

1st image - before split
2nd image - after split

![image](https://user-images.githubusercontent.com/68856432/149349093-d2564191-480e-43ed-afbf-d67d7342ee94.png)

![image](https://user-images.githubusercontent.com/68856432/149349341-1

[2022-01-13 14:55] akinsho opened #307 "[Please read before opening issues] Feature requests/usage questions etc."
Hi 👋🏿 ,

I built and maintain this plugin largely on my own, there is no team of developers and I heavily depend on users for contributions and bug fixes.

here are a few things that you as a user can do to  make maintaining this plugin easier for me as currently I face daily feature requests/issues and question which at the moment as I maintain several plugins makes it impossible for me to balanc

[2022-01-13 14:57] #307 closed

[2022-01-13 16:02] wintermonth2298 commented on #306
@akinsho
1. works same with only bufferline and theme enabled
2. works same with different theme
3. termguicolors=false fixes the problem, but i get wrong colors

[2022-01-13 18:25] nyngwang commented on #305
Yes, I once accidentally clicked the with _right_ mouse button. So I want to disable this option.

[2022-01-13 18:31] nyngwang commented on #305
Tried `nil`. Got the same result: buffer got closed with right mouse click.

[2022-01-13 21:25] #295 closed

[2022-01-13 22:08] akinsho commented on #305
@nyngwang can you try with an empty string to see if that works

[2022-01-13 22:09] nyngwang commented on #305
No. I did that much earlier before I tried `nil`.

[2022-01-14 07:53] Deep-Six commented on #304
@akinsho  your skill is only eclipsed by your grace and patience!! This was precisely the problem thank you for the lesson. I'll definitely dig into the lua guide as this has sparked my interest in getting better with it!

Thanks for being so awesome!

[2022-01-14 07:54] #304 closed

[2022-01-16 21:48] mcauley-penney commented on #299
If you consult the [docs](https://github.com/akinsho/bufferline.nvim/blob/7451dfc97d28e6783dbeb1cdcff12619a9323c98/doc/bufferline.txt#L546), you can find a list of all highlights. Testing them, the one that I think you're after is

[code]

[2022-01-16 23:11] quantum-booty commented on #299
@mcauley-penney I tried it, but it doesn't change the text color:
![image](https://user-images.githubusercontent.com/28958399/149682013-7e149c35-c5e1-42fb-8926-0fcecc2c6f83.png)

[2022-01-16 23:31] mcauley-penney commented on #299
I'll take a closer look at your config rn but this does work for me.

Before (notice the foreground hl def is commented out):
![image](https://user-images.githubusercontent.com/59481467/149682598-c30cd400-01ad-488a-8cca-a8cfd339dd0a.png)

After:
![image](https://user-images.githubusercontent.com/59481467/149682580-9a874321-1fd7-4beb-9072-8ce4ccc38673.png)

[2022-01-16 23:45] mcauley-penney commented on #299
It looks as though the background hl stops working when a buffer is in a group. I don't use groups so I don't know much about it, but I'm continuing to look into it

[2022-01-17 00:34] mcauley-penney commented on #299
@quantum-booty I looked over the source code and the highlights for an hour and it looks like you'll want to use `buffer` and `buffer_visible`, depending on certain conditions that I don't yet understand. Try the below:

[code]

[2022-01-17 04:27] carsin commented on #291
any update on this? i also find the default behavior very unnatural

[2022-01-17 08:52] FuGangqiang opened #309 "Add BufferLineCloseCurrent and BufferLineCloseAllButCurrent command"
- BufferLineCloseCurrent
- BufferLineCloseAllButCurrent

[2022-01-17 09:33] akinsho commented on #309
@FuGangqiang these commands are not necessary as a user can do this using vim buffer commands.
close current is just `:bdelete!` and close all but current is `:%bd | e#` in any case this plugin is *not a buffer manager* which is what these commands are i.e. buffer management, it is simply meant for *visualising* buffers.
I'm going to close this out since I believe this can be accomplished without

[2022-01-17 09:33] #309 closed

[2022-01-17 09:41] akinsho commented on #291
@carsin or @66RING either of you are very welcome to submit a PR to help implement this.
I'm quite busy and really don't have time to implement the all the many feature requests that are made across all my repos in a timely fashion but users who want these features can help by providing the functionality themselves.

I'm going to close this as a duplicate of #249 which I believe explains the issue

[2022-01-17 09:41] #291 closed

[2022-01-17 14:25] 66RING commented on #291
Hi @akinsho ,

I think I found the bug. It seems that render function be called before sorter function and it render a worry number finally.

I have tried to submit a PR, which simply move sorter function forward. But I stopped because I know nothing about the group feature.

[code]

Here is my test.

[code]

Open three file, buffer jump a bit and you will see `message` like this.

It said render

[2022-01-18 12:04] akinsho commented on #291
@66RING thanks for having a look 👍🏿 can we please move the conversation here to the original issue. I've actually already described that it isn't actually a bug of the current behaviour but a new feature since we render before the sorting because before it didn't matter but now it seems like we would like to render both times before and after sorting. We have to render early so we can get the size

[2022-01-19 21:58] danymat opened #310 "Go to last buffer"
Hello,

I'm currently remapping my keys to use bufferline:

[code]

And I want to have a similar mapping of `:blast`, to use in Bufferline.
Something like `:BufferLineGotoBuffer -1`, or `:BufferLineGoToLastBuffer` (and respectively `:BufferLineGoToFirstBuffer`).
What do you think ?

[2022-01-19 23:17] akinsho commented on #310
Hi 👋🏿,

Tbh I'm generally kind of against adding more commands, they're probably the thing I get asked to add the most, though they always seem quite specific to each user's workflow. Trying to go to the first or last buffer in the bufferline seems like a very rough way to navigate buffers. Could just be me, but if the buffer is visible you can presumably use the count, otherwise surely first or l

[2022-01-21 05:20] ZN0N15 opened #311 "Question: How to Close Current/Visible Buffer Only through Command (?)"
I've been reading through the README for a while and I've noticed that there seems to be no option or command to Close the Current/Visible Buffer, and its only done through clicking the Close button on the bufferline itself. The only commands/options available are `BufferLineCloseRight` (closes the buffer to the right of the current buffer) `BufferLineCloseLeft` (closes the buffer to the left of t

[2022-01-21 10:23] akinsho commented on #311
@ZN0N15 closing the current buffer is a straightforward as using the builtin buffer deletion command `:bdelete!` this doesn't require a custom command from this plugin or anything like that. Unless I'm misunderstanding what you are trying to do.

It's also important to note that barbar embeds a *whole buffer management plugin* called vim-bbye in it's codebase which is why it provides a lot of buff

[2022-01-21 15:55] Ahanaf-Ether commented on #311
@akinsho I love this plugin! I would love to know how to close buffers properly i had a bind: nnoremap <C-q> :q!<CR> to close anything including tabs. But after using this i notice it does close the window but the old windows remain visible, is this a bug? Or am i just to dumb to figure out whats wrong?

[2022-01-21 16:49] akinsho commented on #311
@Ahanaf-Ether closing a buffer in vim is done with the `:bdelete` command you can read more about this using `:help bdelete`. To be clear opening and closing buffers/tabs isn't really an issue specific to this buffer but something general to vim.

[2022-01-22 00:22] MIvanchev opened #312 "[Bug]: Graphical artefacts with custom separator colors"
### What happened?

Hey, awesome plugin! When I set custom colors for the separators and the fill I get weird artefacts between and around the tabs. What am I doing wrong? This is neovim-qt v0.2.16.1, neovim v0.6.1

![Something's wrong](https://raw.githubusercontent.com/MIvanchev/images/981fd9c6-440c-42d0-8006-0bea528b2958/bufferline-artefacts.png)

[code]

### What did you expect to happen?

No a

[2022-01-22 01:07] ZN0N15 commented on #311
Thank you! Seems I didn't read through all the readme docs properly and missed this.

[2022-01-22 01:07] #311 closed

[2022-01-22 06:50] Ahanaf-Ether commented on #311
@akinsho it works with ":bdelete" but doesnt work as a bind, probably a vim issue, Anyways thanks.

[2022-01-22 06:59] Ahanaf-Ether commented on #311
oh damn, i figured i was messing it up by having this binding:
"inoremap <C-q> <Esc>:q!<cr>" and
of course:
autocmd BufNewFile * startinsert
autocmd VimEnter * if empty(expand("%")) | startinsert | endif
autocmd VimEnter * if getfsize(expand("%")) == 0 | startinsert | endif

[2022-01-22 07:06] Ahanaf-Ether commented on #311
And damn clean code my man! will you teach me some day how you code like that?

[2022-01-22 07:16] renier opened #313 "Help with highlighting - highlighting changes are not taking effect"
This is my bufferline config --> https://gist.github.com/renier/be28fe46c57ba248b78e075d3bdb39bd . It is largely based on the [Neovim from scratch project](https://github.com/LunarVim/Neovim-from-scratch), with only very few changes from me.

But the buffer line simply renders like this
<img width="265" alt="Screen Shot 2022-01-22 at 12 58 36 AM" src="https://user-images.githubusercontent.com/1399

[2022-01-22 07:59] renier commented on #313
Ugh. I was missing the `set termguicolors` option. This is [not set ](https://github.com/LunarVim/Neovim-from-scratch/blob/master/lua/user/options.lua#L19) in the Neovim-from-scratch project. I uncommented that and now I see the color changes. Hope this helps someone else.

[2022-01-22 08:00] #313 closed

[2022-01-22 11:03] MIvanchev commented on #312
Hm, this appears to be due to antialiasing. It might be better to use U+E0B8 and U+E0BA as separator chars.

[2022-01-22 11:31] MIvanchev commented on #312
Nope, that doesn't help either :/

[2022-01-22 14:12] nyngwang opened #314 "Feature Request: Open buffer on the right of current one in the bufferline?"
As title. Currently the new opened buffer will be appended to the bufferline. What I want is to open the current next to & on the right the current one.

For exactly what I mean, you can checkout this Edge/Chrome plugin, there is an animation in this link: https://chrome.google.com/webstore/detail/open-tabs-next-to-current/gmpnnmonpnnmnhpdldahlekfofigiffh

[2022-01-22 14:20] nyngwang commented on #135
Oh, one step close to a better plugin :/ I have the same issue.

[2022-01-23 00:02] akinsho commented on #314
Going to close this as a duplicate of https://github.com/akinsho/bufferline.nvim/issues/232 the user in that issue migrated to another plugin that provides this functionality. As I've mentioned in https://github.com/akinsho/bufferline.nvim/issues/307 I'm very busy with other things atm and really don't have time to work on this feature. If you or some other user wants to *help* by opening a PR tha

[2022-01-23 00:02] #314 closed

[2022-01-23 00:04] akinsho commented on #312
@MIvanchev this isn't something I can control on my side, how a terminal emulator handles rendering of characters is outside my control. Most of the appearance (especially the fancier) stuff is a best effort that almost certainly won't work universally

[2022-01-23 00:28] jayp0521 opened #315 "feat: Making BufferLinePick use all lowercase choices"
Hello,

I really this plugin and also this feature of using `BufferLinePick`. I was wondering if it would be feasible to make all the choices a user can pick lowercase. Currently, a file named `Buffer.nvim`, would require typing `B` to select that buffer. `b` would be faster in my opinion. I looked through the code, and I think modifying line 219 is all that needs to change, but I never worked wit

[2022-01-23 10:03] nyngwang commented on #314
@akinsho: Appreciate your time.

[2022-01-23 10:54] nyngwang commented on #232
I would really like this functionality too

[2022-01-23 11:14] MIvanchev commented on #312
Yep, this is exactly how I see it as well! Let's close this :)

[2022-01-23 11:14] #312 closed

[2022-01-25 15:08] yetone opened #316 "[Question]: Overlap with nvim-tree"
### What happened?

When I set the offset for the NvimTree file type, but it is overlapping.

![image](https://user-images.githubusercontent.com/1206493/151002275-3f065d4f-20cb-435b-90e1-398f109b5495.png)

my config is:

[code]

### What did you expect to happen?

Do not overlap

### Additional Information

...

### commit

_No response_

[2022-01-25 17:05] akinsho commented on #316
@yetone this is not a bug but just the default behaviour of nvim. The reason you are seeing the overlap is that you are using a window separator character that is in the middle of the cell, e.g. `|` that isn't likely the actual character but something else. This is not something this plugin can fix for you, since it depends on how you have set your window separator character. You can either accept

[2022-01-25 17:23] AlwynYin commented on #316
**You can add a padding**
[code]
this one is copied from [This Neovim tutorial](https://github.com/LunarVim/Neovim-from-scratch/tree/08-treesitter)

[2022-01-26 04:11] holicc opened #317 "[Question]: How to close other buffers ?"
want to close other buffers except current buffer

[2022-01-26 04:50] yetone commented on #316
@akinsho I understand, thank you for your patience!

[2022-01-26 04:50] yetone commented on #316
@AlwynYin You are a great person, thank you very much!

[2022-01-26 09:46] akinsho commented on #316
Going to close this out 👍🏿

[2022-01-26 09:46] #316 closed

[2022-01-26 09:47] akinsho commented on #317
@holicc please have a look at `:help :only` in vim as there is already an existing vim command for this. Gonna close this out now since that's the answer and isn't something specific to this plugin

[2022-01-26 09:47] #317 closed

[2022-01-27 20:19] patchworkCode opened #318 "[Bug]: Error when opening project buffers of same file type"
### What happened?

Getting a very strange error when I open up a new buffer that's the same file type in this one particular project.

I'm not sure whether it's bufferline or something on my end because the plugin otherwie works fine.

If anything, just understanding what the error is saying would be nice

![image](https://user-images.githubusercontent.com/62321034/151437089-e4340e4d-fad4-45c6-91

[2022-01-27 20:30] patchworkCode commented on #318
Here is the project repository: https://github.com/patchworkCode/github_battle

If possible, cloning it, then opening up popular.js then a new buffer with battle.js can replicate the issue, thanks!

[2022-01-27 21:42] akinsho commented on #318
@patchworkCode I can't see the entire stack trace in your screenshot, ideally could you post the text rather than a screenshot. In any case, it looks like the `user_indicator` function is erroring which is just an alias for a user defined `diagnostics_indicator` presumably you have set this value to a function, and it is erroring. Can you please remove that configuration option (and all other, rea

[2022-01-27 22:22] patchworkCode commented on #318
Sorry about that!

Yes it seems to be `diagnostics_indicator` but it's strange since I just copied and pasted the suggested implimentation from the documentation.

[code]

[2022-01-27 23:13] akinsho commented on #318
@patchworkCode I don't see that example anywhere in the documentation? it's not in the help text or the README, the `sym` variable logic is essentially incorrect since it doesn't have a final fallback close, so it looks like it's possible that it returns `sym = false` which is not a string. I'd suggest having a look at that logic more closely. The examples are anyway just supposed to give users an

[2022-01-27 23:19] patchworkCode commented on #318
Don't worry, I fixed it by having a look at your dotfiles, and copying the implementation you had there! Thanks for the help

[2022-01-27 23:19] #318 closed

[2022-01-29 16:07] #299 closed

[2022-01-31 12:18] charbel-dot opened #319 "How can i remove this dark space, and is there a way to change the theme?"
![Screenshot 2022-01-31 141759](https://user-images.githubusercontent.com/72027836/151792635-66806c1f-ec08-4aca-97d9-48d221b82df6.png)

[2022-01-31 13:55] akinsho commented on #319
@charbel-dot if you read through the help documentation `:help bufferline` it explains how to change the different highlights for the plugin. I don't remember all the highlight names off the top of my head but they are in the documentation.

[2022-02-02 17:15] #319 closed

[2022-02-03 14:17] rebelot opened #320 "[Bug]: Use 'default' highlights"
### What happened?

hello, I'm a colorscheme creator, but at the moment it is impossible to setup bufferline colors from highlights definitions unless the colorscheme is loaded _after_ bufferline, which is not really convenient. Would it be possible for you to set only `default` highlights so that they are not modified by bufferline if the colorscheme sets them beforehand?

### What did you expect

[2022-02-04 06:20] bennypowers commented on #309
Searching brought me to this thread, so in the absence of GitHub Discussions, I'd like to share my knowledge here:

I found the stock `:bdelete` behaviour wasn't to my liking when I use nvim-neo-tree - it would close the buffer but keep the tree open, without switching to the previous buffer or opening an empty one, so I added this script, based on what `barbar.nvim` does

<details><summary><code>

[2022-02-04 08:47] akinsho commented on #320
Hi @rebelot,

so this is kind of by design that this plugin isn't very easy to override via colorschemes. I actually created this plugin because I wanted to have a consistent bufferline UI that automatically adapted to whatever colorscheme I chose to use. I also wanted the appearance to be uniform across colorschemes. One thing I wanted to avoid was one colorscheme maker, for example deciding to m

[2022-02-05 18:14] rebelot commented on #320
It would at least be nice to know exactly which default highlight groups are required by bufferline to work. I am opening this issue because I am updating [kanagawa](https://github.com/rebelot/kanagawa.nvim) to use the new `nvim_set_hl` api and this broke bufferline separators color. I imagine this is due to the fact that, at the moment, the new highlight api replaces the highlight fields instead

[2022-02-14 03:22] JavaHello opened #324 "[Bug]: Exception when using vim-fugitive, not always"
### What happened?

Exception when using vim-fugitive, not alway

<img width="585" alt="截屏2022-02-14 上午11 13 03" src="https://user-images.githubusercontent.com/24937965/153794539-d552eaa7-87de-4b01-ba67-d2533e4ee0b9.png">

### What did you expect to happen?

Expected behaviou
<img width="577" alt="截屏2022-02-14 上午11 13 36" src="https://user-images.githubusercontent.com/24937965/153794583-6440b1d8-9

[2022-02-15 12:41] #310 closed

[2022-02-17 02:00] adrian5 commented on #320
I ran into the same issue while playing with the new `nvim_set_hl` function:

[code]

The old approach gives correct highlights for all elements of the tab bar:

[code]
Maybe something about the way properties are applied in nvim, as @rebelot alluded to?

Would be prudent to find a solution to this before nvim-0.7 is released.

[2022-02-17 06:13] hexh250786313 opened #325 "[Help Wanted] Is there any way to filter files by git status?"
How can I use `custom_filter` to filter files by git status. I want my bufferline only show the git changed files and current file. I think it requires some other plugins like `fugitive` or `coc-git`, but I do not really konw how to do that.

[2022-02-17 09:18] akinsho commented on #325
Hi @hexh250786313

 this isn't really something you could solve trivially. You'd need to go down the rabbit hole to figure this one out yourself since I don't really have an answer. My advice would be to find a plugin that exposes the list of changed git files synchronously, so it doesn't block nvim. Then you'd only show buffers with the matching name or id. This is already a big oversimplificatio

[2022-02-17 10:01] hexh250786313 commented on #325
@akinsho Thanks your advice! I will have a try.

[2022-02-20 10:23] jan-xyz commented on #305
What package manager are you using? You might need to run `PackerCompile` if you setup your config inside of packer. I just tried the suggestion with an empty string and it works like a charm.

[2022-02-21 02:43] nyngwang commented on #305
@jan-xyz packer.nvim. I almost forgot this issue...

[2022-02-21 04:02] reportaman opened #326 "Feature: add support to be able to specify base-16 and optionally base-256 colors"
Using base-16 colors have an advantage over using hex RGB colors in the sense that it allows users to be able to change the colors on the fly easily as terminal color theme changes.

The idea is pretty simple: if apps are limited to use colors from a pool of 16 colors, given those colors are inherited from the underlying virtual terminal program, if the program allows changing the color theme on t

[2022-02-21 08:46] akinsho commented on #326
@reportaman so this is a much bigger request than I think it might seem. I actually purposely chose not to support base-16 colours when I first developed this plugin because I needed to be able to manipulate colours, e.g. lighten and darken colours. I have no idea how to do this with `cterm` colours. At this point though, given that the plugin is built around hex colours it would take solving the

[2022-02-21 09:19] akinsho commented on #325
@hexh250786313 I'm going to close this out but if you figure out  away to do this please feel free to post your solution here for posterity 🙏🏿

[2022-02-21 09:19] #325 closed

[2022-02-23 16:42] uunnxx opened #327 "[Bug]: No write since last change."
### What happened?

When I edit the current file, I cannot switch between next/prev buffers until I save the current file with the changes I made.

[code]

### What did you expect to happen?

I have to move between files freely because I know in which buffer changes are made due to the icon

![image](https://user-images.githubusercontent.com/6236057/155364901-cf00bac2-e8d8-4dc8-9053-5c54331d4e47.p

[2022-02-23 17:04] akinsho commented on #327
@uunnxx this error doesn't actually come from this plugin. This is likely an underlying neovim issue that is only surfacing because you are clicking bufferline tabs or using it's next or prev command. You either need to `set hidden` in your config or otherwise dig into what is causing this but the issue won't actually be within this plugin I believe

[2022-02-23 17:08] uunnxx commented on #327
Much appreciated for the quick response!
I tried to rewrite my `vimrc` to `init.lua`

I must have forgotten to add `set hidden`
Everything is working as expected, thank you <3

[2022-02-23 17:08] #327 closed

[2022-02-24 05:43] LeoGitHuber opened #328 "lelft_mouse_command seems not working in windows terminal."
I'm new to neovim. I follow instruction of bufferline, but left_mouse_command seems not working in windows terminal, the same as right_mouse_command and close_command.

[2022-02-24 21:50] akinsho commented on #328
@LeoGitHuber there isn't much information here that I can use to help you. By default, this works for me and I believe most other people. I don't use windows, so I can't test it out there myself. Can you let me know what exactly works or doesn't? Have you tried other terminals? How have you configured bufferline?

[2022-02-24 21:51] akinsho commented on #305
Since using an empty string solves this issue, I'm going to close this out for now. Let me know if there's some other issue relating to this

[2022-02-24 21:51] #305 closed

[2022-02-24 21:58] #324 closed

[2022-02-24 21:59] akinsho commented on #324
@JavaHello I just pushed a fix that checks that buffers are nil whilst sorting. Let me know if you still encounter this issue after updatign and I'll re-open it

[2022-02-24 22:01] akinsho commented on #306
@wintermonth2298 is this still an issue? As far as I can tell, it sounds like something relating to your terminal and not specific to bufferline

[2022-02-25 06:58] LeoGitHuber commented on #328
Thanks for replying. I just installed it by packer and set it up by default. The bufferline didn't response mouse click to switch buffer or close buffer. Any other functions work well. I haven't tried other terminals yet. Below is my configuration.

![image](https://user-images.githubusercontent.com/50997355/155667068-5703a606-1d15-411f-b0b1-a4b5ecdc9dec.png)

[2022-02-26 07:02] LeoGitHuber commented on #328
@akinsho I have solve my problem. I didn't know there is mouse support option in neovim. I set 'vim.opt.mouse="a"' in init.lua. Then every function works well. Thank you for your help.

[2022-02-26 07:02] #328 closed

[2022-02-26 12:33] akinsho commented on #320
@rebelot I've created #329 which allows setting highlights to be default if the `themable` is true in a user's config. But I've also clarified the base highlight groups bufferline expects to be set, and it is generally more advisable to set those and allow bufferline to do its own dynamic highlighting than trying to override the dynamic highlight directly, since as I mentioned that is not how I de

[2022-02-27 23:31] sillyprizes commented on #91
Reading the above references will go a long way, but for those who just want the answer this is the config to remove all styling for the selected buffer:

[code]

[2022-02-28 02:01] siduck opened #330 "[Bug]: mappings has been depreceated"
I updated nvim today and been getting this issue
![image](https://user-images.githubusercontent.com/59060246/155912195-78160aff-ca25-4b53-a912-15c8468732c1.png)

![image](https://user-images.githubusercontent.com/59060246/155912179-e5259226-b0f9-40d2-9c41-eaa563c8e2e7.png)

i dont even have numbers var defined in my config!

[2022-02-28 08:22] akinsho commented on #330
Hi @siduck ,

So those changes are really old now, you will get the errors if you specify those keys. Do you have mappings in your config at all, also regarding numbers have you done the whole packer compile dance?

Can you paste the config you are using?

[2022-03-01 02:28] siduck commented on #330
I no longer get that issue, after a reboot. WEIRD. I do know that was an old change and i update nvim daily but this gets fixed today :laughing:

[2022-03-01 02:28] #330 closed

[2022-03-08 14:56] Yohe-Am opened #332 "[Bug]: `BufferLineCycle` commands don't recongize groups"
### What happened?

The issue is that when groups are hidden as seen for the `Docs` group in following image...

![image](https://user-images.githubusercontent.com/56622350/157262197-6cb86369-5047-4717-9b91-316eb947b774.png)

...the `BufferLineCycle` commands aren't able to cycle to buffers inside of this group.

### What did you expect to happen?

`BufferLineCycle` command to unhide the group and

[2022-03-08 15:10] akinsho commented on #332
@Yohe-Am this is by design. The idea of hiding groups is that you can skip over them while you cycle, so if you have a bunch of tests and don't want to have to cycle through like 20 test buffers you can hide them. If you want to raise a PR to add an option per group to behave differently I'd accept that PR, but currently this works as I intended for my use case.

[2022-03-08 15:15] Yohe-Am commented on #332
Oh, I see. Thanks

[2022-03-08 15:15] #332 closed

[2022-03-08 22:59] akinsho commented on #266
Closing since the response covers this

[2022-03-08 22:59] #266 closed

[2022-03-08 23:01] #195 closed

[2022-03-09 23:00] rickyelopez opened #335 "Feature Request - Don't treat opened files as conflicting unless they are in the same group"
Let's say I have two groups defined, "A" and "B". I open files "a" and "b" which exist within the paths that define groups "A" and "B" respectively. Since they are in different groups, there's no need to show the full path to the file, I can already visually distinguish them from one another by the group they are in.

[2022-03-10 14:23] rubenmate commented on #278
Now that is possible to switch between tabpages and buffers, could it be possible to apply it to filtering?
I mean something like this:
custom_filter = function(buf)
  local tab_num = 0
  for _ in pairs(vim.api.nvim_list_tabpages()) do tab_num = tab_num + 1 end
  if tab_num > 1 then
      -- Change to tabpages
      return false
  else
      -- Change back to buffers
      return true
  end
end

[2022-03-11 14:53] akinsho commented on #335
@rickyelopez tbh this is quite complex to implement. I'm not really a fan of adding this kind of complexity, but if you want to take a stab at it, I can point you in the right direction.

[2022-03-11 18:36] Gako358 opened #336 "[Question] How do you change the background colour of the bufferline"
I have manged to setup the bar quiet fine, but the background color on the bar itself, does not belong to any of my colors. It is black, pure black, is it someway to set the color on that?

[2022-03-14 06:36] akinsho commented on #336
@Gako358 it could be because you are missing some default highlight group that is expected in your theme. Can you read through the available highlights in the docs and find the background one and set that value yourself

[2022-03-14 10:51] Gako358 commented on #336
I tried setting both background and fill guibg to any other color, but nothing changed...

`highlight = {
    fill = {
        guibg = 'fg',
    },
},`

The same for background..

[2022-03-14 11:01] max397574 opened #337 "[Bug] elements missing in sorter function on latest commit"
Since the merge from dev there is an error.
I'm not sure yet when exactly it happens.
I get it when I save the file.
[code]

[2022-03-14 12:07] akinsho commented on #337
@max397574 can you please include specific information about what your bufferline config is it looks like the sorter is broken but I can't tell anymore than that

[2022-03-14 12:09] akinsho commented on #336
@Gako358 I can't tell what highlight isn't working since I don't have a picture of your bufferline to tell which highlight you're trying to change. All the highlights that can be changed are available in the help documentation and it's likely one of those but I don't know which one

[2022-03-14 12:10] max397574 commented on #337
[code]

[2022-03-14 12:11] max397574 commented on #337
also
it doesn't always happen when bufferline opens (when I open a second buffer)

Idk when it resorts things
if you could tell me I could test if it only happens then

[2022-03-14 12:20] akinsho commented on #337
@max397574 I can't reproduce this, and I'm not sure I fully understand it either. It seems to an error with the sort function as bufferline thinks it has no tab/buffers open so is passing `nil` to the sort function. Bufferline re-sorts buffers on every redraw which happens whenever things change in nvim e.g. buffers opened or windows opened etc.

[2022-03-14 12:21] akinsho commented on #337
If you could work out specifically when this is happening, so I can reproduce then I'll be able to fix it, but without a reproduction I can't fix it.

[2022-03-14 12:26] akinsho commented on #337
Can you reproduce this issue with a minimal `init.lua` i.e. no other plugins, just to make sure there isn't some new interaction with some other plugin you have

[2022-03-14 12:35] max397574 commented on #337
to me it happens when I format with null-ls on save

[2022-03-14 12:48] max397574 commented on #337
I got a minimal example (this is just en example, there are other cases when this happens, not only telescope help tags)
[code]

use `Telescope help_tags` and select anything

[2022-03-14 13:52] akinsho commented on #337
@max397574 I've just tried with a simpler minimal init file and cannot reproduce this issue still. I used
[code]
I think keeping packer out of this will be better, since that involves its own can of worms.

You can use this with `nvim -u <file-above> --noplugin`

[2022-03-14 13:55] akinsho commented on #336
@Gako358 you have typo in your config. `highlight` should be `highlights` the final `s` is missing. I have verified on my end that fill works.

[2022-03-14 13:58] akinsho commented on #306
Closing this out since it seems like a terminal emulator issue and not a plugin issue.

[2022-03-14 13:58] #306 closed

[2022-03-14 14:01] #315 closed

[2022-03-14 14:05] akinsho commented on #283
@AndOrangutan sorry for the late reply, so this isn't broken, I think there's just a misunderstanding about how it works. The two characters are one to show when the tab is focused and the other if it isn't unfocused, it isn't a left and right character. Essentially, you can't make the tabs pill shaped without a bit of extra work. If you want to raise a PR to add a pill styling, I'd be open to it

[2022-03-14 14:50] max397574 commented on #337
so u don't get the error if u use my minimal config?

[2022-03-14 16:49] Gako358 commented on #336
Ive now tried with highlights and used '#ffffff', 'fg', 'blue'.. but nothing changes.

[2022-03-14 17:02] mcauley-penney opened #338 "[Bug]: error on buffer close, switches to tabs after"
### What happened?

After the recent feature merges, closing a buffer results in an error which somehow results in tabs appearing to be used after. Pleas see the attached GIF.

Second Edit: I'm now noticing that it's happening with a few different events that open other buffers: "UndotreeToggle" with mbbill/undotree and "StartupTime" with dstein64/vim-startuptime.

![error](https://user-images.git

[2022-03-14 17:03] akinsho commented on #336
@Gako358 I'm testing this on my machine, and it works fine on my end. The config I'm using looks like
[code]
I can see from other users setups as well as my own that this definitely works. Please try and confirm that nothing unusual is going on in your setup and that if you are using packer you are making sure that it has properly recompiled and everything has been reloaded

[2022-03-14 17:10] akinsho commented on #338
Hi @mcauley-penney, can you please share a minimal configuration, so I can reproduce this bug. I don't see this issue in my daily usage and using `:bd` does not automatically reproduce this, so it is probably related to something in your configuration/setup, but I don't know what.

[2022-03-14 17:11] shaeinst commented on #338
i have similar issue.
when i try to close the modified file with ```:bd``` (this gonna give No write error) then save the file and again try to close with same command, ```:bd```, i get following error
![image](https://user-images.githubusercontent.com/41078534/158224418-df57c3b3-8cf6-4ce2-9e70-7e3986cff1d4.png)

[2022-03-14 17:11] Gako358 commented on #336
Actually had to load the highlights after the option, and I had to take inn a list of colors that I could use, now it is working.
Thank you for your help, this can be closed now

[2022-03-14 17:12] akinsho commented on #337
Just to clarify, do either or you see this issue without packer? Can you both try the minimal config I provided and see if that still reproduces the issue? As far as I can see, my minimal  config is the same as yours without involving packer which shouldn't be required since that indicates the bug is not exclusively with this plugin since it should reproduce even without packer

[2022-03-14 17:14] akinsho commented on #338
@shaeinst as I mentioned above, I need a configuration that reproduces this issue, so I can test it myself. My setup does not recreate this issue, so I cannot debug or fix it without a specific *minimal* configuration that reproduces this issue.

[2022-03-14 17:22] mcauley-penney commented on #338
@akinsho Okay, no problem! I'll work on trimming this down. Also, I commented out the items above that would be problematic for others, such as the usage of some functions that I define elsewhere. Sorry about that, I noticed it after I posted

[2022-03-14 17:25] akinsho commented on #338
Okay so I removed the highlight settings due to all the missing logic and tried with just the setting in the setup function and I don't see this issue. The minimal config I am working with is
[code]

[2022-03-14 17:27] shaeinst commented on #338
@akinsho can please try with your current config.
1. open a file
2. make any change
3.  try to close the buffer with :bd
4. undo chnage
5. again try to close the buffer with :bd
please let me know you can reproduce the error i mentioned.

[2022-03-14 17:28] mcauley-penney commented on #338
@akinsho Tested that configuration, no issues at all. It's elsewhere and I'm going to dig for it

Sorry for the all the noise in this issue, I'm fairly new with reporting issues with Neovim/plugins

[2022-03-14 17:33] akinsho commented on #337
@max397574 are you running it with `nvim -u <file-above> --noplugin` if you use the `--noplugin` flag vim will not load any plugins except something you packadd manually

[2022-03-14 17:36] max397574 commented on #337
now I did
and I get the error

[2022-03-14 17:37] Gako358 opened #339 "bufferline colors"
Just as you closed my last issue i was writing more, my bad for being to fast on the conclusions...
However,
![bar](https://user-images.githubusercontent.com/42249650/158228975-36889531-4f3e-428d-b891-f1a42eee435c.png)

As you can see, the fill works on the right side, but since I am using slant separator style, the background in between the "slants" are not changed with fill, tried pretty much al

[2022-03-14 17:37] max397574 commented on #337
since it then definitely has nothing to do with packer you should perhaps rather use my minimal config, since then we can be sure that we both use the same version of bufferline.nvim

[2022-03-14 17:41] akinsho commented on #339
@Gako358 This information is in the help docs. You might have to try quite a few different highlight groups but it should be in there. I don't know what they are off the top of my head and I would have to check it just the same as you. They are definitely there though. Also can you move this comment to the old issue and I will reopen that one and close this one? I'm having a hard time managing all

[2022-03-14 17:47] akinsho commented on #337
That reproduce it for me @max397574 thanks for that 👍🏿 I can start to look into it now 👀

[2022-03-14 17:48] #339 closed, assigned to nobody

[2022-03-14 17:56] mcauley-penney commented on #338
@akinsho: in the [above comment](https://github.com/akinsho/bufferline.nvim/issues/338#issuecomment-1067079947) I mention that, after removing `always_show_bufferline = false`, I get a different error and provided a screenshot. That error only exists if I have `j-hui/fidget.nvim` included, which it looks like you removed recently from your own config. If I remove fidget and that setting, it resolv

[2022-03-14 18:37] #338 closed

[2022-03-14 18:40] akinsho commented on #338
@mcauley-penney sorry closed this a little quickly, had meant to write relates not fixed in my commit. Anyway, I believe it comes down to `always_show_bufferline` which had some logic moved to the wrong place. It should now be fixed, though. Let me know if it isn't. Regarding `fidget` the error you are seeing about closing the last window is from nvim as far as I know and would occur if you were t

[2022-03-14 18:40] akinsho commented on #338
anyway hopefully this change should have returned bufferline's behaviour to how it was before

[2022-03-14 18:42] akinsho commented on #338
For future reference I believe this was a duplicate of #337 just a different manifestation 🤞🏿

[2022-03-14 18:45] mcauley-penney commented on #338
I updated and it fixed using that setting. Thank you!

I appreciate the gentle reminder to check open issues first. Thank you again!

[2022-03-14 18:55] vsedov commented on #337
Working on my end, thanks :)

[2022-03-14 18:56] akinsho commented on #338
@mcauley-penney lol wasn't actually a nudge towards you, I was dealing with both issues simultaneously and didn't realise for quite a while that they were the same since the error was different.

[2022-03-14 18:57] akinsho commented on #337
Gonna optimistically close this out thanks for reporting back @vsedov, if it's not fixed on your end let me know @max397574

[2022-03-14 18:57] #337 closed

[2022-03-14 19:06] max397574 commented on #337
fixed for me as well 👍

[2022-03-15 19:42] navxio opened #340 "[Bug]: Slant separator style isn't rendering slanted separators"
### What happened?

Using neovim 0.6.1
kitty terminal v0.24.1 and UbuntuMono Nerd Font

<img width="832" alt="image" src="https://user-images.githubusercontent.com/9297865/158458437-56200053-9f9e-4bc2-b848-6daea471cde9.png">

### What did you expect to happen?

<img width="847" alt="image" src="https://user-images.githubusercontent.com/9297865/158458515-94199fa4-eee6-4394-ad06-5a8779e3645c.png">

[2022-03-15 19:45] #340 closed

[2022-03-17 00:39] joehannes commented on #154
the above snippet didn't work for me, as it shows currently visible buffers only.
the following snippets helps me to show all buffers in the current working dir.
as you can set a different cwd per tabpage, I found this very helpful, as I can open different projects in different tabs and it will filter me and show only buffers that belong to the current project (if i set the cwd):

[code]

[2022-03-17 11:30] ecogest commented on #149
I keep track of my buffers by MRU with the help of another plugin: [mildred/vim-bufmru](https://github.com/mildred/vim-bufmru) (it is quite old but works very well)

Then to apply the MRU order to bufferline, in the setup:
[code]

Personally, I like the MRU list to be refreshed  when I move my cursor after I cycled through my buffers. If `vim-bufmru` is installed, you can do that with:
[code]

I a

[2022-03-17 14:41] jan-xyz opened #341 "[Bug]: Cannot click buffer groups anymore"
### What happened?

The issue is that it causes an error when clicking on the name of a buffer group, which previously opened or closed that group.

Error:
[code]

### What did you expect to happen?

The buffer group opening of closing.

### Additional Information

I tested this on nevoid 0.6.1 and the nightly version of 0.7.0 and both cause this error.

I know that you don't support the buffer gr

[2022-03-18 17:36] rockyzhang24 commented on #113
Hi @akinsho

Is this limitation resolved? I tried but it still didn't work.

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/11582667/159054136-252de64b-7dd8-42e5-ba7a-608e3c1e46a9.png">

Thank you very much.

[2022-03-18 17:48] akinsho commented on #113
@rockyzhang24 the problem is solved but depends on how you open undo tree in my case the diff buffer is contained inside the split on the left whereas on yours it's at the bottom, in either case it should work. If it doesn't, and you've made sure you're on the latest version, then I'd try with other layouts, i.e. the default undotree layout and see if that works. I don't personally intend to spend

[2022-03-18 17:55] rockyzhang24 commented on #113
@akinsho Thank you. I tried different layouts and it works for layout style 1 (i.e., diff buffer is contained inside the split on the left). However, it doesn't work for layout style 2 (i.e., diff buffer is at the bottom). I am sure I am on the latest version for both `bufferline` and `undotree`. It's weird.

[2022-03-18 18:04] akinsho commented on #113
@rockyzhang24 it's not really weird, just how the functionality works. It was designed almost explicitly for a single file explorer type pane which was the original user feature request and most people's use case, but others have expanded it to a load of different scenarios, but the solution is not applicable to all scenarios. They way it works is by reading the state of nvim's windows and figurin

[2022-03-18 23:36] akinsho commented on #336
As I mentioned before, the highlights can all be found in the highlights' table under `:help bufferline-highlights`. I just looked at this myself and found the group i.e. `separator_{selected|visible}` will change the separator colour

<img width="1400" alt="Screen Shot 2022-03-18 at 23 34 28" src="https://user-images.githubusercontent.com/22454918/159096970-90992546-bf31-4f8a-93e8-2ebc17ae4a0e.pn

[2022-03-18 23:36] #336 closed

[2022-03-18 23:42] #341 closed

[2022-03-18 23:43] akinsho commented on #341
Thanks for raising this @jan-xyz, should be fixed now

[2022-03-21 18:07] keaising opened #344 "[Bug]:"
### What happened?

When I try to execute `: BufferLineSortByDirectory` or `: BufferLineSortByExtension`, I get this error

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/8179012/159335326-057543ed-ad1c-473a-9d68-1236ea18cdbc.png">

After researching, I find that in `commands.lua`  you call for

[code]

https://github.com/akinsho/bufferline.nvim/blob/master/lua/buffer

[2022-03-21 19:06] akinsho commented on #344
@keaising thanks for raising this. I wasn't aware it had broken. I'll look into it 👍🏿

[2022-03-21 20:40] #344 closed

[2022-03-21 21:09] akinsho commented on #232
Closing this out as this is now implemented on the `dev` branch and will make it out to the main branch once that's fully tested.

[2022-03-21 21:09] #232 closed

[2022-03-21 21:09] akinsho commented on #232
fixed by #342

[2022-03-22 14:00] thisizkp opened #345 "[Feature Request]: Tabs aren't being aligned in split view"
### What happened?

### Screenshot
<img width="1792" alt="Screenshot 2022-03-22 at 4 37 11 PM" src="https://user-images.githubusercontent.com/4737336/159493880-3a99dd46-2b3e-4a9a-8b11-4901b56aedbf.png">

### Steps
1. Open a file
2. Search for a new file using `<leader>ff` and do `Ctrl V` to open the new file in split view

The more files we open, more it gets confusing and difficult to keep track

[2022-03-22 14:09] akinsho commented on #345
@thisizkp this isn't really feasible if I understand you correctly. Is the general idea you mean to keep tabs located above the window they relate to? It's possible tbh, but the amount of work is very high. I really am not sure if I would take on that level of complexity for what I think is a somewhat marginal gain.

![buffer groups](https://i.redd.it/7kn6lmkp7l931.png)

Is this what you mean? ☝🏿

[2022-03-23 03:47] thisizkp commented on #345
Yes, that is what I meant. If the amount of work is very high, then yeah might not be worth doing it at this point.

But would like to know, how do you manage when you have multiple files in split views? Isn't it confusing?

[2022-03-23 22:56] akinsho commented on #345
@thisizkp I really don't find it confusing, but I guess quite importantly I almost never have more than 3 splits open, so as long as all visible splits are open it's usually pretty easy to tell which split is which. I've never really thought of it as being potentially confusing or problematic before

[2022-03-24 04:26] thisizkp commented on #345
Ha okay. Yeah, I'm new to `vim/neovim` coming from `VSCode`. It is a bit difficult to get used to. Anyways, thanks for the response. Closing this issue. We can reopen in the future if we want to implement the above change.

[2022-03-24 04:26] #345 closed

[2022-03-29 03:07] muhmud opened #347 "Enhancement: Dynamic Buffer Groups"
Would it be possible to define groups dynamically, rather than statically through config?

[2022-03-29 07:53] akinsho commented on #347
Hi @muhmud can you detail exactly what  you're thinking e.g. how will this work? Why would this be valuable, what happens to groups between sessions etc.

[2022-03-29 10:39] muhmud commented on #347
Sure, here goes:

What usually ends up happening for me is that I start working on something and buffers start opening up all over the place. Usually, there is a logically grouping that they fall into, such as for a particular Jira ticket, however, it's something that is only relevant for the work I'm doing now, so I want to be able to run a command that prompts me for a name and then (optionally)

[2022-03-29 13:08] akinsho commented on #347
@muhmud thanks for clarifying. I understand the use case better now. I generally like the idea however one bit of complexity is that when specifying a group you use non simple types e.g.
[code]
We'd essentially need to take form input which is not easy/possible in nvim and the matcher would like couldn't be a function. Also you wouldn't be able to specify the highlights easily. I guess a solution

[2022-03-29 15:37] muhmud commented on #347
Yeah, I was thinking about this also when looking through the README.

To keep it simple, I was thinking that everything apart from the name would default to something sensible, so the highlight colour would be some random colour you haven't used yet. Likewise, the icon could be the icon of the buffers that occur most often in the group, and would change as buffers are added. If someone wanted mor

[2022-03-29 17:06] mrjones2014 opened #348 "[Feature Request]: Show buffer line in all (vertical) splits?"
Is something like this edited image possible? To be clear, I took 2 separate screenshots and edited them together to get this image:

![CleanShot-2022-03-29-at-13 04 56](https://user-images.githubusercontent.com/8648891/160666863-e404368a-bab4-42b7-ab10-438449357240.png)

Note that it shows the active buffer for each window, separately.

Not sure if this is possible or feasible but I'd love to see

[2022-03-29 18:09] akinsho commented on #348
@mrjones2014 so this is a duplicate of a very recent feature request #345. I first saw this behaviour in Emacs' centaur tabs, which originally inspired this plugin. I've personally since come off of it for a few reasons.

Firstly it's useful in `vscode` or `emacs` because both of those have the concept of `editor groups` so rather than windows it's the files are actually specifically related to ea

[2022-03-29 18:13] akinsho commented on #348
I guess if the only thing the bufferline was showing was the buffers open in the visible windows then this mode might make sense, but it still leaves the question of what to do with non-top level splits e.g. a lower horizontal split or

[2022-03-29 18:18] mrjones2014 commented on #348
Definitely understand the argument against something like this. The only real argument I have _for_ it is now that we can have a global status line (in a recent PR merged to Neovim), I'm looking for a different way to tell which file is open in which window (which, let me know if you have any alternative suggestions to solve this problem). I really like the global status line but this is one issue

[2022-03-29 18:40] mrjones2014 commented on #348
Ah!!! I remember seeing that PR but couldn't find it, thanks for the link!

Maybe an alternate solution would be to allow the buffer line to show in the status line instead of tab line?

I just experimented with doing that with Lualine for example. See screenshot. Top bar is showing status in tab line, bottom bar is showing buffer list in per-window status line, with the active buffer correctly hi

[2022-03-29 19:03] mrjones2014 commented on #348
Yup, that all sounds reasonable. I'll wait for the winbar thing to be merged and make a new plugin for that.

[2022-03-29 19:03] #348 closed

[2022-03-29 19:07] akinsho commented on #348
@mrjones2014 I don't think once `winbar` is merged you'll need a plugin for that, unless I'm still missing something about what you mean, which is possible

[2022-03-29 19:13] mrjones2014 commented on #348
Well I think that PR is just the APIs to set the `winbar` contents. You'll still need some code or a plugin to put the buffer list as the content of the `winbar`, unless I'm misunderstanding something.

[2022-03-29 19:22] akinsho commented on #348
Ah that makes sense

[2022-03-29 20:41] akinsho commented on #347
I think defaults are interesting although tbh implementing most of what you describe is actually fairly involved e.g. selecting a random colour, since it's really up to the user to provide those, same as with icons e.g. trying to derive the most common one for a group. I think the icon is optional and can see if there's a better solution later re. colours, a user will have to make up their mind or

[2022-03-30 01:39] muhmud commented on #347
Do you really think the random colours would be hard? I was thinking have an array of 20 nice looking colours and use `math.random()` to get an index into it, or allocate colours round-robin out of the array as groups are created.

In any case, if there was a way to specify the defaults in the config that would be great, or better still a function in the config so that the defaults could be genera

[2022-03-30 12:11] muhmud commented on #347
Looks pretty good for a v1 :+1:

I understand about the randomizing going two steps forward instead of one; it would be good to play with this for a while to see what it's like.

[2022-03-30 12:35] akinsho commented on #347
Thanks for having a look 👍🏿 yeah, definitely needs a little tweaking / checking stability.

Re. manually adding and removing buffers, I'd say that feature is complex/out of scope for now since that will be a pain to implement. There is no built-in UI to handle multiselection, and I'm dead set against building a custom UI in this plugin for adhoc use cases. I really don't want this to blow up into

[2022-03-30 15:46] muhmud commented on #347
I just noticed that when you open a new tab, as opposed to a buffer, you get a tab number indicator on the right, which got me thinking...

If there was a config option so that when you move to a different tab, it only showed the buffers from that tab, I think that would pretty much do what I want. The native vim tab functionality would do everything else I want.

One additional nicety would be to

[2022-03-30 16:03] akinsho commented on #347
@muhmud yeah, I think staying on topic regarding dynamic buffer groups would be best. It seems like at the core what you are trying to do is get workspaces working in nvim. I get this issue through this plugin a lot, but I actually think it's not applicable because regardless of what visually you see, nvim *doesn't support workspaces* natively so for example native commands would take you to where

[2022-03-31 10:38] #237 closed

[2022-03-31 16:07] akinsho commented on #265
@ErickTucto sorry for the late response been very busy for a while, are you still seeing this issue, can you also confirm that if you're using packer you made sure it had compiled everything first

[2022-03-31 17:16] ErickTucto commented on #265
It keeps happening, I dont using packer. I cloned your repo. I didn't know I should compile your project

[2022-03-31 17:21] akinsho commented on #265
@ErickTucto it doesn't require compilation you should be able to run lua via neovim directly what are you trying to do exactly?

[2022-03-31 17:35] akinsho commented on #265
Is this bug specific to diagnostic info or does it reproduce for other types of diagnostics, also is it only visible when the buffer is inactive?

[2022-03-31 17:37] ErickTucto commented on #265
yes, only **info** and **inactived buffer**

[2022-04-01 11:44] ikerurda opened #352 "[Bug]: BufferLineCycleNext cycles through closed buffers"
### What happened?

After closing a buffer with any of the options available (`:bd`, clicking the `X`, `:BufferLinePickClose`, ...) if `always_show_bufferline` is set to `false` and only one buffer is left, `:BufferLineCycleNext` will cycle between the last opened and the last closed buffer.

### What did you expect to happen?

I was expecting not to cycle buffers as only one last buffer is open.