[2022-09-10 09:14] #543 closed

[2022-09-10 12:03] omerdn1 commented on #543
@akinsho Thank you for the quick response.
Unfortunately, the command `:help bufferline-sorting` gives no output

[2022-09-10 18:03] apstone opened #544 "[Question]: Mapping :BufferLineCycleNext and :BufferLineCyclePrev"
Hi, apologies for such a noob question but after reading the docs and searching online, I was not able to understand how to properly map these.

In `init.lua` I have:
[code]

 This seems to execute, as I can see the following after pressing `\bn`

![image](https://user-images.githubusercontent.com/35583098/189495978-67d4bf16-ce82-4a5f-88e7-7010853d6f33.png)

But my buffer does not change? I have t

[2022-09-10 19:11] #544 closed

[2022-09-12 09:52] babygau opened #545 "How to change underline color?"
I'd love to change the bufferline underline color, but couldn't find any relevant highlight group
<img width="309" alt="Screen Shot 2022-09-12 at 7 51 27 pm" src="https://user-images.githubusercontent.com/1514823/189624774-d6a39be1-1028-4eb6-b7da-32b81838dcd8.png">
Thank you!

[2022-09-12 10:07] akinsho commented on #545
@babygau the underline is the `indicator` so you should use the highlights for `indicator_selected`

[2022-09-12 10:07] #545 closed

[2022-09-12 11:23] akinsho commented on #545
@babygau underline highlights are controlled by the `special` key in neovim. If you want to change the colour of and underlines you should set special

[2022-09-12 11:57] alextes opened #546 "[Bug]: hiding icons doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am probably doing something wrong. Perhaps I can PR some docs to improve this.

Inside my packer config I have the following, yet I still get the close icon.

[code]

### What did you expect to happen?

No close icon.

### Config

See above.

### Additional Information

...

### commit

_No r

[2022-09-12 14:41] akinsho commented on #546
@alextes there is a typo in the config name for the buffer icons it should be
[code]
These options are quite old, and I'm due to rename the `show_close_icon` → `show_tab(_indicator)_close_icon`. The reason for the plurals is that there are multiple buffer icons and only a single tab close icon. Will close this out as I've confirmed locally that with the right spelling things work as expected

[2022-09-12 14:41] #546 closed

[2022-09-12 14:54] alextes commented on #546
I tried several things, read the docs twice, restarted a dozen times.. typo 🙈 .

Thanks Akin!

[2022-09-13 07:35] akinsho commented on #545
@babygau sorry the highlight should actually be
[code]

[2022-09-13 07:49] akinsho commented on #545
@babygau bufferline will check the value of `TabLineSel` background first then foreground and use those colours for the indicator selected, I don't know why it wouldn't work for you since I don't know how you set your highlights at all or what your config looks like. Tbh I'd rather not go down that rabbit hole of debugging it and will leave that to you. If using `buffer_selected` works, then you c

[2022-09-14 06:36] latipun7 opened #547 "Slant separator is ugly on transparent fill background"
Currently slant (and padded_slant) is not suitable when configuring fill bg to transparent (`NONE`).
[code]
![image](https://user-images.githubusercontent.com/20012970/190068648-bff19e45-1244-4f8d-aeb7-1d4c84025405.png)

With that, I still can't change separator bg to NONE because it uses "" and "", so for example on the image above, that black is foreground of slant separator chars. I don't thi

[2022-09-14 07:11] akinsho commented on #547
@latipun7 this plugin was not designed with transparent usage in mind, using this plugin with the slant style and transparency makes even less sense to me, but users are free to do as they please ofc 🤷🏿‍♂️. I chose the current slant characters on purpose because that was what worked with the implementation. I won't be doing a big refactor to accommodate this fairly niche usage of this plugin.

You

[2022-09-14 07:11] #547 closed

[2022-09-14 22:39] 4e554c4c opened #549 "[Feature Request]: Show icon based on filetype instead of file extension"
### What?

Sometimes two files which have the same extension have different filetypes.
I see this very often because I often write [hack](https://hacklang.org/) which can have the `.php` filetype even though it is an entirely different programming language.

This also occurs in vim when there is no filename attached to a buffer, but it still has a filetype.

### Why?

I often find myself editing b

[2022-09-15 07:39] akinsho commented on #549
@4e554c4c please try the latest commit of the `dev` branch, this should now be fixed. I'll release this when next I get a chance

[2022-09-15 07:39] #549 closed

[2022-09-15 08:05] Alex-vZyl commented on #545
@babygau Would you mind just putting the config you used here for completeness?

[2022-09-15 19:22] jeffometer opened #551 "[Bug]: in tab mode with sorting set to tabs, tabs periodically get out of order"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that sometimes tabs aren't sorted properly even with the proper config and I have to manually call BufferLineSortByTabs to get them fixed.

I'm not sure what exactly causes this, but I notice it when opening and closing tabs with at least 3 tabs open.

### What did you expect to ha

[2022-09-16 13:53] tobealive opened #553 "[Feature Request]: offset highlights accept color specification like buffers"
### What?

It would be nice to be able to use a table like with `nvim_set_hl` in the offset highlight setting.

Maybe even move the highlight key out of the offset and add a `offset` group to the rest of the bufferline highlights.

### Why?

Currently(as far as I can see), for using a custom highlight in the offset I need to create a highlight group and specify this highlight group as value.

Bein

[2022-09-16 14:18] akinsho commented on #553
Whilst it might seem like better consistency as far as the actual codebase is concerned, I don't think this would make anything more consistent.

Adding an `offset` group will immediately result in a request for a left and right one and tbh is actually less flexible because for example I use different highlights for different offsets. I darken some sidebars and want those to have different offset

[2022-09-16 14:20] akinsho commented on #551
@jeffometer I don't actively maintain the tab mode functionality, as it was requested by users and largely fleshed out by users. It is almost entirely user contributed at this point. If there's an issue with it, please feel free to raise a PR 🙏🏿

[2022-09-16 17:13] tobealive commented on #553
Thanks for shedding some light and some of your stardust. Its always great to get some insight.

[2022-09-17 14:20] Diaoul opened #555 "[Bug]: separator_style = { 'any', 'any' } has no effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Docs says
[code]

However setting
[code]
Does not work

### What did you expect to happen?

It works

### Config

[code]

### Additional Information

...

### commit

_No response_

[2022-09-17 14:40] akinsho commented on #555
@Diaoul I've just tested this locally and verified that it works. You are in all likelihood not configuring this properly. All options should be inside the options table, i.e.
[code]
Please read through the provided configuration example *carefully*

[2022-09-17 14:40] #555 closed

[2022-09-17 14:46] Diaoul commented on #555
I've been swapping between "slant" and this so my config is alright, here is the full one:

[code]

[2022-09-17 14:49] Diaoul commented on #555
plugins.lua

[code]

[2022-09-17 14:58] akinsho commented on #555
@Diaoul setting that value results in

<img width="624" alt="image" src="https://user-images.githubusercontent.com/22454918/190863239-f05fff45-5d1b-417b-b724-dd0a46f0eeca.png">

For me, as a general rule, I don't debug individual user configs since this is very time-consuming for me across multiple plugins. I don't know how your config is set up and if you are making sure things are correctly relo

[2022-09-17 15:00] Diaoul commented on #555
Well, looks like it's working for you at least :laughing:
I'll investigate what is wrong on my side, maybe some incompatibility somewhere :thinking:

Thanks for taking the time to check :pray:

[2022-09-17 15:01] Diaoul commented on #555
I've tried other separators and no effect either :shrug:
[code]

[2022-09-17 15:18] Diaoul commented on #555
Turns out loading bufferline before other plugins seems to fix the issue (but breaks other things...) :tada:

[2022-09-17 15:43] Diaoul commented on #555
I was wrong, it works in any order actually.

I just missed it because it did not behave as I expected it to. I compared the behavior of my config with the `slant` one but it turns out the slant config is _special_: it has leading and ending separators.

With those highlights for better visibility:
[code]
Here is the "normal" separator behavior (`thin` in this case):
![image](https://user-images.g

[2022-09-17 16:41] akinsho commented on #555
@Diaoul tbh people request functionality like this quite often wanting to change the separators. To be honest, I'm not particularly interested in implementing this. I have a plan to potentially make each tab more configurable, but ultimately the reason I created this plugin was to emulate the style of GUI editors like VSCode, Atom or sublime. I personally feel like the existing styles cover that s

[2022-09-17 21:54] Diaoul commented on #555
Very clear thanks. I'll bufferline a bit and eventually submit a PR for that.

[2022-09-18 12:57] akinsho commented on #469
This is now fixed by #556 in `dev` and will be released soon

[2022-09-18 12:57] #469 closed

[2022-09-18 12:58] akinsho commented on #553
Gonna (presumptuously) close this out as resolved

[2022-09-18 12:58] #553 closed

[2022-09-19 10:41] teto opened #559 "[Bug]: attempt to index local 'offsets' (a number value)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On starting neovim I get
[code]

### What did you expect to happen?

no error

### Config

[code]

### Additional Information

this is with today's neovim 875b58e0941ef62a75992ce0e6496bb7879e0bbe and bufferline a703bb919aeb436eaa83bcbefdac51fbb92b4c74 (current master)

### commit

a703bb919aeb4

[2022-09-19 10:58] akinsho commented on #559
Hmm, I've just tried out this config on the commit you specified and this doesn't reproduce for me. I'm also not sure how this would be possible, looking at the line where the error is coming from. The `offsets` module always returns a table and all values are initialised to a number.

Can you check that you are not loading another tabline plugin like barbar which also uses the same module name as

[2022-09-19 11:00] akinsho commented on #536
Closing this out as there's been no further clarification and I can't reproduce this

[2022-09-19 11:00] #536 closed

[2022-09-19 11:57] teto commented on #559
thanks for the quick fedback. Have you tried with a recent neovim ? anyway I'll look into it this afternoon, I wanted to provide a rockspec for the plugin too, would that be ok with you ?

[2022-09-19 12:32] akinsho commented on #559
@teto I'm on a nightly nvim version from today. It seems like a strange module conflict since there are tests for that module, and it's kind of a critical bug so if it's happening generally I'd expect *a lot of people* to be complaining since no one would be able to use the plugin as it's in the main rendering function.

I wouldn't mind having a rockspec. I don't know what it would involve in term

[2022-09-21 16:25] sampiecz opened #560 "[Bug]: When using tabs bufferline errors in lvim"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I like vim's default tabs and splits, I set bufferline to use `mode="tabs"` and `enforce_tabs=true`.

In lunarvim if I use `<leader>sr`, `<leader>sf`, `<leader>st` I get this error message.

`E5108: Error executing lua vim/shared.lua:0: t: expected table, got nil
stack traceback:
        [C]: i

[2022-09-21 16:40] akinsho commented on #560
@sampiecz sorry but this issue as it stands is not valid, I don't use lunarvim or know what it is doing or how it works, when opening any issues for nvim plugins it is *very very helpful* to only use the plugin free of any other configuration. If you are having issues, you will need to create a *minimal init.lua* without any configuration framework that clearly reproduces this issue in as few line

[2022-09-21 16:40] #560 closed

[2022-09-21 19:30] Ddystopia opened #561 "[Bug]: Icons disappeared after the update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I've updated plugin, then it showed me that guifg and etc are now deprecated. I changed to new values, but my icons disappeared.
This is my config before(when icons were) and after:
Before
[code]
After:
[code]

### What did you expect to happen?

For me to have icons

### Config

[code]

### Ad

[2022-09-21 20:08] akinsho commented on #559
@teto any idea how I can reproduce this on my end, or can I close this out? Is it still happening for you? Any better idea as to why?

[2022-09-21 20:11] akinsho commented on #561
@Ddystopia I just used your configuration and my icons appear without issue?

[2022-09-21 20:12] akinsho commented on #561
Presumably you mean your buffer filetype icons, correct? Since you didn't specify what icon you meant. FWIW you need to make sure your version of the devicons plugin is also up to date.

[2022-09-21 20:31] Ddystopia commented on #561
This is what I see now.
![image](https://user-images.githubusercontent.com/63151578/191604336-e67462f7-5ffa-4401-b031-239c48ae50e2.png)

[2022-09-21 20:41] akinsho commented on #561
@Ddystopia can you confirm what commit of the plugin you are using? can you also confirm that nvim web devicons is running correctly and showing up for other plugins

[2022-09-21 22:04] teto commented on #559
ok I will reopen when I get a chance to tackle it

[2022-09-21 22:04] #559 closed

[2022-09-21 23:09] nyngwang opened #562 "The append-on-right effect for newly opened buffer has disappeared"
As title. For append-on-right I meant opening buffer on the right of the current one.  I have a long time not following this plugin. And it seems that this amazing effect has gone. Could you provide some pointer to set this up?

[2022-09-22 05:14] sampiecz commented on #560
Thank you @akinsho ! Totally get that. Appreciate all the work you put into maintaining an open source project :)

[2022-09-22 05:15] sampiecz commented on #560
When I get a chance I'll try out vanilla `neovim` and let you know if I can reproduce this :bow:

[2022-09-22 07:00] akinsho commented on #561
@Ddystopia can you provide this information? Otherwise, I will close this issue. When you have a reproduction that I can use to definitely trigger this issue, feel free to post back here

[2022-09-22 07:02] akinsho commented on #562
@nyngwang this functionality is provided by a sorter called `sort_by = 'insert_after_current'` please check the documentation for information like this in the future 🙏🏿

[2022-09-22 07:02] #562 closed

[2022-09-22 08:31] Ddystopia commented on #561
I will but not now, I'm sorry.

[2022-09-22 11:08] akinsho commented on #561
Ok will close this out till you have a reproduction I can use, feel free to comment back on here when you do, and I'll re-open it.

[2022-09-22 11:08] #561 closed

[2022-09-22 16:09] akinsho commented on #438
This is now fixed on `dev` by #563

[2022-09-22 16:09] #438 closed

[2022-09-22 18:04] notwidow opened #564 "bufferline shows name of file which is closed"
Hi,
**ISSUE**
- I open file in neovim and it is one file so bufferline does not show up and then i open or split with another file and bufferline appears with 2 file names.
- But when i close one file then bufferline still shows 2 file names and does not disappear ....
**STEPS TO REPRODUCE**
- set showtabline = 2 (just to show when there are more than one files open)
- open neovim with a file and

[2022-09-22 18:26] akinsho commented on #564
@notwidow this is working as intended and I believe this issue is likely a misunderstanding of how neovim works. You should have a look at neovim's documentation about tabpages, windows and buffers for a better understanding.

When you open a file in neovim this is loaded into memory, you have the option of closing window it was loaded into or switching away from it. This *does not remove the file

[2022-09-22 18:26] #564 closed

[2022-09-22 18:39] notwidow commented on #564
okay thank you, yes i misunderstood

[2022-09-24 16:03] kostafey opened #566 "[Feature Request]: Disable file type icons"
### What?

How can I disable (do not output) file type icons at all?

### Why?

_No response_

[2022-09-24 16:13] akinsho commented on #566
Please check the configuration documentation on the help section there is an option specified there.

[2022-09-24 16:13] #566 closed

[2022-09-24 16:53] kostafey commented on #566
@akinsho Thank you very much! Works as expected.
[code]

[2022-09-25 20:04] sindrets opened #568 "[Bug]: Configured nvim-web-devicons overrides are ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After a recent commit (d545bf8493c26aca0aeeddfd38795f3b4a98b90f) my configured icon overrides are no longer respected. Not sure whether it's nvim-web-devicons or bufferline that's at fault here, but it's worth noting that it *only* seems to happen when devicons is configured with the option `de

[2022-09-26 04:20] HumblePresent commented on #568
I've also been experiencing this issue. For me it's not that my `nvim-web-devicons` overrides aren't respected, but the correct icon only shows once the buffer becomes active. Before that my default icon set in `nvim-web-devicons` is used.

#### Here are the results of my investigation:
1. Setting `default = true` in the `nvim-web-devicons` config will override the `default` option passed to funct

[2022-09-26 04:28] HumblePresent commented on #568
I just noticed that my proposed solution still does not address issue 1. Maybe it's best to revert the change to this code in d545bf8 and only lookup icons by name and extension?

[2022-09-26 07:33] akinsho commented on #568
@HumblePresent whilst this would fix your issue, it would bring the author of the issue that led to that commit in the first place coming back to me to complain that their filetype icons no longer appear as they expected

Regarding overrides not working I believe it is an outstanding issue that they haven't been working for a long time see #191.

Regarding setting default to true or not, this is c

[2022-09-26 08:01] akinsho commented on #568
If an empty filetype comes back as `""` rather than `nil` that is worth fixing regardless, I'd say.

[2022-09-26 10:30] sindrets commented on #568
@akinsho Yes, they were working up until just before that commit, as can be demonstrated by uncommenting the line in the minimal config pinning bufferline to the commit prior to d545bf8493c26aca0aeeddfd38795f3b4a98b90f.

But the actual issue seems to be that nvim-web-devicons does not respect the options passed to its `get_icon*` API:

https://github.com/kyazdani42/nvim-web-devicons/blob/969728506

[2022-09-26 10:30] #568 closed

[2022-09-26 11:37] Nik-i-Net opened #569 "[Bug]: Wrong separator for tabs"
### What happened?

When using "mode = buffers", tab sepatators are wrong.

### What did you expect to happen?

Correct separators or the ability to put a standard separator for tabs.

### Config

![Screenshot from 2022-09-26 14-22-12](https://user-images.githubusercontent.com/91474300/192265587-90e6f36a-102f-4a50-a12c-4b8855533e7f.png)

### Additional Information

This behavior on any color schem

[2022-09-26 14:39] akinsho commented on #569
@Nik-i-Net this issue is invalid as there is no relationship between separator style and mode. You have set the separator style to slant, and it appears as slant which is what it is supposed to do. If you still believe something is wrong please clarify *very clearly what* and provide a *minimal init.lua* (not a screenshot) that I can use to reproduce any issue

[2022-09-26 14:39] #569 closed

[2022-09-28 04:02] Pocco81 opened #570 "[Feature Request]: `BufferLineClose` command for closing the current buffer"
### What?

A command for closing the current buffer (alternatively, it would be cool if you could expose a function for doing so)

### Why?

There's already `BufferLineCloseLeft` and `BufferLineCloseRight`. Makes sense to have one for closing the current buffer.

[2022-09-28 07:10] akinsho commented on #570
@Pocco81 I've previously discussed this in several issues. Please have a look at previous discussions. In short, there are *dozens* of plugins that do this. This plugin's primary focus is *UI*, not buffer management. The only reason the alternate commands exist is that they are *only* possible through bufferline and tbh I should probably never have added them and stuck to UI only functionality.

h

[2022-09-28 07:30] akinsho commented on #570
Going to close this out as a duplicate, hopefully given the context of the previous issues and the explanation above, this makes sense. Personally I use `vim-bbye` but there are many Lua only alternatives for this.

[2022-09-28 07:30] #570 closed

[2022-09-28 23:53] Pocco81 commented on #570
Thanks for the reply!

[2022-10-01 22:43] poetaman opened #574 "[Bug]: Buffer still appears after clicking close button, clicking it again then gives error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that... Prior to reinstalling this plugin whenever I clicked on the close button (x) next to file name in the bufferline, it immediately closed the buffer and the file name immediately disappeared. Now the first time I click on the close button (x), visually nothing changes. buffer

[2022-10-02 03:08] shaeinst commented on #574
can confirm.
but note that it happens when we try to close other buffer from current buffer

[2022-10-02 08:55] lispyclouds commented on #574
For me its happening only after the nvim 0.8 upgrade and when I try to close a buffer which is not the current one.

[2022-10-02 12:47] akinsho commented on #574
This is fixed in `dev` now please try out that branch to confirm. I'll merge that in later

[2022-10-02 12:50] lispyclouds commented on #574
Works perfectly! Thanks for the quick fix! 🚀

[2022-10-03 02:26] AnazThaj commented on #574
Works with the mouse click, however doesn't work when exiting by :q

[2022-10-03 02:27] AnazThaj commented on #574
Works with the mouse click, however doesn't work when exiting by :q

[2022-10-03 02:56] shaeinst commented on #574
`:q` quits the current window. use `:bd` instead

[2022-10-03 08:21] #574 closed

[2022-10-05 03:45] Zero-Swangel opened #578 "[Bug]: groups.lua, seems a miss spelling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

groups.lua, line 107
[code]
new to lua and nvim, I think it's a miss spelling, but no bugs found

### What did you expect to happen?

highlight

### Config

...

### Additional Information

...

### commit

_No response_

[2022-10-05 08:20] akinsho commented on #578
@Zero-Swangel thanks for pointing this out I've just pushed a fix for the typo 👍🏿

[2022-10-05 08:20] #578 closed

[2022-10-06 13:11] ShiChenCong opened #579 "[Bug]: After BufferLineCloseRight/BufferLineCloseLeft, Buffferline show wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

![Oct-06-2022 21-03-21](https://user-images.githubusercontent.com/22486446/194320175-338a7a52-ecbf-4e04-9106-7fd04203133d.gif)
After BufferLineCloseRight/BufferLineCloseLeft, still show closed buffer, util into command mode

### What did you expect to happen?

After BufferLineCloseRight/BufferL

[2022-10-07 14:49] andy-bell101 opened #580 "[Feature Request]: Commands for "Close all buffers" and "Close All Buffers Except Current""
### What?

I'd like some commands to be able to close all the buffers in my workspace, and one to close all but the current buffer.

### Why?

The neovim builtin commands for closing buffers (e.g. `:%bd`) mess too much with my workspace. Bufferline already has commands for closing buffers in a more intelligent way, so it seems like a logical place to add some extra functionality.

[2022-10-08 06:05] ChangqingW commented on #561
I had a similar config and bufferline was showing icons until packer moved nvim-web-devicons from start to opt folder (not sure why it did that). Having `use 'kyazdani42/nvim-web-devicons'` forced it back to the start folder and restored the icons.

[2022-10-08 07:28] fans3210 commented on #579
I'm also having this issue after switching to develop branch

[2022-10-08 08:23] ShiChenCong commented on #579
@fans3210 try keymapping set silent=false
```map('n', '<leader>cr', ':BufferLineCloseRight<CR>', { noremap = true, silent = false })```

[2022-10-08 22:29] Luis-Licea commented on #569
I am having the same issue. The slanted characters are supposed to occur on both sides of the tab, but only occur on one. This does not depend on the color scheme, as Nik mentioned. Here are some examples.
![image](https://user-images.githubusercontent.com/48164786/194729826-25ab9f04-71db-4f45-baec-423febf21661.png)
![image](https://user-images.githubusercontent.com/48164786/194729917-cfcb6bd3-3f8

[2022-10-09 06:15] fans3210 commented on #579
Thanks @ShiChenCong. This solution works for "close right" and "close left", but not for "close others" using other plugins like "bufonly". I switched back to nvim 0.7.2 for now since it doesn't have such issue.

[2022-10-09 09:29] akinsho commented on #569
@Luis-Licea the minimal tab indicators aren't configurable with custom separators, they aren't expected to have slanted sides at all, I'm not really sure how you're achieving that image in the screenshot but it definitely isn't a supported feature so I'd say this isn't a bug since I never built it to do what you're trying to do. Only the actual full buffer tabs can have custom separators

[2022-10-10 11:53] andy-bell101 commented on #580
Exposing some internals in #583 that will allow users to do this themselves

[2022-10-10 11:53] #580 closed

[2022-10-12 01:36] alexventuraio opened #584 "[Enhancement]: Allow using 'insert_after_current' sort for tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

If I have two tabs opened and I move (focus) to the first one and the I create a new tab with `:tabnew` it creates the new tab at the very end of the tabs (in this case in the third place).

It looks weird that when you go to the next one you focus on the last one and the to the second one.

![

[2022-10-12 06:03] emxxjnm opened #585 "Should offsets filetype accept table or string or regular expression?"
![image](https://user-images.githubusercontent.com/54089360/195260536-51e75223-d50f-46e9-933f-2f2634c765fa.png)

Should offsets filetype accept table or string or regular expression?

for example: [dap-ui](https://github.com/rcarriga/nvim-dap-ui#configuration)

its layout is dependent on the order of elements in the configuration, the filetype of each element panel is something like dapui_\<elemen

[2022-10-12 07:26] akinsho commented on #585
The offsets file type expects a string which maps directly to a file type. It is not a pattern or regular expression

[2022-10-12 10:37] shans10 opened #586 "[Bug]: Bufferline does not refresh if BufferLineCloseLeft and BufferLineCloseRight are invoked using a keybinding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When I directly use `BufferLineCloseLeft` or `BufferLineCloseRight` commands it closes the buffers to the left or right respectively and the bufferline is refreshed/redrawn to reflect those changes however when I invoke those commands using a keybinding, in my case `<leader>b[` and `<leader>b]`

[2022-10-14 06:13] eXvimmer commented on #586
I have the same issue as well. This happened (I think) after upgrading to neovim 0.8 LTS.

[2022-10-16 17:10] akinsho commented on #584
@alexventuraio there is already a mechanism when using buffers mode to set the sort order to insert the new buffer after the current, like you describe. This mechanism will have to be adapted to work with tabs somehow. I'd suggest starting by looking in `sort.lua` and seeing how it works for buffers. It shouldn't be too hard to adapt for tabs by just passing a tabs current buffer in.

I personally

[2022-10-16 17:12] akinsho commented on #585
Since this seems like a question, and it's been answered above, I will close this out. If you think it should word as a pattern, please feel free to submit a PR. Currently, this will require a new field since users will expect it to take a literal string, so if it now takes a pattern that should be a new field.

[2022-10-16 17:12] #585 closed

[2022-10-17 07:44] akinsho commented on #586
This fix is now merged into main in tag v3.0.0

[2022-10-17 07:44] #586 closed

[2022-10-19 05:45] shans10 commented on #149
`Telescope buffers` picker has a `sort_mru` option.

[2022-10-22 23:22] RicardoRien opened #593 "Round corner style and off and on Bufferline"
It is possible style tabs with round corners like when we make groups?
Another question, It is possible display **on** and **off** all Bufferline? In order to create a full _Zen Mode_
![image](https://user-images.githubusercontent.com/55299652/197365820-bebe89f1-b5ab-484c-b147-503a558a2eeb.png)

Thanks in advance

[2022-10-23 02:45] convers39 opened #594 "[Feature Request]: Use relative buffer number for currently visible buffers"
### What?

<img width="996" alt="image" src="https://user-images.githubusercontent.com/42597395/197370517-7deee9f9-0858-4645-998b-14b0d9278371.png">

Currently we have buffer id or absolute buffer number as the prefix.

For the `go_to_buffer` function, the `absolute` argument indicates use the absolute buffer number or relative one.

I am wondering if it is possible to also use relative buffer num

[2022-10-23 02:48] convers39 commented on #594
this should be possible to define a custom function for `numbers` as long as we can get the number of buffers hidden left/right from `opts`?

<img width="839" alt="image" src="https://user-images.githubusercontent.com/42597395/197370737-1951b7a8-ebb6-473d-bf91-eace15069a94.png">

[2022-10-24 08:23] akinsho commented on #594
@convers39 I'm going to close this out as it appears to be a duplicate of https://github.com/akinsho/bufferline.nvim/issues/249 which needs to be renamed. The idea is the same, i.e. showing the relative buffer position not the id or absolute number. Please have a read through that issue to see where we got to. TLDR someone needs to make a PR, as I don't use this feature and am unlikely to do it pe

[2022-10-24 08:23] #594 closed

[2022-10-24 08:26] akinsho commented on #593
@RicardoRien you can change the `separator_style` and then tweak the highlights to try and get this styling, but it isn't officially supported via an option and I likely won't add it. You can hide the tabline by using `:help showtabline` please read through that option for more info

[2022-10-24 08:26] #593 closed

[2022-10-24 22:20] rwblokzijl commented on #584
This is fixed in https://github.com/akinsho/bufferline.nvim/pull/592. When this hits `main` all tabs opened will be after the current one. Just like the vim builtin tabline.

[2022-10-24 22:21] rwblokzijl commented on #551
This is fixed in https://github.com/akinsho/bufferline.nvim/pull/592

[2022-10-24 22:25] rwblokzijl commented on #294
Tab sorting is fixed in https://github.com/akinsho/bufferline.nvim/pull/592. This makes it aware of `gt` and `gT` by default.

[2022-10-25 00:52] alexventuraio commented on #584
Sweet, thanks so much @rwblokzijl

Is there any planning day for the next reales with this new fix?

[2022-10-27 11:51] rwblokzijl opened #596 "[Feature Discussion]: Sorting for tabs"
### What?

Wanted to open this issue as a discussion about sorting for tabs.

In the following list i have my suggestions for what to do with every sorting option that currently exists. The main issue with defining these for tabs is that a tab can contain multiple buffers.

<table>
<tr>
	<td> `insert_after_current`
	<td> This would be the same as sorting by `id` (at least with `gt` and `gT`) unles

[2022-10-27 22:18] gallor opened #597 "[Bug]: Bright foreground color being applied to active tab instead of filename"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that the foreground color to the active tab is a bright highlight. I can directly modify it via the highlight groups but I have been unable to get it just "work" out of the box. I have tried under multiple colorschemes (monokai, hybrid, firewatch, evening) and even with a fully str

[2022-10-28 08:33] akinsho commented on #597
@gallor this seems very likely to be a configuration rather than a plugin issue. Are you using `tmux`? That can often cause highlighting issues.

[2022-10-28 08:41] akinsho commented on #584
Just released your changes @rwblokzijl hoping this works but haven't tested personally. Will close this out unless someone reports back that it doesn't work 🤞🏿

[2022-10-28 08:41] #584 closed

[2022-10-28 08:41] akinsho commented on #294
fixed by #592

[2022-10-28 08:41] #294 closed

[2022-10-28 08:41] akinsho commented on #551
fixed by

[2022-10-28 08:41] #551 closed

[2022-10-28 19:07] sheharyarn commented on #584
Just tried the new release out, and it's working beautifully! Thank you all!

[2022-10-31 02:53] TroyCode3 opened #600 "Open multiple tabs causes lagging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When a open multiple tabs in the same project, bufferline starts causing lagging, even when I did nothing else but just writing code. FYI: I use :BufferLineSortByTabs

### What did you expect to happen?

Opening multiple tabs shouldn't cause significant lagging.

### Config

lua << EOF
require(

[2022-10-31 08:19] rwblokzijl commented on #600
1. What is the minimum number of tabs that causes lag?
2. Does the issue persist when:
	a. using `sort_by = "id"`?
	b. not using `BufferLineSortByTabs`?  (`sort_by = "tabs"` solves the same problem)

[2022-10-31 09:26] huyhoang8398 opened #601 "[Bug]: Modify indicator not inside buffer tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The modify indicator not inside buffer tab
![image](https://user-images.githubusercontent.com/25379882/198975278-0d76c7b7-00ff-47ac-93ce-2c1cdae79af2.png)

### What did you expect to happen?

Modify indicator has same background color as buffer tab

### Config

local status, bufferline = pcall(

[2022-10-31 16:58] TroyCode3 commented on #600
1. The minimum was 4.
2.
a. It still persists.
b. It also still persists.

[2022-10-31 20:08] rwblokzijl commented on #600
Can you provide a minimum neovim config (without any other plugins) that replicates the problem?

[2022-10-31 20:21] TroyCode3 commented on #600
Sorry, it might not be your plugin's problem. When I tested my plugins individually, everything was smooth, but when I combined then together, it started lagging.

[2022-11-01 00:11] alexventuraio commented on #584
@rwblokzijl @akinsho I have recently updated to the latest version and now it is working as expected!
Thanks so much! ❤️

[2022-11-01 08:05] rwblokzijl commented on #600
Ok, no worries :)

[2022-11-01 08:39] akinsho commented on #597
@gallor I don't think specific tmux fixes should go in the README since not everyone uses that myself included. You could add any info to the wiki but tbh I find tmux stuff changes and this information is already spread out in blogs

[2022-11-01 08:39] #597 closed

[2022-11-01 08:40] akinsho commented on #600
Will close this out in this case 👍🏿 thanks for jumping in @rwblokzijl 🙌🏿

[2022-11-01 08:40] #600 closed

[2022-11-01 14:48] NoamMuallem commented on #560
Hi, did you solved it then?

[2022-11-02 01:39] OldWorldOrdr opened #604 "X button does nothing, looks like a close button, how do i make it work?"
![Screenshot from 2022-11-01 21-34-11](https://user-images.githubusercontent.com/57970114/199374419-e9cd3407-bcd7-4b9b-9670-6c592d72c4c3.png)

[2022-11-02 01:40] OldWorldOrdr commented on #604
if someone wants to tell me how to fix the red highlights in my vim config while im here that would be greatly appriciated

[2022-11-02 01:44] OldWorldOrdr commented on #604
litterally just noticed the gaps in the lualine segments arent colored correctly

[2022-11-02 07:46] akinsho commented on #604
The button you are pointing to closes tabs not buffers. I can confirm that it does work but in your screenshot there are no tabs so it won't do anything

[2022-11-02 07:47] #604 closed

[2022-11-02 23:35] OlegGulevskyy opened #605 "[Bug]: Changed background of Buffer lines"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After updating the package, my background color changed from being transparent like the rest of the screen, becoming completely grey
![image](https://user-images.githubusercontent.com/43781031/199621946-593c0405-0080-4889-8fab-711cac5b0a1c.png)

### What did you expect to happen?

Colors not ch

[2022-11-03 08:22] akinsho commented on #605
@OlegGulevskyy it looks like you are tweaking the bufferline highlights to a different colour. This issue can probably be fixed by finding the right highlight group name and finding the colour you need to set for it. It's a configuration issue rather than a bug in the plugin. Please look carefully at your highlights and find the right one you need to change

[2022-11-03 08:22] #605 closed

[2022-11-03 09:28] OlegGulevskyy commented on #605
Ok but no changes were made to the config in the past month, that's whats weird. Literally came from holidays, updated plug-ins and got this weird look

[2022-11-03 11:47] akinsho commented on #601
@huyhoang8398 the indicator is inside the tab, the issue is that you have not actually changed the highlighting for the entire tab. You have only changed the highlighting for the name section. You need to change all the highlights that constitute a buffer tab if you intend to change the colors properly.

[2022-11-03 11:47] #601 closed

[2022-11-03 11:49] akinsho commented on #605
@OlegGulevskyy a lot of things can be impacting this e.g. a change to your colorscheme etc. it could also be that the previous way you set highlights was invalid and since any number of updates it has changed. In short a user has the ability to change the bufferline background and there is a highlight group to do that. It is up to the user to choose whatever colour they want that works for them.

[2022-11-03 14:46] euh2 commented on #605
What is the name of the higlight group which fills the whole line? I experienced the same as OP.

[2022-11-06 11:10] WilliamHsieh opened #607 "[Bug]: the new hover feature is not working in tmux"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When nvim is started inside tmux, the close bottom hover feature is not working.

### What did you expect to happen?

The behaviour should be the same with or without tmux.

### Config

[code]

### Additional Information

Step to reproduce:
1. `tmux -f /dev/null`
2. `nvim -nu min.lua`
3. the ho

[2022-11-06 11:25] WilliamHsieh commented on #607
Strangely enough, the minimum config works now but not my own config. Closing for now. Sorry for the interruption.

[2022-11-06 11:25] #607 closed

[2022-11-06 15:37] OlegGulevskyy opened #608 "[Bug]: Highlights are not applying"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am trying to fix look of bufferline that I raised [in here](https://github.com/akinsho/bufferline.nvim/issues/605), but it seems like I cannot even change colors properly, at this stage I am not even sure how to customize this.

Here is the config I am attempting to use
[code]

Which results

[2022-11-07 21:27] yannjor opened #610 "[Question]: Don't show "[No Name]" tab"
Is it possible to filter out the "[No Name]" tab that is visible on startup somehow? I tried with

[code]
and
[code]
but no success.

Thanks in advance!

[2022-11-07 21:49] akinsho commented on #610
@yannjor this buffer is created by neovim if you want to hide any buffer without a name (which I really do not recommend) you can try
[code]

[2022-11-07 21:49] #610 closed

[2022-11-08 14:37] yannjor commented on #610
Hi @akinsho  this is indeed what I tried but it doesn't work. Why do you recommend against this?

[2022-11-08 14:53] akinsho commented on #610
@yannjor those are buffers that actually exist in neovim either a plugin is making them by mistake or sometimes when you open neovim without a session it creates them. It's a bit like opening Microsoft Word with an untitled document, vim might later ask you if you want to save the document, but you won't know what it's talking about. Or tbh a bug could be introduced into a plugin, and it starts ma

[2022-11-08 17:01] ricbermo opened #611 "[Question]: How to adjust the underline thickness?"
### What?

Hi,
Thanks for taking your time to create this amazing peace of software.

I'm trying to adjust the underline thickness, just like your "kitty" example, but I have not been able to. I've tried adjusting the `indicator` setting w/o luck. Would you mind pointing me in the right direction?

Thanks in advance

[2022-11-09 05:50] alexxShandsome opened #612 "how to make the tabline only show if there's more than one buffer or tabs open?"
### What?

The tab will automatically hide if there's only one file that is open and will only show if there's more than one buffer or tabs open.

### Why?

To conserve lines

[2022-11-09 06:21] #612 closed

[2022-11-09 10:29] akinsho commented on #611
@ricbermo there is documentation on kitty's website please have a look at https://sw.kovidgoyal.net/kitty/conf/#opt-kitty.modify_font (in general questions like this are better suited to kitty's repo or looking at it's docs not here please)

[2022-11-09 10:29] #611 closed

[2022-11-09 16:08] ricbermo commented on #611
@akinsho thanks for sharing the link. I honestly thought it was a bufferline config.

[2022-11-10 20:30] travatomic commented on #604
@OldWorldOrdr regarding the red in your lua heredoc. I had this issue as well when i was using viml. I fixed it by moving the lua code to a separate file (`.config/nvim/lsp.lua` in my case), and then referencing it from init.vim using:
[code]

[2022-11-10 20:41] OldWorldOrdr commented on #604
Not the solution I would have liked but it works.  Thanks

[2022-11-11 00:04] knmac commented on #569
I think the problem here is that the "tab tabs" are rendered with only one separator. This is seen in the function ` render(tabpage, is_active, style, highlights)` in the file `tabpages.lua`:

Original code:
[code]

We can see that the `separator_component` only uses the 2nd character from `constants.sep_chars[style]` (here, `style` is slant). So, an easy fix for this is
[code]

Here, I also remov

[2022-11-11 09:39] ndom91 opened #614 "[Bug]: `handle_close` not being exported and/or working as a few releases ago"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a keymap for closing buffers via bufferline.

[code]

However, since updating bufferline ~1-2 weeks ago I'm getting the following error:

![image](https://user-images.githubusercontent.com/7415984/201311806-46d17d53-500c-45fc-8114-7e1c41ba0c52.png)

I saw [this](https://github.com/akinsh

[2022-11-14 03:48] avatus opened #615 "[Question] Need help identifying plugin and colorscheme"
Hello all, just a quick couple of questions.

I was wondering what plugin provides that 'breadcrumb' line right under the bufferline in the hover state preview here
https://user-images.githubusercontent.com/22454918/189106657-163b0550-897c-42c8-a571-d899bdd69998.gif

Also, does anyone know which colorscheme is present in that same preview?

Thanks!

[2022-11-14 13:23] rwblokzijl commented on #615
It might be [Barbecue.nvim](https://github.com/utilyre/barbecue.nvim)

[2022-11-14 18:08] nullchilly opened #617 "[Feature Request]: Add underline_indicator sp option"
### What?

Currently underline_sp is set to TabLineSel.bg

https://github.com/akinsho/bufferline.nvim/blob/7c07dee2714778a84a9adda6e676c8e2151085f2/lua/bufferline/config.lua#L370-L373

Which means I have to do
[code]

in order to set

![image](https://user-images.githubusercontent.com/56817415/201733790-4fdbd109-9f5e-4e06-92df-c362412bb54a.png)

### Why?

Currently `highlights.indicator_selected`

[2022-11-16 01:02] diego-rapoport commented on #347
Any advance on that?
What I thought was just simple commands such as `:BufferlineCreateGroup <name>` and `:BufferlineSendToGroup <name>`(sends the current buffer). The groups would always be inserted on the left, or at least as default for now.
Is that hard to implement and involve some of other issues already discussed? If so, never mind my incomprehension and I'm already sorry for that.

[2022-11-16 02:09] ShiChenCong opened #618 "[Bug]: Not working with session manager"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Open two buffer, close neovim, reopen it, only show one buffer tab.

### What did you expect to happen?

Open two buffer, close neovim, reopen it, Show two buffer tab.

### Config

[code]

### Additional Information

https://www.reddit.com/r/neovim/comments/yvk3m9/session_plugin_not_working_wit

[2022-11-16 13:51] papitz opened #619 "[Bug]: Padded slanted separators breaks the separators in SimpleTerminal (st)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In st with JetBrainsMono as the font the padded_slant option breaks the separators. Normal slant also causes problems but thats what the padding is for I guess.
The separators look like this:
![padded_slant_not_fixed](https://user-images.githubusercontent.com/65065967/202197533-6b62422f-2820-49

[2022-11-16 17:25] akinsho commented on #347
I've closed out my attempts to add this and am not keen on doing this myself anytime soon. The data collection to create a group is really the question. If a contributor can come up with a fully thought out solution (maybe see my closed PR) I'd be happy to review, but I'm not going to take this on myself anytime soon

[2022-11-16 17:31] akinsho commented on #614
@ndom91 this functionality wasn't intended for public use, it's just an annoying behaviour of lua that I can't properly hide functionality to keep things private/I needed it to be public to use in autoload functions in the past. A user isn't intended to rely on bufferline for doing a normal close operation use whatever mechanism you added as your close command or do it the native vim way or using

[2022-11-16 17:33] akinsho commented on #615
The colorscheme is horizon.nvim and the winbar is a mixture of data from nvim-navic and local customizations I made

[2022-11-16 17:33] #615 closed

[2022-11-16 17:37] akinsho commented on #618
I don't have enough information from this issue to know what to fix, and a link to reddit won't do. I use a session manager myself and this works fine, so I don't believe this plugin is the likely cause. When a session is restored using vim's native session mechanism, the buffers are re-opened and bufferline picks them up. Bufferline does not do *any* special logic for this. As long as the plugin

[2022-11-16 17:37] #618 closed

[2022-11-16 17:39] #619 closed

[2022-11-17 08:29] GnikDroy opened #621 "[Bug]: bd# doesn't update bufferline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`bd#` doesn't update bufferline

### What did you expect to happen?

bufferline to be updated

### Config

[code]

### Additional Information

Open a few buffers. Switch between them. Use `:bd#`

### commit

_No response_

[2022-11-17 10:13] ShiChenCong commented on #618
After reading plugin source code, found the problem was due to my custom_filter.Thank you for your patience

[2022-11-17 22:06] justleoo opened #622 "icon color"
hello!! is possible change the color of the icons? if yes, how?
i mean, color this icon with any color:
![image](https://user-images.githubusercontent.com/80543539/202570035-bba3834b-3cac-4d73-a217-f23ba6945735.png)

[2022-11-18 17:39] PiyushDuggal-source opened #623 "[Feature Request]: Separate buffers in different tabs"
### What?

If we create new [tab](https://vim.fandom.com/wiki/Using_tab_pages) in Vim(nvim), we would like to see only those files in the bufferline which are in that Tab, and if we switch between tabs then only those files should be visible in the bufferline which are specific for that particular tab.

### Why?

Now if we open new [tab](https://vim.fandom.com/wiki/Using_tab_pages) in Vim(nvim) th

[2022-11-18 19:05] akinsho commented on #623
@PiyushDuggal-source has been requested many times and I have answered this issue before. Please have a look at the readme where I point users towards a plugin called scope.nvim which does what you are requesting. If this is functionality you want please use that plugin and if you still have other ideas, please read the previous issues.

[2022-11-18 19:05] #623 closed

[2022-11-20 05:21] you-n-g opened #624 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I clicked the close button in the buffer line, but the error raises.
"E117: Unknown function: v:lua.___bufferline_private.handle_close"

<img width="561" alt="image" src="https://user-images.githubusercontent.com/465606/202886834-cfc5a250-f79b-41c0-b797-4767f8adc4b1.png">

### What did you expe

[2022-11-21 17:45] DanielArthurUK commented on #397
Anyone else that comes across this issue, you can disable the tabline on lightline by adding this lightline config:

source: https://github.com/itchyny/lightline.vim/issues/292#issuecomment-367649293

[2022-11-22 05:14] ratheesh commented on #617
@nullchilly, I believe it is already there

![image](https://user-images.githubusercontent.com/70958/203227389-e482bf2d-523f-4876-8c1d-e7cd77b5214c.png)

PS: you can ignore other field such fg and bg.

[2022-11-22 10:34] ratheesh commented on #617
@nullchilly, In my configuration, I am setting underline attribute only in `indicator_selected`. It works fine for me as shown in the previous screenshot.
Here is my bufferline config file.
https://github.com/ratheesh/dot-nvim/blob/main/nvim/nvim/lua/plugins/bufferline.lua

I hope this helps.

[2022-11-22 11:16] you-n-g commented on #624
Fixed after upgrading neovim to `v0.8.1`

[2022-11-22 11:21] lcfd opened #625 "[Bug]: BufferLineCycleNext when current buffer is unsaved"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

If the current buffer is unsaved I can't change the buffer using BufferLineCycleNext until I save the buffer.

[code]

### What did you expect to happen?

I expect that I can change the buffer without saving the current buffer.

### Config

[code]

### Additional Information

...

### commit

_

[2022-11-24 04:35] xuyastc opened #626 "hover and underline does't work"
### What?

Hi，Please help me, hover and underline does't work
<img width="401" alt="image" src="https://user-images.githubusercontent.com/37319368/203695083-198c9483-1a1f-49a6-b999-3f2a68d6b46f.png">

### Why?

_No response_

[2022-11-26 10:26] #626 closed

[2022-11-26 10:27] akinsho commented on #625
This is not an issue with this plugin. This is likely because you have not set hidden in your config. All this plugin does is called the underlying native mechanisms out of finding the correct buffer

[2022-11-26 10:28] #625 closed

[2022-11-28 03:34] trankchung commented on #608
Do you have `vim.o.termguicolors = true` in your config? It works fine for me.

[2022-11-28 16:10] trankchung opened #627 "[Bug]: Highlight groups BufferLineBuffer* doesn't change buffer icon's background"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Setting the BufferLineBuffer, BufferLineBufferSelected, and BufferLineBufferVisible highlight groups `bg` to `#19212e` doesn't change the inactive buffer's icon background. Please see attached screenshot.

Also, I took all the BufferLine* highlight groups and set all their background to same co

[2022-11-28 18:12] akinsho commented on #608
I unfortunately do not have the time to personally debug highlight related issues like this as there are unfortunately way too many of them which usually relate to a user's config and settings. I'm able to see that highlights work and apply for me locally and the tests for highlighting are all passing so I'll close this out as this is likely a user config issue

[2022-11-28 18:12] #608 closed

[2022-11-29 11:52] chomosuke commented on #621
I had this issue too but it went away after I changed to v3.*. Perhaps this is something that's fixed recently?

[2022-11-29 16:56] akinsho commented on #621
I'm unable to reproduce this on the latest version of the plugin. Please ensure that you are using the latest version of this plugin and have updated your neovim to the latest version as well. If you have done both of those things and are still facing this issue, please post a minimal init.lua for how I can reproduce this issue and I'll re-open this.

[2022-11-29 16:56] #621 closed

[2022-11-29 17:22] danielcontro opened #628 "[Bug]: Opening a new buffer with vim.o.showtabline = 0 and bufferline.active = false displays the bufferline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm currently using LunarVim and I wrote the following function to toggle on/off the bufferline with a keymap

[code]

but when I open a new buffer with vim.o.showtabline = 0 and bufferline.active = false the bufferline pops up

### What did you expect to happen?

I'd expect the bufferline to n

[2022-11-29 20:56] GnikDroy commented on #621
OS: Arch Linux 6.0.10, also tested on Windows
Neovim Version: v0.8.1
Bufferline versions attempted: `master`, `v3.1.0`
Terminal Emulator: kitty 0.26.5, Windows terminal
Shell: fish 3.5.1, powershell

The minimal version is literally `require("bufferline").setup({})` I have disabled everything else. `init.lua` is empty other than the following lines. Here is a the full `init.lua`

[code]

`bd#` doe

[2022-11-29 23:20] danielcontro commented on #628
I think that the problem is in the `toggle_bufferline` function in `bufferline.lua` because as can be seen below

[code]

the function forces the change of `vim.o.showtabline`

[2022-11-30 03:11] towry commented on #53
Remember to disable the `transparent` mode in your colorscheme setting.

If you have `transparent` mode on, it will show up like this:

![截屏2022-11-30 10 20 14](https://user-images.githubusercontent.com/8279858/204698628-6a44b253-3460-45a5-9d7d-fd833304b7b1.png)

[2022-11-30 10:27] akinsho commented on #621
@GnikDroy can you please try the latest actual commit in the repo rather than the latest tag

[2022-11-30 12:47] GnikDroy commented on #621
@akinsho I have tested with the most recent commit. The screencast also shows 4ecfa81e at 1:12