[2020-07-12 23:51] carlitux opened #5 "Issues when setup"
Getting this error when calling setup

```terminated by signal SIGSEGV (Address boundary error)```

When shows something like this

![Screenshot from 2020-07-12 19-49-50](https://user-images.githubusercontent.com/40538/87259385-f2fce100-c478-11ea-8fd7-9ffaededdd0b.png)

and updates colorscheme

[code]

[2020-07-13 06:08] Akin909 commented on #5
@carlitux this is probably related to the theme you're using and whether or not it is setting certain highlight groups which the plugin uses to decide what colors to use. What theme are you using? does this happen if you try it with another theme?
Also just to be sure are you using nightly nvim, it won't work without that

[2020-07-13 19:59] carlitux commented on #5
Sorry for the vague context, I am just moving from dein to packer with all Lua code to config. In the process, I started getting the issue.

I use https://github.com/drewtempelmeyer/palenight.vim as a theme.

Maybe if you can guide me to debug the plugin I can have a better understanding of the issue and hopefully a PR.

[2020-07-13 20:57] Akin909 commented on #5
@carlitux I've just tried that theme out locally and it works fine, can you tell me more about your setup. The plugin shouldn't really need any configuration after

 you load it with your package manager. Not sure how `dein` works at all but _after_ the plugin has been loaded you call `setup()`.

I made some changes this morning which might be why I don't see this error. Let me know if you try aga

[2020-07-13 21:44] carlitux commented on #5
Sorry I didn't explain well.

Now I am using https://github.com/wbthomason/packer.nvim

[code]

manually

[code]

in this way I am able to reproduce the bug

[2020-07-13 22:24] Akin909 commented on #5
Ah tbh I'm pretty unfamiliar with how the native packages work or how `packer` works. My guess would be the plugin is getting loaded at the wrong time somehow or before the highlights have been set I'm really not sure just a pure guess. When setup runs it expects the highlights it's using to be set.

In the minimal config you shared are you loading palenight somewhere? there is no packadd for the

[2020-07-13 22:32] carlitux commented on #5
yes, packer.nvim uses native packages.

As this is colorscheme using or not using packadd for palenight no difference.

[2020-07-13 22:38] Akin909 commented on #5
If I get a chance I'll see if I can try and run it with native packages to reproduce or if you get the chance can you see if it works with something like `vim-plug` or `dein`

[2020-07-13 22:39] carlitux commented on #5
@Akin909 already it works with dein

[2020-07-14 07:32] Akin909 commented on #5
Since this relates to another plugin/plugin manager I'm gonna close this let me know if you're still having issues

[2020-07-14 07:32] #5 closed

[2020-08-02 10:16] Shatur95 opened #6 "Attempt to index global 'Buffer' (a nil value)"
Hi!
I tried your plugin, but have an error:

[code]

I just cloned your plugin to `start` folder (plugins that loaded automatically via built-in Neovim package manager), opened Neovim and executed `lua require'bufferline'.setup()`.
If I put `lua require'bufferline'.setup()` to my configuration It does nothing, so I executed it after startup to see the error.

I using latest Neovim nightly.

[2020-08-02 10:36] Akin909 commented on #6
@Shatur95 Thanks for trying it out. I think this issue relates to how `packages` work and how lua is loaded using that. I don't use packages myself so I don't really know how it works. Someone else raised a similar issue and it was due to that. I think maybe all the necessary lua files aren't being loaded onto the runtimepath that way. Can you try it with something like `vim-plug` and see if that

[2020-08-02 10:42] Akin909 commented on #6
Alternatively I just tweaked the way I'm using `require` for `Buffer` in the plugin on the `dev` branch. Can you try the latest `dev` branch and see if that makes a difference

[2020-08-02 12:38] Shatur95 commented on #6
Now I have the following error:

[code]

Hm... It not works for me even with `vim-plug`, I have exactly the same issue.. I tried the following (this plugin installed via `PlugInstall`, previous installation was removed):

[code]

But all other lua plugins works as expected ([nvim-dap](https://github.com/mfussenegger/nvim-dap), [completion-nvim](https://github.com/mfussenegger/nvim-dap), [diagnosti

[2020-08-02 12:51] Shatur95 commented on #6
Hm... I managed to make it work!
After your changes in `dev` branch you need to move all files except `bufferline.lua` to `bufferline/` subfolder. This is how all other lua plugins work.

[2020-08-02 12:55] Shatur95 commented on #6
But there is another problem. To make it work I need to call `lua require'bufferline'.setup()` twice. First, in my `vimrc` and second - manually after startup (via command). If I call it only manually after startup - neovim will look weird and crash after buffer change. If I call it only in configuration - no effect will happen.

[2020-08-02 14:37] Akin909 commented on #6
Thanks for investigating @Shatur95, I've had a look at a few lua plugins `nvim-tree` and `nvim-colorizer` and as you say these all nest the way you describe so I've done the same here. I still need to look into how these files are loaded. I think `vim-plug` is handling lua plugins in a different way than the native packages which loads things differently.

I tried tweaking my setup to use packages

[2020-08-02 14:43] Shatur95 commented on #6
I tested, but I still need to call `packadd! nvim-bufferline.lua` twice (in configuration and manualy):

[![asciicast](https://asciinema.org/a/qBpcmpsKPznW92M2NRsrDS95y.svg)](https://asciinema.org/a/qBpcmpsKPznW92M2NRsrDS95y)

[2020-08-02 14:45] Shatur95 commented on #6
How it looks if I call it only manually once:
[![asciicast](https://asciinema.org/a/2sveX2Ez7bZYRPKkHVFBhwSYm.svg)](https://asciinema.org/a/2sveX2Ez7bZYRPKkHVFBhwSYm)

[2020-08-02 14:47] Shatur95 commented on #6
Yes, it loads all plugins after vimrc. But I can trigger loading manually by `packadd! nvim-bufferline.lua`

[2020-08-02 15:06] Akin909 commented on #6
@Shatur95 in your example is the plugin still in your `start` directory? since I think that's the only difference between what I tested and what you're seeing. I think calling `packadd` is only applicable to plugins in the `opt` directory according to the snippet from the docs. Can you try the opt directory rather than `start`

Looking at the docs

							*pack-add*

	:packadd foodebug
This search

[2020-08-02 15:11] Shatur95 commented on #6
No, in all tests I used `opt` directory...

Maybe you have another neovim version? Could you try the latest master?

[2020-08-02 15:13] Akin909 commented on #6
@Shatur95 I build `nvim` from source. I just pulled master and rebuilt locally just yesterday :thinking:. Can you try to see if this error happens with a minimal vimrc just loading a colorscheme and this plugin. I'll do the same to see if I get the same issues

[2020-08-02 15:16] Shatur95 commented on #6
Just tied the latest mater myself, the issue still exits.

Good idea, I had to do this first.

[2020-08-02 15:21] Shatur95 commented on #6
Wow, it works without plugins. Even on master...
Trying to debug what's happened, maybe someone will find it useful.

[2020-08-02 15:21] Akin909 commented on #6
I just tried this minimal `init.vim` and it works fine
[code]

[2020-08-02 15:44] Shatur95 commented on #6
I debugged and described two problems, both on my side. Sorry :(

First, it not worked on `master` for me because I have custom script called `buffers.lua` in my lua configuration directory and this just caused namespace collision. In `dev` branch you moved this is fixed collision (so, maybe marge this branch? It looks like this is a good practice).

Second, I need to call it twice because of ligh

[2020-08-02 15:47] Akin909 commented on #6
@Shatur95 ah that makes sense that's a pretty good reason to nest the directories to avoid namespace clashes :+1: . I've merged that into master. Re. statusline, I don't use any plugin but I used lightline in the past. I think it tries to set the tabline but you can disable that setting, maybe, I'm not too sure

[2020-08-02 15:52] Shatur95 commented on #6
It looks like there is no such option, it only allows to use external functions for it. I will consider switching to plain statusline without plugins.

Thanks!

[2020-08-02 15:52] #6 closed

[2020-08-05 08:25] glepnir opened #8 "Buffer switch have a delay"
There will be a significant delay when buffer switching when use `leader number`. see gif  `leader 1` is slow.. And reduce the space of buffer number with buffer name. I want my colorscheme support nvim-bufferline. need provide all highlightgroup
![test](https://user-images.githubusercontent.com/41671631/89389584-2fe68b80-d738-11ea-8e33-d197ce249970.gif)

[2020-08-05 09:01] Akin909 commented on #8
@glepnir thanks for trying the plugin out, the leader number bindings just call `buffer <number>`. They aren't slow for me so I suspect calling that command might be slow in your config. Can you try it in the commandline and see if it's slow

Regarding the colour scheme stuff I don't really understand what you mean, but as the README points out some themes won't work

[2020-08-05 09:03] glepnir commented on #8
@Akin909  Thanks, maybe I need try to remove old keybinds of buffer.then retry it. About colorscehme. I want to say How can I config my colorscheme `oceanic_material` suppor tnvim-bufferline

[2020-08-05 09:05] glepnir commented on #8
This plugin seems like https://github.com/ema2159/centaur-tabs.

[2020-08-05 09:24] Akin909 commented on #8
Ah that's exactly right, it is inspired by that plugin I saw a screenshot of an Emacs users setup and also inspired by atom. I didn't know what the plugin was called, I'll add it to the README

[2020-08-05 09:29] Akin909 commented on #8
Regarding the colour scheme I can *maybe* take a look when I have time but there plugin works by darkening the `Normal` highlight group to create the contrast between the tabs and the tabline. If normal is a few other basic groups aren't set then it won't work. I've mentioned which ones in the README

[2020-08-06 10:24] Akin909 commented on #8
@glepnir I've just tried [oceanic material](https://github.com/hardcoreplayers/oceanic-material) on my machine and it seems to work fine by default. Have you overridden some of the colors in your config? can you try with a minimal vimrc loading just the plugin and the colorscheme and see what you get?

I get
![oceanic material bufferline](https://user-images.githubusercontent.com/22454918/89521407

[2020-08-06 10:27] glepnir commented on #8
I am author of oceanic_material. I think i am not override it. i will test it when i have time.

[2020-08-06 14:13] Akin909 commented on #8
I've managed to fix the `<leader>1` mapping it was because I mistakenly created leader mappings from 1-*10* so `<leader>1` was waiting `timeoutlen` before executing making it slower than the others

[2020-08-06 14:15] glepnir commented on #8
@Akin909  Aha thanks for work. I will test it later.

[2020-08-06 15:13] glepnir commented on #8
The min init.vim. cant't see any colors..
[code]
![image](https://user-images.githubusercontent.com/41671631/89548982-5391fa80-d83a-11ea-82fb-b3ba1b827617.png)

[2020-08-06 16:42] Akin909 commented on #8
Just tried this and it seems to work.
[code]
*NOTE:* you need `set termguicolors` for this plugin to work

[2020-08-06 16:49] glepnir commented on #8
Question is I can't get this color
![image](https://user-images.githubusercontent.com/41671631/89559092-c48bdf00-d847-11ea-8112-107a66a6f0d5.png)

[2020-08-06 16:53] Akin909 commented on #8
The color isn't hardcoded into the plugin it comes from the `TabLineSel` highlight group set in the plugin. So it will use whatever has been set there. You can override it if you don't like the color your plugin is using

[2020-08-07 11:02] akinsho commented on #8
@glepnir I'm going to close this out since the leader mapping is fixed and there is a solution re. the highlights or at least they are behaving correctly. Lemme know if there's still some issue.

[2020-08-07 11:02] #8 closed

[2020-09-06 13:33] astier opened #9 "show bufferline only when two or more buffers are open"
Hi. First of all thank you for the great plugin. Out of all bufferline-plugins I finally found one which does a good job. I especially like the mouse support. Would it be possible to show the bufferline only when two or more buffers are open?

[2020-09-06 13:37] astier opened #10 "Close buffer with rightclick"
I think it would be great if it would be possible to close a buffer by clicking on it with the right mouse-button. This would have the following benefits:

- Safe space by removing the close-symbol
- Less visual clutter/noise
- Closing buffer becomes easier because you dont have to click exactly on the small area of the close-symbol

[2020-09-06 14:06] astier commented on #9
So I figured out that bufferline depends in a weird way on the `showtabline` setting. I partially achieved my goal with the following autocmd:

[code]

The first autocmd works. It I open nvim with only one buffer the bufferline is not shown. It I then open a second buffer the bufferline is shown.

The second autocmd does not work for some reason. If I close the second buffer then the bufferline is

[2020-09-06 14:16] astier commented on #9
### Minimal vimrc

[code]

For some reason it doesn't work if I put `set showtabline=1` before `lua require'bufferline'.setup()`

[2020-09-06 21:04] akinsho commented on #9
@astier thanks for trying out the plugin 👍🏿 .
I use the `showtabline` function primarily because it's the only way in vim to specify tabline visibility even though it was originally intended for use with *tabs* rather than buffers so the `showtabline` setting doesn't really apply in the same way. `2` makes it show all the time and `1` makes it show if there are 2 or more `tab pages` rather than bu

[2020-09-06 21:47] akinsho commented on #10
I think using the right mouse to close the buffer would be an interesting addition. I've added that functionality to the dev branch. Give it a try and see if it works for you 👍🏿

[2020-09-07 00:26] astier commented on #9
I find it just weird that I am able to toggle bufferline by setting `showtabline` manually. However, it doesn't work with the bufdelete autocmd. Do you have a clue why? I understand how `showtabline` works and its purpose. If it would work with the bufdelete autocmd the issue would be pretty much fixed.

Or maybe it would be easier to offer a command to toggle the bufferline. Then instead of chang

[2020-09-07 00:44] astier commented on #9
Also I think my proposed solution would be very consistent. Since `showtabline` is by default 1 and will only be set to 2 if a second buffer is added bufferline would show up if:

- 1 buffer open, 2+ tabs open
- 2+ buffers open, 1 tab open
- 2+ buffers open, 2+ tabs open

Since the bufdelete-autocmd would set showtabline back to 1 bufferline would always disappear if:

- 1 buffer open, 1 tab open

[2020-09-07 00:48] astier commented on #10
It works for me! Thank you for the quick response. The only problem I have now is that I can not disable the close-icon. Here is my minimal vimrc:

[code]

It still shows the close-icon besides the buffers.

[2020-09-07 01:13] astier commented on #10
Another issue I encountered is that if I have a file-explorer like chadtree open and I right click to close the currently opened buffer the window also closes and I am left with the file-explorer. I modified my own mappings to close buffers such that the current window is preserved in a split that I completely forgot that this is vims default behavior. How are you dealing with it?

[2020-09-07 06:19] akinsho commented on #10
@astier the example you posted of trying to turn off the icons is using a string rather than a boolean. Try removing the quotes around false.

Regarding closing buffers tbh that's an issue with deleting buffers and vim. You can add a hook to your preferred tree that is it's the only window remaining then execute a buffer delete on the tree window

[2020-09-07 08:48] astier commented on #10
haha true. It still doesnt work however:

[code]

Does it work for you with my minimal vimrc?

I guess this would be the next best solution. Still suboptimal since I often don't want to close the tree when I delete a buffer. In that case I will than just use the keyboard to close buffers instead of the mouse. The mouse is still great if no tree is open.

Another solution would be if bufferline wou

[2020-09-07 09:12] astier commented on #10
Another solution is just to focus another buffer before closing the old one.

[2020-09-07 17:58] akinsho commented on #10
@astier there is a typo in the option in your config it should be `show_buffer_close_icons` you are missing an `s` on the end should be `icons` just tested it with that fixed and it works.

Regarding adding a custom function I'd rather not. At least not at the moment I haven't really got the time. I think this is more an issue with how `bd` works generally in vim and I could add something around t

[2020-09-07 18:18] akinsho commented on #9
@astier the issue with the autocommands you posted is that `BufDelete` is called *before* the buffer is actually deleted. so the buffer list number will still be greater than 1. A way that I managed to get it to work is by tweaking you autocommand a little
[code]
[lightline bufferline uses a similar solution](https://github.com/mengelbrecht/lightline-bufferline/blob/6417dd8c864ccd6fb2b79882d30ca02

[2020-09-07 19:50] astier commented on #9
Thank you. It works. Bufferline is perfect now haha. You can close this issue if you want.

[2020-09-07 19:52] #9 closed

[2020-09-07 20:25] astier commented on #10
Stupid mistake. Thank you for your help. Works now.

No problem. Its not a dealbreaker.

Yes it does happen by just using `bd`. I have the following mapping to prevent closing the window when deleting a buffer:

[code]

[2020-09-07 20:25] #10 closed

[2020-09-07 21:47] astier opened #11 "Changing background of unselected buffer doesn't work"
In the following minimal vimrc I am trying to change every background to red. It works for some backgrounds like for the selected buffer and the tabs but not for the unselected buffers:

[code]

[2020-09-09 10:29] akinsho commented on #11
@astier sorry won't have time to look at this for a couple of days. Tbh I added the configuration options as an after thought and so haven't really ensured that they all work. I could be that the name in the code is different than in the README. It might be a good idea to look in `bufferline.lua` to see if the name matches.

Long term I'm not really sure how much customisation of colours I'm going

[2020-09-09 13:13] astier commented on #11
Ok no problem. Its not that important. I will take at the `bufferline.lua` ;)

[2020-10-05 07:10] tami5 opened #13 "Feature Request: Additional Mappings to move between buffer"
Hey @akinsho , thanks a lot for this awesome plugin, I've got the chance to try it while building my neovim configuration from scratch with lua. I like how responsive and well made it is.

If it possible and absolutely easy to accomplish
- Additional mappings to switch between buffers like bn and bp within the current tab only.
- Show only buff tabs for current buffer only.

The reason that this m

[2020-10-05 17:29] akinsho commented on #13
@tami5 thanks for the kind words 👍🏿

I actually thought about this a lot when I first implemented this plugin. I had a look at some prior art like [wintabs](https://github.com/zefei/vim-wintabs) and reading around more generally. My conclusion from what I saw is that given that vim does not support this natively. It would require basically implementing a whole layer on top of vim for interacting w

[2020-10-05 18:39] tami5 commented on #13
Oh thats unfortunate that neovim doesn't  support such a thing, I appreciate explaining  why this would be very complicated to implement and is originally was explicitly defined as some thing out-of-scope for nvim-bufferline.lua.

Thank you

[2020-10-05 18:39] #13 closed

[2020-10-08 04:35] kkharji opened #14 "Show only buffer in current tab?"
Hay @akinsho, hope your doing great. I wonder if it is possible somehow to hide buffer from other tabs and making the buffer line showing only a tab buffer?

Thanks

[2020-10-08 08:15] akinsho commented on #14
@tami5 this is pretty similar to #13 but is more doable since you could use
[code]
It won't get round the issue that all buffer navigation wouldn't respect this separation of buffers into those specifically for a tab page, but might be a nice feature.

Tbh I probably won't get to it anytime soon as I'm pretty busy with work atm but if someone else wants to implement it I'd accept a PR. Otherwise I

[2020-10-08 08:19] tami5 commented on #14
Nice, thanks for your feedback, I can create a PR, just tell me what function in which file do I need to diginto.

Thanks

[2020-10-08 10:03] akinsho commented on #14
I'll sketch out how it would be best to implement this later on today after I'm done working 👍🏿

[2020-10-16 07:24] akinsho commented on #14
@tami5 do you still want to implement this I saw that you were using `workspace.vim` and it solves this problem for you?

[2020-10-16 09:45] tami5 commented on #14
Hi @akinsho , Yes, workspace.vim provides last piece missing in my setup and it did solve my problem to a great extent. I will close the issue for now until later when I want to further learn and interact with vim via lua. But nonetheless this feature is key aspect and believe it would be better to include it down the line.

Still waiting for your sketch for digging next time a reopen this🤞🏻

Than

[2020-10-23 07:46] glepnir opened #16 "Ignore terminal buffer in bufferline"
I make a floatwindow to show some command in terminal. It always show in bufferline when I close this floatwindow.

[2020-10-23 08:07] akinsho commented on #16
@glepnir I don't want this plugin to special case buffer handling. The best way to handle not wanting a buffer to show up I think is to `setlocal nobuflisted`. Bufferline will omit any unlisted buffers. I think this is better because sometimes e.g. floating windows I want to be hidden but also sometimes I'm running tests in a terminal and I want to be able to see the buffer in my bufferline

[2020-10-23 08:16] glepnir commented on #16
No..like this gif.  I create a floatwindow to show lazygit. then I close it. It still in bufferline.
![after](https://user-images.githubusercontent.com/41671631/96973632-be55f680-154a-11eb-808d-4bd2e11df6a7.gif)

This is strange behavior. Sometimes I call the terminal just to execute the command, and I don’t want to see it again.
Maybe provide an option for the user to control whether to display t

[2020-10-23 09:29] akinsho commented on #16
@glepnir what happens if you run `:ls` in that situation. I've never seen this behaviour before and I think it points to an issue with the state of the buffer maybe. Rather than adding another option I  think it would be good to investigate why that buffer is appearing in your bufferline at all. Is it from a plugin? I uses `fzf` in a float, `lazygit.nvim` in a float etc. and none of these show up

[2020-10-23 09:32] akinsho commented on #16
Alternatively you can go into the command line when that buffer is open and run `:echo &buflisted` to see if its `1` or `0`

[2020-10-23 09:43] glepnir commented on #16
I don't use any plugin. it's my personal  window api written in lua. the result is 1.

[2020-10-23 09:46] #16 closed

[2020-10-30 18:13] akinsho opened #23 "Buffer cycling is broken with directory sort enabled"
Currently if you set `sort = 'directory'` selecting `CycleNext` or the reverse direction selects the wrong buffer 😔

[2020-10-31 12:37] akinsho commented on #23
False alarm this relates more to #20 given the unpredictable nature of the buffers shifting it *looked* like it wasn't cycling correctly but it is

[2020-10-31 12:37] #23 closed

[2020-11-01 06:45] glepnir opened #24 "FeatureRequesst: Buffer picking mode"
check barbar.nvim it has buffer pick mode the behavior like easymotion , can jump to buffer by letters. code in here.
https://github.com/romgrk/barbar.nvim/blob/master/plugin/bufferline.vim#L478

preview in here https://github.com/romgrk/barbar.nvim#jump-to-buffer

[2020-11-01 07:19] akinsho commented on #24
@glepnir please have a look at the README I have already, implemented this. It's not exactly the same so if there are any improvements you would like please consider a PR

[2020-11-01 07:21] glepnir commented on #24
@akinsho  Oh. I missed it..you are right.

[2020-11-01 07:21] #24 closed

[2020-11-03 22:45] s1n7ax opened #25 "Error executing lua [string ":lua" ]:1: module 'bufferline' not found"
**Error:**
`Error executing lua [string ":lua" ]:1: module 'bufferline' not found`

**Solution:**
I'm using [vim-plug](https://github.com/junegunn/vim-plug) to install bufferline. previously I had the setup call within `plug#begin` and `plug#end` blocks. call `lua require'bufferline'.setup()` after `plug#end` fixed the issue

[code]

[2020-11-03 22:46] #25 closed

[2020-11-03 22:46] s1n7ax commented on #25
Just wanted to post a solution

[2020-11-05 18:13] tami5 opened #26 "How to skip some buffers from getting listed?"
Hi @akinsho, hope you're doing well. I'm starting to use vim-dispatch to connect to servers, but I noticed that when I do so a new buffer get listed.

Is there a way to skip those buffer from getting listed? thanks

[2020-11-05 19:10] akinsho commented on #26
@tami5 I think the best way to do this is by setting those buffers to be `nobuflisted` e.g.
if you know what the filetype is or buffer name you can do
`autocmd FileType <thing> setlocal nobuflisted` or `autocmd BufEnter *.myfile setlocal nobuflisted` which means they won't be listed and so won't show up in the bufferline.

[2020-11-05 19:36] tami5 commented on #26
Amazing, thanks so much @akinsho .

[2020-11-05 19:36] #26 closed

[2020-12-06 20:58] gaetan-puleo opened #34 "when instaling bufferline with plug I cannot open checkhealth"
I have installed bufferline and when I try to do a `:checkhealth`, neovim is stuck for ever.

If I remove bufferline `:checkhealth` is working

I have NVIM 0.5.0-dev

[2020-12-06 21:57] akinsho commented on #34
@gaetan-puleo thanks for trying out the plugin. That sounds like a *very* strange but, nothing this plugin does should affect `:checkhealth` in any way. I've just run it locally on a nightly build and it runs without any issue. Can you share a minimal `init.vim` that reproduces this issue

[2020-12-06 22:36] gaetan-puleo commented on #34
@akinsho here a minimal `init.vim`
I agree this is so strange!
[code]

[2020-12-06 22:40] gaetan-puleo commented on #34
Now nvim is stuck I cannot write any command and I cannot change the mode or write anything
![Uploading Screenshot from 2020-12-06 23-34-15.png…]()
I am on Ubuntu 20.04, my terminal is kitty and I use zsh if it can help

Sorry for my poor English

[2020-12-06 22:42] akinsho commented on #34
@gaetan-puleo just tried it and `checkhealth` still works for me although there are quite a few things wrong with the config. Firstly the object inside the setup should be
[code]

[2020-12-06 22:52] gaetan-puleo commented on #34
I just updated the `init.vim` to

[code]
`checkhealth` is working now

[2020-12-06 22:53] gaetan-puleo commented on #34
I can close the issue now. thanks again

[2020-12-06 22:53] #34 closed

[2020-12-09 16:35] loshjawrence opened #35 "Is there a way to hide certain buffers"
Great plugin. Is there a way to hide certain buffers. Specifically I want to not have my terminal buffer in the buffer line.
![image](https://user-images.githubusercontent.com/13598291/101657985-8891a200-3a12-11eb-9675-af2c8702cd8c.png)

[2020-12-09 16:37] loshjawrence commented on #35
oops, closed issues already cover this.

[2020-12-09 16:37] #35 closed

[2020-12-13 20:23] paradoxsupreme opened #36 "E5113: Error while calling lua chunk loop or previous error loading module 'bufferline'"
I get the following error when I try to add a lua file that contains the following `require'bufferline'.setup()` in order to load this plugin.
E5113: Error while calling lua chunk: /home/paradox_supreme/.config/nvim/lua/bufferline.lua:1: loop or previous error
loading module 'bufferline'

[2020-12-13 20:29] akinsho commented on #36
@paradoxsupreme thanks for trying out the plugin. I think this error is likely coming from neovim nightly sense there was a changed merged recently which affected how `require` works.

I've been seeing similar errors with the `lsp` there isn't really any logic or recent change that would have brought this on so that'd be my bet. Running the plugin myself I don't see this specific error. That being

[2020-12-14 01:43] paradoxsupreme commented on #36
Hmm Ok I will try to see if I can find where the error is coming from then. I'll close this for now then and if the problem continues I will post an init.vim. Thanks!

[2020-12-14 01:43] #36 closed

[2020-12-27 00:49] sheriferson opened #37 ""[nvim-bufferline] is not a valid highlight group""
(sorry, published the issue too early with a blank description)

I tried to modify the color of the tab bar at the top using the instructions in the README with small modification. Here's my entire nvim-bufferline section from `init.nvim`

[code]

The configuration works, the colors do change, but I get a "<blank> is not a valid highlight group" error on startup.

<img width="663" alt="Screen Shot

[2020-12-27 01:26] akinsho commented on #37
@sheriferson I don't think your config is correct, I think the lua code should be in a `heredoc` i.e. ```vim
lua << EOF
require'bufferline'setup {
 -- code goes here
}
[code]

[2020-12-27 01:43] sheriferson commented on #37
Thanks for the tip, I tried modifying it to this (removed `options` to make things simpler):

[code]

still getting the same warning.

[2020-12-27 10:00] akinsho commented on #37
@sheriferson you're right there was a bug in the code, thanks for trying again. I've pushed a fix now which should have resolved the issue. Lemme know if that works for you now

[2020-12-27 11:12] sheriferson commented on #37
@akinsho 👌🏽 Perfect, no more warning. Thanks for the quick bug fix.

[2020-12-27 11:12] #37 closed

[2021-01-07 10:41] cooper-anderson commented on #11
Highly doubt this is still an ongoing problem, but it looks like ever since commit https://github.com/akinsho/nvim-bufferline.lua/commit/8a66060e7dad55abd9de0d5488062fd809b0f3d9 setting the highlights no longer requires the `bufferline_` prefix. 👍

[2021-01-07 16:06] akinsho commented on #11
Yep this issue isn't relevant anymore I thanks for mentioning. I'll close this out and if something similar recurs we can open a new issue 👍🏿

[2021-01-07 16:06] #11 closed

[2021-01-09 20:45] carlitux commented on #34
I am having this issue with all setup

[2021-01-09 20:56] akinsho commented on #34
@carlitux I'm not sure I understand what issue you are facing? Can you describe what exactly you're seeing and how I can reproduce it to test. The issue mentioned here was about the wrong configuration.

[2021-01-09 21:20] carlitux commented on #34
I had this setup and do not work

[code]

If I current buffer is an empty one neovim freezes

![Screenshot from 2021-01-09 17-17-12](https://user-images.githubusercontent.com/40538/104108890-df52fb80-529e-11eb-9647-61d4b548b880.png)

But if is into buffer loaded from file works

![Screenshot from 2021-01-09 17-19-00](https://user-images.githubusercontent.com/40538/104108902-f09c0800-529e-11eb-9f85

[2021-01-09 21:47] akinsho commented on #34
I haven't really added any changes in a few weeks, is this a new problem? If you remove just this plugin is this issue resolved?

[2021-01-09 22:07] carlitux commented on #34
I just noticed, I had the issues many times with Greeper but today also get noticed that with healthcheck has the same issue.

I had to search for the plugin that has the issue.

[2021-01-09 23:56] akinsho commented on #34
@carlitux I use those plugin all the time with empty buffers and it doesn't freeze nvim for me. I'll test it with your config and see what happens. Also does it relate to checkhealth?

[2021-01-10 01:06] hungrybirder commented on #34
I got the same problem.

[2021-01-10 02:30] carlitux commented on #34
I think it is related when a plugin creates a new window/tab that requires bufferline refresh the UI... just assuming I don't know how to test

[2021-01-10 07:26] cooper-anderson commented on #34
I have been running to this same problem of `:checkhealth` stalling nvim forever. It has also happened in a few other cases as well, such as loading Telescope. But I have not been able to narrow it down to being a nvim-bufferline problem.

[2021-01-11 16:50] akinsho commented on #34
@carlitux I've just tested out your config using `:checkhealth` and I can't reproduce this error. I need more specific information and how to reproduce it to dig in, and as was the case in the original issue here I don't really know why or how this plugin would block `:checkhealth`

[2021-01-15 23:21] alex-popov-tech opened #40 "plugin makes vim freeze with 100% load cpu"
Hey!
First things first - thanks for the plugin, its super cool 👍

Now the issue:

Pre-conditions:
- install bufferline & vim-fugitive

Steps:
- in git repo go to file X, make some changes, save buffer
- call :G to view git status ( file X should be there )
- place cursor on file X line and type `dv` to show diffs for a file

ER: diffs should be viewed
AR: nvim freezes

[2021-01-16 10:39] akinsho commented on #40
Thanks for the kind words @alex-popov-tech and the steps to reproduce.

I'll try them out and see if I can trigger this bug and investigate from there.

[2021-01-16 13:17] alex-popov-tech commented on #40
hey, thanks @akinsho !
I will disable it in my config for now, cause its really painful to reload nvim each time, and will be waiting for you.

Btw, it does not reproduce, if I have some file with changes, and run `dv` on it BEFORE opening ( so at the time of opening diff buffers it is not present in tabline )

[2021-01-16 13:23] akinsho commented on #40
Tbh I use fugitive a lot and have never had that but I don't use the `dv` command so I've never tried it or seen it but will see. I won't get any time till tomorrow evening.

It definitely doesn't reproduce if you remove this plugin?

[2021-01-16 13:35] akinsho commented on #40
Can you also post the config you use with this plugin

[2021-01-16 13:38] alex-popov-tech commented on #40
i've created video with that issue https://www.dropbox.com/s/ch8iynljdzgopv3/screencast%202021-01-16%2015-29-18.mp4?dl=0
and here is the config place https://github.com/alex-popov-tech/.dotfiles/blob/master/home/.config/nvim/lua/plugins/init.lua#L73

[2021-01-16 14:52] akinsho commented on #40
Thanks @alex-popov-tech that's really helpful, will dig in tomorrow. @carlitux this maybe is the same issue you mentioned in #34. Hopefully with this repro I can fix it now.

[2021-01-17 18:12] akinsho commented on #40
@alex-popov-tech I've just tested this out locally and couldn't reproduce it. I figure there is something in your config or system somewhere that you might have, that is triggering this or maybe an iteration with another plugin.

I tried this with a super minimal config and it doesn't reproduce as well. I had only `vim-fugitive` and `bufferline` installed (as well my theme not necessary though) an

[2021-01-17 20:08] alex-popov-tech commented on #40
hey @akinsho . thanks for trying !
sure think, will try it myself also!

[2021-01-17 20:15] alex-popov-tech commented on #40
i think i've found it with just fugitive and bufferline, will record a video and steps now

[2021-01-17 20:22] alex-popov-tech commented on #40
here it is, i've added some comments right inside https://www.dropbox.com/s/2ipc2jga37150tk/screencast%202021-01-17%2022-16-53.mp4?dl=0

[2021-01-17 21:51] akinsho commented on #40
Thanks for digging in @alex-popov-tech, in the example from the video it looks like you have other settings still enabled, I wondering if it may be a specific vim config that is causing this. Can you try with something like

[code]

be careful of `packer`'s `packer_compiled.vim` you might need to remove it for this.

a few thoughts so far:
* I'm not sure why your are seeing a no name buffer being

[2021-01-17 22:55] alex-popov-tech commented on #40
i tried your file, but `vim-fugitive` commands are not available oO
I'm not familiar with vim's native package system, do you know why it could happen?

[2021-01-17 23:11] akinsho commented on #40
Hmm it could be that things in the `autoload` and `plugin` dir aren't being loaded are you using any flags like `--noplugin`? You can also just use packer in that file and add the 2 plugins using that

[2021-01-17 23:28] alex-popov-tech commented on #40
sorry, that was packer-compiled thing
yes, i can't reproduce the issue now also...
mab it be some other plugin mess with bufferline?
not sure what to do next, maybe manually `packadd` one-by-one and retry issue?

[2021-01-17 23:33] pianocomposer321 commented on #40
I have a similar problem. Opening a new tab (with tabnew) causes vim to freeze.

Minimal init.lua:

[code]

[2021-01-17 23:52] akinsho commented on #40
@alex-popov-tech I'd suggest add *only all your plugins* to that file, restart and see if the bug comes back, if it does then comment out half and restart and see if it's still there if it isn't comment the tested half and uncomment the untested. You can steadily narrow it down to the specific plugin that way

If there is no bug with all your plugins installed then it must be a vim setting, in whi

[2021-01-17 23:53] akinsho commented on #40
@pianocomposer321 what specific set of steps trigger this issue:
1. start `nvim`
2. `:tabnew`
3. freezes nvim?

[2021-01-18 02:24] pianocomposer321 commented on #40
@akinsho this info may be of use to you:

FIrst of all, in case you haven't figured it out already, I omitted one step from my comment above, which is calling `require("bufferline").setup()`. I was rushing b/c I had somewhere I needed to be. I will edit my comment.

Second, I noticed that neovim only freezes when you haven't opened a file yet. So if you do `nvim file.txt` or `nvim`, `:e file.txt`,

[2021-01-18 02:28] pianocomposer321 commented on #40
Update:
It's not just when starting neovim when there's no buffer loaded at all. It seems to happen any time you run `:tabnew` when a `[No Name]` buffer is loaded.

[2021-01-18 14:02] akinsho commented on #40
Ok I believe I've found a fix for the issue and just pushed a fix. Can you have a go @pianocomposer321, @alex-popov-tech and @carlitux. The issue was that I added functionality to deduplicate buffer names but `[No name]` buffers can't be deduplicated so the loop just hangs indefinitely. I'll have a look at that logic in more detail to see if I can refactor it but the fix should work for now 🤞🏿

[2021-01-18 14:06] alex-popov-tech commented on #40
seems to be working better now, thanks a lot @akinsho !
so happy to continue using your plugin with no freezes ❤️

[2021-01-18 15:01] pianocomposer321 commented on #40
@akinsho thank you sooo much! I get to uninstall barbar now!

TBH, this plugin feels like barbar redone and made 10x better and more customizable. Plus, with barbar, it would take an additional ~0.5 seconds to load the _tabbar_ after neovim itself loads...that's just unreasonable if you ask me. With this plugin it loads instantly! I also love how this plugin manages tab pages compared to barbar.

[2021-01-18 15:10] alex-popov-tech commented on #40
@pianocomposer321 agree, much better, simpler, and faster than barbar!

[2021-01-18 15:24] akinsho commented on #40
Thanks 😄 that's really nice to hear 🚀

[2021-01-18 18:27] pianocomposer321 commented on #40
So @alex-popov-tech @akinsho can this issue be closed now?

[2021-01-18 18:33] akinsho commented on #40
👍🏾 I'll close this out now thought I'd give @carlitux a chance to try this out, but we can open another issue if it regresses or didn't fix the specific issue he raised

[2021-01-18 18:33] #40 closed

[2021-01-18 18:38] carlitux commented on #40
I think it is solved I noticed the issue was when `[no name]` buffers I will hire a message if the issue continues. Thank you!

[2021-01-22 23:42] medwatt opened #43 "Highlight names from theme do not seem to be getting used"
I am trying to do some tweaks to get the highlighting right and I don't want to hard code the colour values. Instead I want to derive the colours from the theme that I am using. For example, these are some highlight groups in my theme file:

[code]

In the config file for the plugin, I set the colours as such:

[code]
This doesn't seem to have any effect. The only way at the moment to get the colo

[2021-01-23 09:23] akinsho commented on #43
@medwatt thanks for trying out the plugin.

From what you describe I'm definitely missing something in your example where do you create the `cursor_bg` variables in lua.

If you want to use some colour from your colorscheme you have to get there value as a lua variable and use it in the table.

[code]

Can you paste a snippet of how you actually have this configured?

[2021-01-24 09:35] medwatt commented on #43
Thanks for the reply. Here is a snippet of my config for this plugin in my `init.vim`.

[code]

As you can see, I had to hard-code some of the colour values. Instead, I would prefer to use them from my colorscheme directly.

I looked into your code and found that you're calling colors like this:

[code]

I added this code to my script and the colour indeed changed. You have a function called `get_

[2021-01-24 10:24] akinsho commented on #43
@medwatt that's good you found a solution 👍🏾.
 `get_hex` isn't exposed publicly so you can't use it in your dotfiles. Its only 2 lines to recreate so I don't think it needs to be exposed, also when nvim's API changes I'm likely to change the function so I'd rather not have users depending on internal functions like that one.

Re. Statusline plugins I don't use any plugins for it, I've heard about

[2021-01-24 11:18] LimbicSys opened #44 "The file's icon only shows left half in Windows Terminal"
![屏幕截图 2021-01-23 142118](https://user-images.githubusercontent.com/30319215/105628277-000e7a00-5e77-11eb-8dfa-2c145d92a343.png)
vs code's terminal
![屏幕截图 2021-01-23 142142](https://user-images.githubusercontent.com/30319215/105628278-00a71080-5e77-11eb-8e6d-e88080297dd1.png)
Windows Terminal

I try to change the code to move the white space right before the filename to the position right after th

[2021-01-24 12:38] #43 closed

[2021-01-25 19:39] akinsho commented on #44
Hi @LimbicSys, tbh I'm not sure entirely what to do here since this works on both linux and macos, or rather I haven't gotten any issues and I run it in both. I think the issue is more related to how specific terminal emulators handle drawing certain characters as your example show it works in vscode's terminal but not in the windows one.

If you got a PR working for you can you raise it for me to

[2021-01-26 01:43] cooper-anderson commented on #44
Yeah, this is an issue with Windows Terminal itself. I'm pretty sure it is because it draws the characters strictly from left to right, but do not quote me on that. There might be some hacky workarounds like using the non-breaking space character `0x00A0`, but I'm not sure that would be applicable here. I was able to use a hack like that when mixing double-width characters and winblend.

[2021-01-26 13:42] #44 closed

[2021-01-30 10:39] Shatur95 opened #46 "Unable to configure highlighting"
Hi! I am trying to change the highlight settings and when copying any parameter and the documentation, I get the error:

[code]

[code]

Am I doing something wrong? I have it installed in `opt` dir and my configuration in lua.

[2021-01-30 11:47] akinsho commented on #46
@Shatur95 the colour variables in your example where are they defined? Have you extracted those colours somewhere. The examples in the docs aren't globals you need to get the colours your want to use yourself

[2021-01-30 13:09] akinsho commented on #46
See #43 for reference since this appears to be the same issue. I will update the docs to make this clearer for people

[2021-01-30 16:24] Shatur95 commented on #46
Got it, thank you!

[2021-01-30 16:24] #46 closed

[2021-01-30 16:31] Shatur95 commented on #46
@akinsho, one question. I noticed that you have colored icons in your screenshot. In my case, all icons are in grayscale. How can I make the icons color like in the screenshot.

[2021-01-30 17:18] akinsho commented on #46
@Shatur95 do you have nvim webdev icons installed? That's where the highlights come from?

[2021-01-30 17:20] Shatur95 commented on #46
@akinsho, Yes, I have `nvim-web-devicons` that loaded before `nvim-bufferline.lua`.

[2021-01-30 17:26] akinsho commented on #46
@Shatur95 this might depend on your setup, having devicons should be enough. If you try with a minimal init.vim or init.lua i.e no other config no autocommands etc does it work? I get icon colours without issue

[2021-01-30 17:56] Shatur95 commented on #46
Thanks. I thought I was missing some option.
The problem was in used colorscheme.

[2021-01-31 10:31] AnthonyK213 opened #47 "Special characters in file name are not escaped properly."
When the file name contains special characters, the buffer line will not present the proper name. Such as `a%.txt` is shown as `aa%.txtxt`. This issue is quite subtle and rare(only when special characters exist), but I would be grateful if it got fixed.

[2021-01-31 18:18] #47 closed

[2021-02-02 23:03] Shatur95 commented on #46
@akinsho, hmm, I was wrong, in Telescope the icons are colored if nvim-bufferline.lua is not loaded. What icon theme are you using?

[2021-02-02 23:13] akinsho commented on #46
@Shatur95 there isn't a theme for the icons, `nvim-web-devicons` returns a highlight for each icon which we simply apply in the bufferline, so it isn't related to my colorscheme at all. Have you tried with a minimal init.vim/lua i.e. no other config or settings except loading this plugin?

something like `nvim -u <file-beneath>`
[code]

you can also check the value of `verbose highlight Bufferline

[2021-02-03 00:01] Shatur95 commented on #46
@akinsho, yes, I know. I mean what colorscheme do you use?

Yes, that's exactly what I tried. I will try to explain in more detail. If I disable the plugin with a colorscheme, then the icons have a color. If I disable `nvim-bufferline.lua`, and enable theme back - icons have colors too.

[2021-02-03 00:03] Shatur95 commented on #46
Also if I load `nvim-web-devicons` after `nvim-bufferline.lua`, then bufferline will have no icons at all (expected result), but all other plugins (that loaded after `nvim-web-devicons`) will have **colored** icons.

[2021-02-03 00:05] Shatur95 commented on #46
`verbose highlight BufferlineDevIcon{Ft}`

Hm... It says that not such group...

[2021-02-03 10:23] akinsho commented on #46
@Shatur95 sorry I don't think I follow what isn't working anymore

Do you mean that other plugins that use `nvim-web-devicons` aren't showing highlights *because* of bufferline?
I use `rakr/vim-one` as my colorscheme but I'm not sure that that is related tbh

So the specifics of what this plugin does is that for each filetype it *copies* the `fg` highlight of the icon and then creates a *new* buff

[2021-02-03 10:34] Shatur95 commented on #46
Yes, if I disable `nvim-bufferline.lua` - the icons works.

You are right. I tried it, but the same issue with the same colorscheme too.

[2021-02-03 10:43] Shatur95 commented on #46
This line causes the issue:

https://github.com/akinsho/nvim-bufferline.lua/blob/c5b0800bfeb16d916b12602a4d8aee6d9e06d712/lua/bufferline/buffers.lua#L1

If I comment it out (with other related to icons stuff in this file) - I have icons at least in other plugins.
If I left these lines uncommented and comment out only other icons-related stuff in this file - the icons still have no colors. So, I su

[2021-02-03 11:21] akinsho commented on #46
@Shatur95 that's pretty strange, I don't see the same issue and I use `Telescope` as well what plugins specifically aren't working? I think somewhere else something is going wrong since if you look at the implementation of [`setup`](https://github.com/kyazdani42/nvim-web-devicons/blob/aaffb87b5a640d15a566d9af9e74baafcf9ec016/lua/nvim-web-devicons.lua#L839) at worst calling that function again just

[2021-02-03 11:38] Shatur95 commented on #46
Of course, we shouldn't do this. But the information provided will help us to figure out what the problem is :)

Telescope, it also displays icons without color for me (and have colors without that check).

I tried this, but the result hasn't changed :(

[2021-02-03 12:39] akinsho commented on #46
@Shatur95 maybe try reordering when telescope is loaded. If it's before buffer line then try after and vice versa. I'll try and reproduce it when I get a chance

[2021-02-03 16:09] Shatur95 commented on #46
@akinsho, yes, I tried it but it doesn't help. I am not using a package manager, this may be the problem. [Here](https://github.com/Shatur95/neovim-config) is my configuration.

[2021-02-03 16:40] akinsho commented on #46
Hmm tbh I'm not an expert in the direct usage of vim packages, there's a lot of confusing stuff about ordering etc. which I've seen crop up before. OOI can you try a minimal version using something like `vim-plug`, reason being I'm wondering if the order and timings of the `packadd` commands is a factor. Also beforehand can you also try using `packadd!` with a `!` to load bufferline and telescope.

[2021-02-03 19:18] Shatur95 commented on #46
Hm... I think I found the issue. It looks like manual initialization of `nvim-web-devicons` is redunant. Could you check me PR?

Thanks, I just forgot about the `!` after switching to lua. This must be used in my configuration, but I checked - it does not affect the problem.

[2021-02-09 02:56] Luxed opened #50 "Bug: Icon highlight always has darker background"
Here's an example:
![image](https://user-images.githubusercontent.com/10234894/107307851-84572480-6a55-11eb-8cc0-aefedbdac378.png)

EDIT: so this might be because of [my theme](https://github.com/Luxed/ayu-vim)

[2021-02-09 03:54] Luxed commented on #50
I'm sorry for this. It was 100% my fault. My config was in the wrong order, so the background would be taken from the "dark" style instead of the "mirage" style.
Which brings me to another issue, if I change colorscheme, everything updates _but_ the background of the icon. Here's an example of simply changing the background from dark to light:
![image](https://user-images.githubusercontent.com/102

[2021-02-09 09:00] akinsho commented on #50
@Luxed, the icon highlight issue has been a known bug for a little while I wasn't able to find a solution for it. Although I just pushed a fix this morning, the colors should now update when you change theme

[2021-02-09 13:53] Luxed commented on #50
Well, thanks to your fix, the issue is resolved for me. Thank you very much!

[2021-02-09 13:53] #50 closed

[2021-03-01 04:16] siduck76 opened #53 "tab height and tab styling"
how do I increase tab height? also changing tab styling to this :
![image](https://user-images.githubusercontent.com/59060246/109451160-ce3e9380-7a72-11eb-9f1f-7c017feb47a0.png) didnt find anything about tab styling in the example configs

[2021-03-01 09:20] akinsho commented on #53
@siduck76 you can't actually change the tab height in (neo)vim since it's a terminal application all rows are the height of the text based on the font size. Neovim could implement using multiple rows for the tab bar but given the fixed row size constraint I'm not sure that would look right anyway.

Regarding the alternate styling it is in configuration example but it's not really discoverable it's

[2021-03-01 09:31] akinsho commented on #53
Keep in mind with the `slant` style that how it will look will depend on your terminal emulator, some terminal emulators don't do a good job rendering special characters so the triangle characters might look weird. I personally use [`kitty`](https://sw.kovidgoyal.net/kitty/index.html#) which is really great.

[2021-03-01 10:50] siduck76 commented on #53
I use ST and the triangle characters are invisible after all

[2021-03-01 11:03] akinsho commented on #53
No that should be enough try `` in your terminal promt and see what it draws. I don't know anything about ST I assume this means suckless term but I know that usually only the quite new terminal emulators like alacritty and kitty handle all the fancy characters correctly and of those 2 kitty is better at it.

[2021-03-02 17:11] siduck76 commented on #53
is this that character?
![image](https://user-images.githubusercontent.com/59060246/109686676-7e61e880-7ba8-11eb-85f0-6a86afef03e3.png)

[2021-03-02 17:21] akinsho commented on #53
I can't really tell fro the screen shot @siduck76 the character is `` you just need to paste it into your terminal and see if it shows a triangle. In my terminal it looks like
<img width="425" alt="Screen Shot 2021-03-02 at 17 21 26" src="https://user-images.githubusercontent.com/22454918/109688020-ba328900-7b7b-11eb-912a-711b6984db38.png">

[2021-03-03 11:44] siduck76 commented on #53
it shows a triangle but converts into an inverted triangle if I press space

https://user-images.githubusercontent.com/59060246/109800953-d8fc5280-7c43-11eb-9b11-d5b181a16a62.mp4

[2021-03-03 12:12] akinsho commented on #53
@siduck76 this seems to be in the realm of terminal emulator behaviour I can't really do anything about how a specific terminal emulator handles certain characters. Maybe you can file a bug upstream so it can be fixed there, I've had to do that in the past with how kitty was handling some of the box characters this plugin uses.

Meanwhile I will clarify in the docs that the `slant` style has only

[2021-03-05 11:13] Charliiee opened #54 "Add command to sort buffers"
## Add possibility to sort buffers on the fly

Expose a module function to sort buffers. I think even creating some commands for it would be a good idea too, as well as keymapping examples.

E.g.:

![image](https://user-images.githubusercontent.com/13454744/110108106-88434180-7d8a-11eb-89e9-f37295f7d1ef.png)

After sorting by directory:

![image](https://user-images.githubusercontent.com/13454744/

[2021-03-05 12:02] akinsho commented on #54
@Charliiee thanks for checking out the plugin and raising this issue. I noticed some of the alternative plugins provide similar functionality, I'm not against the idea and would happily accept a  PR for anyone looking to implement this, but I've spread myself pretty thin across quite few projects so I'm not likely too do this one myself for a while, I just won't have the time.

Happy to also provi

[2021-03-05 14:39] siduck76 commented on #53
ah I see , btw can you add rounded corners to the tabs?
![image](https://user-images.githubusercontent.com/59060246/110130104-af335f00-7dee-11eb-89bc-a44bb6f9a41f.png)

[2021-03-05 14:45] akinsho commented on #53
@siduck76 I'm not sure how I would do that? do you know of an ASCII character like the one I posted that has round corners? it would need to be filled on one side for that to work. That's how all the custom styles work they need matching characters that are partially filled since neovim can only just draw existing characters

[2021-03-05 14:48] siduck76 commented on #53
yep you can use the ones in powerline fonts , something like this https://github.com/datwaft/bubbly.nvim

[2021-03-05 15:29] akinsho commented on #53
Oh I didn't realise that's what you have in mind. I don't really like the look of those since it doesn't really match the aesthetic I'm going for. You can add that in your own config but using `separator_style = {'<left-char>', '<right-char>'}`

[2021-03-05 15:33] akinsho commented on #53
I'm going to close this out @siduck76 since I think you can achieve the look you'd like in a few different ways either via swapping terminal emulator, submitting an upstream issue if you want to stick with your own, or by adding in your on separators.

NOTE: not all separator chars will work, it will depend on how the character is filled. As I mentioned in the README though I'm pretty opinionated

[2021-03-05 15:46] siduck76 commented on #53
![image](https://user-images.githubusercontent.com/59060246/110138515-11dd2880-7df8-11eb-848e-2588a3cf478f.png)
is this right?

[2021-03-05 15:49] siduck76 commented on #53
st is fine with chars , no problem with that. I think my bufferline config's messed up https://hatebin.com/wbtczwjwhs

[2021-03-05 15:55] akinsho commented on #53
Yeah your highlights should all be within the highlights table and I'm not sure where `comment_fg` etc. is defined. Have a close read of the example in the README or the help docs that should show you what's wrong with the table. Can't debug anymore atm as I'm at work

[2021-03-05 16:03] #53 closed

[2021-03-05 16:06] Charliiee commented on #54
Great! I'm already working on it then! :+1:

I'll just test the goto buffer feature after mappings to see if things work properly and then provide some examples in docs before submitting a PR

By the way, I don't know if it's only me but the plugin `docs` is not appearing for me on nvim `:h`

[2021-03-05 17:00] akinsho commented on #54
Awesome @Charliiee thanks a lot, looking forward to it 🚀 . Regarding the help files they should be generated by your package manager automatically  based on the contents of the doc file. Which package manager do you use?

[2021-03-08 11:57] Charliiee commented on #54
I'm using vim-plug

[2021-03-08 12:04] akinsho commented on #54
@Charliiee what are you typing into the `:h`? the main doc is under `:h nvim-bufferline.lua` and the headings are of the format `:h bufferline-styling` or `:h bufferline-<subject>` you can also try `:helpgrep bufferline` to see if anything show up. I use it with `packer.nvim` and it seems to build just fine on my personal dev machine as well as my work machine.

[2021-03-08 12:16] Charliiee commented on #54
OK, I ran a full update of plugins (including vim-plug) and the helptag seems to be working fine now, thanks

[2021-03-09 19:33] #54 closed

[2021-03-11 09:32] akinsho opened #56 "Buffer grouping"
One thing I've thought a lot about since I discovered emacs' Centaur tabs is it's [buffer groups](https://github.com/ema2159/centaur-tabs#buffer-groups) I was initially against the idea since it seemed like an extra layer on top of vim that doesn't really exist natively. But with sorting added we already essentially have this layer on top of nvim 🤔 .

Anyway a first pass at this functionality woul

[2021-03-11 10:30] akinsho commented on #56
@cooperanderson potentially the filtering you had in your PR could be done on top of this e.g. certain groups could be assigned to specific tabs etc., thoughts?

[2021-03-11 17:23] hrqmonteiro opened #57 "How can i set the numbers on the right not to show?"
![2021-03-11_14-19](https://user-images.githubusercontent.com/17055027/110827688-1761c500-8275-11eb-9ba3-588f32a598bc.png)

I tried setting:

[code]

EDIT: the `separator_style` won't work as well, i tried setting it like this right now:

![2021-03-11_14-30](https://user-images.githubusercontent.com/17055027/110829022-6f4cfb80-8276-11eb-9e34-7d9b62b4b84f.png)

And the tab styling remains the same,

[2021-03-11 18:12] akinsho commented on #57
@hrqmonteiro do you mean the tab indicators showing `1` and `2`? if so I haven't built a way to turn those off I rely on them a lot and have never been asked before to make them configurable so they currently aren't. It's not a lot of work to add but I'm pretty busy at the moment.

Alternatively would be happy to show you where you need to look to make it configurable and make a PR.

[2021-03-11 18:25] akinsho commented on #57
I just took a sec to quickly add it the options to hide it is now `show_tab_indicators = false` in the options table if you want to hide them

[2021-03-11 19:01] AnthonyK213 opened #58 "Duplicate tag "bufferline-lua-highlights" in doc file?"
![dup_tags](https://user-images.githubusercontent.com/29994167/110839960-21b8a900-82df-11eb-869e-2b4df0820b2f.png)

[2021-03-11 19:05] akinsho commented on #58
Thanks for bringing this up @AnthonyK213 will fix this shortly 👍🏿

[2021-03-11 19:06] #58 closed

[2021-03-13 12:27] lkhphuc opened #59 "Help: Only vim's tabline show up?"
This sounds stupid, but how do I activate this plugin?
After install `Plug 'akinsho/nvim-bufferline.lua'` and `require'bufferline'.setup{}`, I only saw the vim's tabline show up. It only show the title of the active buffer in a tab, even though the buffer list show multiple buffer?
![Screenshot 2021-03-13 at 12 26 58](https://user-images.githubusercontent.com/12573521/111029932-69325880-83f7-11eb-

[2021-03-13 12:32] lkhphuc commented on #59
Sorry found the problem. Conflicting with `lightline` plugin. I didn't it also set the tabline.

[2021-03-13 12:32] #59 closed

[2021-03-14 03:35] hrqmonteiro commented on #57
Thanks, man! That's perfect!

[2021-03-14 03:35] #57 closed

[2021-03-14 14:11] samyak-jain opened #60 "Buffers not working as expected"
It seems that the way bufferline handles buffers is not quite the same as how it normally works.
When I use the mouse to close tabs, it works as expected. However, when I use ```:q``` to close the buffer, bufferline doesn't reflect that. When I use the mouse to close the tab, it doesn't look like it actually closes the buffer. Any idea if it's possible to sync bufferline with the acutal buffer lis

[2021-03-14 15:12] akinsho commented on #60
@samyak-jain I'm not entirely sure what you are describing. `:q` will close a window not a buffer, `:bd` will close a buffer. from vim docs.

			window.  This fails when changes have been made and
			Vim refuses to |abandon| the current buffer, and when
			the last file in the argument list has not been
			edited.
			If there are other tab pages and quitting the last
			window in the current tab p

[2021-03-14 17:39] samyak-jain commented on #60
Gotcha. Got myself confused. Thanks for clarifying.

[2021-03-14 17:39] #60 closed

[2021-03-14 17:54] samyak-jain opened #61 "Make close optional"
We can currently choose to not have the close_icons for the individual tabs. However, as far as I can see, there is not way to opt out of having the close button on the far right.
https://github.com/akinsho/nvim-bufferline.lua/blob/6f104eab57f0c7f1241e4ba0da12c9d1362f589f/lua/bufferline.lua#L543

[2021-03-14 23:00] akinsho commented on #61
That option doesnt currently exist but wouldn't be too hard to implement, I'm fairly busy/stretched atm to add that in but if someone wanted to contribute a PR that implemented it in a toggle-able with the default being on then I'd be fine to merge that.

[2021-03-17 00:21] samyak-jain commented on #61
I've made the PR #62. Let me know if this looks fine to you.

[2021-03-17 22:06] samyak-jain commented on #61
Thanks for merging the PR. Works great!

[2021-03-17 22:06] #61 closed

[2021-03-18 06:02] luisiacc opened #64 "Is there a way to hide buffers and show only tab pages ?"
Is there a way to hide buffers and show only tab pages ?

[2021-03-18 08:30] akinsho commented on #64
@luisiacc do you mean just the minimal tab indicators or show tabs in the same way buffers are shown, tbh in either case I don't think I'll implement this. It's quite a different use case from what this plugin is intended for. If someone were to think up a way of implementing this that didn't disrupt the main use case of this plugin then I'd review since I'm not totally against the idea, but it's

[2021-03-18 17:11] luisiacc commented on #64
I mean just the minimal tab indicators, and don't show buffers as tabs.

[2021-03-18 17:33] akinsho commented on #64
@luisiacc this week alone I've added ability to hide tabs as well as the close button, but think I have to draw the line somewhere. I think if you just want to see tab indicators, vim will do this natively without a plugin and very minimal tweaking. I don't think I'm going to add an option to hide all buffers since that sort of defeats the point of this plugin

[2021-03-22 10:48] siduck76 opened #65 "Different icon / highlight for active buffer_close_icon"
Is there any way I could change the icon for the active buffer's close icon? or at least make it colored different like red colored close icon only for the active buffer's tab

![image](https://user-images.githubusercontent.com/59060246/111978774-4eb05b80-8b2a-11eb-8a77-95584ee7cca1.png)

[2021-03-22 11:09] akinsho commented on #65
@siduck76 not at the moment, highlighting each icon is not as straightforward as you would think in neovim since it uses this arcane DSL and highlights don't behave the way I'd like.

Anyway it is possible/not *too* hard to do. The close icon is added [here](https://github.com/akinsho/nvim-bufferline.lua/blob/c387d2cdd7ae946726d2de29a6ac79b820bf4ddf/lua/bufferline.lua#L311) it would need to have a

[2021-03-22 11:18] siduck76 commented on #65
oh its fine then , I'll just use the way it is :)

[2021-03-22 11:20] akinsho commented on #65
@siduck76 it's worth keeping open for a while anyway I might get to it in a bit/someone else might be up for adding the change. I'll leave it here for a couple of weeks and see if I get round to it or someone else does

[2021-03-22 13:01] akinsho opened #66 "Screenshots"
![diagonal](https://user-images.githubusercontent.com/22454918/111992989-fec39b80-8b0d-11eb-851b-010641196a04.png)
![lsp_error](https://user-images.githubusercontent.com/22454918/111993085-1d299700-8b0e-11eb-96eb-c1c289e36b08.png)
![bufferline_with_numbers](https://user-images.githubusercontent.com/22454918/111993201-3d595600-8b0e-11eb-8944-387ed3bd25b4.png)
![bufferline_pick](https://user-images.

[2021-03-22 13:01] #66 closed

[2021-03-22 13:11] akinsho commented on #66
![bufferline_pick](https://user-images.githubusercontent.com/22454918/111994691-f2404280-8b0f-11eb-9bc1-6664ccb93154.gif)

[2021-03-23 13:22] akinsho commented on #64
I'm going to close this out now since I don't think there's much else to add.

[2021-03-23 13:22] #64 closed

[2021-03-28 21:27] roberbnd opened #68 "show only tabs"
is it possible configure the plugin to show only tabs?
like `let g:airline#extensions#tabline#enabled = 1` in airline

[2021-03-28 21:49] akinsho commented on #68
@roberbnd, no not really see #64. Basically the object of the plugin is to visualise buffers. It could be adapted to have a tabs only mode, but I don't plan on implementing it personally. If someone else put together a PR and it didn't disrupt the rest of the functionality of the plugin or cause too much complexity then I'd probably accept it.

[2021-03-30 22:20] Antonio-Bennett opened #69 "Highlight for free tab space"
Hi, hope you're doing well. What is the selector to use in bufferline setup for the black empty space in the image? Been trying to set it but don't know exactly which one it is. Maybe some documenting can be done for what each selector such as Tab or Bufferline visible is? Sorry, I'm a bit of a noob.

![image](https://user-images.githubusercontent.com/31296212/113064238-9d8e6e80-9184-11eb-9681-469

[2021-03-30 22:29] akinsho commented on #69
@Antonio-Bennett all the highlights are available under `:h bufferline-lua-highlights`, the particular one you're looking for is called `fill` I believe or `background` have a go with either. It should be one of those

[2021-03-30 22:58] Antonio-Bennett commented on #69
@akinsho That worked I actually tried them before thought it wasn't working but I forgot the s on highlights smh. My bad lol and it was fill for anyone wondering. Thanks a ton!

[2021-03-31 05:15] Antonio-Bennett commented on #69
@akinsho Hey again ok so this time I tried for a while so I don't embarrass myself again lol but the buffer_selected group removes that darker coloring on selected tabs so I thought buffer_visible would do the same on non selected tabs but that isn't working. Is there a different selector? I already tried tab and tab selected.
![image](https://user-images.githubusercontent.com/31296212/113093752-7

[2021-03-31 06:13] akinsho commented on #69
@Antonio-Bennett bufferline visible will allow highlighting visible but not selected buffers the section you see that is not highlighting is the `duplicate_visible` section for highlighting the prefixes added because there are 2 init.lua files open.

I'd recommend just copying the full highlight list and commenting stuff out and toggling it if there are more highlights you'd like to tweak.

[2021-03-31 14:42] Antonio-Bennett commented on #69
@akinsho Ok thank you very much that helped me with everything! Yeah will copy and uncomment as needed

[2021-03-31 21:45] akinsho commented on #66
![image](https://user-images.githubusercontent.com/22454918/113215394-b1180300-9272-11eb-9632-8a9f9aae99fa.png)

[2021-04-01 15:47] ahmadov opened #71 "Unique buffer names does not work"
I'm expecting both `init.lua` files are prefixed with folder names in the buffers but apparently, they are not.

Do I need to enable it somehow? I didn't find it in the docs.

Screenshot:
![image](https://user-images.githubusercontent.com/7130712/113319524-cc861b00-9311-11eb-8aa7-b434464b8a0b.png)

[2021-04-01 16:50] akinsho commented on #71
@ahmadov this is a screenshot me using this taken, just now. So I don't believe there's a regression or anything.
![image](https://user-images.githubusercontent.com/22454918/113326804-0fe08980-9312-11eb-9426-85029e0775fd.png)

I need more information about the each file specifically to know why you aren't seeing the deduplication. What are the full paths for both files? if the files are exactly th

[2021-04-01 18:09] ahmadov commented on #71
I can confirm that it works! Thanks!

[2021-04-01 18:09] #71 closed

[2021-04-02 08:54] jerrywang1981 commented on #66
<img width="657" alt="Screen Shot 2021-04-02 at 10 58 12 AM" src="https://user-images.githubusercontent.com/8133242/113400253-159ea380-93d4-11eb-822c-974d728a6bcf.png">
<img width="636" alt="Screen Shot 2021-04-02 at 11 38 51 AM" src="https://user-images.githubusercontent.com/8133242/113400265-1a635780-93d4-11eb-8085-adc328385cb5.png">

[2021-04-06 06:13] Racle opened #73 "Cannot style seperator background color when seperator_style = "slant" is configured"
I've added fill guibg color and it doesn't work while `seperator_style = "slant"`.
I also tried to set background and seperator styles with no success.
I try to get `#282828` as background color as it fits style much better than black background.

Preview:
![image](https://user-images.githubusercontent.com/759091/113666121-66095000-96b7-11eb-9fd9-d563e4065ad6.png)

As you can see, seperator backgr

[2021-04-06 07:14] akinsho commented on #73
@Racle the correct highlight groups to colour the separators isn't `fill`, you will need to override the various `separator_*` mappings such as `separator_visible` etc

Here's an example I just tried. See `:h bufferline-lua-highlights` for a full list of available highlights
![image](https://user-images.githubusercontent.com/22454918/113672675-f5126a00-96af-11eb-8b39-ea0b888e4df9.png)

[2021-04-06 07:45] Racle commented on #73
@akinsho thanks, I think I messed up when testing my configuration..

adding this works very well.
[code]

Just noticed another small visual problem:
![image](https://user-images.githubusercontent.com/759091/113675646-40cf0e80-96c4-11eb-8ef4-79aab96f41b3.png)

I wonder if it is possbile to put something like 2 character wide empty space on left side? Or different guigb to first item... (unless the

[2021-04-06 08:23] #73 closed

[2021-04-06 09:33] akinsho commented on #73
@Racle glad it worked. Regarding the signcolumn highlighting and shifting things. I think that would be a rabbit hole since the signcolumn in nvim is dynamic i.e. can resize from 0 - 9 characters wide, so this would mean having to redraw the statusline and adjust the padding whenever the statusline changed, not to mention having to add parsing for the option which has grown increasingly complex (b

[2021-04-06 09:40] Racle commented on #73
@akinsho yeah that's too much work just for minor thing (even tho I have that as fixed width now.)

I'm probably just going to ignore that minor detail (and is less annoying than removing signcolumn bg). Otherwise bufferline works just fine :)

[2021-04-06 11:29] alex-popov-tech opened #74 "disable separator"
hi again !
is there an ability to disable separators completely?
im trying to achieve minimal ui, and want to see just icon and name

[2021-04-06 11:36] alex-popov-tech opened #75 "hi modified buffer name?"
hey!
is there an ability to add hl to modified buffer in the list? like to have modified yellow, non-modified white, current blue

[2021-04-06 11:51] akinsho commented on #74
@alex-popov-tech 👋🏿 you can do this by setting the separator style to `separator_style = {"", ""}` I think this used to be/maybe still is in the README or docs somewhere.

[2021-04-06 11:53] alex-popov-tech commented on #74
@akinsho tried, didnt work
<img width="890" alt="image" src="https://user-images.githubusercontent.com/21224705/113706906-ddef6e80-96e7-11eb-8c44-a373e99d8ffe.png">

[2021-04-06 11:54] alex-popov-tech commented on #74
(i mean that red bar)

[2021-04-06 11:56] akinsho commented on #75
Hmm you can change the modified icon colour but if I understand correctly you mean change the whole buffer tab styling based on if a buffer is modified.

I think that will be a bit tricky/messy to try and implement (or not, not sure). basically several highlights already change the colour of the buffer text such as diagnostic, visible, inactive etc. I think adding another highlight group there mig

[2021-04-06 11:57] akinsho commented on #74
@alex-popov-tech ah that's not a separator it's an indicator, in bufferline terms. The separators are invisible in your screenshot. You can't entirely disable it but you can style it using `indicator_selected`, `indicator_visible` etc.

[2021-04-06 11:59] alex-popov-tech commented on #75
yeah, agree on amount of highlights...
just thought that having ability to change icon colour, and not having to change name is a bit inconsistent :)
can close if decide to not makes things more complex :)

[2021-04-06 12:28] akinsho commented on #75
@alex-popov-tech I think maybe it could be added without too much trouble the line is [here](https://github.com/akinsho/nvim-bufferline.lua/blob/2043d254017002c4862afefbacd5d1bd7fe94e55/lua/bufferline.lua#L130) this "switch" is used to set the buffers colours based on the state of the buffer and atm it only looks at `visible` and `selected` or `inactive`. I guess you could add a check either withi

[2021-04-06 12:33] alex-popov-tech commented on #74
yeah, but i cant make it transparent, right?

[2021-04-06 12:41] akinsho commented on #74
@alex-popov-tech you should be able to just set it to the color of the background which is essentially the same thing. This makes it invisible.

![image](https://user-images.githubusercontent.com/22454918/113712284-d88d2680-96dd-11eb-8223-4416c52bc871.png)

[code]

[2021-04-06 12:44] alex-popov-tech commented on #74
didn't know about that ability !
thanks, much better now!

[2021-04-06 12:44] #74 closed

[2021-04-07 12:11] siduck76 opened #77 "Invalid highlight name : Comment"
Hi there , bufferline was working fine for me before but updating it today got me this error

![image](https://user-images.githubusercontent.com/59060246/113864424-837a0f00-97c8-11eb-9d2b-7b6cb69fc3f1.png)

[2021-04-07 12:22] Adnios commented on #77
similar error.
![image](https://user-images.githubusercontent.com/41060790/113865649-e7a7cd80-97de-11eb-8ebf-c88179f0febe.png)

[2021-04-07 12:23] drPytho commented on #77
I have the same error, for `Comment` too.

[2021-04-07 12:30] akinsho commented on #77
I'll take a look the most recent PR must have a bug. In your case @siduck76 do you have a `Comment` highlight defined?

[2021-04-07 12:33] akinsho commented on #77
Ok I just pushed what I'm hoping is a fix. Can people let me know if that resolves the error for them

[2021-04-07 12:34] siduck76 commented on #77
that resolved the issue thanks!

[2021-04-07 12:34] #77 closed

[2021-04-07 12:44] loshjawrence opened #78 "No longer works?"
Recently did a `:PlugUpdate` and buffer tabs were not showing up.

my minimal .vimrc (.vimrc-test). I launch with `nvim -u ~/.vimrc-test`
[code]

Result of `nvim --version`
[code]

Also when I try to run with my normal .vimrc that has this configuration
[code]

I get this error on startup:
![image](https://user-images.githubusercontent.com/13598291/113868121-52282180-977d-11eb-87e5-df23c2fc6131.pn

[2021-04-07 13:13] akinsho commented on #78
@loshjawrence try `PlugUpdate` again I've already pushed a fix for this #77

[2021-04-07 18:27] loshjawrence commented on #78
@akinsho Fixed, thanks!

[2021-04-07 18:27] #78 closed

[2021-04-10 15:29] #68 closed

[2021-04-12 14:50] andreicorpo opened #79 "[feature request] highlight the entire buffer background"
Hi!

First of all, thank you for this awesome plugin!

I am wondering if it is possible to highlight the entire background of a buffer  when it has any errors, warnings, infos or any diagnostics.

From what I have tried, I succeded in having a entire background color if the buffer has no errors and so on by setting `buffer_selected`, `indicator_selected` ...

But when an error appears in the buffe

[2021-04-12 15:13] andreicorpo commented on #79
Sure! I'll give it a try this weekend. Hopefully.

[2021-04-13 02:03] fgheng opened #80 "How to deal the confict with lightline?"
Hello, If I has plugin `lightline`, the tabline will use lightline's tabline other than nvim-bufferline.lua, how to deal it?

I want to use lightline's status line and nvim-bufferline.lua's tabline/bufferline.

[2021-04-13 06:42] akinsho commented on #80
@fgheng lightline tries to take over the tabline by default but there is an option to disable it. Please check the lightline docs I'm not sure what it's called as I don't use it.

[2021-04-13 13:26] fgheng commented on #80
Hello, I asked lightline's author, config it by

[code]
thank you.

[2021-04-13 13:26] #80 closed

[2021-04-14 02:10] fgheng opened #81 "[Bug] Hello, If I edit a file with name patter `number-chineseword`, neovim will crush."
If I use nvim-bufferline.lua, and edit a file like `516-最长回文子序列.cc`, neovim crushed:
![image](https://user-images.githubusercontent.com/50551377/114644077-6c2bac00-9d09-11eb-95d4-e18c5cd1e5e9.png)
But If I not use nvim-bufferline.lua, neovim works well.

If I edit a file without `-` like `516最长回文.cc` neovim also works well.

[2021-04-14 09:16] akinsho commented on #81
@fgheng thanks for raising this issue I was completely unaware this happened. I think this is best raised upstream in neovim itself though since something causing the program to segfault needs to be resolved there. The screenshot you sent seems to give a very clear signal to where this is happening so maybe this can be resolved. On my end I'll experiment a little and try and figure out exactly wit

[2021-04-15 01:41] fgheng commented on #81
thank you very much.

[2021-04-15 11:29] akinsho commented on #81
@fgheng when you raise the issue can you please post the link here or reference this issue from there so I can keep track of what's happening

[2021-04-23 22:24] rickyelopez opened #82 "Doesn't run on startup, have to re-source init.vim"
Not very familiar with how Lua plugin calls work. I tried adding the `require` from the help/manual to my init.vim, and I've tried a number of other variations including:
` require("bufferline").setup{}`
and
[code]
but none of them work on startup. They all, however, work when I re-source my init.vim after startup.

I'm sure I'm doing something dumb, just dunno what.

[2021-04-24 08:11] akinsho commented on #82
@rickyelopez I'm not near a computer right now so can't help properly a couple of things to cross-check. It's the setup call after you load the plugin? Also do you have light line installed since that overrides the tabline and you'd need to disable that part of lightline

[2021-04-25 11:30] akinsho commented on #82
@rickyelopez have you had a chance to see if was related to lightline? or plugin loading order?

[2021-04-25 19:04] rickyelopez commented on #82
Hey @akinsho, sorry for the delay! No I don't have lightline installed, and yes I am making the setup call after loading the plugin.

I've got:
[code]

and then
[code]

Any other ideas?

[2021-04-25 19:19] akinsho commented on #82
@rickyelopez can you try with a *minimal* init.vim e.g. `nvim -u minimal.vim` where `minimal.vim` is just

[code]

[2021-04-25 19:28] rickyelopez commented on #82
Yup it works fine when I use a minimal init.vim file, which is really strange. Yes I'm using nightly

[2021-04-25 19:37] akinsho commented on #82
@rickyelopez the best next step is to gradually add in plugins one by one to see which if any cause the issue. If it's not a plugin then I suggest commenting out chunks of your config until you find the thing that triggers the bug

[2021-04-25 21:38] bamzi opened #83 "Bug: attempt to call field 'is_test' (a nil value)"
On the latest Neovim nightly and with the latest version of the Bufferline, when starting a new session, presented with the following error:

[code]

The error might be as a result of code changes in the past 3 or so days.

[2021-04-25 22:05] akinsho commented on #83
@bamzi I'm not sure how what you're seeing is possible tbh, I did add a method called `is_test` to my `utils.lua` but they were added in the same PR so that function should definitely exist.

https://github.com/akinsho/nvim-bufferline.lua/blob/78ffd345d079246738ea06b04f58ad53503f48e2/lua/bufferline/utils.lua#L6

 Do you still see the issue if you run a minimal `init.lua` e.g. `nvim -u <path-to-min

[2021-04-25 22:24] bamzi commented on #83
Culprit was barbar.nvim plugin .. should've disabled it before trying this plugin

[2021-04-25 22:24] #83 closed

[2021-04-26 15:40] rickyelopez commented on #82
Found it! I had `let g:airline#extensions#tabline#enabled = 1` set for airline. Thanks for the help!

[2021-04-26 15:40] #82 closed

[2021-04-29 13:06] Young1783 opened #84 "[Question]how to apply two fonts like you demo?"
That looks pretty cool and it is really useful.
Thx a lot~

[2021-04-29 13:25] Young1783 commented on #84
Oh, I browse you repo and dig into you dotfiles. I find the secret!!!

[2021-04-29 13:25] #84 closed

[2021-04-29 19:12] elkowar opened #85 "weird highlights in tabs"
I've been trying to figure out how the highlights in the tab bar work fully, but I can't figure out how to deal with the diagnostic-indicator text being a different background and foreground than the rest of the tab,...
![image](https://user-images.githubusercontent.com/5300871/116605277-81225500-a92f-11eb-93a3-d976269379ef.png)

I'd like this to have the same background as the rest of the tab, ob

[2021-04-29 19:19] akinsho commented on #85
@elkowar this is a new one for me I'm not sure what I'm looking at tbh, can you share the configuration you're using. Have you attempted to change anything? what colorscheme are you using and is your terminal truecolor/are you using `termguicolors`?

[2021-04-29 19:24] elkowar commented on #85
https://github.com/elkowar/Desktop-dotfiles/blob/master/files/.config/nvim/fnl/plugins/bufferline.fnl here is my relevant config (it's in fennel, but 🤷🏻 ) i'm using termguicolors and using gruvbox-community/gruvbox

[2021-04-29 19:27] akinsho commented on #85
By default the diagnostic highlights use `LspDiagnosticsDefault{Error|Warning|Information}` highlights but if your colorscheme doesn't support those it falls back to `Error`, and `WarningMsg` the background is just adapted from the current highlight of the buffer tab.

Sorry @elkowar I really can't follow fennel. It looks like you are in the middle of customising the colors and just need to find t

[2021-04-29 19:28] akinsho commented on #85
You probably want to change the background values for
[code]

[2021-04-29 19:47] elkowar commented on #85
Ahhhh, yea, i was missing the info_diagnostic_selected etc highlights,... might be good to link that bit of code in the readme ^^ Thanks for your help!

[2021-04-29 19:47] #85 closed

[2021-04-29 20:17] akinsho commented on #85
Glad you found it 👍🏾 It's actually under `:h bufferline-lua-highlights` in the help docs, maybe I'll point to those up more prominently in the README.

[2021-04-29 20:30] elkowar commented on #85
Oh wow, surprised I managed to overlook that,... But yea, mentioning that would be cool! Specifically given that you're already mentioning some of the other fields there, may be good to specifically link to that help page :) Thanks!

[2021-05-03 12:44] brymer-meneses opened #86 "Option to ensure that the terminal buffer won’t be hidden"
The terminal buffer tab would become hidden if I switched to another buffer. Is there any way to prevent it from doing so?

[2021-05-03 13:09] akinsho commented on #86
Hi @brymer-meneses,

I'm not sure from the description you have given what exactly you mean. Depending on how you are using the plugin i.e. if using splits then the only way that a terminal is removed from the current layout is if a user either toggles it closed, closes the window or navigates to another buffer from within the terminal window.

When you say stop it from being hidden do you mean i.

[2021-05-03 13:15] akinsho commented on #86
Okay so this plugin doesn't control the visibility of your buffers at all *unless* you are using the filter feature which I'm sure you'd know if you were. All this plugin does is ask vim for a list of all your buffers add filters that based on which ones are set by vim/your config as `buflisted`.

In all likelihood your terminals are not set as `buflisted` either by default or by configuration in

[2021-05-03 13:17] akinsho commented on #86
![image](https://user-images.githubusercontent.com/22454918/116880585-1700fd00-ac1a-11eb-9318-07150038ca6c.png)

Here's an example where I opened a terminal using `sp | term` and then navigated away from it, as you can see the terminal is still showing up in bufferline since it is not `buflisted=false` so I think whatever plugin you are using or somewhere in your config terminals are being set to

[2021-05-03 13:21] brymer-meneses commented on #86
For some reason when I execute `:terminal' and move to another buffer it goes missing. However when I use `:sp | term` (which I didn't know existed) worked as expected! TY!

[2021-05-03 13:23] #86 closed

[2021-05-03 13:37] akinsho commented on #86
One thing to check is that you have set `set hidden` in your vim otherwise when you navigate away from a terminal it will be deleted.

[2021-05-03 22:16] vinicius507 opened #87 "Ignore splits"
Is there any way to make bufferline ignore splits? Everytime I open a split it lists on the bufferline. If I do `:q` in the split, it closes the split but the buffer stays open and listed.

[2021-05-03 22:22] akinsho commented on #87
Hi @vinicius507,

I'm not sure I understand what you mean. A split is a layout in vim so those won't show in bufferline. it only shows buffers so do you mean that if you open a buffer in a split it shouldn't show in the bufferline? When you describe closing the split with `q` that command closes windows but won't delete a vim buffer.

I think there's maybe a mixture of both the window concept and

[2021-05-03 22:24] akinsho commented on #87
It's not really possible to ignore splits since a split is just how certain buffers are being viewed, as far as this plugin (and nvim) is concerned those buffers are still open and listed regardless of what windows they are in.

[2021-05-03 22:27] vinicius507 commented on #87
Thanks. I'll search in the documentation if there is any way to list buffers that are in the same window so I can filter them out. :)
Thanks for the clarification, though.

[2021-05-03 22:27] #87 closed

[2021-05-05 08:33] kjelly opened #88 "Any way to customize symbol "▎""
Any way to customize symbol in the following code?

[code]

I prefer "🔧" to ▎".

Thank you for your helping.

[2021-05-05 08:39] akinsho commented on #88
Hi @kjelly,

It's actually in the README

    -- [focused and unfocused]. eg: { '|', '|' }
    separator_style = "slant" | "thick" | "thin" | { 'any', 'any' },

[2021-05-05 08:46] kjelly commented on #88
I set up the option already. But it show the icon in right side, not left side.

![image](https://user-images.githubusercontent.com/3412050/117116763-561d8280-adc1-11eb-8e27-2a4e405d449c.png)

I need to change the code to show something in left side.

[code]

[2021-05-05 09:24] akinsho commented on #88
Hmm so you can change the `indicator` highlight (the specific name will be in the docs) to `guifg=NONE` and then add a separator style that includes the spanner emoji one side of the separator e.g. `separator_style = {"📖|", "🔧|"}`, you probably have to fiddle with it a little to get the outcome you want.

If the question is how can you just swap out the indicator symbol then that currently isn't c

[2021-05-06 16:54] siduck76 opened #89 "bufferline length"
is It possible to change bufferline length ? I dont want it 100% and get mixed with NvimTree (file tree on the left)

![image](https://user-images.githubusercontent.com/59060246/117336279-a5df7500-aeb9-11eb-9e00-511104144c6c.png)

I want it to get separated from the NvimTree , something like this

![image](https://user-images.githubusercontent.com/59060246/117340107-2bfdba80-aebe-11eb-8275-5763966

[2021-05-06 17:08] akinsho commented on #89
@siduck76 someone else asked a similar question in another issue, the short answer is that it isn't very easy. Neovim doesn't natively provide functionality to do that sort of thing since an explorer is just a random window in nvim rather than in vscode where it is a specific element in the view.

Somehow bufferline would have basically pad the left or right hand side of the tabline with spaces co

[2021-05-06 17:19] siduck76 commented on #89
cool , I would want to do the highlighting hack :D

[2021-05-06 17:27] siduck76 commented on #89
@akinsho I think it would be better to add a little block (with custom highlight )  in front of the bufferline so it would the way I want . something like this
![image](https://user-images.githubusercontent.com/59060246/117340267-55b6e180-aebe-11eb-9f0b-3bc33344331e.png)  , so I could add some text like "File explorer" in that block too and make its color look the same as Nvimtree's bg.

[2021-05-06 17:36] akinsho commented on #89
😅  @siduck76 the feature doesn't even exist but is already becoming more complex.

The solution will need some thinking over it won't be enough to just randomly add some padding or text to the left or right of the bufferline and pass in some config values. A solution would need to look at the layout of the window, I don't want to integrate this specifically with plugins since that will just cause

[2021-05-06 17:55] akinsho commented on #89
Actually just had a quick try and seems like it might not be as bad as I thought

![image](https://user-images.githubusercontent.com/22454918/117343742-8128d480-ae9c-11eb-97b2-32befb4b5b2d.png)

But I'm working on some other plugins atm so will only be able to look at this when I get time. As always if someone wanted to pitch in and *help* that would be great, I can push what I've got into a Draft

[2021-05-06 17:58] siduck76 commented on #89
@akinsho my lua knowledge is basic , sorry I cant help with the code :c . How did you get that empty block on the left btw?

[2021-05-06 18:02] akinsho commented on #89
@siduck76 you can already achieve something close to this using the snippet I posted above

 local bufferline = _G.nvim_bufferline()
 return hl_group .. string.rep(window_size) .. bufferline
end
set tabline=%!v:lua.custom_tabline()

You would need to figure out some of the details to make the snippet work in your case, if you are not comfortable/cannot do that you will have to wait till I have tim

[2021-05-06 18:04] siduck76 commented on #89
I'll wait until its implemented :)

[2021-05-08 03:54] gmr458 opened #91 "How I can disable italic text?"

[2021-05-08 12:35] akinsho commented on #91
@gmr458 if you check `:h bufferline-lua-styling` there is documentation on all the highlight groups you can customise. You need to change the `gui` attribute to `NONE` or whatever else you want there. If you are unfamiliar with highlight groups in vim I recommend reading `:h highlight-gui`

[2021-05-08 17:02] gmr458 commented on #91
@akinsho Thanks!

[2021-05-09 12:35] akinsho commented on #91
Gonna close this out now 👍🏾

[2021-05-09 12:35] #91 closed

[2021-05-09 13:40] #89 closed

[2021-05-09 13:41] akinsho commented on #65
I've decided to close this since I personally probably won't implement this myself and no one else has stepped forward to do it. This could maybe be revisited in the future. I'd like to make the close icons hide unless hovering and there is a neovim issue (several years old) to add hover events so if that ever gets added 😆

[2021-05-09 13:41] #65 closed

[2021-05-09 14:16] siduck76 commented on #65
@akinsho No worries! after some thought I think that feature was actually useless XD , sorry for creating its issue on the repo!

[2021-05-09 18:18] LuisxSullivaN opened #92 "Offset text highlight"
Hey! thanks for developing this plugin.

I'm wondering if I could set the highlight of the text in the 'offset' config option to show it in cursive and bold as with the buffer active text. I tried to see the code but looks a bit confusing to me. ¡Thanks in advance!

[2021-05-09 18:20] akinsho commented on #92
@LuisxSullivaN to set the offset's highlight you have to pass in a highlight group to use. In your highlight group you need to set the `gui` attribute to include `italic`. Have a read through `:h highlight-gui` to get an understanding how that works in vim

[2021-05-09 18:59] elkowar opened #93 "A way to turn of devicons"
I might be overlooking something in the docs, but from what I can tell there seems to be no way to turn off devicons. I use devicons  for other stuff, but I'd want to not have them in my bufferline,... Am I missing something or is this a missing config option?

[2021-05-09 19:05] akinsho commented on #93
@elkowar this is actually not possible, the configuration option could be added but tbh I get a lot of requests based on people's preferences which has become a little exhausting. My original intent was that this plugin was to be quite opinionated but I've ended up down the deep configuration rabbit hole. I don't think I'd implement this personally but if you or someone else does this in such a wa

[2021-05-09 19:52] LuisxSullivaN commented on #92
Thanks again. As you mentioned, I got it working by creating a new highlight group with `:highlight FileExplorer gui=bold,italic`
![image](https://user-images.githubusercontent.com/29529436/117585081-237fcc80-b0d6-11eb-99dd-07f6f75c26d0.png)

[2021-05-09 19:52] #92 closed

[2021-05-09 20:14] akinsho commented on #88
This can now be customised using the `indicator_icon` option, I've left a note that I don't recommend this because this plugin will continue to be designed with the original icon in mind. If later visual changes with that icon in mind lead to breakage then I'd advise going back to the default.

[2021-05-09 20:15] akinsho commented on #93
I've added in the `show_buffer_icons` to disable this.

[2021-05-09 22:43] elkowar commented on #93
nice, thanks! I'd have done a PR, but this is great!

[2021-05-10 18:04] siduck opened #94 "How can I add current cwd as offset's text?"
fnamemodify(getcwd(), ':t') might help

[2021-05-10 18:15] akinsho commented on #94
@siduck76 this is more about `lua`/`vimscript` than this plugin since it will take whatever text you give it 🤷🏾 . The example you have above looks like it might work you just need to use that in `lua` using `vim.fn.fnamemodify(<args>)`

[2021-05-10 18:21] siduck76 commented on #94
@akinsho  The offset shows null

local current_dir = vim.fn.fnamemodify(getcwd, ":t")
offsets = {{filetype = "NvimTree", text = current_dir}},

![image](https://user-images.githubusercontent.com/59060246/117706205-a2662980-b1ea-11eb-9709-95638be210f5.png)

[2021-05-10 18:28] akinsho commented on #94
You can't left align the offset for the time being in order to change the highlight group you need to specify a `highlight = "<my-hl-group-name>"` see #92 for an example of how someone else solved it

[2021-05-10 18:30] siduck76 commented on #92
@LuisxSullivaN  which font?

[2021-05-10 18:35] LuisxSullivaN commented on #92
@siduck76 it's Victor Mono, you can find it on github

[2021-05-10 18:44] siduck76 commented on #94
Im confused , that guy used a highlight group "File Explorer"  but there isnt highlight group for offset

[2021-05-10 19:10] akinsho commented on #94
@siduck76 you have to either choose an existing highlight group. You can see what those are by running `:highlight<CR>` or you have to 1.) Create a highlight group 2. ) specify the highlight group in the highlight key in the table. You can learn more about creating highlight groups using `:h highlight`

[2021-05-11 01:34] #94 closed, assigned to nobody

[2021-05-12 13:52] foodornt opened #95 "Error while calling lua chunk: loop or previous error loading module 'bufferline'"
Calling `require('bufferline').setup({})` causes the issue

any idea what's going on?

[2021-05-12 14:35] akinsho commented on #95
@foodornt I'll need more information to help you out. Calling it as you have done there doesn't throw any errors on my end. It should just start `bufferline` with the default options. Have you tried this out with a minimal `init.vim` i.e. *no other plugins* or settings just this plugin and seeing if it throws this error. If not then add things back one at at time to see what triggers it.

FWIW thi

[2021-05-12 14:58] foodornt commented on #95
Sure, here's a MWE

[code]

gives same error

[2021-05-12 15:39] akinsho commented on #95
@foodornt in the example above, `bufferline` is set as an `opt` plugin which means it won't be loaded by packer or vim so the module won't be available, which is why it errors. You need to remove the `opt = true` from your packer spec

[2021-05-12 18:50] foodornt commented on #95
I tried so many things, I removed opt and invoked `:PackerStatus` but when I go to the plugin and press enter it says: opt=true (but it's loaded)

I tried to set opt to false, but same thing, nothing happens

I have all my plugins set to opt=true and none of them has this issue though

[2021-05-12 19:30] akinsho commented on #95
@foodornt if a plugin has some other trigger other than opt then it will be loaded but in bufferlines case where you specified the opt nothing will trigger loading. If a plugin is actually it without triggers it cannot be loaded.

In your case did you also make sure to run packer compile then packer sync and reload neovim?

[2021-05-12 19:39] foodornt commented on #95
Yeah I ran everything, clean update sync compile and repeated that once again but nothing fixes the error.

is there a way to show the full error and which line is causing it?

[2021-05-12 20:57] akinsho commented on #95
@foodornt I'm in mobile atm so can't help really but that error is to do with an issue loading the module I can't reproduce that in a minimal init.vim try to make sure your packer compiled file isn't loaded and that you are definitely not loading other vim sessions

[2021-05-12 21:03] akinsho commented on #95
@foodornt I actually have been on mobile so didn't notice what the issue is. It's actually that your use of `packer` is incorrect. You can't require the plugin straight after calling packer startup because it doesn't work like that. you need to do
[code]
Packer doesn't load plugins immediately it loads them after reading your init.vim so you can only call things like setup inside it's config funct

[2021-05-12 21:53] foodornt commented on #95
Thank you for the help akinsho, but I still couldn't get it right, even using the config parameter

I added this to my config, saved the file and exited, came back to run PackerCompile, and it would give me the same error 😞

I'm pretty sure the error is due to my wrong usage of packer.nvim, I'll keep trying different solutions and hopefully I can get things right

if you use neovim, I'd like to ch

[2021-05-12 22:21] akinsho commented on #95
My neovim config is in that repo in the .config directory so it can be symlinked to the home sir just search init.lua in that directory

[2021-05-12 22:39] foodornt commented on #95
Oh no, I wasted 9 hours on this, the error was caused by the file called bufferline.lua that was in my lua folder

I guess not only my time was wasted, apologies, akinsho 😅

[2021-05-12 22:39] #95 closed

[2021-05-15 09:36] weilbith opened #98 "Feature request - area for custom content"
Hey 👋🏾

your plugin looks very appealing and has really nice features. 👍🏾

I really like to have such a nice tab-styled bufferline. But I also want to have some additional global information shown there. For example I would like to try moving the git branch info from the statusline to the bufferline because it won't change per buffer/window but is a more global information (for my use-cases). Anot

[2021-05-15 14:54] akinsho commented on #98
@weilbith thanks for the kind words and checking the plugin out.

Tbh in general I think the scope of this plugin/complexity is increasing too much, I've added in *way* more than I planned so I'm a bit reluctant especially since as you pointed out this is a bit of a workaround for the fact that nvim doesn't support a global statusline. Tbh I'd love to see that investigated in nvim rather than work

[2021-05-15 15:19] weilbith commented on #98
Cool, thank you very much for your detailed answer. I highly appreciate it.
I can totally follow your arguments and agree with them. The related [NeoVim issue](https://github.com/neovim/neovim/issues/9342) hasn't seen an update since ages. Apparently there is not enough support for it. So I guess I have to decide what I want.
To be honest I probably won't open a PR myself. Therefore it's too much

[2021-05-15 15:20] weilbith commented on #98
Do you want to close the issue and re-open it when it becomes relevant again ?

[2021-05-15 15:28] akinsho commented on #98
@weilbith you can leave it open, sometimes despite my initial protestation I decide to implement these features. It's not really very complicated to actually implement it's just more that the number of things this is now doing is growing in a way that I fear one day I will wake up and be too overwhelmed to keep maintaining it 😆 (we're not really close to that yet tbh though)

[2021-05-15 16:52] weilbith commented on #98
Haha. I totally understand.
Actually thats why I wanted it to be so generic so you don't have to maintain tons of new stuff, but just this relatively easy feature. But sure, generic often means more responsibility and a wider field of use-cases which increases the possibility to break on edge-cases.

[2021-05-17 15:24] ViRu-ThE-ViRuS opened #101 "Interaction with TagBar causing slow responsiveness in large python project"
my config is
[code]

and other installed plugins include
[code]

i have diagnosed the cause of slow responsiveness to this plugin, by uninstalling / reinstalling each plugin one by one (other than color schemes). Even in default config, this plugin is causing me slow responsiveness. I have tested this on a big python project, and the uninstalling/disabling this plugin makes the project usable in v

[2021-05-17 15:24] ViRu-ThE-ViRuS commented on #101
please suggest how i can better diagnose this issue

[2021-05-17 16:11] akinsho commented on #101
@ViRu-ThE-ViRuS I need a bit more information to help diagnose this because based on what you've said I wouldn't really know where to start.

### Step 1
When you say you are sure it comes from this plugin have you tried running a minimal init.vim or lua e.g.
*no other plugins, no other settings* just loading the plugin (if you use packer make sure to delete packer compiled) if you use start plugin

[2021-05-17 16:25] ViRu-ThE-ViRuS commented on #101
@akinsho thanks for getting back to me with such detail, ill go through what you recommend, and try to help narrow it down :)

[2021-05-17 16:45] akinsho commented on #66
![image](https://user-images.githubusercontent.com/22454918/118525973-aa1c5580-b737-11eb-883c-a2c55b7af479.png)

[2021-05-17 16:58] akinsho commented on #66
![image](https://user-images.githubusercontent.com/22454918/118527523-4d219f00-b739-11eb-889f-60fb06fd71bc.png)

[2021-05-17 17:37] hnspn opened #102 "Example not working sort buffers by modified date"
This is the example provided in the doc
[code]
buffer.modified is a boolean and you can't compare booleans.

If there is a way to get the modifed time of a buffer please let me know
this is what is returned by inspect
[code]

[2021-05-17 18:07] akinsho commented on #102
@hnspn the example is just that tbh, a way of giving the user a sense for what is possible rather than something to be used directly in this case. You can probably do this use [`libuv`](https://github.com/luvit/luv/blob/master/docs.md#uvfs_statpath-callback) which vim bundles as `vim.loop` e.g.

[code]
You can probably work out the specifics yourself but that's probably a good place to start

[2021-05-17 21:44] #98 closed

[2021-05-18 07:55] tmerse commented on #101
Came here after I noticed something similar. Did a quick divide-and-conquer of my `init.vim` to find out that (at least for me) `preservim/tagbar` seems to have some heisenbugesque interaction with this plugin, affecting overall responsiveness.

[code]

When I use another – or no tab/buffer plugin, there is no noticable inputlag. Once I enable tabline, responsiveness degrades. After setting `let g

[2021-05-18 09:03] ViRu-ThE-ViRuS commented on #101
@tmerse i tested it out:
- adding `let g:tagbar_use_cache=1` to config, nothing changed... still unresponsive. I checked in the help, and this option is anyways 1 by default
- disabling the `preservim/tagbar' plugin solved the issue, no slowing down in responsiveness

@akinsho another interesting thing i noticed is that the same configuration (with `preervim/tagbar`) works completely fine on my Ma

[2021-05-20 13:58] akinsho commented on #101
Sorry both I'm a bit swamped atm so can't really dig into this especially given I don't really use/nor am I familiar with tagbar really. Seems it's had quite a long history though so I wouldn't be surprised if somewhere along the way it picked up some code that affects the buffer list or the tabline.

If you have `offsets` enabled can you try without and see if that helps, then maybe try and disab

[2021-05-20 14:56] tmerse commented on #101
@akinsho no worries. I think nobody should expect anything like that at all. Plus I don't really use tagbar anymore. Thanks for providing this nice plugin!

[2021-05-23 23:42] lcrockett opened #104 "Do not display LSP indicators for current buffer"
I'm trying to figure out how to write a conditional within `diagnostic_indicator` to only display LSP indicators for visible buffers and have them not appear on the bufferline for the current buffer itself. The rationale behind this is that my statusline and current buffer itself already display sufficient LSP indicators to draw the required attention.

I've tried playing around with a few functio

[2021-05-24 09:21] akinsho commented on #104
@lcrockett this isn't really a use case I've designed for tbh, so I don't think it's really possible to do since the diagnostics indicator doesn't give you access to enough information to do this. Tbh the function signature at least the current arguments it passes can't be changed since that would break everyone else's configs but I guess maybe the applicable buffer could be passed in as well.

I'

[2021-05-24 14:22] lcrockett commented on #104
Cheers for the additional context Akin. Your pointers have led me to a working example. It indeed does require exposing an additional argument to `diagnostic_indicator`. As i'm not sure what i'm doing, i'll let you judge if below seems acceptable.

[code]

I could then ensure the desired behaviour as follows:

[code]

Would you be willing to accept a PR for the change within `diagnostics.lua` ?

[2021-05-24 14:33] akinsho commented on #104
Sure @lcrockett that sounds great 👍🏾 , for the actual PR though could you trim down the contents of context, I'd rather not expose too much of the internal context table to users in case people start depending on things I never intended to be exposed. Somethings `local context = { buffer = buffer}` for now and then that can grow over time if needed.

[2021-05-24 14:46] lcrockett commented on #104
OK, I think you mean the following:

[code]

If so, then this works as intended and I could leave aforementioned `diagnostics_indicator` example intact. The above example does however redefine the already existing local `context`. Is that OK or would it be better to rename the 4th argument to .. ?

[2021-05-24 14:50] akinsho commented on #104
Yeah I'd prefer to avoid the shadowing but renaming it isn't really a big deal since what the variable is named in that function doesn't really matter since to user it's just the 4th argument, it could be `ctx` or `user_context` 🤷🏾 they can just rename it when they define their function to whatever .

It'd also be great to add this to the README and help text with your example since other users mi

[2021-05-24 14:56] lcrockett commented on #104
Alrighty, while it makes sense it wouldn't matter to much to the user, i'll rename the 4th argument anyways to `ctx`, just to make LSP not mark it as a `HINT` within `diagnostics.lua`.

I'll file a PR and expand the README section `LSP Error indicators` with my example and additional information.

Cheers !

[2021-05-24 18:16] lcrockett commented on #66
![nvim-bufferline-conditional-lsp-indicator-current-00](https://user-images.githubusercontent.com/58056722/119390133-e5d19500-bccc-11eb-915d-f5d11f8e652c.jpeg)
![nvim-bufferline-conditional-lsp-indicator-visible-00](https://user-images.githubusercontent.com/58056722/119390136-e66a2b80-bccc-11eb-9a87-e622e3e20563.jpeg)

[2021-05-24 19:07] akinsho commented on #104
Fixed by #105

[2021-05-24 19:07] #104 closed

[2021-05-25 07:25] famiu opened #106 "Allow using custom close function / command"
So as you might already know, the default `:bdelete` command in Neovim is quite annoying in the sense that it messed up the window layouts. I made a function that bypasses it and would want to be able to configure nvim-bufferline to use it instead of `:bdelete` or whatever else it uses for deleting that buffer. So it would be really nice to have that option.

[2021-05-25 09:13] akinsho commented on #106
@famiu yes this would be good to add, I'm beginning to get very wary of new features since at the rate at which I'm accepting user requests for new configuration options I think this plugin will have like 50 in 6 months so I'm planning on being quite strict now. This one though is I think quite a sensible thing that I'm surprised no one asked for earlier although tbh I almost never close buffers w

[2021-05-25 13:23] famiu commented on #106
@akinsho If I make a PR, would you mind if I, along with allowing to add custom functions, also added built-in integration with [bufdelete.nvim](https://github.com/famiu/bufdelete.nvim), which is basically the code I wrote but I decided to turn it into a plugin?

[2021-05-25 13:44] akinsho commented on #106
@famiu a PR would be fantastic 🙏🏾 , with regards to an integration tbh I've tried very hard (not sure if I'm winning) to make this plugin kind of lightweight. I mean from a UI standpoint it's definitely not minimal but it doesn't get involved with how users manage their buffers and I'd like to keep that separation i.e. this plugin shows you your buffers in cool/nice looking ways with more scope fo

[2021-05-25 13:47] famiu commented on #106
I see that's fine, I'll try making a PR if I get the time to soon 👍🏼

[2021-05-25 19:32] Shatur95 opened #107 "Colors looks different after d6c226e8e05155101b202d7c94e1f9d1e4b2d145"
Before:
![изображение](https://user-images.githubusercontent.com/22453358/119557564-04a55980-bda9-11eb-863c-6add44eeab50.png)

After:
![изображение](https://user-images.githubusercontent.com/22453358/119557476-e7708b00-bda8-11eb-96be-19f6170d14a4.png)

After this change, it became more difficult to distinguish between open buffers because of vertical white line on each buffer. Also, this line afte

[2021-05-25 19:36] akinsho commented on #107
@Shatur95 no it wasn't intended I just refactored some very old functionality that hadn't changed since the plugin was created. I'll have a look in a bit at what I did differently/broke

[2021-05-25 20:29] #107 closed

[2021-05-25 20:30] akinsho commented on #102
@hnspn did the example snippet I posted above work for you? can this be closed now?

[2021-05-25 20:31] hnspn commented on #102
yes
forgot to reply sorry

[2021-05-25 23:12] reportaman opened #110 "Wrong devicon when .vimrc/.zshrc opened from startify screen"
The result of ``:e .vimrc`` and ``:e ~/.vimrc`` is different. For the former, nvim-bufferline.lua does display file-specific devicon, for the latter it shows generic devicon. Please refer to the issue that I had originally filed on nvim-web-devicon repository below. It has the minimal .vimrc & a mp4 video that shows the problem. Thanks for this wonderful plugin!

https://github.com/kyazdani42/nvim

[2021-05-26 07:03] #110 closed

[2021-05-26 07:03] akinsho commented on #110
@reportaman this should be fixed now 👍🏾 , lemme know if not

[2021-05-26 10:36] siduck76 commented on #94
@akinsho  I didnt wanted to create an issue for this sillly question , what are tabs in bufferline?

[2021-05-26 10:55] akinsho commented on #94
@siduck76 this is kind of a big question or rather the answer is a bit long the best detailed explanation is in
`:help tabpage`. Below is from that help page.
A tab isn't a "workspace" a tab is away of arranging buffer into a different layout of window. Say you have one window you split into two. You might want to have these side by side but just for 20mins you want to focus on the left split. Rat

[2021-05-28 04:02] aptigges21 opened #111 "Attempt to index 'bit' a nil value"

[2021-05-28 04:07] aptigges21 commented on #111
Thanks for the great work! Been using this plugin for a while now and really like it. However, I recently started receiving the following error:
`E5108: Error executing lua ...lugged/nvim-bufferline.lua/lua/bufferline/colors.lua:72: attempt to index global 'bit' (a nil value)
`

My solution: per [https://bitop.luajit.org/api.html](url) I added `local bit = require("bit")` to the beginning of the c

[2021-05-28 19:58] foodornt opened #112 "Removing the empty bar"
I'm trying to make the bar above transparent
![image](https://user-images.githubusercontent.com/40924367/120035993-1d5f7a80-c008-11eb-85b3-50f1816e9286.png)
Any idea what's wrong?

BTW When not using a colorscheme it just works, could it be because of the colorscheme? and if so, how can I solve it?

(The #FF0000 is just to show that the bar isn't getting affected)

[2021-05-29 09:51] akinsho commented on #112
@foodornt the full list of highlight groups is in `:h bufferline-lua-styling` but the highlight group you're after should be fill. I just tried that locally and it worked. Can you check the output of `highlight BufferLineFill`. Also maybe make sure your colorscheme isn't messing with bufferline's highlights

[2021-05-30 17:13] foodornt commented on #112
Could be the colorscheme. I'm using moonlight, if anybody happens to use the same colorscheme and have the same issue please let me know.

[2021-05-31 19:20] akinsho commented on #112
@foodornt do you mean https://github.com/lewis6991/moonlight.vim colorscheme, in which case it doesn't look like it doesn't target bufferline. Tbh I really can't tell why it isn't working in your case. Can you try a completely minimal `init.lua` don't load anything else except this plugin and see if the color changes then try again with your colorscheme and see if it still works.

[2021-06-06 11:03] foundObjects opened #113 "can't offset buffers over 'undotree'"
Hey there, I'm not sure if I'm doing something wrong here or if this is a bug but I'm unable to offset the bufferline over an 'undotree' plugin sidebar window. The relevant section of my bufferline config starts with something like this:

[code]

And the filetype from the undotree window reports 'undotree' when I run `echo &ft` from it. The offset functions correctly over NvimTree, just not undotr

[2021-06-06 14:07] akinsho commented on #113
@foundObjects this is a known limitation of the offset feature. It only works with *full height* side bar panel windows. It works by using `winlayout` to see if the window the user specified a file type for is a full height one since the number of possible window layouts in nvim is huge, it just does the simplest thing. In `undotree`'s case it creates two windows so technically it isn't a full hei

[2021-06-07 05:47] siduck76 opened #114 "Slant tab style doesn't work on terminals other than Kitty"
Hi there! I have disabled the tab indicators and yet it shows

![image](https://user-images.githubusercontent.com/59060246/120965188-2677e680-c782-11eb-842b-537f766e0dd2.png)

My config :

![image](https://user-images.githubusercontent.com/59060246/120965100-00524680-c782-11eb-886b-420e22401d5a.png)

[2021-06-07 06:09] siduck76 commented on #114
the first tab doesnt even show any separators and for the rest of the tabs , it just shows only left separator

![image](https://user-images.githubusercontent.com/59060246/120967239-e23a1580-c784-11eb-84b9-f8f5c24b3d5d.png)

separator config :

![image](https://user-images.githubusercontent.com/59060246/120967334-f4b44f00-c784-11eb-8865-e6e98cb902ec.png)

[2021-06-07 06:28] akinsho commented on #114
@siduck76 I think this is a misunderstanding, tab indicators are not the same as the buffer tabs, tab indicators are small indicators on the right hand side that show you if you have any tabs open.

![image](https://user-images.githubusercontent.com/22454918/120969095-a6418900-c761-11eb-807f-766dbeda1ff0.png)

I'm also not at all sure what the second set of screenshots is trying to do but to use t

[2021-06-07 06:30] akinsho commented on #111
I'm going to close this out since this shouldn't really be an issue if using the correct version of lua/luajit 🤷🏾 will take a look if more people report this whilst on the on lua 5.1 with luajit

[2021-06-07 06:30] #111 closed

[2021-06-07 06:34] siduck76 commented on #114
@akinsho what is the difference between BufferLineBackground and BufferLineFill ( highlights )? Also how many highlights do you use for the separator?

[2021-06-07 06:42] akinsho commented on #114
@siduck76 this isn't something that this plugin can fix, how these characters are rendered is determined by your terminal emulator 🤷🏾‍♂️ I use `kitty` which renders things correctly.

[2021-06-07 06:48] siduck76 commented on #114
oh :( , sadly all other terminals dont render it , even alacritty

![image](https://user-images.githubusercontent.com/59060246/120971555-63e07200-c78a-11eb-9c93-472043820f17.png)

[2021-06-07 07:01] siduck76 commented on #114
Idk if this might work,  we can color the separators only and not their bgs

![image](https://user-images.githubusercontent.com/59060246/120973159-34cb0000-c78c-11eb-814a-2e818b6d2b12.png)

[2021-06-07 07:06] siduck76 commented on #114
Also using these might work :

![image](https://user-images.githubusercontent.com/59060246/120973790-00a40f00-c78d-11eb-8600-0b47e17a4438.png)

instead of using these :

![image](https://user-images.githubusercontent.com/59060246/120973811-0a2d7700-c78d-11eb-9d0d-7d943c220821.png)

[2021-06-07 07:17] siduck76 commented on #114
@akinsho terminal isnt the problem I think , its just that the left separator's slant glyph used needs to have a space after it :

before :
![image](https://user-images.githubusercontent.com/59060246/120974987-604eea00-c78e-11eb-827c-d036157b9a9f.png)

output :
![image](https://user-images.githubusercontent.com/59060246/120975025-6ba21580-c78e-11eb-97a9-eac8409b50ec.png)

after :

![image](https:/

[2021-06-07 07:27] akinsho commented on #114
@siduck76 does the other glyph have a space beside it already or does only one need it. It seems like a weird hack that only one to glyph needs a space. Does this break the appearance on other terminals?

[2021-06-07 07:41] siduck76 commented on #114
@akinsh Adding the space fixes this for all other terminals too , doesnt break any appearance too.

I tested it on default alacritty , gnome-terminal ( didnt even set any nerdfonts in these) and it works :)

![image](https://user-images.githubusercontent.com/59060246/120978156-ce48e080-c791-11eb-861c-e055185d4121.png)

I suspected it cuz the left separator was hiding one "

look close
![image](htt

[2021-06-07 08:22] siduck76 commented on #114
oops , this fix works in all terminals but not kitty xD

![image](https://user-images.githubusercontent.com/59060246/120983726-9ba1e680-c797-11eb-8d3a-29fb847e6239.png)

[2021-06-07 08:24] akinsho commented on #114
@siduck76 can you paste the separators with the whitespace you added here? I tried adding the spaces to the characters in my terminal and it looks fine, it makes the tabs thicker which I don't like but if it fixes things for more terminals 🤷🏾 I used `" ", " "` does that work for you?

[2021-06-07 08:25] siduck76 commented on #114
@akinsho here

     " ", ""

[2021-06-07 09:07] akinsho commented on #114
@siduck76 I think this plugin has *waaaay* too many options already I'd rather not add one for edge cases that a user shouldn't have to care about in the first place. Adding one whitespace char in a specific place seems kind of brittle/hacky I'm not sure why some terminals need that. It's worse still because if I do this I'll have to change the highlighting logic to handle this extra whitespace ch

[2021-06-07 09:37] siduck76 commented on #114
@akinsho  adding one more option wouldnt be bad tho! Since this fixes a major issue regarding slant tab styling. It fixes all other terminals :D

[2021-06-07 09:54] akinsho commented on #114
@siduck76 you misunderstand my issue. This problem doesn't need to be solved by adding an obscure option that people won't understand. Whatever the solution it should just work automatically without having to use an option. Probably if necessary I will check the terminal type and handle the whitespace automatically. Or I will just make the change for all terminals. I won't add this as an option.

[2021-06-07 10:16] siduck76 commented on #114
@akinsho the extra padding doesnt break the highlighting at all

[2021-06-07 10:25] akinsho commented on #114
@siduck76 adding the extra padding *does* break the highlighting on kitty as you can see below. This needs to also be handled.

![image](https://user-images.githubusercontent.com/22454918/121001145-e2d1ac80-c782-11eb-9888-c4e5b27cef74.png)

[2021-06-07 10:26] siduck76 commented on #114
@akinsho yes as I said , this fix will break kitty but fix all other terminals! such a weird hack lol

[2021-06-07 11:33] evolify opened #115 "Define highlights in other color scheme."
I want to define the highlights in my color scheme other than in the plugin setup like this(using lush):
![image](https://user-images.githubusercontent.com/12669069/121009738-19c9b180-c7c7-11eb-8798-c7b283856a93.png)
but make no difference.

[2021-06-07 12:12] akinsho commented on #115
@evolify are you also refreshing the highlights using the `Colorscheme` autocommand generally most highlights can be overriden this way?

In any case tbh I designed this plugin to work separately to colorschemes the intention being that colorschemes wouldn't interfere with the highlighting of this plugin and only the user would be able to. For me this is a core feature since I don't want to have t

[2021-06-07 12:34] #114 closed

[2021-06-07 12:35] akinsho commented on #114
This should be fixed now I tested on gnome terminal and on alacritty and seemed fine, whilst also preventing breakage on kitty.

[2021-06-07 13:48] siduck76 commented on #114
Thanks works now :)

[2021-06-07 14:52] akinsho commented on #115
So [this colorscheme](https://github.com/folke/tokyonight.nvim/blob/ed89c01ea0b9a1a6a6c4ae6223f7c178b352ca3f/lua/tokyonight/theme.lua#L338) is able to override the highlights for this plugin maybe take a look at what that is doing.

[2021-06-07 17:59] sbromberger opened #116 "help with color customization"
I've read through `:h bufferline-styling` and the following sections, but I can't seem to get the colors the way I'd like.

Specifically, I'd like the separator to be invisible. I've tried setting `separator`, `separator_selected`, and various `indicator` settings, but none of these seem to work.

Could you please give me some advice on how to do this?

Thank you for a great plugin.

[2021-06-07 18:12] akinsho commented on #116
@sbromberger can you share a screenshot of what specifically you are trying to hide? If it's the active indicator this has an `indicator_selected` group and you can set `guifg=NONE` you can also do a similar thing with the separators which should work. Alternatively you can set the `indicator_icon` to an empty string.

[2021-06-07 23:13] sbromberger commented on #116
![9E8CABEA-BF69-4288-8FF5-48A930CFA54C](https://user-images.githubusercontent.com/941359/121098659-5811a180-c7c4-11eb-83c0-9f90036a7b14.jpeg)

The orange vertical bar is what I'm trying to eliminate. I tried `separator_style = {'', ''}` as well but it didn't do anything. Thank you!

[2021-06-08 00:41] sbromberger commented on #116
I don't seem to have `indicator_selected`:

[code]

[2021-06-08 00:44] sbromberger commented on #116
Ah, `indictor_icon = ''` worked. Thanks!

[2021-06-08 00:44] #116 closed

[2021-06-08 02:46] evolify commented on #115
Ok， let me see.

[2021-06-08 03:53] evolify commented on #115
My highlights in my color scheme seem to be override by the code in `lua/bufferline/highlights.lua`.
Did you forgot to invoke the `M.hl_exists` function to check if the highlight already defined before set the highlight?
![image](https://user-images.githubusercontent.com/12669069/121120413-13334c80-c850-11eb-967c-17e9efd5246d.png)

[2021-06-08 07:53] evolify commented on #115
Ok, I will set the highlight in the plugin setup before I have time to dig in. Thank you.

[2021-06-08 08:12] akinsho commented on #106
@famiu this should be much easier to do now that I've create a `config.get` method you can now just create a key in the config, and inside of the function I use before do `config.get().options.close_command` and then check the type and use it

[2021-06-08 18:11] #106 closed

[2021-06-09 02:04] siduck76 opened #118 "Hide close icon from visible buffers"
Hi @akinsho , sorry to bother again! Is it possible to hide the close icon from all the buffers in bufferline? The selected buffer should only have the close icon.

By default every buffer has a close icon

![image](https://user-images.githubusercontent.com/59060246/121281287-4d0a5e80-c8f5-11eb-9834-2cb8943c9e08.png)

Could look something like this :
![image](https://user-images.githubusercontent.

[2021-06-09 09:11] akinsho commented on #118
@siduck76 I'm going to be spending less time adding new features or changes. This plugin takes too much of my time and for me has been in an acceptable state for months.

Regarding this specific feature a very important difference in the image you show is that in a GUI text editor you can hover over a tab and the `X` icon will appear so you don't lose the ability to close *any tabs* by pressing th

[2021-06-09 09:19] siduck76 commented on #118
@akinsho close icons for inactive  / visible buffers is what I want to be hidden. I know there's no proper hover functionality in neovim. Is it possible to just add a highlight for close icon for BufferLineBufferVisible and BuffeLineBufferSelected , so it'll be easy to just make the inactive close icons to match their buffer bg colors which make them look hidden.

[2021-06-09 09:27] akinsho commented on #118
@siduck76 a highlight group is an acceptable middle ground, but as I mentioned I won't be spending as much time on new features for this plugin. It's not a lot of work and you want this feature the most since I will not use it at all, so I think it would be worth you looking through the code base at how other highlights work an attempting a PR.

I maintain a few other plugins that also need my att

[2021-06-09 09:33] #118 closed

[2021-06-09 09:55] akinsho commented on #118
@siduck76 I'd be happy to guide and help you with a PR, if you are configuring neovim in lua you'll probably have to learn some lua anyway and with what you learn you will be able to contribute some of the changes you want in the plugins you use, up to you 🤷🏾

[2021-06-09 10:04] siduck76 commented on #118
@akinsho I have moved my neovim [config](https://github.com/siduck76/NvChad) to full lua , I'd done the PR already if I was good at lua :p but Im still very new at it. Also making lua neovim plugins looks so hard :/ . My friend said we need to be good at vimscript , vim and know how the vim infrastructure works . My vim journey was too fast , I learned some vimtutor and directly jumped at neovim.

[2021-06-09 11:15] akinsho commented on #118
@siduck76 I think that makes the bar way too high, you definitely don't need to know vimscript to get started with lua plugins. Almost all functionality ends up coming through the api which is all documented in `:help api`. But I think tbh the better way to approach contributing isn't to think about having to know everything first I think few plugin developers know everything.

It starts with just

[2021-06-09 14:42] siduck76 commented on #118
@akinsho I'll test this locally first and then try! thx for the help

[2021-06-09 14:54] siduck76 commented on #118
I dont understand the third step :(

[2021-06-09 14:58] siduck76 commented on #118
@akinsho I'll test this locally first! thx for the help. I dont get the 3rd step

[2021-06-09 15:11] akinsho commented on #118
@siduck76 nah sorry wasn't super clear you need to change it where the `symbol` variable is being used
like
[code]
Also note that this function `close_icon` takes only the `options` not the `highlights` because where it is being called it is probably only being called with `ctx.options` but should be called with `close_icon(buf_id, ctx)`

so inside the function you can do
[code]

[2021-06-09 15:15] siduck76 commented on #118
@akinsho I defined close_button_visible.hl and close_button_selected.hl , where do I define close_button.hl? in the else section?

![image](https://user-images.githubusercontent.com/59060246/121381606-7c57b480-c963-11eb-907c-484a5e028ecb.png)

[2021-06-09 15:31] akinsho commented on #118
@siduck76 that's in step `1.` you need to add `close_button = {guifg = <blah>, guibg = <blah>}` etc. for the other types inside `config.lua` they should get passed through to here (unless I'm forgetting something, that's all already been hooked up)

[2021-06-09 16:40] siduck76 commented on #118
@akinsho so the step 1 has these three in config.lua right?
![image](https://user-images.githubusercontent.com/59060246/121394920-78ca2a80-c96f-11eb-8ed5-24bb6ba2843f.png)

[2021-06-09 16:52] akinsho commented on #118
@siduck76 in the line at the bottom at the return you are re-using the variable you created on line 276 so you should use `close_button_hl`.

[2021-06-09 16:53] akinsho commented on #118
From the screenshot above you are also not passing in `ctx` just `options` you need to change the place where `close_icon` is called to pass in `ctx` and change the variable name in the definition of `close_icon` to `ctx`

[2021-06-09 16:58] siduck76 commented on #118
ctx doesnt seem to be a function , how do I pass close_icon in it? I didnt find any close_icon related code in this function too

![image](https://user-images.githubusercontent.com/59060246/121397471-f8f18f80-c971-11eb-841b-f5845e3414c9.png)

[2021-06-09 17:07] akinsho commented on #118
@siduck76 ctx is not a function it is a `table` what I'm saying is that at some point `close_icon` is being called with 2 arguments you need to find where it is being called and change the second argument to pass in this object which will already be available where it is being called. Have a look around just grep the code base for the name `close_icon`

[2021-06-09 17:19] siduck76 commented on #118
@akinsho This is getting confusing! I have to change the second argument and add it as a variable in ctx table?

![image](https://user-images.githubusercontent.com/59060246/121400176-e62c8a00-c974-11eb-8994-6dcdef060ca8.png)

[2021-06-09 17:28] akinsho commented on #118
@siduck76 The line below is where `context` is passed in. This is the table we have been discussing and that you showed in your screenshot.

https://github.com/akinsho/nvim-bufferline.lua/blob/7b510d5241fb29f5a5e985e02c4cfa046ec4ee3e/lua/bufferline.lua#L333

On the line below you need to change `something` to pass in `context` instead
https://github.com/akinsho/nvim-bufferline.lua/blob/7b510d5241f

[2021-06-09 19:11] RaZ0rr-Two commented on #113
One workaround for this problem is to put the following settings somewhere it is `source`d or `require`d

[code]

The diff panel can then be toggled manually with D. One another usual complimentary settting for this is:

" if set, let undotree window get focus after being opened, otherwise

[code]

[2021-06-10 02:19] siduck76 commented on #118
@akinsho is this right?

![image](https://user-images.githubusercontent.com/59060246/121454425-63312100-c9c0-11eb-8f67-e1bc2ef94998.png)

[2021-06-10 11:16] akinsho commented on #118
@siduck76 did you change the place where close icon is being called to correctly pass on the context table?

[2021-06-10 12:55] siduck76 commented on #118
@akinsho Im confused again , I changed the second argument in context table's , close_icon function

![image](https://user-images.githubusercontent.com/59060246/121528348-001fa880-ca19-11eb-9925-bd0135ab0e10.png)

[2021-06-10 13:36] akinsho commented on #118
@siduck76 this might be easier if you make a *Draft PR* then I can just make comments on github rather than doing it with screenshots

In this case what I'm saying is that
[code]

[2021-06-11 08:37] wirtsi opened #120 "Pick buffer by number"
Hello

might be that I am blatantly missing this from the docs .... but how can I jump to a buffer by ordinal number? So something like <leader>1 opens the first buffer

Thnx :-)

[2021-06-11 08:44] akinsho commented on #120
@wirtsi a user can set the mappings key to `true` and this plugin will create `<leader>1-9` mappings to open a buffer by oridinal number. NOTE: the key isn't `mappings` it should be in the README I don't recall what it's called atm

[2021-06-11 08:56] wirtsi commented on #120
Hey @akinsho

Thanks ... I tried the mappings key in the config, there seems to be a bug in the way nvim-bufferline sets the keys though

![image](https://user-images.githubusercontent.com/276751/121660379-7ff25500-caa3-11eb-8fe5-91f4fdc10792.png)

So it somehow seems to prefix the number with a backslash, that's probably not intended ...

[2021-06-11 09:05] akinsho commented on #120
@wirtsi that's not a bug I don't think. The default `<leader>` key for neovim is `\` if you have not changed your `<leader` then this is the expected behaviour. You shouldn't/ I won't add number mappings like `1-9` directly because this will break all other behaviour in neovim that expects a count like `2dw` etc.

[2021-06-11 09:37] wirtsi commented on #120
I have configured the <leader> the be the space key (backslash is not so nice to reach on my keyboard layout) ... I checked the code and found out what the issue was:

I was setting the leader key below the plugged config (where I am loading nvim-bufferline) ... moving the definition above it fixed the problem for me

Thanks for your help

[2021-06-11 09:37] #120 closed

[2021-06-11 09:43] krims0n32 opened #121 "Feature request: allow buffer switching by ordinal number"
Thank you for this awesome plugin. I have one feature request, I would like to be able to switch buffers using the ordinal buffer numbers displayed.

This way I can map <leader>1 to switch to buffer with ordinal number 1, 2 for 2, etc.

[2021-06-11 09:50] akinsho commented on #121
@krims0n32 please see #120

[2021-06-11 09:52] krims0n32 commented on #121
Thank you sir!

[2021-06-11 09:52] #121 closed

[2021-06-11 18:58] sahilsehwag opened #122 "Support for more closing commands"
It would be great, if we can have support for additional close commands

- Close all buffers
- Close all buffers to the left
- Close all buffers to the right
- Close all buffers besides current one

[2021-06-11 19:02] sahilsehwag opened #123 "Support for vertical padding"
It would be great if we can have support for vertical padding as well in bufferline

[2021-06-11 20:15] akinsho commented on #123
@sahilsehwag this isn't possible in neovim in a terminal UI unfortunately

[2021-06-11 20:16] akinsho commented on #123
gonna close this since id like this but cant do anything about it

[2021-06-11 20:16] #123 closed

[2021-06-13 02:21] foundObjects commented on #113
Thanks for the explanation! I'm not terribly proficient in lua yet but I'll look at implementing this when I've got some time and see if I can get somewhere. I agree that the infinite possible layouts makes this annoying to tackle, personally I'd be totally fine with peeking into the layout and looking for only top level windows in each column as overlay anchors.

This is also helpful, thanks!

[2021-06-13 19:25] akinsho commented on #122
Hi @sahilsehwag,

So I'm in two minds about this, one sort of tenet I have for this plugin is that it doesn't manage a users buffers, it just shows them in a nice way and there's quite a lot of scope to change the way they are shown. This kind of moves things more in the direction of managing things since it involves adding commands to handle buffer deletion and then inevitably things like, should

[2021-06-13 19:48] sahilsehwag commented on #122
I agree the first and the fourth can be done using native vim functionality(although close is not the correct option for this, since its a window command and not a buffer command). But It would be great if you can implement the close all left close to the right command.

[2021-06-13 20:08] akinsho commented on #122
@sahilsehwag I wasn't referring to the close command, but either way regarding implementation as a pointed out I'm not currently working on new features. I'll leave this open in case yourself or someone else decides to implement this. I can provide some advice on how to do it since I don't think it would be particularly difficult.

[2021-06-14 07:46] Racle opened #125 "Each tab has an extra bar at the back"
Some (recent) update broke bufferline.

![image](https://user-images.githubusercontent.com/759091/121856744-854adc00-ccfd-11eb-85c2-cfde362f9529.png)

My bufferline config:

[code]

[2021-06-14 08:34] akinsho commented on #125
Hi @Racle,

what terminal are you using? did you just switch to `slant` for the first time? or were you using `slant` before. Just as a note it won't work on every terminal but if you are on one of the supported terminals I'll try and see what's going on

[2021-06-14 08:43] Racle commented on #125
@akinsho I'm using Tilix.

I've been using this terminal for years. And I switched to bufferline and to this config earlier without problems.

Some update in last 2 weeks broke my config/bufferline.

[2021-06-14 08:48] akinsho commented on #125
😓 this relates to #114, the TLDR is that different terminal handle rendering the slant characters differently, some terminal need an extra space some don't 😭 , it's a bit of a nightmare. Do you know how I can detect if a terminal is tilix or not?

[2021-06-14 09:13] Racle commented on #125
@akinsho got zero idea about that.
`ps -p$PPID -o cmd=` seems to find tilix that BUT it doesn't work inside tmux which I also use (it displays that I'm using tmux, not tilix).

Maybe add an option to disable this fix https://github.com/akinsho/nvim-bufferline.lua/commit/54576f262e4ef5ea7a31d88b2d1399f637e338d2 ?

Usually people don't use multiple terminal emulators so that might be enough (at leas

[2021-06-14 09:27] akinsho commented on #125
@Racle I really don't want to have this be an option since it is an obscure bug and an option will be hard to explain. Also I think this plugins complexity and the number of options has gotten too wild.

I think what I will do is see if there are any ways to detect `tilix`, if not I might just add it to the list of terminals that are *not* supported. Either that or I think the `slant` option has e

[2021-06-14 11:28] Racle commented on #125
Quick workaround for this if someone else finds this, I added this before `require "bufferline".setup` and it seems to be working just fine
[code]

<sub>I was sure I made this comment few hours ago (probably forgot to press comment :man_shrugging:)</sub>

[2021-06-14 23:48] Joakker commented on #125
Works like a charm in Konsole. You also apparently don't need to define it before loading the plugin. It works just as well if you do it afterwards

[2021-06-15 09:20] Trid-collab opened #126 "Integration akinsho / nvim-bufferline.lua with Lualine"
Is it possible to integrate the Lualine features with those of 'bufferline' . Basically I was wanting color highlighting I am getting in statusline in the tabline along with the benefits of the "akinsho / nvim-bufferline.lua" plugin.

I like how earlier airline enabled the highlighting of bufferline

[2021-06-15 09:25] akinsho commented on #126
@Trid-collab I'm not sure I fully understand this request, but tbh I won't be doing any integrating in this plugin with other ones. I think these things should be decoupled and where/if necessary an api or functionality provided for a user to do this themselves. A user can tweak most of bufferline's highlights so you can find what colours you like and add those to your config.

[2021-06-15 17:47] #125 closed

[2021-06-15 17:48] akinsho commented on #126
Going to close this since I think I've answered the question.

[2021-06-15 17:48] #126 closed

[2021-06-20 13:37] akinsho commented on #122
Fixed by #124

[2021-06-20 13:37] #122 closed

[2021-06-21 13:47] spiderpug opened #128 "Suggestion: Custom Area example improvements"
The given custom area example is working in general, but only if all 4 lsp diagnostics are greater than zero. It does not show the right area when only informations are present -- at least I could not make it work.

Note the replacement of `result[0] = ` with `table.insert`. This configuration fixed it for me:

[code]

[2021-06-21 15:14] akinsho commented on #128
Hi @spiderpug, tbh all the examples in the README are just to trigger some inspiration for users. They are definitely not intended to cover all edge cases etc. They are definitely *best effort-ish*, that particular example is from another user. If you managed to make an improvement though I'd appreciate it if you can raise a PR to update the README.

[2021-06-21 20:48] spiderpug commented on #128
Hi @akinsho , appreciate your input. I understand that the examples are not covering all use cases, and they never could. If you think this is a worthy addition, I'm happy to PR something. If you think the current example is clear enough, I'm also fine with leaving it as-is. Could also be me lacking Lua skills, to anticipate that this behaviour was intended.

WDYT?

[2021-06-22 07:28] akinsho commented on #128
@spiderpug I think an example that always shows all values sounds like a good default since it's probably what other people expect, so a PR would be great. Tbh the original example was an excerpt from another user's dotfiles and I think they probably intended for it to only show if there were multiple values 🤷🏾

[2021-06-26 06:58] letieu opened #129 "How to make it only open a new tab when chose open in Tab"
I want only create a new tab when i need ( choose open new Tab in FZF or in NvimTree). When using this plugin, i can't config it work for me, it create a new Tab when i open a file, not when create new Buffer. So it make very much tab and it's not necessary and messy.

And can you tell me how to close a Tab by command or something isn't Mouse ?.  `:q` make quit buffer, not close a Tab

[2021-06-26 07:46] letieu commented on #129
Now for close Tab and reopen NvimTree, i have a function like this

[2021-06-26 08:49] akinsho commented on #129
@letieu I'm sorry, but I don't understand at all what the issue is. I think you are mixing up tabs and buffers, maybe.

When you open a file *vim creates a buffer* this plugin sees that vim has done that and shows the buffer, you can't pick and choose whether vim will create a buffer. If you open a file, vim *will* create a buffer and this plugin will show it.

You can use the filter key to create

[2021-06-26 08:51] akinsho commented on #128
@spiderpug are you still up for creating the example update PR? Otherwise, I might close this issue and people can find it later still.

[2021-06-26 21:03] pwntester opened #130 "[Feature request] custom names"
Hi!

I was wondering if it could be possible to allow changing the name appearing in the tabline items. My use case is that if the buffer name starts with `octo:/` I would like to show a text with a truncated version of the github issue that the buffer represents.

Thanks
A

[2021-06-27 11:07] akinsho commented on #130
Hi @pwntester,

This isn't too complicated a feature to add, and It could have some cool use cases. What concerns me is that people are almost certainly going to abuse this to change things other than the sort of use case you describe, which will very probably break the plugin and result in issues like "why can't I make x name work" etc. I guess this could be solved by stern documentation, I'm jus

[2021-06-28 13:29] spiderpug commented on #128
Fixed in https://github.com/akinsho/nvim-bufferline.lua/pull/132 ❕

[2021-06-28 13:29] #128 closed

[2021-06-29 07:31] akinsho commented on #130
Closed by #131

[2021-06-29 07:31] #130 closed

[2021-06-29 07:33] akinsho commented on #129
I've not got any more input on this and this issue isn't very clear/actionable on my end otherwise, so I'm going to close this out. Feel free to add in more info in the future, and we can discuss/re-open if necessary.

[2021-06-29 07:33] #129 closed

[2021-06-29 08:14] pwntester commented on #130
Thanks!

[2021-06-29 21:09] stevanmilic opened #133 "[Question] Sort buffers by tab number"
Hey, is it possible to sort buffers by their respective tabs? e.g. if there's three buffers in tab 1, two buffers in tab 2 and one buffer in tab 3, then they should be shown in-tab order (like I listed them).

I know there's a `sort_by` function I could write, but I'm not sure what's the best way to find tab number from the buffer object.

Thanks for this great plugin!

[2021-06-29 21:29] akinsho commented on #133
@stevanmilic you can probably do something like this, but you'd probably need to try and experiment a little. The `sort_by` function gives users free rein to think up and implement any ordering they can think of a solution for.

You could try something like using `vim.api.nvim_tabpage_list_wins()` to get a list of windows, since what a tab really represents is *windows*, not buffers really. Then l

[2021-06-29 21:32] stevanmilic commented on #133
Awesome, thanks for the info. I'll try to follow your advice, and post the solution here once I have it.

[2021-06-30 07:23] stevanmilic commented on #133
I did it, here's the function:
[code]
Instead of listing the windows, I just iterate over all tabs, and as soon as I find the buffers I need I make the comparison.

[2021-06-30 07:23] #133 closed

[2021-06-30 09:21] akinsho commented on #133
Awesome @stevanmilic I might add this to a wiki section I've been thing of creating to host things like this user created snippets for stuff like `sort_by` and `diagnostics_indicator` etc.

[2021-06-30 09:29] stevanmilic commented on #133
Yea that is a great idea @akinsho, I was thinking to suggest the same thing. Even having a support for this out-of-the-box: `sort_by = 'tabs'` would be great. I feel like like this is something users would want to have, since it gives a feeling like you are using tabs instead of buffers, but still handling everything on the buffer level, if you see what I mean.  At that point, a optimization could

[2021-06-30 12:41] akinsho commented on #133
@stevanmilic I've thought about offering more sorters by default, and there's already a module for that, so it would actually be easy to add. One thing though is, I'm beginning to feel this plugin is getting a little heavy trying to do everything out of the box, whereas by offering users the ability to write custom functions they can do this stuff themselves or copy it from a wiki rather than down

[2021-06-30 12:50] stevanmilic commented on #133
I understand what you're saying, but adding another sorter doesn't make the plugin more-heavy-weight IMO. As long as you develop new functionalities for the concepts you already have, you are not adding complexity,  just adding more options for a feature. And the tests are there to help with the maintenance anyway.

[2021-06-30 14:11] akinsho commented on #133
Yeah in this case it's not really a big deal. If you'd be up for a PR I can point you in the right direction. I shouldn't be too hard.
* Add your function to `sorter.lua`
* Add an if clause to match the sorter in the same file (there's a function that handles which sorters)
* Add documentation to the README and help files.
* Add tests for the sorter function to validate it behaves as expected.

[2021-07-01 17:34] dbarrosop commented on #111
I actually got the same issue. The funny bit is that I use nix and have exactly the same configuration/environment in two laptops and one of them works fine (older macbook pro with intel processor) and the other one gives the same exact issue (M1). In both cases I compiled nvim with nix:

[code]

[2021-07-01 17:46] akinsho commented on #111
I believe the issue here is that your nvim version doesn't seem to include `luajit`. When I run `version` on my machine, I get
[code]

[2021-07-01 17:56] dbarrosop commented on #111
Yeah, just realized the intel one has the same output as yours. Weird that the only issue is this one though, no other lua plugin seems to have problems with the difference (well, weird for me as I know very little about lua, I am sure it makes perfect sense). Anyway, will try to figure out why this is being compiled differently. Thanks for the quick response and the awesome plugin :)

[2021-07-03 14:34] Shatur opened #135 "Wrong buffers order"
When a new buffer is opened, it will open at a random location. For example:

1. I opened `init.lua`:
![изображение](https://user-images.githubusercontent.com/22453358/124357457-34574500-dc24-11eb-8d6a-7940907aa276.png)
2. Then I opened `dap-repl.lua`:
![изображение](https://user-images.githubusercontent.com/22453358/124357472-3faa7080-dc24-11eb-91c7-b610c5f36d8a.png)
3. Then I opened `python.lua`

[2021-07-03 17:25] akinsho commented on #135
@Shatur by default buffers are rendered based on the listing valid buffers with no specific order in mind. If you want to order them by some criteria you can use the sort_by function and order by buffer ID

[2021-07-03 19:52] Shatur commented on #135
Okay, thank you!
We already have "extension", "relative_directory" and "directory" sorters. Maybe such sorter can be built-in too? This is the default behavior in most editors.

[2021-07-04 11:02] akinsho commented on #135
@Shatur that's not a bad idea, I honestly didn't think anyone particularly minded tbh 🤷🏾 this should be fixed by 6526dec

[2021-07-04 11:02] #135 closed

[2021-07-04 12:35] Shatur commented on #135
@akinsho, hm... I tried to specify the following:

[code]

But the issue still exists. Am I doing something wrong?

[2021-07-04 13:02] akinsho commented on #135
@Shatur persist buffer sort is not a requirement for the ID usage also it is set by default, so you don't need to set it manually. One reason you might still be seeing this is if you had actually persisted a sort before and are re-using the same session. The sort order is stored if you manually changed the sort at some point and are using the same session.

To check this you can check the value of

[2021-07-04 14:59] Shatur commented on #135
Got it, thanks. Tried it again with `sort_by = "id"` set and the result is the same (e.g. the issue is exists).

@akinsho No, the variable is not set.

[2021-07-04 15:12] Shatur commented on #135
My buffers looks like the following when I just my `init.lua`:

![изображение](https://user-images.githubusercontent.com/22453358/124389959-2bcd4000-dcf2-11eb-9547-a144862afc89.png)

Probably lua files just indexed by LSP and it messes order because it relies on the buffer id. So the id is not a reliable way to handle order.
Probably we should manually store the order of opened buffers. What do yo

[2021-07-04 15:24] akinsho commented on #135
@Shatur tbh that is a path I really don't want to go down, certainly for something that to me doesn't feel like a big problem. As far as I know neovim buffer ids increase monotonically i.e. 2->3->4 etc. and if a buffer is wiped out the next new buffer doesn't take an old ones place but instead increments upwards still, so new buffers should have a higher buffer id, so to me they are a good way to

[2021-07-04 15:41] Shatur commented on #135
@akinsho, yes, your point is totally understandable. But probably buffer id is not a reliable way to sort buffers. Let's consider the following example:

1. Open buffer `A`.
2. `:bd`
3. Open buffer `B`.
4. Open buffer `A` again.

The buffer `B` will appear before the buffer `A`.
Yes, if I wipeout the buffer B, it will appear after the buffer `A`. But simple deletion is used much more often.

[2021-07-04 16:09] akinsho commented on #135
@Shatur tbh I think that most of the time this will behave like people would expect, except for this case you describe, which personally seems fine to me since each buffer has a specific position in the list and so to me, it seems right that it would take the position it had before 🤷🏾‍♂️. I think the jump in complexity to iron out this edge case isn't worth it, for me personally anyway. I wouldn't

[2021-07-04 23:29] litearc opened #137 "Icon bg color linked to selected buffer color"
Hi, thanks for the awesome plugin!

I'm trying to change the bufferline colors, and ran into two (unrelated?) issues:
- the bg color of the (nvim-web-devicons) icons is mapped to the fg color of the buffer text, as seen below:
<img width="147" alt="text-white" src="https://user-images.githubusercontent.com/1840363/124402248-05f96880-dcfd-11eb-8d8b-0aea8965c98d.png">
<img width="147" alt="text-blue

[2021-07-05 22:03] akinsho commented on #137
@litearc I'm really not sure I follow what is happening tbh. I know tmux can cause strange highlighting issues, but haven't encountered any for quite a while on my setup. Can you confirm that the `reverse` option isn't maybe being set by something in your colorscheme or in some part of your config affected by tmux? you can check if your highlight groups are picking up `reverse` somehow by running

[2021-07-05 22:43] litearc commented on #137
I'm not sure what you mean by `reverse`, but I tried setting `gui = 'none'`, and that seemed to do the trick. It may be how tmux handles bold text. Either way, I agree this is beyond the scope of the plugin, so I'm closing the issue. Thanks!

[2021-07-05 22:43] #137 closed

[2021-07-10 12:10] rgnkn opened #139 "[feature request] Close neovim with last buffer"
Hello everyone,

maybe I'm missing something, but I don't see any way to close the running neovim when I close (clicking) the last open buffer.

Apologize me if I oversaw any options to apply this or if you suggest implementing this functionality outside nvim-bufferline. Any suggestions are welcome.

BTW, thanks for your fantastic plugin.

[2021-07-11 12:10] akinsho commented on #139
Hi @rgnkn, so this plugin doesn't offer this functionality. You can override the click behaviour to implement this yourself by passing it a function to check if the buffer is the last one and close nvim if it is, otherwise just delete the buffer. I don't think I will add this to the plugin itself since there is already a way to do this, and I don't really like the idea of a bufferline UI plugin cl

[2021-07-11 16:09] Davincible opened #140 "Closing behaviour with Nvim Filetree"
Normally, when you close one of multiple buffers, it detects that there are still other buffers open, and opens a window with one of the other buffers. However, when I have the file tree open, and I close one of the multiple buffers, by clicking on the close button, it detects the file tree buffer as a 'regular' buffer like any other file, and just shows it full screen.

This is bit cumbersome, as

[2021-07-11 17:55] akinsho commented on #140
@Davincible so this issue you're describing is a more general nvim/vim issue in that the drawer windows *are regular buffers* vim doesn't distinguish between them and other buffers, so they behave just like any other buffer would. There are actually [articles](http://vimcasts.org/blog/2013/01/oil-and-vinegar-split-windows-and-project-drawer/) and posts that touch on this

Tbh I think it's out of s

[2021-07-11 17:55] #140 closed

[2021-07-11 19:16] rgnkn commented on #139
Thanks for your reply, I will stick to your suggestion. Therefore I will close this issue.

Have a nice day.

[2021-07-11 19:16] #139 closed

[2021-07-12 21:43] ahmed-rezk-dev commented on #56
Is there any updates on buffer groups?

[2021-07-12 21:53] akinsho commented on #56
Nope. Haven't looked into it properly. A big part of the way centaur-tabs does it is that it can render the UI in a way that can't really be achieved in nvim so not super clear how this would look.

It's also a non-trivial amount of work I don't currently have time for.

[2021-07-14 15:24] siduck76 opened #142 "user highlights not set after startup refactor"
Hi @akinsho , I updated the plugin today and my highlights looked different from before

before :

![image](https://user-images.githubusercontent.com/59060246/125648322-19803437-3e1e-4111-9e3e-2be2f1a6f669.png)

after :

![image](https://user-images.githubusercontent.com/59060246/125648395-3dc4fa38-82fd-40d8-8243-28ad84c41260.png)

have the highlight groups changed or such?

[2021-07-14 15:31] akinsho commented on #142
@siduck76 nope, no groups have changed. I did refactor the plugin to delay processing the user config till after startup. How are your highlights set? do they use an autocommand or are you doing lazy loading or something?

[2021-07-14 15:33] akinsho commented on #142
I just did a quick test and highlights set during the setup call should all still work, not sure what might be going on in your config but a default setup should work as far as I can see.

[2021-07-14 15:38] akinsho commented on #101
Gonna close this out since it isn't really actionable on my side. Hopefully anyone who encounters this issue this as a guide. Thanks for investigating.

[2021-07-14 15:38] #101 closed

[2021-07-14 15:47] siduck76 commented on #142
I set separated the hightlights from the plugin so I load bufferline config first then a highlights.lua file which has bufferline highlights , I set highlights like this :

hi BufferLineFill guifg="#etc"

[2021-07-14 15:48] siduck76 commented on #142
my config : https://github.com/siduck76/NvChad/blob/main/lua/plugins/bufferline.lua

the way I highlight bufferline stuff : https://github.com/siduck76/NvChad/blob/main/lua/highlights.lua#L105

[2021-07-14 16:04] Mofiqul commented on #142
I am also having the same issue
[My config](https://gist.github.com/Mofiqul/24435c3cabf7b39669677df10106325c)

[2021-07-14 16:53] akinsho commented on #142
@siduck76 In your case, the reason this is probably happening is that you are overwriting the bufferline highlights directly, which btw isn't a good way to configure the plugin. It's better to put the highlights you want to change directly into the setup call for this plugin that way when it starts up it will apply your colours. The reason you are probably having this issue is that even though it

[2021-07-14 16:56] akinsho commented on #142
@Mofiqul can you give some more specifics about what exactly you are seeing, e.g. what highlights aren't loading, and what parts of your config control when bufferline is loaded? Are you using autocommands etc? The example config you show in your gist works for me, so it is likely as with Siduck an ordering issue

[2021-07-14 17:12] Mofiqul commented on #142
@akinsho  Its `buffer_visible` is not loading and I also notice `:luafile $MYVIMRC` works as expected but not at startup

[2021-07-14 17:29] akinsho commented on #142
Ok I can reproduce the `bufferline_visible` issue, that's pretty strange since all the other highlights are working. I'll take a look

[2021-07-14 17:38] siduck76 commented on #142
@akinsho bufferline hides if there's just one buffer , how do I disable that?

[2021-07-14 17:45] akinsho commented on #142
@siduck76 that isn't a default setting did you disable `always_show_bufferline`?

[2021-07-14 17:57] akinsho commented on #142
@Mofiqul I spoke too soon, I just re-tested, and I can't reproduce the issue (wasn't actually testing with a visible buffer 😄). When I apply highlights to buffer visible, they work in my config. Can you please clarify how you are loading bufferline? And how highlights are being setup in your config. All the highlights work in the same way, so I'm not sure why only one group wouldn't work.

[2021-07-15 03:35] winston0410 opened #143 "Integrate with `buf-num-nav.nvim`"
I came across https://github.com/akinsho/nvim-bufferline.lua/blob/0e1fa3ddc350f8943317015ce0c3b96c30e84444/lua/bufferline.lua#L900 when I read the source of bufferline, do you think it is a good idea to integrate what I have in there instead?

[2021-07-15 05:08] siduck76 commented on #142
@akinsho it works now , https://github.com/siduck76/NvChad/blob/main/lua/plugins/bufferline.lua#L23 . But I think adding the highlights in the setup call looks messy :(

[2021-07-15 06:20] winston0410 opened #144 "diagnostics_indicator only gives out "error" for `level`"
Right now `diagnostics_indicator` only gives out `"error"` for `level`, mixing up `"warning"` and `"error"`

[2021-07-15 07:04] winston0410 commented on #144
I am not sure if it is really a bug in implmentation or it is intended (which then I guess need clarification in doc). Is the first parameter intended to be total count instead of the count for messages in specific levels, and is the second parameter intended to be the highest level of error instead of the level of the error being emitted?

https://github.com/akinsho/nvim-bufferline.lua/blob/34456

[2021-07-15 07:24] akinsho commented on #142
@siduck76 I think that is definitely a matter of personal preference, I personally don't see why a lua table is more messy than a bunch of function calls 🤷🏿‍♂️.

More important than (perceived) messiness is the design of this plugin, it is intended that the user should give the plugin a table representing their highlight preferences so that I can use those colours easily programmatically rather th

[2021-07-15 07:29] akinsho commented on #143
Hi @winston0410,

I don't think I understand what this is issue is about really, but judging from the name about integrating another plugin, I've been asked this before, and generally I don't want anyone using this plugin to have any dependencies (other than icons).

This is also a very small bit of logic, so I don't think an external plugin is necessary for it at all. Lastly, I eventually plan to

[2021-07-15 07:34] akinsho commented on #144
@winston0410 the count is the absolute number of issues of any kind warning, error, or info. The diagnostics level is the highest level of issue, e.g. if there are 10 warnings and 1 error, it will be an error. I would remove the first two parameters if I could and a user would just use the 3,4 (or event combine them) but I don't know who uses this and how, and it will break their configs.

If it's

[2021-07-15 07:36] akinsho commented on #144
Actually it is in the documentation under `:help bufferline-lua-diagnostics` although that hasn't been updated to include the third and fourth arguments.

[2021-07-15 08:13] ouuan opened #145 "Bufferline disappears when opening the first file"
After #141, the bufferline disappears when:

1.  Open an empty NeoVim session.
2.  Open a file (via either `:e` or fzf).
3.  The bufferline disappears.
4.  Open another file.
5.  The bufferline appears.

[2021-07-15 08:42] #145 closed

[2021-07-15 08:43] akinsho commented on #145
@ouuan sorry about that, should be fixed now. I reproduced it on a minimal config and retried after the fix and that seems to have resolved the issue. Thanks for reporting it

[2021-07-15 09:10] #142 closed

[2021-07-15 12:15] siduck76 commented on #142
@akinsho actually thanks , I had lazy loaded almost all the plugins . And bufferline actually showed up among the slowest 5 plugins (startuptime.vim , it took 0.150 ms ~) , now it no longer shows as the slowest plugin after adding the highlights in the setupcall itself :D

![image](https://user-images.githubusercontent.com/59060246/125786428-e8077ddb-2ff6-415c-94ef-b6873e64f51a.png)

[2021-07-15 14:13] winston0410 commented on #144
I see. I will then close it. Thanks.

[2021-07-15 14:13] #144 closed

[2021-07-15 14:13] #143 closed

[2021-07-17 16:46] Pocco81 opened #146 "After latest commit, bufferline is not being hidden when `showtabline=0` while on dashboard."
Hello @akinsho! The tittle says it all. This started happening since updating the plugin two days ago. I read through the code and [removing `VimEnter`](https://github.com/akinsho/nvim-bufferline.lua/commit/cebafb95622205a414a6c10bf0e40d197cc652b1#diff-47fabfe452ff7a153117c6d9b99f2ef62455cb8ae325dd77fd62d85fe3d10d4dR889) from the event seems to be the problem.

Could you add it back and leave it a

[2021-07-17 17:08] akinsho commented on #146
Thanks for reporting this @Pocco81 I don't use a startup menu and didn't notice a difference in testing so I assumed it was serving no purpose. Does it work as expected for you if the event is re-added?

[2021-07-17 17:29] Pocco81 commented on #146
Surprisingly enough, adding VimEnter didn't work. However I did revert to the commit 344564a and everything works as expected. Are the changed from the latest commit necessary?

[2021-07-17 17:34] akinsho commented on #146
@Pocco81 that's not really necessary should be able to fix it without resorting to such drastic measures

[2021-07-17 17:38] Pocco81 commented on #146
What can we/you do then?

[2021-07-17 17:41] akinsho commented on #146
@Pocco81 I understand what is probably going on and have raised a PR can you try it and report back on there if it fixes the issue.

[2021-07-17 17:44] Pocco81 commented on #146
Nope, it's still the same :(

This is my config btw:
[code]

[2021-07-17 17:45] Pocco81 commented on #146
I'm gonna try to load bufferline after Dashboard to see if that does something.

[2021-07-17 17:49] akinsho commented on #146
Can we move the conversation to the PR please, so I can follow on just one thread? Really strange that isn't working. I'll download dashboard see

[2021-07-17 17:53] Pocco81 commented on #146
Yep.

[2021-07-17 18:58] akinsho commented on #146
fixed by #147

[2021-07-17 18:58] #146 closed

[2021-07-17 19:19] sphynx79 opened #148 "Custom Area Async datetime"
Hello please can you help me to insert async datetime in custom area.

Now i use this code to insert datetime in custom area:

[code]

But i want refresh datetime every minute in async mode.

[2021-07-18 03:01] mgutz opened #149 "MRU feature?"
Perhaps there's a way to do this but my neovim lua fu isn't as good yours. Is there a way to navigate through the most recently used buffers? I often times will live_grep in telescope, open a few buffers, then I want to quickly get back to the most recently used buffers.

[2021-07-18 05:45] KeqiZeng opened #150 "Can I ues BufferLinePick to close a buffer?"
Hello bro, I don't use mouse in neovim, so I want to know can I use the function `BufferLinePick` to close a buffer just like pick it. If yes, can you tell me how to get it?
Thank you so much!!

[2021-07-18 19:26] akinsho commented on #148
@sphynx79 this is quite a bit out of the scope of this plugin, i.e. how to implement a clock in lua doesn't really specifically relate to this plugin. I haven't done this before myself, so I don't actually know off the top of my head, but guess you would need to use a timer using `vim.loop.timer_start` and then redraw the section every minute. I guess the best way to do this would be to literally

[2021-07-18 19:26] #148 closed

[2021-07-18 19:33] akinsho commented on #149
@mgutz nope, there currently isn't an easy way to do this. You can have a look in the docs for a way to sort buffers based on the last modified timestamp which is close-ish to this but if the idea is to do it based on what was last visited then no no exact solution. It's not a trivial problem to solve since nvim doesn't really expose a list or field for what buffers where last opened, it would req

[2021-07-18 19:38] akinsho commented on #150
@KeqiZeng that isn't possible currently, it's an interesting idea though. I'm probably not going to look into it myself anytime soon, but would appreciate/review a PR for it though

[2021-07-19 09:08] akinsho commented on #149
@mgutz so it turns out that nvim does have a field you can use to see what was last used, buried deep inside a helper method called `getbufinfo` which has a last used field. I found that this is what telescope uses for the buffer picker so I've raised a pr to use that over in #151 can you try that out and see what you think.

Just to be clear it might not be perfect I don't know what mechanism vim

[2021-07-19 12:01] shaeinst opened #152 "[Feature request] move buffer number just before the file name"
![image](https://user-images.githubusercontent.com/41078534/126156826-790cea23-e9f1-4a8a-9732-a85ca5cfe610.png)

[2021-07-19 13:02] akinsho commented on #152
@shaeinst this isn't possible as the numbers are added before the buffer spacing is applied, I'd rather only do things one way or the other i.e. have them side by side or not rather than try and support both ways as that's more complexity I wouldn't want.

[2021-07-19 13:40] mgutz commented on #149
I have a naive MRU algorithm working but it's a bit wonky on the UI side. MRU, by its nature changes changes the order of buffers on-the-fly. So, when I cycle to the previous buffer, a buffer might have increased in weight giving it a higher priority than what is visually displayed (as it should). The issue is weight is on BufLeave event based on how long it's been viewed. If a user has viewed a f

[2021-07-19 14:18] akinsho commented on #149
@mgutz that sounds interesting and along the lines I imagined a more complex solution would require. You can raise what you have as a draft PR and we can go from there. You mentioned some wonky UI? what issues are you having.

Regarding things like weighting based on modified state or not I think these can be more advanced optional/configurable features not necessary for the initial implementation

[2021-07-19 21:11] ramezgerges commented on #150
@akinsho I gave it a try (#153).

[2021-07-20 08:19] akinsho commented on #150
This is fixed by #153 which added the `BufferLinePickClose` command

[2021-07-20 08:19] #150 closed

[2021-07-20 08:28] KeqiZeng commented on #150
OK, I'll try it. Thank you bro!

[2021-07-20 15:21] siduck76 opened #154 "show buffers of active tab only"
Hi @akinsho! loving bufferline very much so far :D . I wanted to know if its possible to show buffers list of  current tab only?

like ( by default there is only 1 tab )

- open a  "x" file

- open a new tab ( this is tab 2 then)  and switch to it

- open a "y" file

I want to see only x file's buffer which was opened in tab 1 and y file's buffer which was opened in tab 2 and not mix all the buffe

[2021-07-20 15:39] moshiur-raj opened #155 "[Bug report] tab close button not working"
Clicking the close icon does nothing when multiple tabs are open. And I could not find any separate mappings for that close icon. There seems to be one available for the close icon displayed after the buffer name.

[2021-07-20 16:17] akinsho commented on #154
@siduck76 since this sounds like the beginning of an attempt to make tabs work like workspaces I'm going to just start with a warning which is that *tabs are not workspaces*. This comes up a lot in vim circles because people try and make them behave that way a lot but that's not what they are. Any buffer open in any tab is *not specific to that tab* a buffer can appear in 5 different tabs it's not

[2021-07-20 16:27] akinsho commented on #155
Hi @moshiur-raj,

Hmm that icon is very old, I wouldn't be surprised if it broke at some point in the past and you're the first person to report the issue. Tbh I don't use any of the clicking functionality personally so hadn't noticed.

[2021-07-20 19:13] #155 closed

[2021-07-20 19:14] akinsho commented on #112
@foodornt not sure what this ended up being due to but the bufferline fill highlight works on my various tests so going to close this out for now.

[2021-07-20 19:14] #112 closed

[2021-07-20 19:28] moshiur-raj commented on #155
Thank you.

[2021-07-21 11:43] akinsho commented on #154
@siduck76 can I close this now?

[2021-07-21 11:50] mintelm opened #157 "[Bug] Clicking the bufferline fill region closes tabs and buffers"
Hi,

when I disable the option `show_close_icon` I can still click the icon even though it is not rendered and the buffer will be closed.
I know there is the option `close_command` but this changes the behavior of all close buttons. I simply want to hide and deactivate the one on the far right of the bufferline, not the ones inside of the buffer "tab".

What I expected:
Disabling the option should

[2021-07-21 11:55] akinsho commented on #157
@mintelm I just had a try and I'm not sure I understand what you mean. On my end if I set the `show_close_icon = false` the right most cross icon disappears, the logic it uses is also not in the bufferline *at all* there is nothing to click, so I'm not sure how it's possible that it's triggering anything? Are you mixing the tab close button with the buffer close buttons?

[2021-07-21 11:57] akinsho commented on #157
I also just tried disableing the buffer close icons using `show_buffer_close_icon` and that also hides the icons *per buffer tab* and clicking on it doesn't close the buffer either. Can you share some screenshots or a GIF of what you mean?

[2021-07-21 12:34] mintelm commented on #157
![Peek 2021-07-21 14-33](https://user-images.githubusercontent.com/46969863/126489037-a8a86184-72fb-45e6-af54-5f77243e9fa8.gif)

[2021-07-21 12:34] mintelm commented on #157
You see how I click the hidden close button and it closes my tabs?

[2021-07-21 13:04] #154 closed

[2021-07-21 13:28] akinsho commented on #157
@mintelm thanks for the GIF, was able to reproduce it. Somehow the click component is "leaking" into the empty section. Anyway I'll look into it when I get a chance got quite a backlog of issues across multiple plugins so probably won't be soon. I always welcome a PR if you are willing to dig in yourself otherwise it's a waiting game.

[2021-07-21 17:18] akinsho commented on #157
This should now be fixed by 47fc74b 🤞🏿

[2021-07-21 17:18] #157 closed

[2021-07-22 19:33] Shatur opened #159 "VimEnter error"
After e211a5495d5f90209382ebd242b086f729ad2e74 I have the following errors that happen on VimEnter:

[code]

[2021-07-22 19:38] akinsho commented on #159
@Shatur can you paste what you set as the value for those highlights in your config, maybe I missed a field

[2021-07-22 19:57] Shatur commented on #159
I have the same behavior even without a colorscheme. I have the same error every startup.
The plugin is loaded via native package manager using `:packadd! nvim-bufferline.lua`

[2021-07-22 20:01] Shatur commented on #159
Here is what I have after loading:
![изображение](https://user-images.githubusercontent.com/22453358/126702029-bfc89b3c-f294-406a-9492-15739b5199c6.png)
![изображение](https://user-images.githubusercontent.com/22453358/126702059-b0d587a2-08bb-4990-8226-c92c4914e533.png)
![изображение](https://user-images.githubusercontent.com/22453358/126702085-f256fb48-f18e-4edb-b80f-141939f38f60.png)

[2021-07-22 20:05] akinsho commented on #159
@Shatur can you try with a minimal `init.lua` I just tried with `nvim -u <minimal.lua> --noplugin`
with just
[code]
And I don't see this error. Are you doing anything in your config to change these colors or in the setup of this plugin

[2021-07-22 20:07] akinsho commented on #159
Actually, you must be changing these colours somewhere because the default styles are different from what your highlight command shows.

[2021-07-22 20:10] Shatur commented on #159
Right, sorry, I should have started with this, I found the reason:

[code]

[2021-07-22 20:26] akinsho commented on #159
Ah I see the issue. The gui field is passed right to the highlight command which is why it is erroring since it will be creating `highlight Thing gui= guifg=value` it's best to put `NONE` there really, but I'll also add a change to check for invalid values and use non if it finds any, still that shouldn't be something to rely on specifically since I won't be checking stuff like if a user puts 'hel

[2021-07-22 20:30] Shatur commented on #159
Thanks, this solves the issue for me.

I would ok with the error. An string just worked before, so I was surprised :)

[2021-07-22 20:30] #159 closed

[2021-07-23 15:19] moshiur-raj opened #160 "[Feature request] Stop updating lsp diagnostics count when auto completing."
Bufferline updates the lsp diagnostics count when selecting a suggestion from the auto completion menu. I think this is unnecessary and distracting.
It would be much better if bufferline updated the count only when editing in normal mode or when entering the normal mode from insert mode. This is also the default behavior in `nvim-lspconfig`.

I have a question....
Does turning this option on cause

[2021-07-23 16:02] akinsho commented on #160
@moshiur-raj the plugin uses the exposed diagnostics information, similar to how you would use it in your statusline. It doesn't trigger new requests or cause a whole bunch of logic to run. The diagnostics module just saves this information for things like plugins/users to read.

Regarding not showing updates under certain conditions, it might or might not be easy to add it could just be a questio

[2021-07-23 16:12] ChrisTsou opened #161 "separator not changing"
![Screenshot 2021-07-23 190939](https://user-images.githubusercontent.com/25465975/126810772-9259d49b-e0e8-4fb1-9025-9bb42ae10e75.png)

tried all available values its the same. i have nerd font.

[2021-07-23 16:17] akinsho commented on #161
@ChrisTsou can you paste your config and show what values you tried changing and what to?

[2021-07-23 16:18] akinsho commented on #161
From the README

this is how to change the separators,
to change the indicator use the `indicator_icon` options.

[2021-07-23 16:31] moshiur-raj commented on #160
I see.
Neovim 0.5 is really awesome and has made me very interested in learning lua. It's waaay better than vimscript.
I'll have to give it a go then...

[2021-07-23 18:52] ChrisTsou commented on #161
I've tried all 'slant', 'thick', 'thin' , {'/', '\'}. It looks exactly the same on all cases

[2021-07-23 20:42] ChrisTsou commented on #161
im stupid, forgot the "options" field. my bad.

[2021-07-23 20:42] #161 closed

[2021-07-23 21:22] ChrisTsou opened #162 "Highlight"
![Screenshot 2021-07-24 001653](https://user-images.githubusercontent.com/25465975/126842708-2edbc6d7-9b5b-44c7-85b4-db0bf1b97f07.png)

I cant for the love of me find which highlight is for that little grey part between tabs,
Also the offset for Nvimtree seems to be off as you see on the screenshot

[2021-07-24 05:50] reportaman opened #163 "How to change highlights from .vimrc?"
Hi, I do not have a lua based setup and its not clear how to correctly apply highlights.

Here's the sequence of statements I have in my .vimrc:

1. Load this plugin with vim-plug
2. After plug#end(), I have this:
[code]

These changes are not applied to nvim buffer line. I intend to change the background color of the entire tabline. Also, I don't want to affect the other highlights calculated by

[2021-07-24 07:50] akinsho commented on #163
@reportaman you can use a lua heredoc to write plain lua insidea vimscript, I'm on mobile so can't easily show an example. It's in the nvim docs though :h heredoc.

In your case it also looks like the highlights are not correctly nested in a highlights table i.e. they should not be top level

[2021-07-24 07:57] akinsho commented on #162
@ChrisTsou that should be the separator shading or something similar. I'm on mobile so can't give any detail if you check through the docs you'll find a matching style.

Regarding the offset that's how vim shades the separator between windows and also depends on the character you use for it. It's not something this plugin can solve for a user. They need to find a left aligned or right aligned vert

[2021-07-24 18:46] ExpandingMan opened #164 "[Feature request] allow custom mappings using bufferline numbers"
At first I was going to use buffer ID's instead of the numbers provided by bufferline, but I realized that the great virtue of the bufferline numbering is that they are labeled 1-9 allowing for easy keyboard shortcuts.  Then I have a different problem: I am not sure how to e.g. open a new vertical split with a specific buffer (according to the bufferline numbering scheme), because the standard vim

[2021-07-25 01:10] ChrisTsou commented on #162
Yep found it, it was separator_selected and seperator_visible set the fg only.
I also figured the the font i was using had completely messed up boxing characters hence the messed up offset,

[2021-07-25 01:10] #162 closed

[2021-07-26 07:39] siduck76 opened #165 "Animations"
Can bufferline have animations like Barbar.nvim?

https://github.com/romgrk/barbar.nvim

[2021-07-26 08:08] akinsho commented on #165
@siduck76 the short answer is, no.

A few things worth saying, I have no personal beef with barbar it's obviously very popular. The animations are also undoubtedly something a lot of people like about it. I'm personally perfectly fine with this plugin being less popular than it if it means I don't have to make choices that I don't support or that I don't feel are right.

The long answer is that I

[2021-07-26 08:23] siduck76 commented on #165
@akinsho yes you are right , I didn't know it would be complex . Anyways the decoration api here ( sliding animation gif) looks so cool https://neovim.discourse.group/t/wip-animated-notifications-plugin/448  . But yeah if it adds more complexity,  then don't look onto it. I dont want one of my favorite nvim plugin's dev to stress about this thing :D

[2021-07-26 08:23] #165 closed

[2021-07-26 08:25] siduck76 commented on #165
Not related to this issue :

Can we group tabs? Like clicking one tab would open up a lil telescope pop-up or such and list all the tabs associated with that grouped tab . Ik this sounds complex , also we could group buffers the same way theoretically.

[2021-07-26 11:25] akinsho commented on #164
Hi @ExpandingMan,

Not a 100% sure I understand, but you can use `number_style = ordinal` to see the buffer number that bufferline is using, i.e. the position of the buffer in the internal list. I think down the line to allow executing a custom action against a visible buffer in the line base on a position it would be good to expose a sort of `buf_execute(<number>, user_func)` that a user can crea

[2021-07-26 12:44] Akianonymus opened #166 "[Feature] Dynamic offset text"
Currently, the offset text at top is static, fetched during initialisation and then it uses the same.

How about using a dynamic text ? Adding something like offset_type option, which can be string or function

If offset_type is string, then show as it is, otherwise evaluate the string ( using loadstring ) and use it.

[2021-07-26 14:42] cstsunfu opened #167 "[Question] Is there a way to update buffer number after sort buffer?"
Thanks for your awesome work.

I have used the function sort_by to sort the buffers, it's really useful when opening many buffers. But the buffer number is not updated, the number is disorganized. I have to check the buffer number carefully when I change the buffer using shortcut "leader+buffer_num".  So I want to know, is there any way to update buffer number by the real position after buffer sor

[2021-07-26 20:26] ihasdapie opened #168 "Current tab indicator broken with ayu-vim"
I noticed that the current tab indicator highlight is broken when used with [ayu-vim](https://github.com/ayu-theme/ayu-vim)

![image](https://user-images.githubusercontent.com/54821716/127053775-8b1832d1-28a3-48e4-bdda-36cec8c4d9ea.png)

Not quite sure what the best way to fix this would be. If you can give me a pointer I'll submit a PR if that would help, but shouldn't be a really big fix.

Thank

[2021-07-26 22:06] ExpandingMan commented on #164
Ok, good to know, thanks!

Yes, this is essentially what I was trying to do.  Basically, the `nvim-bufferline` numbers are more useful than the native vim numbers (because they allow for consistent key bindings), but you can't execute other buffer commands in terms of them.  It would be great to have some sort of ability to do this at some point.

[2021-07-27 01:05] siduck76 commented on #166
I think it already does

`local current_cwd = vim.fn.fnamemodify(vim.fn.fnamemodify.getcwd(), ':t');

 text = current_cwd
`

[2021-07-27 04:53] Akianonymus commented on #166
@siduck76 No it doesn't, obviously i checked with a function before creating this issue.

It won't because it doesn't evaluate it further, it gets what it gets at the first time.

Also, the function i was using.

[code]

[2021-07-27 07:02] siduck76 commented on #166
Weird this worked for me before , now it says *local undefined*

[2021-07-27 11:20] akinsho commented on #168
Hi @ihasdapie, so I don't tend to add fixes for specific color schemes to this plugin, it is supposed to be completely agnostic of color schemes. Looking at this particular issue, it seems to be because the `TabLineSel` highlight group is maybe not being set by `ayu`. See `:h hl-TabLineSel` for more info on this highlight. In either case, I think the right solution is to contribute a highlight for

[2021-07-27 11:30] akinsho commented on #166
@Akianonymus, so the offsets are checked and redrawn each time the bufferline reloads, but the value pulled in from the config is only done once on startup

I'm open to this, generally I think the potential solution doesn't need to be as complex as using `loadstring` or anything like that. Just changing the type signature of `text` to also take a function and doing a `type(text) == 'function' then

[2021-07-27 15:28] akinsho commented on #167
@cstsunfu I'm not entirely sure if I follow tbh. The buffer number that the mappings relate to are the *absolute positions* of the buffers in the list, not the visible position of the buffers. In either case I'm working on #169 which will change the mappings to work based on the visible position at any given point. Not sure if that relates to this or not really though.

[2021-07-27 16:23] Akianonymus commented on #166
hmm, thx for the idea, i am new to lua so didn't it can be done without loadstring too.

Anyway, i have created the pr: https://github.com/akinsho/nvim-bufferline.lua/pull/170

About the documentations, i would be glad if you could handle that or atleast hint what to add.

[2021-07-27 16:33] cstsunfu commented on #167
Thanks for your reply, change the mappings sounds reasonable.
If there is any update, please let me know.

[2021-07-27 16:41] akinsho commented on #167
No, there is no update yet as I'm working on quite a few things atm. It'll be merged when I have time to continue working on it.

[2021-07-27 20:06] akinsho commented on #166
closed by #170

[2021-07-27 20:06] #166 closed

[2021-07-27 20:06] akinsho commented on #163
@reportaman can I close this now?

[2021-07-27 20:14] reportaman commented on #163
@akinsho Thanks for asking :) I didn't get a chance to try it yet. Lemme get back in an hour.

[2021-07-28 01:18] ihasdapie commented on #168
I see, thanks for your input & the great plugin!

[2021-07-28 01:18] #168 closed

[2021-07-28 09:12] akinsho commented on #163
Gonna close this out since it's really more about using lua in vimscript rather than an issue with this plugin. This can be achieved by just doing something like
[code]

[2021-07-28 09:12] #163 closed

[2021-07-28 11:48] librowski commented on #140
For anyone encountering this issue - the function below handles closing tabs pretty well. I just bound it to `<Leader>q`:
[code]

[2021-07-31 20:24] burgessa23 opened #171 "question about background color"
Hi,

how can I set the background color of the Bufferline?

[2021-08-01 09:20] akinsho commented on #171
@burgessa23 if you have a look through the help docs using `:h bufferline-lua-highlights` there is a list of highlights you can change. Possible the one you mean to change is the `fill`, but please check the documentation to confirm.

[2021-08-01 15:23] burgessa23 commented on #171
Thanks, the name was what I needed

[2021-08-01 15:40] #171 closed

[2021-08-03 07:02] milse113 opened #172 "[Question] vim tab movement binds have weird behavior"
The vim binds `gt` and `gT` almost never behave as expected. Sometimes they don't work at all, other times they just completely skip tabs, sometimes it moved the cursor within a file (presumably moving to a duplicate buffer. No other errors or issues are visible.

[2021-08-03 07:39] akinsho commented on #172
Hi @milse113,

so the `gt` and `gT` commands have very little to do with this plugin. Those mappings are for changing vim tabs and this plugin operates on vim buffers. Those commands will not move through bufferline buffers since they are not tabs. As you mention with the cursor a buffer in another tab is in another window so it won't share the cursor position with the previous window.

[2021-08-03 16:46] #113 closed

[2021-08-03 18:05] milse113 commented on #172
Well this plugin in effect replaces vim tabs, correct? Is there a way of emulating this behavior using bufferline?

[2021-08-03 18:13] akinsho commented on #172
This is not correct actually, this plugin shows a user *buffers* not tabs. It shows tab indicators which appear on the right side of the bufferline, so you can see that switching tabs will change the tab indicators, but the main focus of this plugin is buffers.

[2021-08-03 18:17] ayoubelmhamdi opened #174 "How can i restore old view (buffer not tab)"
I'm conflict between tab and buffer
I'm family with old tab and windows
if i choose open like windows/buffers i do:
[code]
if i choose open like tabs i do:
[code]
also how can i toggel view history tab?

[2021-08-03 18:31] akinsho commented on #174
@ayoubelmhamdi I'm sorry, but I don't understand at all what you mean. If you open nvim with just the files, that will show two buffers. If you open `nvim -p` there will still be 2 buffers but also 2 tabs 🤷🏿‍♂️ . To be clear, this plugin show/focuses on *buffers*

[2021-08-03 18:48] ayoubelmhamdi commented on #174
if i use `nvim -p` i want tow show tow tabs , but if i use only `nvim` i want to show one tab
can i do that in future

[2021-08-03 18:52] akinsho commented on #174
@ayoubelmhamdi I think this issue is probably due to a misunderstanding of this plugin. To be clear, this plugin shows *buffers* mainly *not* tabs.

[2021-08-03 19:07] ayoubelmhamdi commented on #174
@Akianonymus  :yah it's also named `/nvim-bufferline.lua` , and very cool for buffer and fast, but i'm still want `tabline` with `lua` with old view (^_^)

[2021-08-03 19:34] akinsho commented on #174
@ayoubelmhamdi that is not something this plugin provides 🤷🏿‍♂️ if you are willing to work on this and create a pull request I'd be happy to help guide it, but otherwise I'm going to close this out since it's something this plugin can do currently and something I don't personally intend to provide.

[2021-08-03 19:34] #174 closed

[2021-08-04 03:59] milse113 commented on #172
I see; is it possible to use this as a tab line then?

[2021-08-04 09:16] akinsho commented on #172
@milse113 short answer is no, this has been asked quite few more times than I expected since I expected the name of the plugin would make things clear already.

Anyway I'll say to you what I've said to other people asking a similar question. My usecase and the reason I built this plugin is I want to see what files I have opened easily and to sort them/order them how I like. I don't personally unde

[2021-08-04 09:16] #172 closed

[2021-08-04 13:26] smichaud opened #176 "[bug]: custom filter regression"
I don't know if this is possible to hide some buffer from the line?
I would like to hide buffers when &buftype == quickfix || &buftype == terminal.
I am sorry if I missed the configuration for this.

[2021-08-04 13:38] akinsho commented on #176
Hi @smichaud,
This is already possible using the `custom_filter` key. You can find more information in the help docs under `:help bufferline-lua-filtering`. You declare function and set it to the value of this key. The docs has an example which you can take inspiration from.

Alternatively you can make both of those buffers `nobuflisted` using an autocommand and that way bufferline will also skip

[2021-08-04 13:39] akinsho commented on #176
Sorry re. closing the issue so fast btw, I try to be proactive about closing an issue if there is definitely a solution that I can/have already referenced, rather than leaving them since I don't like things lingering.

[2021-08-04 15:39] smichaud commented on #176
Hum... I added my filters, but it does not work:
[code]

I made sure this was right by running `:lua print(vim.bo.filetype)` and I indeed have `qf` for quickfix and `neoterm` for my terminals, but they still show in the tab line.

[2021-08-04 16:08] akinsho commented on #176
@smichaud can you verify your filter is in the right place in your settings by trying something wild like just returning `false`. That should remove every buffer and render an empty bufferline.

It might be there's been a regression with that field, although I think it's important to note that for things like plugins the point at which they set a filetype might be after the buffer is created and a

[2021-08-04 16:49] smichaud commented on #176
I tried to return false and there is indeed no buffer displayed.
I used this instead in my init.vim:
[code]
This solve my problem, but I think it would better to find out why it does not work using the custom filters.

[2021-08-05 07:07] akinsho commented on #176
@smichaud it would definitely be good to figure out the issue with custom filters, my time is limited though so will not be able to jump on this for a bit. I did some quick debugging, and it seems that some of the filetype values for buffers are not actually set by vim, which is why your comparison fails. Can you print the value of `vim.bo[buf].filetype` on your end to confirm this is happening.

[2021-08-08 08:03] alohaia opened #177 "[Bug]: Abnormal Chinese display in the bufferline."
### What happened?

![截屏-20210808151940-980x1068](https://user-images.githubusercontent.com/36324537/128625014-818a6edb-dde2-4fdd-a0a1-fc22bba211dd.png)

### What did you expect to happen?

It's expected that the titles are displayed correctly.

### Additional Information

I'm not clear about the reason, but I guess that you may need the function `vim.fn.strwidth` which returns the size of string

[2021-08-08 15:15] smichaud commented on #176
Adding : `vim.fn.input(vim.bo[buf_number].filetype)` in the custom_filter
function never shows *neoterm* or *qf* (it shows others like python), but using
`echo luaeval('vim.bo[MY_NEOTERM_OR_QF'].filetype)` shows *qf* and *neoterm*
properly. I am not sure I answered your question here, did I?

[2021-08-08 17:52] akinsho commented on #177
@alohaia thanks for raising this issue. Can you please clarify what language you are using this plugin with? I actually already use `strwidth` in this plugin, this issue seems to be more about how the characters are being rendered, which this plugin doesn't actually control. I'm not sure based on the information you've provided, I can fix this.

Can you share a minimal init.lua and buffer name tha

[2021-08-08 17:54] akinsho commented on #176
@smichaud thanks for clarifying. This does seem to be a result of some strange behaviour in nvim around getting buffer filetypes, not sure what to do about it just yet but will look into it when I get some time unless someone else decides to help out first.

[2021-08-09 11:44] alohaia commented on #177
@akinsho

Minimal `init.lua`:

[code]

with only nvim-bufferline.lua installed under `~/.local/share/nvim/site/pack/packer/start`.

![image](https://user-images.githubusercontent.com/36324537/128699568-55e8600f-b658-4c1f-a440-3c815fdb1b8a.png)

The buffer name in this picture is `配子的发生与受精.md`. Hope these can help.

[2021-08-09 13:09] akinsho commented on #177
@alohaia I just pushed a commit which I believe fixes this 9d8bf06. Can you let me know if that works for you?

[2021-08-09 13:42] alohaia commented on #177
@akinsho strangely, it seemly only works for the buffer name `配子的发生与受精.md` and only when it's the first buffer. It failed to display correctly when I open other buffers:

![image](https://user-images.githubusercontent.com/36324537/128713267-6e2d265b-61f2-4a22-84fe-a21da5a7ffd4.png)

or open another buffer as the first buffer:

![image](https://user-images.githubusercontent.com/36324537/128713468-5

[2021-08-09 14:14] akinsho commented on #177
@alohaia thanks the names are definitely helpful. I think the issue as I understand it now is that the plugin tries to measure the length of a buffer name and if it is longer than a certain width it will truncate the name and add an ellipsis. The issue is that using lua to truncate the buffer names using `string.sub` works at the byte level not the display cell level which is why it breaks I think

[2021-08-09 14:45] akinsho commented on #177
Alright, just pushed another fix, please let me know if that resolves it. I tried all the filenames you provided, and they don't error any more. I don't think vim is counting the number of characters correctly but tbh I don't know how it should be done though tbh. `主要组织相容性复合体.md` looks like 13 charaters to me, but vim counts by cell, and it returns `20` for that string, so maybe it counts each cha

[2021-08-09 15:55] alohaia commented on #177
@akinsho Chinese characters are displayed in the width of two English characters here. That's why `vim.api.nvim_strwidth` counts each Chinese character as 2. As a result, it can not be used to judge whether the name is too long correctly and will cause extra trailing character `…`(showed in the picture below) when you truncate the buffer name in character count other than in display width. I suppo