[2022-04-01 16:02] buraksirma opened #353 "[Bug]: Tab mode is not working because of missing visibility method."
### What happened?

Bufferline is failing in tabooed because of missing method.

### What did you expect to happen?

Render tabpages.

### Additional Information

...

### commit

_No response_

[2022-04-01 16:08] evprkr opened #355 "[Bug]: Setting "mode" in config causes an error"
### What happened?

Setting `mode = "tabs"` in setup causes the error:

[code]

### What did you expect to happen?

Expected behavior is to only show tabs and not buffers

### Additional Information

...

### commit

_No response_

[2022-04-01 17:00] ofseed opened #356 "[Feature Request] Indicators to show if a buffer is in a tab"
I think it would be very useful because I often close a buffer in a tab, but I forget the buffer is in another tab,
which causes the other tab to be changed beyond my expectations.
For example, this is the bufferline,
[code]
if `plugins.lua` is exist in tab 1, `bufferline.lua` is exist in tab 2, display like
[code]
If `plugins.lua` is exist both in tab 1 and tab 2, `bufferline.lua` does not exist

[2022-04-01 18:07] akinsho commented on #356
@ofseed if you're willing to submit a PR for this functionality I can guide you on how to do it, it's an interesting idea but I currently have way too much to do to do this myself

[2022-04-01 18:12] akinsho commented on #355
@evprkr can you link the configuration you are using that causes this problem. Is the mode correctly set inside the options table?

[2022-04-01 18:29] evprkr commented on #355
@akinsho Thanks for the quick response. I nuked it out of frustration (been screwing trying to transition to neovim from vim for two days and I needed to do work so I moved back to vim for right now) but I just recreated it here:

https://gist.github.com/evprkr/e5a36bc7316bc31279ffcd622c75bdc9

Just about as barebones as you could get. I should note, I previously had tried to use NvChad, but I had

[2022-04-02 06:43] akinsho commented on #355
@evprkr your configuration is set up incorrectly, the options above should be set *inside an options table* please have a close look at the README configuration. The above should appear like
[code]

[2022-04-02 12:23] akinsho commented on #355
Closing this out now since as I mention in the comment above I believe this is due to using the wrong keys in the config

[2022-04-02 12:23] #355 closed

[2022-04-03 08:21] ofseed commented on #356
OK, I will try to implement it by myself, but I'm not familiar with the neovim plugin development, so it may take lots of time.

[2022-04-03 08:32] askfiy opened #357 "[Question] What is the highlighted group of diagnostics?"
I want Bufferline to look as much as possible to vscode.

When I focus on the current buffer, it looks normal:

![图片](https://user-images.githubusercontent.com/81478335/161419216-aa5c070e-6f8f-495a-a645-35b6985890c8.png)

When I focus on another buffer, its `bg` `fg` becomes weird:

![图片](https://user-images.githubusercontent.com/81478335/161419241-1bbd87c9-7215-4908-923f-3b662f6ce25e.png)

I'm wo

[2022-04-03 09:02] akinsho commented on #357
@askfiy all the highlight groups are noted down in `:help bufferline-highlights`  the diagnostics correspond to the level of error you are seeing e.g. info, warning, error etc. I can't help debug these easily since it's easier for you to see exactly what type of error you are seeing.

Please read through the highlights section in details 🙏🏿 the highlight group you are looking for will be there

[2022-04-03 09:34] #357 closed

[2022-04-03 13:24] akinsho commented on #289
This has now been merged into the `dev` branch and will eventually go into the `main` branch, it is implemented using the `groups` feature under the hood, so buffers can be toggled using `BufferLineTogglePin` and closing all pinned via `BufferLineGroupClose pinned`. To be clear exact feature parity with other tablines is not the goal so I'm not looking to emulate their APIs

fixed by #351

[2022-04-03 13:24] #289 closed

[2022-04-03 14:41] akinsho commented on #265
@ErickTucto so I think I've misunderstood your issue this whole time, below is a screenshot of me setting info backgrounds.

<img width="829" alt="Screen Shot 2022-04-03 at 15 36 37" src="https://user-images.githubusercontent.com/22454918/161433208-9adf421d-cb9d-4ea7-b0ea-7fc653ab0ab6.png">

This works how I expect it, too, personally. I think the main misunderstanding is with how highlighting wor

[2022-04-03 19:41] akinsho commented on #352
@ikerurda this should now be fixed on the `dev` branch and will be ported over here when that branch is ready to merge

[2022-04-04 07:34] askfiy opened #362 "[Question] Is there any other way to change the highlight group?"
I want to change different styles of highlight groups for different themes, I'm sure that these themes are loaded with `after = {"bufferline.nvim"}`, but all highlight group changes have no effect (I mean the of BufferLine highlight group)

I am aware of the highligts option, but I have a lot of themes and I would prefer to manually set the performance of each theme on the BufferLine.

[code]

[2022-04-04 07:43] akinsho commented on #362
@askfiy tbh this all seems to go directly against how this plugin was designed. Firstly, the plugin was developed to inherit styles automatically from any theme and appear consistent between themes.

Why are you trying to tweak the appearance between themes? Personal preference or a bug?

Secondly, all highlights should go in to the `config.highlights`, users are not supposed to directly manipulat

[2022-04-04 07:48] askfiy commented on #362
I'd prefer to set some highlights on different themes to make them look cooler, i.e. is there no way to do that?

That means I need to `require` the `bufferline` again in each different theme.

I feel so troublesome...

Perhaps `bufferline` should provide an interface that allows the user to change the highlight group externally?

[2022-04-04 07:57] akinsho commented on #362
@askfiy you can do this more simply by just creating a palette map in your config and passing that the bufferline e.g.
[code]

You shouldn't require bufferline multiple times that is a bad idea, regarding externally exposing highlights this has already been discussed in a few issues #320. As I have mentioned before, there are a few different reasons why this plugin doesn't do that. Anyway if you w

[2022-04-04 07:58] askfiy commented on #362
okay, thank you.

[2022-04-04 07:58] #362 closed

[2022-04-04 12:20] akinsho commented on #206
This should be fixed by #359 since (on `dev` for now) you can set `options.show_buffer_default_icon = false` I've described why I went for that approach in the PR description, but essentially I wanted a way to have the behaviour set specifically for this plugin rather than relying on global values, especially since that gives less choice e.g. enabled just in this plugin or disabled just in this pl

[2022-04-04 12:20] #206 closed

[2022-04-05 04:22] muhmud commented on #347
I think my requirements and different & the dynamic groups aren't going to cut it, although I think it would still be a useful addition.

About what you were saying about buffers open in a tab, even though buffers are independent of tabs, I can find out which buffers are open in a tab using `tabpagebuflist()`, which would allow for an option to hide buffers in the bufferline that aren't open in th

[2022-04-05 06:54] akinsho commented on #347
@muhmud you can already implement this notion of hiding buffers not available in a tab using a custom filter and the function you pointed out, this has actually been raised before and there's a closed issue with this solution. I don't think anything needs to be added to the plug-in itself for this feature since it's already doable

[2022-04-05 07:50] akinsho commented on #347
For reference, the issue I meant was #154

[2022-04-05 11:47] muhmud commented on #347
Thanks for the link, I think I could work with this to do what I want :+1:

One an unrelated note, I've been thinking recently about writing an extension for bufferline that sorts buffers dynamically in MRU order. What are thoughts on this? Would a PR be welcome?

[2022-04-05 12:39] akinsho commented on #347
@muhmud there is an open issue for this in #149, would definitely be open to a PR to implement this, I've looked into it myself actually and the main issue that's a little hard to figure out is how to prevent buffers shifting around constantly, there'd have to be some way of weighting changes so that buffers only shift every once in a while rather than reshuffling the entire bufferline on every bu

[2022-04-05 20:48] ErickTucto commented on #265
thanks, I update the plugin and I havent error.

[2022-04-05 20:48] #265 closed

[2022-04-06 21:13] akinsho commented on #320
@adrian5 thanks for the heads-up, I've been tracking its release, although tbh I'm not sure how any of what is to come requires some urgent change in this plugin. The issue in https://github.com/akinsho/bufferline.nvim/issues/320#issuecomment-1030673058 is less to do with something this plugin does and more to do with the fact that any highlights now set via the API obliterate the existing hl rath

[2022-04-06 21:19] akinsho commented on #320
Not sure exactly what you meant here, but these are neovim native highlights, none of them are highlights created by this plugin. The entire way that this plugin works is by finding native highlights that have a certain look (or should have a certain look) regardless of colorscheme i.e. all colorschemes should set these, and they try and work similarly for each theme and using them as a base for a

[2022-04-07 04:23] atchim commented on #320
I also had been trying to add support for bufferline until I realized that the plugin has an autocommand for the `ColorScheme` event which overrides the previous highlight definitions set by the color scheme. I don't think that's a good idea that the plugin automatically generates highlight definitions based on builtin groups previously set by the color scheme. In general, the bufferline doesn't l

[2022-04-07 06:12] akinsho commented on #320
@atchim there are quite a few different things raised in the statement above, and tbh it's not entirely clear if your issue strictly relates to what this issue here is about. I really want this issue to be restricted to just colorscheme authors and issues re. theming (where possible) this plugin.

Re-applying colours which a plugin created on the `ColorScheme` autocommand is far from "strange" or

[2022-04-07 06:42] bryant-the-coder opened #363 "Question: How to make this transparent?"
![image](https://user-images.githubusercontent.com/92417638/162136276-67a2310e-8eb7-47b8-82b7-5702693b5571.png)
how to make the rest of the line transparent?

[2022-04-07 06:53] LuYanFCP opened #364 "[Bug]: nvim-bufferline.lua/lua/bufferline/utils.lua:238: attempt to index local 'opts' (a nil value)"
### What happened?

[code]
I made the following changes which resolved the issue

lua/bufferline/utils.lua:23
[code]

### What did you expect to happen?

only update bufferline using packer to latest version today.

### Additional Information

neovim env:
NVIM v0.7.0-dev+1400-g233014f92
Build type: Debug
LuaJIT 2.1.0-beta3
Compilation: /usr/bin/cc -DNVIM_TS_HAS_SET_MATCH_LIMIT -DNVIM_TS_HAS_SET_AL

[2022-04-07 07:30] #364 closed

[2022-04-07 07:31] akinsho commented on #364
Should be fixed now thanks for reporting

[2022-04-07 07:53] akinsho commented on #363
@bryant-the-coder I don't know how to do that, I don't use transparent settings in my terminal. Please have a look at all the highlighting in `:help bufferline-highlights` and try to find what works for you, or ask around.

[2022-04-07 07:53] #363 closed

[2022-04-07 11:42] adrian5 commented on #320
I'm probably misunderstanding something about the causal chain of events here. Are you saying that running `nvim_set_hl` leads to decimated hl-Groups before the plugin sources them, or that setting them _afterwards_ breaks the already set up plugin UI?

The issue I described in my [earlier comment](https://github.com/akinsho/bufferline.nvim/issues/320#issuecomment-1042491849) is about setting high

[2022-04-07 12:47] akinsho commented on #320
@adrian5 thanks for clarifying with the commands and images, that helps *a lot*. So my comment about `nvim_set_hl` was more that if you run `hi Group guifg=Red` for example the underlying `Group` which might actually by default be `Group guifg=blue gui=italic` etc. will now be `Group guifg=Red gui=italic` in the native nvim command whereas with `nvim_set_hl` it's almost as if you ran `hi clear Gro

[2022-04-07 13:08] adrian5 commented on #320
Right, that is weird:

[code]

For the time being, what I do in my colorscheme is set the `Normal` group the old way, and all other groups via `nvim_set_hl`. This way bufferline looks as expected. But of course I'd like to get rid of that exception at some point.

[2022-04-07 13:19] atchim commented on #320
@akinsho, I never did a plugin which defines highlight groups for itself before, so I didn't know that plugins have to define its groups every time the color scheme changes. So, my bad for complaining about this. Although, the [Leap](https://github.com/ggandor/leap.nvim) plugin does have a nice approach that is the definition of an `User` event with the `LeapEnter` pattern. This way, the user can

[2022-04-07 13:30] akinsho commented on #320
@atchim there is no need for a custom autocommand from this plugin because

a.) you can set up your own colorscheme autocommand to re-apply your highlight overrides, and this is generally good practice anyway whether you use bufferline if you are overriding highlights in your config it's a good idea to do that.
b.) if you set highlights or overrides via this plugin, then there's no need to worry a

[2022-04-07 13:32] akinsho commented on #320
@adrian5 I think all of this is worth reporting upstream since it seems like something is broken on the API side, all this is fairly new so wouldn't surprise me if there were just a few random bugs, also from randomly skimming neovim issues I think the highlighting for `Normal` is actually done in a convoluted way that was inherited from vim so think that could be why that specific highlight is be

[2022-04-08 08:18] akinsho commented on #320
@adrian5 thanks for raising that issue with nvim 👍🏿 hopefully when that's fixed that aspect of the problem should be resolved.

Regarding this issue as it was initially raised about having default highlights, I've merged in #329, and actually it's true by default, so it's opt out. I don't know if I'll change my mind later, but for now by default the highlights this plugin sets are default, so can

[2022-04-08 08:19] akinsho commented on #352
This is fixed now and merged into the main branch

[2022-04-08 08:19] #352 closed

[2022-04-08 08:43] akinsho commented on #280
@horseinthesky finally got time to add in a highlight group for numbers, can you check out the PR

[2022-04-08 22:42] quantum-booty commented on #309
I've found https://github.com/ojroques/nvim-bufdel works very well.

[2022-04-09 06:14] horseinthesky commented on #280
Hey. Thaks a lot. But it actually don't do what it is supposed to

Here is my config (without numbers group):
[code]

The result:
![image](https://user-images.githubusercontent.com/19948672/162559038-85aac918-be16-40cc-ab1d-cd9e24163571.png)

When on `numbers-highlight` branch it ignores buffer selected group and shows selected buffer name in italic:
![image](https://user-images.githubusercontent.

[2022-04-09 09:32] akinsho commented on #280
@horseinthesky I'm kind of confused by the results you are seeing, when I set `numbers_selected` I see

Using direct colors:

<img width="902" alt="Screen Shot 2022-04-09 at 10 12 40" src="https://user-images.githubusercontent.com/22454918/162565929-6ff68d07-399f-495a-a994-5884fda9ae95.png">

Using group links:
<img width="946" alt="Screen Shot 2022-04-09 at 10 28 54" src="https://user-images.gith

[2022-04-09 09:38] horseinthesky commented on #280
@akinsho I have a guess if it can happen due to I have `numbers` as function in `options. Could you pls try out my full config?

[2022-04-09 10:17] akinsho commented on #280
Ah, found the issue, should be fixed now. Can you try again?

[2022-04-09 10:52] horseinthesky commented on #280
@akinsho Yeap. Works perfectly now. Thank you.

[2022-04-09 11:22] akinsho commented on #280
Great, just merged this into dev, will close this out now 👍🏿 . Will look to merge the changes into main after a short delay to make sure nothing else broke.

[2022-04-09 11:22] #280 closed

[2022-04-09 21:53] ikerurda opened #368 "[Bug]: some highlights have changed recently"
### What happened?

See the white bar separator:

<img width="474" alt="Screenshot 2022-04-09 at 11 28 19 PM" src="https://user-images.githubusercontent.com/45340417/162592494-65cd4b0e-44ae-494a-9fdf-d21ed8a58418.png">
<img width="474" alt="Screenshot 2022-04-09 at 11 28 22 PM" src="https://user-images.githubusercontent.com/45340417/162592496-961b5f68-df81-41fd-b23e-1c33fa626547.png">

### What di

[2022-04-09 22:10] akinsho commented on #368
@ikerurda so based on the above I don't really have enough information to help, the commit you reference wasn't about changing highlight groups, so I wouldn't expect anything there to have changed and nothing changed in my highlights. Can you confirm that if you revert the specific commit, the problem is fixed (i.e. it is caused by the commit you linked)? Can you confirm that this issue happens in

[2022-04-09 22:31] ikerurda commented on #368
I'm sorry, this has to do with `8f7e72f` not the commit I mentioned, my bad.
Sourcing manually the bufferline setup file after nvim is loaded fixes de highlight, so that makes me think this has to do with timing (?).
I also tried this with another colorscheme ([ellisonleao/gruvbox.nvim](https://github.com/ellisonleao/gruvbox.nvim)) as you suggested and worked fine...

[2022-04-09 22:56] akinsho commented on #368
@ikerurda so that commit you referenced removed a janky optimization I tried to add awhile ago which deferred loading this plugin till after vim had started. It was an attempt to reduce the startup cost of this plugin, which is already basically negligible and was pointless in hindsight. I'm not sure why it should break anything unless a theme is setting colours late or something, frankly I don't

[2022-04-10 16:45] zbouslikhin opened #370 "[Question]: CycleNext when multiple groups"
### What happened?

When having multiple groups, it seems like it's only possible to cycle through buffers of that group while the other groups are toggled off.

### What did you expect to happen?

Is there anyway to cycle through all buffers regardless to the group they belong to?

### Additional Information

...

### commit

_No response_

[2022-04-10 17:42] agorgl opened #371 "Bufferline is not shown when mode == "tabs" and always_show_bufferline == false"
When in `tabs` mode and flag `always_show_bufferline` is set to false, bufferline (tabline) is not shown because the check relies on number of buffers open, instead of relying on the number of tabs open:
https://github.com/akinsho/bufferline.nvim/blob/50e1bfe6f2c474c0a6e8171606b001f3b17ddeb2/lua/bufferline.lua#L123

Expected behavior:
Tabline shows when number of tabs is greater than 1, and hidden

[2022-04-11 08:25] #371 closed

[2022-04-11 08:42] akinsho commented on #370
@zbouslikhin I don't fully understand the problem you are describing. It should by default be possible to cycle into every buffer as long as the group it is in is not *hidden*, if it is hidden then by design you should not be able to cycle into it. If you want to be able to cycle into a group, then don't hide it.

[2022-04-11 08:43] akinsho commented on #320
Closing this out since there are no comments or objections and highlight groups are default by default in dev soon to be main

[2022-04-11 08:43] #320 closed

[2022-04-11 08:55] zbouslikhin commented on #370
Suppose we have two groups which are not hidden and contain the following buffers:
- Group A (Python):
  - my.py (we are currently modifying this file)
  - main.py
- Group B (JavaScript):
  - config.js
  - package.json

At first, as all groups are not hidden, cycling use `BufferLineCycleNext` works fine, but once we are about to cycle to `config.js`, which is part of group B, for some reasons, gro

[2022-04-11 09:29] akinsho commented on #370
@zbouslikhin can you share your bufferline config that produces this issue, groups should not hide automatically unless configured to do so

[2022-04-11 09:43] #368 closed

[2022-04-13 15:22] feluxe commented on #140
This is a solution which wraps the `BufferLineCycleNext` and `BufferLineCyclePrev` functions, rather than acting on quit/delete:

When you get stuck in a buffer like `nvim-tree` with no other active tab showing, you can use your `tab-next` / `tab-prev` shortcuts to get back to the first tab and continue using BufferLine.

[code]

Just map the `TabCycleNext` and the `TabCyclePrev` to your preferred

[2022-04-13 16:49] akinsho commented on #140
I highly advise against using internal bufferline state e.g. require('bufferline.state') this is definitely a private module and wouldn't even be visible if there was a way to hide modules in lua easily, it's likely to change at any given moment since I very much depend on being able to change it without worrying about breakages

[2022-04-13 18:30] ndom91 opened #374 "[Bug]: `handle_close_buffer()` not working anymore"
### What happened?

I have a remap to close the active buffer that looks like this:

[code]

(I searched through your source code and found a reference to "bufferline.utils" executing 'handle_buffer_close', so I tried that as well (`require("bufferline.utils")...`), but that didn't work either)

This worked fine the past few weeks / months. However, after a recent `:PackerSync` (update) around 1 w

[2022-04-14 15:38] akinsho commented on #374
@ndom91 apologies I renamed some functions to be more agnostic since I added tabpage support, but I had thought I had added in the old versions with a deprecation warning, but this missed my list. Can you try using `bufferline.handle_close` instead.

[2022-04-14 15:39] akinsho commented on #370
@zbouslikhin can you share your config?

[2022-04-14 18:53] rickyelopez commented on #335
Yeah I'd appreciate some pointers! thanks!

[2022-04-14 20:06] lpanebr opened #375 "[Bug]: ✗ Failed to update akinsho/bufferline.nvim"
### What happened?

I get this error when running PackerUpdate

"✗ Failed to update akinsho/bufferline.nvim"

![image](https://user-images.githubusercontent.com/129185/163467365-fe4762f9-5fba-413a-af28-4a30020b818e.png)

### What did you expect to happen?

Regular success message

### Additional Information

...

### commit

_No response_

[2022-04-15 09:11] akinsho commented on #375
@lpanebr not sure if you figured this out already, but I renamed the main branch and packer is not able to deal with that. Your options are to reinstall the plugin or specify the branch as main in your config. I think a quick re-installation is better since you won't need to reset change the syntax of your packer use.

Apologies for the inconvenience will close this out as well now since that shou

[2022-04-15 09:11] #375 closed

[2022-04-15 09:18] akinsho commented on #335
@rickyelopez I can think of how to handle this, but I honestly am really not sure that this is really necessary. With each new feature request, this plugin gets more and more complex, with more and more options to handle different user preferences and edge cases. I really feel like currently my main object for this plugin is to try and prevent increasing complexity that one day just makes this too

[2022-04-15 11:04] ndom91 commented on #374
Hi @akinsho, thanks for the quick response!

Unfortunately `bufferline.handle_close()` seems to throw the same error :/

![image](https://user-images.githubusercontent.com/7415984/163563695-c1c5e4eb-5ef1-4833-9476-dc329aa2bd8d.png)

Here's the mapping I'm attempting to use again for reference:

[code]

[2022-04-15 18:13] rickyelopez commented on #335
Hmmm yeah that doesn't sound ideal. Maybe you have ideas for an alternative way to solve my problem? Really the issue for me is that the tab names become so long as soon as there is a duplicate, even if the majority of the path is the same except for (for example) the name of a parent folder three levels up. Is there something else we can do that would make it shorter for duplicated tabs, especial

[2022-04-16 10:50] akinsho commented on #374
@ndom91 what version of bufferline are you using? Is it definitely the most up to date? I just tested this locally on main on the latest commit, and it seems to work fine?

[2022-04-16 10:54] akinsho commented on #335
I guess making the duplication somewhat configurable would be a good approach, e.g. it could be something that has an option to say render only the first letter of the dirs e.g. `f/b/c/duplicate.lua  |  d/b/c/duplicate.lua` or an option to show like ellipses in between the dirs e.g. `f/..../duplicate.lua |  d/.../duplicate.lua` 🤷🏿‍♂️. That would be easier to implement

https://github.com/akinsho/b

[2022-04-16 17:14] LC0117 opened #376 "[Not bug, help wanted] How to get a dotfiles group?"
Really appreciate this plugin!

I want to create a group `dotfiles` for files such as `.gitignore` , `.stylua.toml`. But I am really bad at regex string matching... Anyone knows how to do it?

[2022-04-16 17:38] rqy1458814497 opened #377 "[Bug]: BufferlinePick with unnamed buffers"
### What happened?

When :BufferlinePick, the first unnamed buffer doesn't have a letter to pick.
![2022-04-17 01-37-43 的屏幕截图](https://user-images.githubusercontent.com/22741844/163685594-765deb7e-2f4d-4eda-ac5f-3ecfeac29047.png)

### What did you expect to happen?

The first unnamed buffer also has a letter.

### Additional Information

_No response_

### commit

_No response_

[2022-04-16 17:56] rqy1458814497 commented on #377
Sorry, that's because my configuration has something wrong. There is no such bug.

[2022-04-16 17:56] #377 closed

[2022-04-16 18:16] rqy1458814497 commented on #377
I just delete all configuration but 'mode' = 'tabs'.
It follows that this is in fact a bug which only happens in tabpage mode.

[2022-04-17 09:13] akinsho commented on #376
@LC0117 you should check the exact value of the first character which doesn't event really require regex you can just get it somehow e.g. `str:sub(1,1) == "."` is a rough example of dotfiles check

[2022-04-17 09:28] LC0117 commented on #376
Thanks for the reply!

I use a matcher as below
[code]

However there is a error notification when I open a `.gitignore` file.
[code]

Why is the sublist a nil value, or do I make some mistakes in the matcher?

[2022-04-17 11:37] akinsho commented on #376
@LC0117 I don't see this error when I try and create a dotfiles matcher using
[code]
Can you link the full config that is erroring?

[2022-04-17 11:59] LC0117 commented on #376
My full config is as below:
[code]

[2022-04-17 18:56] akinsho commented on #376
@LC0117 can you try #380 to see if it fixes this error

[2022-04-18 01:56] LC0117 commented on #376
Works now! Thanks for your great work!

[2022-04-18 01:56] #376 closed

[2022-04-18 03:35] madhurachanna opened #381 "[Feature Request] Delete multiple buffers based on file-type"
There is vim function to delete buffers based on file-type/extension
[code]

It would be nice if we have this feature?

[2022-04-18 04:35] tapyu opened #382 "[Bug]: `slant` or `padded_slant` yield different colors on buffer line's background"
### What happened?

Setting `separator_style = "slant"` or `separator_style = "padded_slant"` produces odd color background on the buffer line.

![Screenshot from 2022-04-18 01-30-28](https://user-images.githubusercontent.com/22801918/163754682-dc5c4dcf-2cc4-48c6-8252-405797ab41d0.png)

### What did you expect to happen?

Expected behaviour is a buffer line background's color consistent with the r

[2022-04-18 05:07] akinsho commented on #382
@tapyu I can't reproduce this with my colorscheme, can you try another theme and report if you still see this issue?

[2022-04-18 05:19] akinsho commented on #381
Hi @madhurachanna,
so this plugin is not a buffer manager, it provides a nice UI for the tabline but does not take opening, closing or changing buffers except in very small ways such as a close button. I don't think this sort of command belongs in this plugin

[2022-04-18 05:29] tapyu commented on #382
What the name of your color scheme? All of my colorschemes have the same glitch

btw: theme=colorscheme, right? :laughing:

[2022-04-18 09:18] felipesere commented on #294
👋 I have a similar issue with - I think- a simpler configuration:
<img width="650" alt="Screenshot 2022-04-18 at 10 17 23" src="https://user-images.githubusercontent.com/1850188/163786868-929cf94c-1762-44ac-9d1b-df9d5add8c02.png">

and my config is
[code]

I notice it most when I `gt` and `gT` to cycle through tabs and they don't cycle in my expected order (left to right with `gt`).
I'd be happy t

[2022-04-18 09:28] akinsho commented on #382
@tapyu yes, the theme is equivalent to the colorscheme. It shouldn't be a matter of using my specific one, but I use `doom-one.nvim`. Anyway, it looks like the separator colour is being set to the same as the `TablineSel`. Have you changed any colours, are you seeing this behaviour in a minimally configured nvim. Can you try just loading only this plugin and your colorscheme with none of the rest

[2022-04-18 09:30] akinsho commented on #381
Going to close this out to ensure I don't forget too later as I don't think this is something that should be added to this plugin as I commented above. Anyone who wants this can use the function above in their config or they can use
`:bd *.js<Tab>` which will expand to all js files and can use this pattern instead

[2022-04-18 09:30] #381 closed

[2022-04-18 09:35] akinsho commented on #294
@felipesere `gt` and `gT` are not by default aware of the order in which bufferline has sorted the tabline. It's recommended to use `CycleNext/Prev` instead to see more consistent results.

Regarding this issue, tbh I don't/can't really devote much time to number related functionality, anyone wanting to do any tweaks should have a read through the code and sketch out an idea for a solution here, a

[2022-04-18 11:39] tapyu commented on #382
Yes, I can. This is the [link](https://github.com/tapyu/dotfiles/tree/bufferline-debug/nvim/.config/nvim) for the minimal nvim config. It only has literally `bufferline.nvim` and the `packer` itself as plugins.

If you cannot reproduce, maybe it is a constrainment in my terminal, which is `alacritty`...

[2022-04-18 11:42] tapyu commented on #382
In this repo, I get this buffer line (with `separator_style = "padded_slant"`)

![Screenshot from 2022-04-18 08-41-17](https://user-images.githubusercontent.com/22801918/163803311-1ab3ca3a-f24a-4352-a659-10c65bb66181.png)

[2022-04-18 11:43] tapyu commented on #382
In other colorschemes, you can notice that background color of the buffer line is sightly different, as shown here

![Screenshot from 2022-04-18 08-42-40](https://user-images.githubusercontent.com/22801918/163803499-1540c65a-0564-48a8-a3b6-a71d6bd7a5d8.png)

[2022-04-18 11:47] akinsho commented on #382
@tapyu can you run a minimal vim without a specific repo e.g.
create a minimal file with only
[code]

Then do something like `nvim -u <Path/to/minimal> --noplugin` and test that way since that is a cleaner environment.

Regarding the slant highlight, it isn't supposed to be the same as it uses different colours for the background and the separator on purpose. The image in your previous comment is

[2022-04-18 11:55] akinsho commented on #382
I just tried the `duskfox` theme, and it does the same for me, I looked at the code and the author is changing the highlights for this plugin on purpose which I recommend that colorscheme authors *do not do*, but some do anyway. This seems specific to that colorscheme and not this plugin though, so I would look to set the colours you want yourself looking at the help docs in `:h bufferline-highlig

[2022-04-18 11:57] tapyu commented on #382
Here we are, a total clean `neovim` setup, only with `bufferline`

![Screenshot from 2022-04-18 08-57-28](https://user-images.githubusercontent.com/22801918/163804987-97ae91dd-9769-444c-99a8-80a6494ab04d.png)

[2022-04-18 11:59] tapyu commented on #382
I've tried on the default Ubuntu's terminal and terminator. Same result.

[2022-04-18 12:00] akinsho commented on #382
@tapyu that is not the default colorscheme for neovim I think, so I think it is loading a colorscheme anyway. As I mentioned above, please test out a few different colorscheme or change the highlights yourself in your config. I don't think this is a bug in the plugin

[2022-04-18 12:06] tapyu commented on #382
I've tried different colorschemes, nothing worked out. . .

[2022-04-18 12:22] akinsho commented on #382
@tapyu I'll revisit this later in the week when I have more free time. I think this is most likely a config issue since this issue is not reported commonly. What problem are you seeing with other colorschemes and can you link to the exact colorschemes with a screenshot of the issue you are seeing in each

[2022-04-18 12:31] tapyu commented on #382
Well bro, actually I have one more... [nvim-treesitter](https://github.com/nvim-treesitter/nvim-treesitter) screw up the colors highlighting when I write a modified file. That wrote file keep with correct highlighting, but all other new-opened file get a mess up highlighting.

I think maybe you are right. It could be some color problem on my computer. I am seriously thinking about rebooting all it

[2022-04-18 13:02] nyngwang commented on #232
Thank you so much! I was busy and didn't notice this update, let me try it now!

[2022-04-19 04:16] tapyu commented on #382
Now I am 100% sure there is some bug on your plugin. Just to let you know, I move from Ubuntu to Majanro. In a totally out-of-the-box terminal setting, I opened up `nvim` v0.7 with `~/.config/nvim/init.lua`

[code]

`bufferline.nvim'` is in `~/.local/share/nvim/site/pack/packer/`. And I get it

![image](https://user-images.githubusercontent.com/22801918/163918883-44829ca5-9070-4c9b-8444-dc204075cc

[2022-04-19 04:44] tapyu commented on #382
Same behavior with `nvim` v0.6.1 installed via `pacman`, so it is a problem with `bufferline`.

[2022-04-19 05:42] akinsho commented on #382
@tapyu this plugin will not highlight things correctly with the default neovim colorscheme, the colour for the separator is derived from the `Normal` highlight group. If you run neovim minimally and run `:highlight Normal` you will see `Normal cleared`. The default "colorscheme" which is barely a colorscheme does not include a real background highlight, so this plugin cannot get anything to use as

[2022-04-19 06:42] tapyu commented on #382
You are right, in the minimal configuration, `nvim` does have `Normal cleared`, which explains my screenshots. Now, in my normal config with the `darkplus` colorscheme (which as far as I know it is not a "default colorscheme which is barely a colorscheme"), I get the following picture

![image](https://user-images.githubusercontent.com/22801918/163940323-d4a1f549-4f71-4c5d-b96f-d070c43a0866.png)

[2022-04-19 06:42] #382 closed

[2022-04-19 08:52] zbouslikhin commented on #370
Sorry for the late answer.

This might not be relevant as I didn't notice that I have `auto_close = true` in the config of few of the groups. Switching it to false fixed the problem.

[2022-04-19 08:52] #370 closed

[2022-04-19 11:15] nyngwang opened #383 "[Question] How to always place `[No Name]` buffers at the right hand side from the list?"
As title. While I want to keep the newly opened buffer have the behavior on the current `dev` branch.

[2022-04-19 11:52] akinsho commented on #383
@nyngwang you can create a `group` that matches any buffer that has no name and place those last in the grouping order.

[code]

Otherwise, you can create a custom sorter but will lose the newly opened on the right behaviour 🤷🏾‍♂️.

Please experiment in your config having read through the various available options, you can probably figure out the right solution for yourself.

[2022-04-19 14:49] ndom91 commented on #374
@akinsho figured out the issue - I still had `"bufferline.utils"` in the require statement :facepalm:. Works like a charm now with `require("bufferline").handle_close(...` :tada:

[2022-04-19 14:49] #374 closed

[2022-04-19 14:51] nyngwang commented on #383
Yes, I was also thinking about asking you for this. I was trying to extend those sorters you have written. But it seems that the `state` will not be passed into the custom function I provided via `options.sort_by`. Anyway, let me try it now.

[2022-04-19 15:00] nyngwang commented on #383
@akinsho Is it possible to re-run the sorting again after I re-order one of these buffers?

[2022-04-19 16:45] akinsho commented on #383
You can use the sort by function documented in the README with the string for the type of sort to run but I don't know if that will preserve the no name positioning 🤷🏾‍♂️

[2022-04-19 17:47] rickyelopez commented on #335
Yeah both of those options sound pretty good to me. Is this something you'd be willing to add?

[2022-04-19 18:12] akinsho commented on #335
@rickyelopez I personally won't add this anytime soon if at all, this isn't really something I need for my workflow or something many other people have requested, so there's no urgency as far as I'm concerned. If *you* would like to look into submitting a PR, I can point you to where you need to look

[2022-04-19 23:50] nyngwang opened #384 "[Feature request] allow emoji as the group name"
I just tried the following config, but it always showed me only one group:

[code]

Could you help me find out why this will only show either `first` or `second` but not both? I want to create a group for those `ungrouped` buffers in your config.

[2022-04-20 00:07] nyngwang opened #385 "[Bug][branch - dev] If I reorder a tab, then the newly opened buffer will no longer inserted right next to the current one"
As title.

[2022-04-20 05:52] q107580018 opened #386 "My bufferline background is not right, I don't know where the settings are wrong, the color of the separator is weird[Bug]:"
### What happened?

the color of the separator is weird
![Xnip2022-04-20_13-52-04](https://user-images.githubusercontent.com/44695873/164159718-7181fd34-63d8-4b4b-b60f-0f76cba49cd6.jpg)

### What did you expect to happen?

Make the color of the separator the same as the background color

### Additional Information

OS:MacOS
Terminal:iterm2 + Tmux

### commit

_No response_

[2022-04-20 07:34] akinsho commented on #386
@q107580018 this issue does not provide any information at all that I could use to help you debug this issue. I don't know what theme you are using or what version of this plugin you are using or what branch. Please provide more information or I'll have to close this issue.

[2022-04-20 07:37] akinsho commented on #385
@nyngwang this is not a bug but a known limitation, if you decide to sort the bufferline yourself then you are essentially telling bufferline that you are taking over. It will essentially stop running its own sorting, since its own sorting might remove the re-ordering you just did.

There's not much else to say here, I have no way to resolve this issue. If you would like to open a PR to try to add

[2022-04-20 07:41] akinsho commented on #384
@nyngwang a group of `buflisted` buffers doesn't really make sense. By default, all the buffers shown in the bufferline are *all* buflisted, that is the criteria that lets them into the bufferline so filtering for that is pointless. This seems related to your original issue on this repo. Please don't make several issues if you are just trying to solve one issue. Each issue opened in this repo crea

[2022-04-20 07:44] akinsho commented on #326
I've decided to close this issue as, since it seems no one else is willing to contribute a fix and I'm not personally inclined to with all the other work I have to do

[2022-04-20 07:44] #326 closed

[2022-04-20 08:26] nyngwang commented on #384
@akinsho No, this is another issue. I just found that I cannot use emoji as the `name`. Changing the names solves my problem. But I recommend you also make emoji group name possible.

[2022-04-20 08:32] nyngwang commented on #385
@akinsho: So there is no command to manually trigger the reordering once?

[2022-04-20 08:49] akinsho commented on #384
@nyngwang please feel free to contribute a PR for any changes you would like to see added, I maintain this plugin on my own so just suggesting I should do X is not very helpful to me. What is the remaining issue in this particular issue, then, since I'm not sure where emoji comes into this issue. Is that the root cause for this issue?

[2022-04-20 08:52] akinsho commented on #385
@nyngwang as we discussed in another one of the many issues you have so far raised on my repo, there is a command to manually trigger re-sorting a buffer `:lua require'bufferline'.sort_buffers_by('<NAME-OF-SORT>')`.

[2022-04-20 09:07] q107580018 commented on #386
OS: Ubuntu 20.04.4 LTS x86_64
Not Use Colors Theme
Vim version: NVIM v0.8.0-dev
Bufferline version:4917220  latest

init.vim
call plug#begin('~/.config/nvim/plugged')
Plug 'kyazdani42/nvim-web-devicons' " for file icons
Plug 'akinsho/bufferline.nvim'
call plug#end()
set hidden
set nu
set cursorline
set termguicolors
set hls
set background=dark
lua << END
require('bufferline').setup{
options = {

[2022-04-20 09:10] akinsho commented on #386
@q107580018 this plugin, especially the `slant` variant will not look good if you are not using a color scheme. The default color scheme basically lacks most of the essential highlight groups for this plugin. One of the key ones is `Normal` if you check `:highlight Normal` you will see it has no colour. There is nothing this plugin can do if no colors are specified.

Please either set a normal col

[2022-04-20 09:15] nyngwang commented on #384
@akinsho: Absolutely. I spent all day yesterday debugging the other possibilities, and finally found that all the groups re-appeared after I changed all the `name` to plain-text.

[2022-04-20 09:16] akinsho opened #387 "Announcements and Breaking Changes"
Hi 👋🏾,

If you want to know ahead of time about any changes or breakage, please subscribe to this issue. Generally I will now do all development on the `dev` branch which is *unstable*, so I have the freedom to try new things and develop quickly there without worrying about disrupting users workflows. This plugin will also use tags and semver, so users can pin their installations to the latest maj

[2022-04-20 09:18] akinsho commented on #387
Version 2.0.0 which is due to be merged in a few days, will change the required neovim version to 0.7.0 so this plugin can benefit from all the api changes and remove the ~hacks~/workarounds for autocommands and user commands etc. that it has been using.

Any user wanting to stay on the pre 0.7.0 version of this plugin should use  the `v1.*` tag
e.g.

[code]

[2022-04-20 09:27] akinsho commented on #384
@nyngwang group name's have to be alphanumeric, they are essentially the only identification a user has provided me for that group and are the basis of the internal ID for the group as well as the highlights for the group. Setting it to an emoji heavily breaks things, since there is no word to use as the id or basis for highlights. If you want to show an emoji I recommend using the `icon` field. M

[2022-04-20 09:45] q107580018 commented on #386
@akinsho
when I use 'ellisonleao/gruvbox.nvim' this color scheme, It also not look good . But It still look good before I update the lastest bufferline version.

[2022-04-20 09:52] akinsho commented on #386
@q107580018 can you please clarify what "not good" means with a screenshot, since I don't know what you mean. Also, can you try setting `config.options.themable = false` to see if that changes anything

[2022-04-20 10:35] nyngwang commented on #384
This doesn't work, at least not the same as my expectation. It adds(prepend, to be precise) emoji to **every single file** in that group **and** the group tab. While I just want the emoji only for the tab.

I think the only part I cannot understand is why you decided to use the `name`, which is a string, as the id to identify each group. In my experience, internal ids are never meant to be readabl

[2022-04-20 10:35] #384 closed

[2022-04-20 11:03] akinsho commented on #384
@nyngwang the `name` field isn't used directly for an id but for the basis of the id e.g. `My Name` becomes `my-name` but the main reason for this is so the highlight groups are easily identifiable primarily for development e.g. `higlight MyNameHighlightlight` there is actually already a display name since the name you choose is copied over to the display name field as is. It's more that if you us

[2022-04-20 11:42] q107580018 commented on #386
@akinsho
`config.options.themable = false` is not useful.
this is not good
![Xnip2022-04-20_19-41-36](https://user-images.githubusercontent.com/44695873/164222871-93e75a49-2c3e-4863-975a-c7cb97170ced.jpg)

this is good
![CF6DF58153735CE880B32C39BC221655](https://user-images.githubusercontent.com/44695873/164222886-3b451a97-0a6b-46e3-bac8-0ba28c2a2ff2.jpg)

[2022-04-20 11:59] akinsho commented on #386
@q107580018 so this change does not appear to be due to something in this plugin, I believe. I had a look at the code in @ellisonleao's theme (which is really nicely organized) and I believe it is due to a bug in neovim core
https://github.com/akinsho/bufferline.nvim/issues/320#issuecomment-1091715697
Basically @ellisonleao's plugin sets the `Normal` bg using `nvim_set_hl` which is currently buggy

[2022-04-20 12:11] q107580018 commented on #386
@akinsho It's really a color theme issue. I changed the theme and solved it, thanks!

[2022-04-20 13:46] xYx-c opened #388 "[Bug]: 过滤buffer怎么过滤掉jdtls启动debug后产生的buffer？"
custom_filter = function(buf_number, _)
                if vim.fn.bufname(buf_number) ~= "<java>" then
                    return true
                end
            end,

### What happened?
<img width="516" alt="image" src="https://user-images.githubusercontent.com/57053484/164246001-c73c4459-e055-41cf-bc9c-436449625466.png">

222  aR  "term://~/hyt//7392:/usr/local/opt/openjdk@8/bin/java" line

[2022-04-20 13:55] akinsho commented on #388
@yil3 unfortunately, I don't speak ?mandarin? I'm not sure what the question is but I guess you are trying to filter out java files. That check won't work because it tries to match directly against a string `<java>` which does not exist. You should do something like
[code]

[2022-04-20 13:59] akinsho commented on #385
Not sure if this still needs anything or this issue can be closed?

[2022-04-20 14:00] nyngwang commented on #385
Thanks for your help!

[2022-04-20 14:15] ellisonleao commented on #386
thanks for raising that issue @akinsho ! i will try to fix it on my side

[2022-04-20 14:22] q107580018 opened #389 "[Question]: How to use mouse?"
### What happened?

This plugin seems to can work with the mouse? How to settings to activate it?

### What did you expect to happen?

Expected behaviour

### Additional Information

...

### commit

_No response_

[2022-04-20 14:24] yil3 commented on #388
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/57053484/164252401-7e0975ba-6134-4905-804a-d8c1d9c4e647.png">
When jdtls starts debug, it produces a buffer, which prints the log. How should I filter it?
<img width="718" alt="image" src="https://user-images.githubusercontent.com/57053484/164252548-dbe452f6-4930-41a3-8812-53357c9a177a.png">

[2022-04-20 14:24] #389 closed

[2022-04-20 14:25] q107580018 opened #390 "[Question]:How to use mouse?"
This plugin seems  can work with the mouse? How to settings to activate it?

[2022-04-20 14:42] akinsho commented on #390
@q107580018 please read the neovim help docs for this, i.e. `:help mouse`

[2022-04-20 14:50] #390 closed

[2022-04-20 15:14] akinsho commented on #388
@yil3 You just need to find the correct pattern to match on, which could take some work on your side. I don't believe this is a bug though, since it works fine for me and other users. You might want to do something like
[code]
Please try and figure out the correct pattern or strategy on your side, unfortunately I don't have the time at the moment to help implement each users specific preferred con

[2022-04-20 17:02] shaeinst opened #391 "[question] about number highlight group"
what's the highlight group name for this number?
![image](https://user-images.githubusercontent.com/41078534/164284200-9bdd331c-b86e-4269-a0ce-839257c91d93.png)

[2022-04-20 17:07] gegoune commented on #391
Was about to ask exactly the same question as with nightfox I am getting missing colouring for those. Tried
[code]
but couldn't get those numbers to appear any differently.

[2022-04-20 17:13] akinsho commented on #391
You should configure the numbers highlighting through your config not be targeting the highlight groups. It should be numbers, numbers_visible etc in the highlights table

[2022-04-20 17:13] akinsho commented on #391
Or it might be number singular please try both in not at my computer so you'll have to do some digging if not either.

[2022-04-20 17:19] gegoune commented on #391
Hey Akin, I just tried, but doesn't seem to work:
<img width="159" alt="Screenshot 2022-04-20 at 20 18 10" src="https://user-images.githubusercontent.com/69750637/164286908-5ef330f0-3d38-49c0-8f64-c936812ddf2b.png">
<img width="435" alt="Screenshot 2022-04-20 at 20 18 21" src="https://user-images.githubusercontent.com/69750637/164286944-50403b9a-4e14-4eca-9bb2-43843847ab36.png">

[2022-04-20 17:23] shaeinst commented on #391
didn't work
[code]

[2022-04-20 17:28] akinsho commented on #391
I just tested
[code]
In  my config and this produces a red highlight, can you please check that the highlight group you are testing against has been correctly set. Try using a basic color like `red` or `blue` please. Also please be aware that `visible` if specifically for  a buffer open in another window but that is not focused. You need to set all three unless you don't want to for whatever reaso

[2022-04-20 17:47] gegoune commented on #391
That makes sense, I have misunderstood those highlight groups then. It works when set up through `setup({highlighs={}}). Will try to make highlight groups work as well as I would like to have all highlighting done in single place (colorscheme).

Which brings me to ask this question: your plugin tries to theme itself based on current colorscheme, if one wants to make some changes `themable` is requ

[2022-04-20 19:16] nishu-murmu opened #392 "[Feature Request]: Add buffername in new window when splitting it vertically."
### What happened?

I saw while splitting the window vertically, the buffername is still inside the other window, IS there way to do that like in other editors
![bufferline](https://user-images.githubusercontent.com/71123337/164304594-4f33d6b6-3982-4396-a296-fc6ca9fb5690.png)

### What did you expect to happen?

Expected behaviour:
![subl](https://user-images.githubusercontent.com/71123337/1643052

[2022-04-20 20:02] akinsho commented on #391
@gegoune I explained my rationale in another issue I'm on mobile so please like for the issue about default highlights. The entire point of this plugin's highlights is that they are supposed to be automatic. They are derived from existing native vim highlights plugins shouldn't have to change them at all the plug-in just picks colours from the available native vim groups and uses those

[2022-04-20 22:06] akinsho commented on #392
@nishu-murmu this is actually a duplicate of #348 please have a read of that issue which explains most of my rationale for why this feature is not really very useful apart from as eye candy

[2022-04-20 22:07] akinsho commented on #348
@mrjones2014 btw someone implemented this in https://github.com/b0o/incline.nvim which I've been using and is quite nice

[2022-04-20 22:07] akinsho commented on #392
Also I suggest you look into https://github.com/b0o/incline.nvim if this is about being able to recognise which window is which

[2022-04-21 02:16] shaeinst commented on #391
thanks. since problem is solved, we can close this issue.

[2022-04-21 05:55] #391 closed

[2022-04-21 07:10] akinsho commented on #392
Going to close this out as a duplicate of #348 hopefully you've read through that issue and understand why but feel free to ask questions on here or more importantly suggest solutions to the points I raised in that issue.

[2022-04-21 07:10] #392 closed

[2022-04-21 10:26] mrjones2014 commented on #348
Neat, do you have this integrated with bufferline some way?

[2022-04-21 10:59] akinsho commented on #348
It doesn't really need to be integrated, it just shows your current buffer name in a floating window out of the way in the corner of each window

[2022-04-21 20:42] gegoune opened #393 "Full path in table passed to matcher"
Hey Akin, I only got to try out tab groups now, pretty amazing! Great work.

I tried to get `matcher` match part of paths rather than specifying filenames. I have discovered that `path` key of a table passed to function for `matcher` is same as `filename` if given file is in root of `CWD`. With plugins changing `CWD` (like `project.nvim`)  matcher fails as soon as I select any buffer from such gro

[2022-04-21 21:02] akinsho commented on #393
@gegoune you can get the full path using the buffer id and the expand function in vim e.g `vim.fn.expand("<buf_id>:p:h")`

[2022-04-21 21:15] gegoune commented on #393
Thank you very much!

Got it working with
[code]

[2022-04-21 21:15] #393 closed

[2022-04-22 13:19] sbeyer opened #394 "[Question] Keeping buffers sorted"
I want to keep my buffers in the bufferline sorted by tabs without calling `:BufferLineSortByTabs` (or its lua equivalent) after every window/tab action. What's the idiomatic/simplest way to achieve this?

Thank you!

[2022-04-22 13:43] akinsho commented on #394
@sbeyer you should set the `sort_by` field in your config, please check the docs or readme for the option

[2022-04-22 13:54] sbeyer commented on #394
Oops, how could I miss it 😱

[2022-04-22 14:03] akinsho commented on #394
Will close this out then 👍🏾

[2022-04-22 14:03] #394 closed

[2022-04-22 20:32] GTG88Debian opened #395 "Error with character pipe in bufferline.nvim"
To install bufferline.nvim I copied the recommended configuration, I got this error:

E5112: Error while creating lua chunk: /home/gtg/.config/nvim/lua/plugins.lua:174: '}' expected (to close '{' at line
172) near '|'

I think it's related to the pipe character "|" but I don't know how to solve it. I'm using NVIM v0.7.0-dev

thanks in advance

[2022-04-22 21:02] akinsho commented on #395
@GTG88Debian please do not copy and paste the configuration you do not need all of it please read the README carefully and only use the options you need

[2022-04-22 21:22] GTG88Debian commented on #395
Ok, thanks for your answer

[2022-04-22 21:22] #395 closed

[2022-04-23 19:26] nitevatt opened #396 "[Bug] Tab separator needs additional configuration to work"
Hello, I have noticed that the tab separator accepts name as the first argument, while the pill separator accepts group, which is provided by default as the first argument. This results in tab separator not working by default.

So the README says:

https://github.com/akinsho/bufferline.nvim/blob/f02e19bd29a27944e6bcc1e7a492fe07534b6630/README.md?plain=1#L404-L406

But the actual configuration shou

[2022-04-24 15:38] akinsho commented on #396
@nitevatt so the `tab` separator is very unloved and tbh should probably not be exposed as I haven't really spent as much time on it as the `pill` and probably gave myself more work than necessary by having two options out of the box. That being said I've fixed the issue on the `dev` branch in 3f855273cab29967bc454d3474224042815dd175 but I think in the long run I will need to think about if this s

[2022-04-24 15:38] #396 closed

[2022-04-24 15:38] akinsho commented on #388
Can this be closed now?

[2022-04-25 01:10] #388 closed, assigned to nobody

[2022-04-26 19:26] uwumouse opened #397 "[Bug]: Can't load the styling for the BufferLine on startup"
### What happened?

When I open nvim, I see this instead of bufferline:
![image](https://user-images.githubusercontent.com/61386270/165376082-41f67b34-7c3f-4dda-8506-ab620ab2b7d2.png)

### What did you expect to happen?

After I source my config with command `so ~/.config/nvim/init.vim`, I get this (which is what I want my BufferLine to look like):
![image](https://user-images.githubusercontent.co

[2022-04-26 19:38] akinsho commented on #397
@uwumouse this doesn't seem to be an issue with this plugin but is instead an issue with your configuration.
I can see you are using `Plug 'itchyny/lightline.vim'` there is an FAQ at the bottom of the README that explains that this plugin has conflicts with bufferline because it tries to set up the bufferline as well. Can you please try without this plugin or by disabling it's tabline or by reprod

[2022-04-26 19:50] uwumouse commented on #397
@akinsho Big thanks for the help, I figured out how to disable the tabline, it was really the issue.

[2022-04-26 19:50] #397 closed

[2022-04-28 16:25] GabMus opened #398 "[Feature request]: Custom filter doesn't apply when using tabpages"
### What happened?

I have set bufferline to tabs mode, and I expected the `custom_filter` callback to apply to this mode as well, but turns out it doesn't.

Here's my bufferline config:

[code]

### What did you expect to happen?

I'd like the `custom_filter` to be able to filter out tab names. For instance, I usually open new tabs by using nvimtree. In this case when I open a new tab, the previo

[2022-04-28 17:47] denstiny opened #399 "[Bug]: Symbol color cannot be modified"
### What happened?

The issue is that...
[code]

![图片](https://user-images.githubusercontent.com/57088952/165815036-29234f63-520b-4426-b273-d5d2d6a81d48.png)
****
I tried to make him modify the color of the ’ '  symbol according to my mode, but he was not effective.

### What did you expect to happen?

https://user-images.githubusercontent.com/57088952/165815519-12909506-2cc4-4187-a43a-ad0c66a136

[2022-04-28 18:05] GabMus commented on #398
Thanks for the quick reply. I'll try to hack it together, with some luck I'll manage to put together something.

Unfortunately I'm not very familiar with lua or (n)vim plugin development, but I can certainly try 🙂

[2022-04-29 17:12] denstiny commented on #399
I don't understand, in the early version that is no problem

[2022-04-29 17:13] denstiny commented on #399
Why do you want to delete it

[2022-04-29 17:15] akinsho commented on #399
Why do you want to delete it

@denstiny I don't really know exactly when you mean or which commit you are referring two. I genuinely don't have much of an idea of how to help. I haven't worked on custom areas in a long while, so 🤷🏾‍♂️ no idea why or when it would have changed.

[2022-04-29 17:18] denstiny commented on #399
it can run very well

[2022-04-29 17:19] denstiny commented on #399
Well, you're doing great, thank you very much for your answer

[2022-04-29 17:27] akinsho commented on #399
@denstiny I have *no idea* why that commit would have broken your custom area. All it did was load the plugin on startup like dozens of other plugins rather than delaying startup pointlessly to try to reduce startup cost, which was pretty silly to add in the beginning anyway 🤷🏾‍♂️. That commit doesn't even touch custom areas.

[2022-05-01 12:11] jjc224 opened #401 "[Bug]: Custom area diagnostics incorrectly highlighted"
### What happened?

Upon opening a **second** file/buffer, the diagnostics in `custom_areas` are highlighted incorrectly.

As can be seen, the first buffer will have its diagnostics correctly highlighted, while the second does not (it should be green, not yellow):
<img width="938" alt="image" src="https://user-images.githubusercontent.com/14149636/166144124-853a7a4d-b62b-4491-ac89-3c483182d0a1.png

[2022-05-01 19:35] dkarter opened #402 "[Bug]: getting alert about `mappings` deprecation even when mappings are not defined"
### What happened?

Every time I compile Packer using `:PackerCompile` I get a deprecation warning notification from Bufferline.

https://user-images.githubusercontent.com/551858/166161643-dd9b889e-e8ca-42e8-9542-eb8a2021a4a0.mp4

It appears that the `mappings = false` from the defaults is getting loaded in by Bufferline and that triggers the alert.

### What did you expect to happen?

Expected be

[2022-05-01 21:04] #402 closed

[2022-05-02 21:43] akinsho commented on #401
@jjc224 this is now fixed in `dev` you can test it out there.

[2022-05-02 21:43] #401 closed

[2022-05-02 21:43] akinsho commented on #399
This should be fixed in `dev` now

[2022-05-02 21:43] #399 closed

[2022-05-03 02:36] nyngwang opened #404 "How to get the current list of buffers?"
As title. I need to know the order of listed buffers.

[2022-05-03 05:21] jjc224 commented on #401
Looks good.

[2022-05-03 06:37] akinsho commented on #404
@nyngwang the plug-in doesn't expose the internal buffer list state. It's not intended to be used publicly. Why do you need to access it?

[2022-05-03 10:31] nyngwang commented on #404
@akinsho Sometimes the `BufferLineCycleNext` doesn't move to the first buffer in the first group. Is this a feature?

[2022-05-03 10:38] akinsho commented on #404
@nyngwang rather than exposing internal state and then having to maintain this API so that it is consistent even when I change the internal representation over time, I would much rather just fix whatever issue it is that you are seeing. That will be a lot less work in the long run, since I want the freedom to change the internal representation of bufferline buffers without having to worry about ke

[2022-05-03 10:45] nyngwang commented on #404
The problem seems to be caused by the `auto_close = true` option of the only group I enabled. `BufferLineCycleNext` will not expand the closed group. Why this design?

[2022-05-03 10:53] akinsho commented on #404
@nyngwang so this is by design it seems maybe there is a misunderstanding of `autoclose` I think if you are not sure of what it does then I recommend you do not use it.

The point of `auto_close` is that it should treat the buffers in that group as almost hidden you can toggle them open but by default they should be avoided during navigation.

The main reason I added that option is that sometimes

[2022-05-03 11:58] nyngwang commented on #404
Nope.

OK, I just confirmed that the behavior is the same as the Edge tab group. Thanks for your helps.

[2022-05-03 11:58] #404 closed

[2022-05-04 13:48] stumash commented on #210
@lcrockett mind posting the code you wrote? I want this too

[2022-05-05 09:14] lcrockett commented on #210
@stumash I don't have much code to show you, i've incorporated @akinsho's recommendation in my `which-key` configuration. See below:

[code]

[2022-05-05 10:50] siduck opened #405 "Border for tabs"
Hi @akinsho! Would it be possible to have borders for tabs?  Something like this

![image](https://user-images.githubusercontent.com/59060246/166907219-5291b309-f064-44b2-a38f-e1be18ad3e68.png)

If it would be possible to add border for tabs then it could have a highlight group too. For example look at this :

![image](https://user-images.githubusercontent.com/59060246/166907713-5acdf796-63c4-4417

[2022-05-05 10:56] siduck commented on #405
nvm i just realized that the padding would look too much for a tab ;(

[2022-05-05 10:56] #405 closed

[2022-05-05 13:09] bryant-the-coder opened #406 "[Question] Terminal"
How to hide terminal from bufferline?

[2022-05-07 06:20] Damaged-Code opened #407 "[Bug]: bufferline only shows one tab"
### What happened?

No matter how I set it, the
bufferline only shows one tab
but I already have multiple tabs open
<img width="704" alt="image" src="https://user-images.githubusercontent.com/26178326/167241543-0da78440-728b-4a0e-9789-047ecde43bcb.png">

### What did you expect to happen?

I want to display the tab of the file I have open

### Additional Information

...

### commit

_No response_

[2022-05-07 06:30] #407 closed

[2022-05-07 16:00] FrozenArcher opened #408 "[Bug]: Error when setup bufferline"
### What happened?

*OS: newest archlinux*, which means the newest neovim.
Plugin manager: VimPlug `Plug 'akinsho/bufferline.nvim', { 'tag': 'v2.*' }`, other plugins work well.
also installed the web-devicon, and termguicolor enabled.

When I tried to setup bufferline, neovim shows this error:

[code]
the `...e` `...are`s stand for `$HOME/.local/share`

### What did you expect to happen?

bufferli

[2022-05-07 16:11] akinsho commented on #408
@FrozenArcher do you happen to have another bufferline plugin installed currently? Or have you created a module called bufferline in your config that isn't namespaced?

[2022-05-07 16:14] FrozenArcher commented on #408
@akinsho well...I've Installed barbar. I removed it and...everything's ok.
Thanks!

[2022-05-07 16:14] #408 closed

[2022-05-07 18:17] oliverswitzer opened #409 "[Bug]: Unintended buffer tab switch when resizing window"
### What happened?

The issue is that every time that I resize my terminal window, bufferline appears to navigate to the next tab.

![bufferline-resize-issue](https://user-images.githubusercontent.com/4985726/167266729-d0dbd943-415d-473f-b4ab-a4bf3545f9b8.gif)

I'm using nvim v0.7.0
LuaJIT 2.1.0-beta3

Below is my config:
[code]

### What did you expect to happen?

Expected behaviour: Tab stays th

[2022-05-07 18:46] akinsho commented on #409
Hi @oliverswitzer,

So I've just tried the same thing and don't seem to be able to reproduce this locally. Can you confirm that this happens with a minimal vim config e.g. only loading this plugin and your colorscheme, no mapping no autocommands a completely fresh init.lua only loading those things?

[2022-05-07 22:17] oliverswitzer commented on #409
@akinsho my apologies, it was totally a bad autocmd that I inherited from basing my nvim setup off of someone else's!

[code]

Commenting this out fixed the issue.

I guess the idea was to make all tabs equal size when the window is resized. When running `:tabdo wincmd =` manually I reproduce the same effect, navigating to the next tab.

Do you know how one might achieve this (resizing the current

[2022-05-08 06:37] akinsho commented on #409
@oliverswitzer you can remove the `tabdo` since that would be what's causing the switching, the command beneath will just equalize the current windows, not sure if the others would have changed size if they weren't focused
[code]
I don't really use tabs heavily so not the best person for tab based tricks

[2022-05-08 08:55] girishji opened #410 "[Question] Any way to use cterm colors instead of gui colors ?"
To use highlight to configure colors terguicolors has to be enabled, which has a side effect of having to deal with new set of colors. any way we can use cterm limited colors to configure background for example? thanks for the plugin

[2022-05-08 09:27] akinsho commented on #410
@girishji this has come up before in #326, in short, no it's not possible to use cterm colours. Primarily because when I wrote this plugin, I wanted to take say 6 base colours from nvim and then lighten or darken them to create the remaining parts of the colour palette for this plugin. I didn't/don't know how to lighten or darken cterm colours it might be easy or not 🤷🏾‍♂️ I don't use them, so I d

[2022-05-10 07:53] girishji commented on #410
I understand. It is not possible to lighten/darken colors in cterm with 16 color palette, but most terminals support 256 colors (first 16 are changeable by user, and the rest have fixed rgb values), and here it is possible. I think a plugin should not be doing any color modifications on its own. If user wants a different shade they will specify (in term-256 they have many shades of same color).

[2022-05-10 07:58] akinsho commented on #410
@girishji I think we disagree about whether or not a plugin should be doing any modification to colours. That is a pretty big part of what this plugin does because I wanted the colouring to be automatic and so that if I change the colour scheme it should just work. I don't really agree at all that a plugin can't modify colours that it created for it's own usage.

[2022-05-10 08:00] akinsho commented on #410
Also, it doesn't really make sense to leave it to the user to decide on the shade of the colour because that will basically mean that the user has to re-implement most of the functionality aesthetically of this plugin which would be a lot of work on the user side. Anyway, it's not really much to discuss because this is already the way that this plugin works

[2022-05-11 05:42] sarmong opened #413 "Don't center tabs when scrolling"
I always lose track of the buffer I am at because buffers get shifted all the time.

It is easier to show than explain.

Here's what it looks like in `bufferline.nvim`:
![Peek 2022-05-11 08-33](https://user-images.githubusercontent.com/42828375/167776789-372862cd-4189-4b35-a7ca-dd9b029d8162.gif)

Here's how it looks like in `barbar`:
![Peek 2022-05-11 08-36](https://user-images.githubusercontent.c

[2022-05-11 06:41] akinsho commented on #413
@sarmong I think for the time being if you prefer the way barbar handles it, it will be better to stick with that plugin, what you describe as *an option* would be quite a big change it's definitely possible maybe preferable I'm not sure, but basically this plugin went one way and barbar another on how it behaves.

It's not an issue of a simple if statement, at a glance it would be much easier to

[2022-05-11 06:42] akinsho commented on #413
Tbh I've gotten quite a few feature requests across my repos just this morning. Would be really great to see some requester step up and look into how/if they could implement the functionality they want 🙏🏾

[2022-05-11 07:15] girishji commented on #410
Thanks. I implemented cterm colors. I will send you PR. But some weirdness persists that I cannot explain. For example I can get ctermbg and ctermfg by Ex command, like :lua =vim.api.nvim_get_hl_by_name("Normal", false). But inside the plugin it gives garbage values (and pcall returns success, which is a bug in nvim). But some of the gui groups return correct color codes. If I switch vimscript fun

[2022-05-11 09:28] girishji commented on #410
In `colors.lua` `get_hex() you can have local success, `hl = pcall(vim.api.nvim_get_hl_by_name, name, true)`. If you pass `false` to this function it populates `ctermbg/fg` instead of `gui`. You can print out the values for say `PmenuSel` for instance and compare it with running the same function from command prompt.

[2022-05-11 15:47] askfiy opened #416 "[Bug]: Unexpected behavior of BufferLineCycleNext"
### What happened?

When using the `BufferLineCycleNext` command, there is some probability that two adjacent buffers will be swapped instead of moving the current buffer to the right.

### What did you expect to happen?

Move the current buffer to the right.

### Additional Information

Well, it really has this problem. But it is difficult to trigger, sometimes it is very frequent, sometimes it i

[2022-05-12 13:02] akinsho commented on #410
closed by #417

[2022-05-12 13:02] #410 closed

[2022-05-12 13:03] akinsho commented on #409
Gonna close this out @oliverswitzer since it doesn't represent a bug in this plugins

[2022-05-12 13:03] #409 closed

[2022-05-12 13:04] akinsho commented on #406
You need to set your terminal buffers to be unlisted please read `:h buflisted` you will also need to make some sort of autocommand to do that. This can all be done without specific config in this plugin so I'm going to close this out

[2022-05-12 13:04] #406 closed

[2022-05-12 16:08] oliverswitzer commented on #409
Sounds good, thanks for the tip!

[2022-05-13 07:00] akinsho commented on #416
@askfiy it's going to be very hard to figure out what you're seeing, especially if it is not reproducible. At the very least can you please post your config, at least the relevant parts of it. Also, can you try on your side to figure out what the pattern is that reproduces it. There's very little chance I'll be able to fix this without clearer steps to reproduce.

[2022-05-13 08:12] 0xRZ opened #420 "[Bug]: buffer next to pinned buffer dissapears in the bufferline while switching buffers"
### What happened?

problem description in the title

### What did you expect to happen?

buffer keeps displaying

### Additional Information

using bufferline.nvim v2.1.0, but it also happens on main branch.

Gif demonstrating problem:
![Peek 2022-05-13 10-55](https://user-images.githubusercontent.com/46892933/168240356-b274a9e9-e9f6-4e09-a471-bd664bc421b0.gif)

### commit

_No response_

[2022-05-13 08:20] akinsho commented on #420
@0xRZ thanks for raising this, I might have seen it myself but can't get this to reproduce. Can you share exactly what you are doing to get it to happen consistently, since I can only debug it if I can reproduce it?

[2022-05-13 08:24] 0xRZ commented on #420
@akinsho Ok.
Here is init.vim i used:
[code]

Steps i do:
1. Open 4 buffers.
2. Switch to third buffer.
3. Pin it.
4. Switch to pinned buffer.
5. Cycle next buffers (cycle left)
6. Seeing closest buffer to pinned one dissapear in the tabline.

[2022-05-13 09:23] linqingyao commented on #84
Although I checked the author's dot file, I still couldn't find relevant information. Can you tell me what kind of magic this is? Thank you very much!

[2022-05-14 06:18] askfiy commented on #416
Well, it finally happened again.

![Peek 2022-05-14 14-13](https://user-images.githubusercontent.com/81478335/168413448-2599a637-645e-425b-adda-2454f0fc1170.gif)

Below is my configuration:

[code]

[2022-05-14 06:21] askfiy commented on #416
I use `Manjaro`, the system kernel version is `5.15.38`, and the Neovim version is `v0.7.0`, the desktop environment is `dwm-6.3` do you need any other information?

[2022-05-14 06:56] linqingyao opened #421 "How is it possible to display two different fonts for the labels in the example"
![QQ截图20220514145412](https://user-images.githubusercontent.com/83944508/168414606-69c7471a-a411-4141-b3c8-365cbc45b023.png)

I tried to read the responsibility point file, but unfortunately, I could not find the information available. Can you give me some directions and instructions? Thank you very much for your answer!

[2022-05-14 07:03] akinsho commented on #421
@linqingyao this isn't really an issue for this plugin, so shouldn't really be opened as such. You can set different fonts to use for different font weights depending on the terminal editor you use. I use kitty and the config for that is
https://sw.kovidgoyal.net/kitty/conf/?highlight=font#fonts. Because the selected buffer is `bold` and I have configured a different font for bold text a different

[2022-05-14 07:03] #421 closed

[2022-05-14 07:05] akinsho commented on #398
Closed by #400 thanks again for the PR

[2022-05-14 07:05] #398 closed

[2022-05-14 07:06] linqingyao commented on #421
I see. Thanks again for all your hard work

[2022-05-14 09:12] wellcomez commented on #336
how to color of number area?

[2022-05-14 20:07] Shatur opened #422 "[Bug]: <C-c> crashes :BufferLinePick"
### What happened?

Steps to reproduce:

1. `:BufferLinePick`
2. `<C-c>`

The error:

[code]

### What did you expect to happen?

Cancellation of `:BufferLinePick`.

### Additional Information

_No response_

### commit

_No response_

[2022-05-14 21:31] akinsho commented on #422
Should be fixed by 374ef05019bf4708e12cd20a135b4766cf0cf9a5

[2022-05-14 21:31] #422 closed

[2022-05-14 21:38] akinsho commented on #416
@askfiy a clear way to reproduce this would be the most useful thing, at the moment I see a bug you're describing but have zero way to make it happen on my end to fix it. Also, it's really important to clarify that you are using a *minimal* init.lua i.e you don't have conflicting mappings or plugins or things like that

[2022-05-14 21:41] akinsho commented on #413
@sarmong just to be absolutely clear, this is a not a no. If you are willing to take the time to look into an implementation as an option, please go ahead. You can probably do it  by making the truncation logic optional and in the else clause you could look at how to handle advancing the tabline as a user navigates backward and forwards and reaches the end

[2022-05-15 05:37] askfiy commented on #416
I think it might be caused by `session`. So I will close this question, thank you.

[2022-05-15 05:37] #416 closed

[2022-05-17 06:01] akinsho commented on #420
I haven't actually been able to reproduce this yet despite the instruction above, let me know if there's anything else specific to tweak that might bring this on

[2022-05-17 16:24] 0xRZ commented on #420
@akinsho

no i don't think so

Btw nvim --version i use is: `v0.8.0-dev+32-gf4f593b33`
i also made `init.vim` a bit clearer:
[code]

Steps i do is the same.
Open 3 files.
Pin first buffer.
Cycle to third buffer
Seeing second buffer dissapear from bufferline

![Peek 2022-05-17 19-22](https://user-images.githubusercontent.com/46892933/168860873-091abbcf-f23a-41aa-9b67-d5482408a478.gif)

[2022-05-18 11:29] akinsho commented on #420
@0xRZ I've now managed to reproduce the issue. The reason I couldn't originally see it is that it does not reproduce in dev where I add and develop most new features. It looks like this might now be resolved. Can you try the dev branch and see if the issue still occurs on that branch for you.

[2022-05-18 11:47] mrjones2014 opened #425 "[Feature]: Nice bufferline-styled `winbar`"
This morning, a PR merged to Neovim that allows us to set a per-window toolbar (a `winbar`): https://github.com/neovim/neovim/pull/18562

It would be awesome to have Bufferline handle setting the `winbar` window option, to the currently opened buffer name in each window, with the snazzy bufferline styles.

Here's a quick example I did, but note that I didn't add any nice styling that I'd want Buff

[2022-05-18 11:48] mrjones2014 commented on #425
Feel free to close if you feel this is out of scope for bufferline.nvim or that it should just be it's own separate plugin :)

[2022-05-18 11:49] mrjones2014 commented on #425
Alternatively, could we just show the entire bufferline in the `winbar` area, and have each `winbar` show the active buffer like Bufferline does, but have the active buffer indicator be window-specific?

[2022-05-18 12:31] mrjones2014 commented on #425
It seems to "just work" quite nicely if I manually run this command in each window: `:lua vim.wo.winbar=_G.nvim_bufferline()` then run `:set showtabline=0`. It gets the active buffer in each window correct, right out of the box.

So maybe what we should do is just have an option to display the entire bufferline.nvim into the `winbar` of each window, rather than the tabline?

(note, I changed my st

[2022-05-18 14:03] mrjones2014 commented on #425
I personally would love to have bufferline.nvim render per-window (basically _instead of_ incline.nvim), but if you feel it's out of scope or not useful, that's fine too 👍

[2022-05-18 14:27] akinsho commented on #425
@mrjones2014 I'm happy to review/help guide a PR if you are willing to look into it, I guess what I'm envisioning if we go down this route it two modes i.e.
a `window` mode which is no global bufferline just winbars that show the one buffer in the bufferline style in each window.

The other mode would be a mix of tabline + winbars, but if a window already has a winbar then it's buffer shouldn't be

[2022-05-18 14:34] mrjones2014 commented on #425
Awesome! I might work on a PR when I get some free time in that case. 👍

[2022-05-18 17:09] 0xRZ commented on #420
@akinsho yes, it does not happen on dev branch! Thank you

[2022-05-18 21:33] akinsho commented on #420
Going to close this out then if that's ok, since once dev is merged this should be resolved.

[2022-05-18 21:33] #420 closed

[2022-05-20 08:31] niuiic opened #427 "custom filter doesn't work"
Custom filter doesn't work for any filetype or buftype.

Here is the configuration.
[code]

I tried to debug this, and added a `print("hello")` as the first line of the function, but `:messages` has no content when I open a new buffer. I'm not sure what happened, maybe this function has never been called.

full configuration

[code]

`nvim -v`
[code]

[2022-05-20 08:40] akinsho commented on #427
@niuiic so I think for clarity it's probably best to phrase this issue as you are trying to get `custom_filter` to work, not that it doesn't work since this feature has been in place for almost years at this point and not changed for a while and myself and others are able to use it.

As to why it is not working in your config it is almost certainly due to some misconfiguration since that is the pr

[2022-05-20 08:52] MordechaiHadad opened #428 "[Bug]: Close buttons not working properly"
### What happened?

OS: WSL Arch Linux.
Terminal: Windows Terminal
Bufferline Versions: `dev` `main` `tag=2.*`
Neovim Version: `nightly`

When you click on the close button of the currently selected tab **while** having multiple buffers open it will close neovim.
(It seems like :bd also does this for some reason, so if this purely a neovim issue let me know and i'll close this issue.)

### What di

[2022-05-20 08:59] akinsho commented on #428
@MordechaiHadad I think there's a misunderstanding of what that button does, tbh it's a real legacy choice I made right at the beginning to always have that button visible, ideally it should only show when there is more than one tab open. It relates specifically and exclusively to vim tabs and is a means of closing tabpages. If you had more than one tab open it would close the tab. If you only hav

[2022-05-20 09:03] MordechaiHadad commented on #428
Alright fair enough, but it's not the only thing I'm talking about.

If you can see in the GIF, when I open the yabs.lua file and click on this buffer's close button it closes all of neovim and takes me back to my shell.

Hope my message is clearer now.

[2022-05-20 09:18] akinsho commented on #428
@MordechaiHadad can you clarify what branch and what commit you are using?

[2022-05-20 09:20] MordechaiHadad commented on #428
Yeah sorry for that I'll update it now

[2022-05-20 09:22] akinsho commented on #428
Can you try `dev` to see if the issue persists there before I start digging into things, in case it's already been resolved? Also, would be great to have specific reproduction steps. In my case, just hitting the rightmost buffer tab doesn't close neovim.

[2022-05-20 09:25] MordechaiHadad commented on #428
Sure give me a minute.
Also the only reproduction steps are simply having 2 or more buffers and click on the close button for the utmost right buffer.
I would have provided my bufferline config but its simply the setup function with no arguments.

Also the issue also happened when i specified `tag=2.*` in packer which is why i switched to the main branch.

[2022-05-20 09:27] MordechaiHadad commented on #428
Okay i actually found what is causing this, Ill update the issue.

[2022-05-20 09:57] niuiic commented on #427
I don't have the ability to debug more deeply. But I will definitely think of the configuration conflict as soon as this happened. Unfortunately, this is still the case without loading any other plugin and no other configuration. I think the most possible reason is the version of neovim (v0.8.0-dev+157-g0d3f17a6c-dirty, build on gentoo).

And you asked how do I load the plugins, emm, maybe you mea

[2022-05-20 10:31] akinsho commented on #427
@niuiic this example 👇🏾 is incorrect
[code]

If you check the README it should be
[code]

[2022-05-20 10:37] niuiic commented on #427
(×_×)
Sorry, I check the README over ten times but not find this error. I'm foolish.
Thank you and sorry for wasting your time to find my stupid mistake.

[2022-05-20 10:37] #427 closed

[2022-05-22 12:08] nullchilly opened #429 "[enhancement] Full width split breaks offsets"
Don't update bufferline offset if new buffer is terminal?

https://user-images.githubusercontent.com/56817415/169694318-3cfc84db-e8ff-4184-becf-5664e7f35028.mp4

[2022-05-22 13:53] akinsho commented on #429
@nullchilly I'm not exactly sure what I'm seeing or what exactly the context is for this report i.e. config, nvim version reproduction setups etc. Either way, I recommend that you set your terminal buffers to be `nobuflisted`

[2022-05-22 13:54] akinsho commented on #429
Also, a more clear issue title would be much appreciated, I can see something flickering, but that isn't really a good amount of information. The chances of me fixing any issue with this little information is close to zero unfortunately

[2022-05-22 14:02] nullchilly commented on #429
The tiny flickering is from [stabilizer.nvim](https://github.com/luukvbaal/stabilize.nvim), I will figure it out later.

[My config](https://github.com/nullchilly/dots/blob/main/.config/nvim/lua/plugins.lua#L146) uses bufferline and toggleterm with  neovim 0.7

Not sure how to put terminal buffers to `nobuflisted`? I skeemed through your config and didn't find anything related to it

[2022-05-22 14:07] akinsho commented on #429
@nullchilly please read `:help buflisted`, regarding the config, I don't really have time to read through each user who reports an issue's dotfiles. If you can narrow it down to one minimal init.lua file that triggers the same problem, I can test. This can maybe just be resolved by setting no buflisted though e.g. `autocmd! term://* setlocal nobuflisted`

[2022-05-22 14:10] akinsho commented on #428
@MordechaiHadad any info on if this is reproducible in `dev`?

[2022-05-22 14:16] nullchilly commented on #429
[code]

[2022-05-22 14:29] nullchilly commented on #429
I suppose it is like this?

[code]

I added it to `nvim -u min.lua` and `:execute'NvimTreeOpen' | execute'ToggleTerm'`

The offset doesn't work

[2022-05-22 14:45] akinsho commented on #429
Ah @nullchilly I understand the issue now. This is a known limitation of the offsets feature. Basically the offset works by reading the layout in neovim if you have a **Full length** vertical buffer and specify the filetype this will work. If you however split the Full length buffer, which is what your terminal is doing, you will break the layout detection. There are many issues about this, e.g. #

[2022-05-22 14:51] nullchilly commented on #429
Ah thanks, I guess a workaround could be open terminal before nvim-tree

vscode doesn't have full width terminal anyway :)

[2022-05-22 15:00] akinsho commented on #429
One day if things ever calm down I might look into this but atm I spend most of my time just responding to issue and fixing bugs so don't even have time for other stuff so a fix will be a long time coming probably

[2022-05-22 15:00] #429 closed

[2022-05-22 16:03] MordechaiHadad commented on #428
Yeah it is sorry i forgot to mention it, ill update the issue again

[2022-05-22 16:23] akinsho commented on #428
@MordechaiHadad just to clarify since I'm now a bit confused, does neovim close if there are multiple buffers open or only one. Because if there is only one, then that is normal neovim behaviour and not a plugin issue?

[2022-05-22 16:27] MordechaiHadad commented on #428
@akinsho I'll try to clarify with an example:
Let's say I have buffers, 1,2 and 3 open.
And my current buffer is 2, let's say I want to close buffer 2 I expect it to close buffer 2, but keep buffers 1 and 3 like every other code editor.
But instead all of neovim closes.

[2022-05-22 16:41] akinsho commented on #428
@MordechaiHadad I can't reproduce this locally. On my side, closing buffers does not close neovim, Can you check that you have `set hidden` enabled or provide a minimal init.lua. Is there some specific order that reproduces this? have you changed your bufferline click actions to do something different?

[2022-05-22 17:20] MordechaiHadad commented on #428
@akinsho I'll provide a minimal init.lua, just to double check are you sure you closed **only** the buffer you currently out of n buffers?

[2022-05-22 17:30] akinsho commented on #428
You mean, did I close my current buffer only to trigger this issue? yep, tried that and didn't see this problem. Tbh I'm inclined to think this is probably configuration or native behaviour as I haven't touched the click logic in like a year

[2022-05-22 22:58] wassimk opened #430 "[Enhancement]: Add deduplication in tab mode"
### What happened?

Unique buffer names are not working for me when using `mode` `tabs`.

If I set the `mode` to `buffers`, it works great.

### What did you expect to happen?

Same configuration with `mode` = `buffers`. This works as expected.

![image](https://user-images.githubusercontent.com/2261839/169719506-bb6add0f-5974-4f05-80cf-a49d98bd7f56.png)

Unexpected result with `mode` = `tabs`. Th

[2022-05-23 06:11] akinsho commented on #430
Hi @wassimk this is actually not a bug, excerpt from the README

So I primarily develop features with buffers in mind which is why I created this plugin but after a few recurrent issues asking for tabs I finally implemented this but explained at the time that it wasn't a 1:1 implementation and that some features need to be thought through for tabs and implemented for tabs, so I only implemented th

[2022-05-23 09:52] wassimk commented on #430
Thank you for your time in this response, @akinsho. I read similar in this repo and tried hard to read through the docs and old issues to assure myself I was genuinely asking about unexpected behavior. I read this same part of the readme and didn't process that it would include deduplication.

I am going to try to add the behavior.

[2022-05-23 14:45] MordechaiHadad commented on #428
@akinsho Okay so I have made a minimal [neovim config](https://www.toptal.com/developers/hastebin/avoxuziwof.php) also it seems the issue only occurs when you have a [Trouble](https://github.com/folke/trouble.nvim) window open

[2022-05-24 11:57] sarmong commented on #413
Thanks. I am still working on the best way for me to approach all the buffers/tabs/marks things in my workflow, but if I am going to stick to bufferline, I will look into this

[2022-05-27 12:32] gegoune opened #431 "How to remove `gui` styling from highlight groups?"
Hey Akin, not really an issue per se as much as change most likely coming from migration to `nvim_set_hl()`.

I have previously removed `italic` and `bold` from various `_selected` highlight groups by assigning `none` to `gui` parameter:

[code]

It used to work, but unfortunately now errors with: `Failed setting BufferLineBufferSelected  highlight, something isn't configured correctly: invalid ke

[2022-05-28 18:04] akinsho commented on #431
Hey @gegoune,

So I just realized you can't technically, the issue is that I'm still converting highlights from the old keys for the `highlight` command to arguments for `nvim_set_hl` so as not to break a bunch of people's configs. I'd really like to switch to using just the `nvim_set_hl` keys but don't want to break things for people.

I think what I'll do is allow specifying the `nvim_set_hl` ke

[2022-05-28 18:09] akinsho commented on #431
Can you try #432 I haven't really tested it, but hopefully you can directly set values like `bold = false` etc. in your config

[2022-05-28 18:18] gegoune commented on #431
Thanks for that, unfortunately doesn't seem to work:

[code]

still creates highlight group:
[code]

I also tried:
[code]
but it prints notice at start:
[code]

[2022-05-29 09:11] akinsho commented on #431
Okay, you should now be able to just do `gui=NONE` or `gui=none`

[2022-05-29 09:19] gegoune commented on #431
It's working nicely again, thank you very much!

[2022-05-29 10:31] akinsho commented on #431
closed by #432

[2022-05-29 10:31] #431 closed

[2022-05-30 08:38] rudotriton opened #433 "[Bug]: failed setting highlight with color_icons = false option"
### What happened?

Bufferline throws a `Failed setting BufferLineDevIconDefault  highlight, something isn't configured correctly: 'fg' is not a valid color` or some variation of this with a different highligh group. I may be wrong, but I suspect its the `ctermfg = not color_icons and "fg" or colors.get_color({` line in `ui.lua` as `"fg"` doesn't seem to be a valid value for `ctermfg` in `nvim_set

[2022-05-31 07:11] sivaplaysmC opened #434 "Need Transparency :)"
Pls add transparency to this like the tabs should be blurred instead of having opaque colors

[2022-05-31 07:45] akinsho commented on #434
@sivaplaysmC blurring isn't something that can be added by me inside of a terminal program if you want the tabs to be **transparent** you can already do that yourself

[2022-05-31 15:08] nyngwang opened #435 "`BufferLineMovePrev/Next` cannot swap with terminal buffers"
As title. By the current implementation, they only work with normal buffers. So every buffer created by `:term` cannot be moved.

[2022-05-31 15:16] akinsho commented on #435
@nyngwang if you'd like to see this change please feel free to raise a PR, by default this plugin only works on "normal" buffers and isn't really intended to operate on things like terminal buffers or other special buffers. I work under the assumption that people hide these buffers using `nobuflisted` if they do not, then I don't think there should be an expectation that they will work. Unless som

[2022-05-31 15:42] nyngwang commented on #435
Philosophically, having an identity is important to any object. I'm currently trying to manipulate terminal buffers so that they can be seen just like normal buffers. Then, the most valuable benefit is that we don't need one more command or plugin for switching between multiple terminal buffers.

[2022-05-31 15:56] akinsho commented on #435
@nyngwang I don't particularly agree or disagree with your argument, but as you have noted I created an entire other plugin based on my desired workflow for terminals, this works quite well for me. I personally have no incentive or reason to undertake this myself. I spend 90% of my free programming time maintaining nvim plugins instead of doing the things I want. This is not something that persona

[2022-06-01 15:27] fgheng opened #436 "[Bug]: bad argument #1 to 'pairs' (table expected, got string)"
### What happened?

1. Maximize terminals by click the 'Maximize' button
![image](https://user-images.githubusercontent.com/50551377/171440680-3f385f1f-ec25-4abe-b0c8-6fddd8abbcdb.png)
2. Open any file in the nvim, open nvim-tree, open aerial
3. return the cursor to the file to be edited like as below
![image](https://user-images.githubusercontent.com/50551377/171440995-fe7af1ea-7c3d-4081-ba31-f8c

[2022-06-01 15:49] akinsho commented on #436
I definitely don't promise this as a FOSS project, @fgheng can you explain what `maximise` does? I don't use Tilix, so I don't know what that button is doing?

Also, please note that when opening an issue here you should *always include your bufferline config* or at least the minimum to reproduce this isue 🙏🏿 without this there is little chance I can help.

[2022-06-02 00:50] rodhash commented on #382
I was looking for something else and found this, situation similar to what I faced recently so leaving my 2 cents here:

I had similar issue while working on my own colorsheme and in my case I ended up changing one or two highlight groups, which might help regarding that strong white you got couple msg above:

https://user-images.githubusercontent.com/29671981/171524202-bc3e48ff-07be-414a-8784-de9

[2022-06-02 01:08] rodhash opened #437 "[Bug]: Custom separators having a weird "space""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi

I changed the separators to this, a rounded one similar to what we have in groups:
`separator_style = {'', ''},`

It worked just fine as the print screen below, however in the current buffer I always get a "blank" space:
![image](https://user-images.githubusercontent.com/29671981/17152535

[2022-06-02 01:14] rodhash commented on #437
Forgot to mention my env:

bufferline: `940a24c`
lualine: `c12b167`
packer: `4dedd3b`
nvim: NVIM v0.8.0-dev+124-g815b65d77

[2022-06-02 08:17] akinsho commented on #437
@rodhash it doesn't look like you changed any of the highlights for the indicator? Can you try to change the indicator highlights for the selected buffer and see if that does what you want? Please read the docs to figure out how to do that, specifically the highlights section

[2022-06-02 08:49] akinsho commented on #428
@MordechaiHadad so coming back to this issue, can you reproduce it just using the exact same setup but rather than pressing the close button you use `:bdelete` if that does reproduce as you mention in the issue description then this appears to be normal nvim behaviour. `bd` definitely doesn't behave intuitively as people tend to expect, and by default this plugin just uses bd. I can also imagine a

[2022-06-02 11:10] rodhash commented on #437
Sorry not sure what happend to my copy/paste but I actually have custom highlights groups set:

[code]

[2022-06-02 11:14] MordechaiHadad commented on #428
@akinsho hi! thanks for the response, I think you are correct regarding the trouble situation... but why? it shouldn't really be the last buffer as I only close one buffer and when a trouble window isn't open it works just fine.

I think its more fit that I'll move this to Trouble's repo since trouble is causing this issue, right?

[2022-06-02 12:16] rodhash commented on #437
Oh wait, I just realized that "blank" space is the `indicator_icon` ..

switching to "thin" or "thick" styles I'm able to properly change its highlight colors .. interesting that for slant or custom ones I'm having trouble .. doing some more checks.

[2022-06-02 12:35] akinsho commented on #428
@MordechaiHadad I think it is an issue with trouble but an understandable one that will be hard to work around because basically the idea would be to stop fullscreen trouble windows from happening which wouldn't look good but short of trying to find another buffer to jump to which is a bit of a faff for that plugin there's a simple close window logic which probably closes nvim. I'd suggest the eas

[2022-06-02 12:38] akinsho commented on #437
@rodhash this is generally by design, I didn't really build this plugin with people changing to custom separators in mind, I offered it only as an afterthought really. I built it with the default and offered alternatives in mind, I don't really optimize for custom use cases since I don't use any custom separators 🤷🏿‍♂️ but maybe you can change the indicator icon selected colour to match the rest o

[2022-06-02 13:11] MordechaiHadad commented on #428
@akinsho this is quite unfortunate I'll be honest, Do you suggest opening an issue on trouble's repo and referencing this issue?

[2022-06-02 13:48] rudotriton commented on #433
[code]

in which case `set_one` seems to call `nvim_set_hl` for something like `BufferLineDevIconDefaultSelected` with

[code]

which in my case throws, since `"fg"` doesn't seem to be valid for `ctermfg`

[2022-06-02 14:06] rodhash commented on #437
Thanks for the feedback, appreciate the details.

Alright I understand the idea and I'm good with this default value, was just playing around w/ different layouts and possible tweaks.

Thanks!

[2022-06-02 14:06] #437 closed

[2022-06-02 17:22] Shatur opened #438 "[Feature Request]: Commands `BufferlineClose*` close modified buffers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Commands `BuferlineCloseLeft`, `BuferlineCloseRight` and `BufferlinePickClose` close modified buffers.

### What did you expect to happen?

I would expect to have an error message like "Unable to close modified buffer, add ! to override". So it would be nice to have the current behavior with ba

[2022-06-02 17:55] akinsho commented on #438
@Shatur under the hood the API function used is called with force set to true which is my personal preference I don't mind there being a bang as an option to set this value but personally like the default behaviour and am not inclined to change it. If you would like to raise a PR to tweak this I'd be happy to review but I'm definitely not keen on adding this functionality myself since I already pe

[2022-06-02 18:03] akinsho commented on #428
@MordechaiHadad this is a very old and well known issue with buffer delete in vim, this has been this way for decades at this point, https://github.com/neovim/neovim/issues/2434 is one example of an issue around this dating back to 2015. I think you raising a new issue on nvim without being willing to make a PR is unlikely to go anywhere. I think the vast majority of users who don't like this beha

[2022-06-02 18:12] MordechaiHadad commented on #428
@akinsho fair enough kinda sad none that can codes neovim feels like fixing it, but thank you for helping me figure out this rabbit hole!

[2022-06-02 18:12] #428 closed, assigned to nobody

[2022-06-02 18:12] akinsho commented on #433
@rudotriton are you using a transparent terminal/neovim theme?

[2022-06-02 18:14] akinsho commented on #433
Basically `cterm` can take a value of `fg` as can `gui` as long as the user is using a background colour, if you have set background to `NONE` then this will cause errors.

[2022-06-02 20:02] rudotriton commented on #433
I'm not using a transparent theme

[2022-06-02 20:04] akinsho commented on #433
@rudotriton can you try the PR I tagged you in please

[2022-06-03 07:02] lorefnon commented on #436
After updating to latest neovim I started to receive this error whenever I open nvim (in any terminal emulator - alacritty, tmux, gnome-terminal, guake)

My config:

[code]

[2022-06-03 08:48] akinsho commented on #433
@rudotriton I've merged #439 into `dev` so going to close this out now. Let me know if there are any issues still whilst using `dev` (as I changed the solution again)

[2022-06-03 08:48] #433 closed

[2022-06-03 08:51] akinsho commented on #435
@nyngwang I'm going to close this out since I won't be tackling it but as I mentioned feel free to raise a PR if anyone else finds this and decides they want to tackle it they should also feel free to do so. I'm not against making this work I just wont do it myself.

[2022-06-03 08:51] #435 closed

[2022-06-03 09:07] akinsho commented on #436
Can either of you provide me with a way to reproduce this that doesn't depend on an external plugin? I don't use `nvim-tree` and really would rather avoid having to avoid and set it up just reproduce this

[2022-06-03 11:02] rodhash commented on #437
One last update for future ref if helps .. I managed to make some chars work and others not.

So apparently it depends a bit on the char we use, I tried couple others without issue. That rounded one not sure what happened.

This one also works as expected:
![image](https://user-images.githubusercontent.com/29671981/171841138-7a00bb4e-1b5e-4230-b126-826d5a97f9b9.png)

So if someone else also tries

[2022-06-03 12:33] AndreSouzaAbreu opened #440 "How to chose custom icons Plugin ?"
Hi. I'd like to use 'ryanoasis/vim-devicons' instead of 'nvim-dev-icons' for your plugin.
Is it possible?
Thanks.

[2022-06-03 18:21] horseinthesky opened #441 "[Bug]: Opening new tab leads to error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Opening a new tab with `:tabnew` shows an error:
[code]

### What did you expect to happen?

Open a new tab.

### Config

[code]

### Additional Information

...

### commit

e9697f74612f90cc1fac7b5a973e1aa1323f9aff

[2022-06-03 19:15] akinsho commented on #441
@horseinthesky can you please narrow down the commit that causes this issue, I've opened a new tab several times in the last few days and it's worked fine

[2022-06-03 19:25] horseinthesky commented on #441
@akinsho I'm on HEAD and I've just printed each segment and one of them has a number in `text` attribute:
[code]

When doing `:tabnew`:
[code]

[2022-06-03 19:36] akinsho commented on #441
Looks like all text fields should be explicitly converted to numbers, and it's just erroring because numbers aren't implicitly converted on lua

[2022-06-03 19:36] akinsho commented on #441
I don't use numbers so hadn't noticed this error I think

[2022-06-03 19:40] horseinthesky commented on #441
Yeah. I guess changing line 125 to ` sum = sum + strwidth(tostring(s.text))` should be fine.
I can do a PR tomorrow if you don't mind.

[2022-06-03 20:00] akinsho commented on #441
@horseinthesky that would be great 👍🏾

[2022-06-04 02:59] XXiaoA commented on #436
I met the save bug.
![IMG_20220604_104818](https://user-images.githubusercontent.com/62557596/171976074-35a327b6-0b80-4956-a46b-ee1531c09efb.jpg)

I ran `:NvimTreeToggle` after entering nvim and press `<CR>` to enter other files with nvim-tree. Then the bug was thrown. Weirdly, it doesn't throw the bug all the tim e, it seems to have a probability of happening, and a probability of not happening

[2022-06-04 07:52] horseinthesky commented on #441
[PR with a fix](https://github.com/akinsho/bufferline.nvim/pull/442)

[2022-06-04 08:32] akinsho commented on #441
fixed by #442

[2022-06-04 08:32] #441 closed

[2022-06-04 08:34] akinsho commented on #440
@AndreSouzaAbreu I don't really provide first class support for the vim based devicons plugin but if you do not install the lua based one and have the vim based one then that should work if you have both installed then it will use the lua one. Sorry but I'm not going to go any further with support for the vim based one

[2022-06-04 17:22] AndreSouzaAbreu commented on #440
Ok, got it. Thanks for the response!

[2022-06-04 17:22] #440 closed

[2022-06-05 02:06] siduck opened #443 "[Bug]: Bufferline gets transformed into UGLY white bar when I resize neovim to the lowest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi @akinsho! Ive been facing this issue  :

- Whenever I resize neovim window to the lowest , I get tons of bufferline errors and then bufferline gets transformed into an UGLY white bar :(

## Behaviour

https://user-images.githubusercontent.com/59060246/172033044-af6f1fa2-87e3-4e34-b8b7-beaf40

[2022-06-05 07:46] akinsho commented on #443
@siduck thanks for reporting the bug 👍🏿.

This should now be fixed in #444

FWIW, when reporting a bug I think it is good practice to avoid terms like "ugly" especially in caps. Primarily because you are reporting a technical issue and ugly is not a very useful term in this context, given that ugly is subjective and doesn't really describe what the maintainer should be looking for

Secondly the bu

[2022-06-05 07:46] #443 closed

[2022-06-05 11:11] siduck commented on #443
@akinsho Really sorry if I sounded rude! Thx, its fixed now

[2022-06-05 18:11] akinsho commented on #436
I've tried the above i.e. default config using nvim-tree, and I can't reproduce this issue I've also tried the setup in https://github.com/akinsho/bufferline.nvim/issues/436#issuecomment-1145653168, as mentioned when I try to open nvim tree on setup this doesn't work for me (it doesn't open automatically) 🤷🏿‍♂️

Will leave this as is till there is a consistent minimal mechanism to reproduce since

[2022-06-07 09:49] reaz1995 commented on #436
the bug occur when buffer window is too small, to reproduce just resize terminal window, once buffer tabs from the left meet tab groups from the right it explode with pretty long red error.

[2022-06-07 10:10] akinsho commented on #436
@reaz1995 is this happening on the *latest* tag of this plugin i.e. `v2.2.1` as I just released a fix for a similar issue this weekend #443

[2022-06-07 10:31] reaz1995 commented on #436
@akinsho  was tracking down the bug, it happen inside ui:
[code]
the extracted item is a string instead of key value pair, but i may be wrong, never used lua before..

Updated plugin now
[code]

everything works correct now

[2022-06-07 10:54] akinsho commented on #436
Okay I'll close this out then, if anybody *on the latest tag* still has this issue comment back here and I'll re-open

[2022-06-07 10:54] #436 closed

[2022-06-08 17:48] tobealive opened #445 "[Feature Request]: Pinned buffers persist scrolling"
### What?

I wondered that pinning a buffer won't make them scroll persistent. When it's not the default behavior I think there should be an option for it.

I know this might be an opinionated issue opening, but maybe a point can be seen in this request.

Also, I might just be doing something wrong with my config that it doesn't behave that way?

### Why?

- Improve UX.
- Pinning buffers gets a mo

[2022-06-08 18:07] tobealive opened #446 "[Feature Request]: selected tab indicator color"
### What?

Searching through the docs and attempting to change different highlight colors I couldn't find anything to adapt the selected tab indicator / separator color. It's always white _(top right of the screenshot. For clarification: its not a separator to the close button, the white line moves between the active tabs)_.

![Screenshot_20220608_195343](https://user-images.githubusercontent.com/

[2022-06-08 18:34] akinsho commented on #446
@tobealive there shouldn't be any kind of visible line separator for the minimal tabs, i.e. it should just be a black line. All that should show is the colour of the selected one should change. I don't know why that looks white on your machine, frankly.

<img width="161" alt="image" src="https://user-images.githubusercontent.com/22454918/172690911-cf252645-3f4b-42c6-9ae5-6f8e7ad443db.png">

It's w

[2022-06-08 18:37] akinsho commented on #356
I'm still open to a PR if you ever get round to raising one but I'm going to close this out because short of a PR from an interested party I'm likely not going to add this. What would be more interesting that this specific feature though would be allowing a custom area inside a buffer tab so users can add their own custom stuff like this by themselves

[2022-06-08 18:37] #356 closed

[2022-06-08 18:38] akinsho commented on #347
I've decided to close this out since I'm not sure about this feature, not a hard no but having worked on a draft PR for it and given the discussion here I'm much less convinced than I was before but someone feel free to open a PR and change my mind

[2022-06-08 21:04] akinsho commented on #445
Hi @tobealive,

This is an interesting idea 🤔, the thing with something like this or other feature requests like this that are suggested as options e.g. #413 is that rather than being good candidates for options they are better implemented as refactoring in one direction or another i.e. it'll have to change for everyone. In this specific case, pinned buffers are just a type of group and there's no

[2022-06-12 11:38] ZimmyLevi opened #449 "Help: Difficulties setting tab offset using CHADTree"
Hi akinsho, I'm trying to set up bufferline.nvim with neovim, but I can't get the offset to work. I have also tried this with NERDTree.

Any help would be appreciated. I am using init.vim, with a Lua heredoc inside.

Thanks in advance, Zimmy.

[2022-06-12 11:45] akinsho commented on #449
@ZimmyLevi as the template mentions you need to add your config (just the bufferline setup part) to any issue on this repo that you need help with otherwise I won't be able to help and will close this issue. It is most likely something not configured correctly. I **highly** recommend that you very carefully look at the layout of the config you are using and make sure things are set correctly in th

[2022-06-12 15:20] ZimmyLevi commented on #449
I reinstalled everything and it's working now.

[2022-06-12 15:20] #449 closed

[2022-06-13 15:42] MRVAX opened #450 "Is There Any Guidance To Use Alternate styling In Bufferline?"
I want to set the bufferline's tyling using as same as the examples in README.md, is there any examples?
Maybe I have to change a new Terminal to using this feature? I'm use Gnome for linux and my terminal is Native Gnome Terminal too.

[2022-06-13 15:46] akinsho commented on #450
@MRVAX I've documented in the README and in the help docs how to use alternate styling, I'm not sure what further guidance is needed. Other users seem able to get this working. This issue doesn't clarify any specific problems or config issue, I'm not sure what is expected here. Have you checked both sources of documentation I referenced

[2022-06-13 16:10] MRVAX commented on #450
Sorry, It seems my configuration have some problem, appreciate for your reply <3, i would try to reconfig my file again.

[2022-06-13 16:15] #450 closed

[2022-06-16 07:40] yutkat commented on #249
Maybe this map can do it?
[code]

[2022-06-16 16:35] DG9Jww commented on #140
hi，@librowski
Thanks for your great solution.
However,an error occured when I closed buffer without nvim-tree.
The reason is:
[code]
This function return nil when I was not using nvim-tree.So I add some other code to prevent this error.
[code]
Now,it's good.

[2022-06-16 20:01] vanarok opened #452 "[Feature Request]: Diagnostics without count and icon"
### What?

Minimal diagnostics only undercurl or underline and color, no indicators.

**with diagnostics and a gap:**
![2022-06-16T23:53:36,673431986+04:00](https://user-images.githubusercontent.com/6105977/174153244-9aedf8d5-bd76-4deb-b1cb-f851f6cc4460.png)

**with diagnostics and !**
![2022-06-16T23:52:36,325652314+04:00](https://user-images.githubusercontent.com/6105977/174153256-edc47cf3-33da-

[2022-06-16 20:19] akinsho commented on #452
@vanarok by default this plugin doesn't render any signs and just shows a count e.g. `(3)` if you feel this is *useless bloat*... you can just use
[code]
If that doesn't work for you, then I'd happily accept a PR

[2022-06-16 20:25] vanarok commented on #452
Your example disables diagnostics including underline and color.

[2022-06-16 20:29] akinsho commented on #452
☝🏿 If you have a look at the `diagnostics.lua` module, you can probably change the behaviour of to allow highlighting but remove the indicator function. I'd recommend starting there

[2022-06-17 12:35] metalelf0 commented on #445
Hi @akinsho ! Another interesting feature for pinned buffers would be to have commands to close all unpinned buffers, or modify existing ones to do so. What do you think?

[2022-06-17 12:56] akinsho commented on #445
@metalelf0 a user can already do this by using the `:BufferlineGroupClose pinned` command.

[2022-06-17 12:59] akinsho commented on #445
I'd prefer to provide or tweak APIs so users can create their own commands rather than add more going forwards, I largely regret most of the ones I add like close left/right since I now just get issues about things like that

[2022-06-17 15:37] trueegorletov opened #453 "[Bug]: closed buffers are displayed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that when you install both [lualine](https://github.com/nvim-lualine/lualine.nvim) and bufferline it turns unable to get proper tab bar functionality as all closed tabs don't disappear from it.

![Screenshot 2022-06-17 at 17 58 56](https://user-images.githubusercontent.com/10515908

[2022-06-17 15:46] trueegorletov commented on #453
I have just checked and it seems that bug appears even without any other plugins except bufferline itself

[2022-06-17 16:49] akinsho commented on #453
@trueegorletov I don't really understand the issue you are describing or how to reproduce it based on the information you have put here. I'm able to remove old buffers without issue and presumably since this logic hasn't changed for a very long time this is the case for most other users. So this likely means an issue in your config. Can you confirm that you have set `hidden` and clarify what you m

[2022-06-17 18:10] trueegorletov commented on #453
I hope there is a misunderstanding because of some my mistake and this behaviour is expected by default, but this is what I meant:

https://user-images.githubusercontent.com/105159089/174354232-6ae37ee7-cc27-4ea9-88bb-c6566ecab368.mp4

[2022-06-17 18:28] trueegorletov commented on #453
Yeah, thanks for your reply, this really was my incomprehension, this was because of using default 'buffers' mode. Sorry for this stupid issue.

[2022-06-17 18:28] #453 closed

[2022-06-18 10:19] nullchilly opened #454 "[Feature Request]: name_formatter for tabs mode"
### What?

Currently `name_formatter` only works with buffer

[code]

### Why?

I would like to use tab mode for my competitive programming plugin only, for example:

![image](https://user-images.githubusercontent.com/56817415/174433421-f34ccf46-bb69-4f56-ae75-d6693b0d8167.png)

Would be nice as I am currently forced to code my own tabline just for the name_formatter

[2022-06-18 10:35] nullchilly commented on #454
Also I would like to have a custom area on the right of the tabline like this

![image](https://user-images.githubusercontent.com/56817415/174433842-7cb50ec5-c5ec-49f2-b22c-91b5acc71250.png)

Would this be fine?
[code]

[2022-06-18 11:06] akinsho commented on #454
@nullchilly if you would like to add functionality to tabs you will need to contribute this yourself. I don't use tabs mode and so re-implementing buffer functionality for tabs depends *entirely* on tab users. See #400 or #430 for reference. This should be small to add and you can do it by copying the logic in `buffers.lua` to `tabs.lua` and apply it to the tab name.

Regarding the custom area, th

[2022-06-18 11:22] nullchilly commented on #454
Thanks, I will copy the logic, one question though
How can I set tab size based on the stylua.toml. Do I need to change it manually or parse the indent_width itself.

In the `custom_areas` readme:
[code]
How often will it redraw? I would like to call `redrawtabline` myself.

[2022-06-18 11:26] akinsho commented on #454
@nullchilly you can either run `stylua` yourself in the CLI after installing it, or you can add stylua to your formatters for lua using something like `null-ls` the choice is yours. You shouldn't change the `stylua.toml` nor need to parse it in some way.

Re. the custom area, the advice is mainly about not trying to do some long processing or parsing a huge json or something. If you are just rende

[2022-06-18 14:59] #454 closed

[2022-06-18 17:55] tobealive commented on #445
I use the close left / right quiet often. Which hindrance is created with such functionalities if I may ask?

Of course giving a nice api is a developers loved freedom. Sometimes too it's much freedom :P

[2022-06-19 08:17] akinsho commented on #445
I think this is the answer to your question @tobealive , as we speak there is 1 PR needing my involvement and review to change the behaviour of close left and right and have been about 3 issues relating to those (i.e. the issues are about force closing and modified buffers), but the point I'm getting at is that I don't have the bandwidth to deal with lots of small features that generate cumulative

[2022-06-19 12:40] nullchilly opened #456 "[Feature Request]: Remove vimscript wrapper for click support"
### What?

[code]
This works

### Why?

No more https://github.com/akinsho/bufferline.nvim/blob/main/autoload/nvim_bufferline.vim

[2022-06-19 12:42] akinsho commented on #456
@nullchilly have you tried the example in the snippet that you shared? Because I did a while ago, and it doesn't work. So neovim upstream have fixed it. It is still required to use a vim script wrapper

[2022-06-19 12:43] nullchilly commented on #456
Yes it didn't work for 0.5

[2022-06-19 12:45] akinsho commented on #456
Can you raise a PR? and I'll test it, if it works then I'll happily merge it 👍🏾

[2022-06-19 14:21] trevex commented on #382
As pointed out by @rodhash:

I was able to adapt the colors as follows:
[code]

[2022-06-19 15:33] nullchilly commented on #456
It will be merged to main when neovim 0.8 released

[2022-06-19 15:43] akinsho commented on #456
Ah, thanks for the heads-up @nullchilly didn't realize it was 0.8 only, well it's in the dev branch for now

[2022-06-19 15:44] nullchilly commented on #456
Fortunately I didn't break dozen people's workflow D:

[2022-06-19 20:35] akinsho commented on #456
Gonna close this out since the work is technically done though 👍🏿

[2022-06-19 20:35] #456 closed

[2022-06-24 17:58] cenk1cenk2 commented on #309
hey sorry for resurrection,

I also sincerely was missing this feature and so leaving this snippet here to not clutter anywhere else for anybody that will stumble across this issue.

But as akinsho has said it is pretty easy to implement.

You can create a function on your lua configuration and wrap it into a command, something like this:
[code]

[2022-06-26 12:33] akinsho commented on #452
Fixed by #460 which is in the `dev` branch but will get merged to main in the next release

[2022-06-26 12:33] #452 closed

[2022-06-27 20:30] Davincible opened #462 "[Question] - Which highlight groups are the colors actually derived from?"
I've read a bunch of issues and docs about color changing, and you've often mentioned you want to derive the colors from the general theme but nowhere could I find _which_ highlight groups it's actually derived from.

I tried looking at the code but couldn't fine which highlight groups are pulled

[2022-06-28 07:22] akinsho commented on #462
This is covered under `:help bufferline-colorscheme-development`

[2022-06-29 19:07] MangoJuiceee opened #463 "[Feature Request]:"
### What?

How i can show diagnostics with coc linters from all tabs to this custom area in the left-side of bufferline?

<img width="1389" alt="Screenshot 2022-06-29 at 22 06 43" src="https://user-images.githubusercontent.com/72989195/176516374-18b0d6cb-2e05-4d5a-830d-a43a09bc2f1f.png">

### Why?

Why my custom area can't catch errors from coc diagnostics? What i doing wrong? I want show warnings

[2022-06-29 21:11] akinsho commented on #463
@MangoJuiceee I'm not a coc user, so I don't know how you would do this. FWIW this is not quite a feature request or a bug but rather a configuration issue/question. I think this sort of issue is best solved by reading the docs of the plugin in question and trying to piece together a solution. Unfortunately, I'm worse placed to answer this question than you are, since I'm not even a user of the sa

[2022-06-29 21:11] #463 closed

[2022-06-29 21:13] akinsho commented on #463
Just FWIW using `vim.diagnostic.get` does not use CoC at all. You need to figure out how to get diagnostics for coc through some sort of function call and then add the values there. The custom area is intended as a tool for advanced users who are happy to put in some legwork to solve their issues. Unfortunately I personally can't help each person craft their own custom area

[2022-06-30 13:52] Davincible commented on #462
Unfortunately, the docs only cover a limited number of groups. I'm looking to change the buffer text color of unselected buffers, as I don't like the current one, but none of the groups do the trick.

![image](https://user-images.githubusercontent.com/25869544/176694672-333e9e44-2a53-482c-99ff-684561b4cf6e.png)

[2022-06-30 14:03] akinsho commented on #462
@Davincible all the highlights are in `:h bufferline-highlights` you will need to look very carefully to find which groups you need.

[2022-06-30 14:18] akinsho commented on #462
@Davincible I really don't know all the highlight groups off the top of my head. Maybe you can try the background highlight group. You'll have to do a little trial and error on your side to figure this out.

[2022-06-30 14:51] Davincible commented on #462
Alright

[2022-06-30 14:51] #462 closed

[2022-07-02 10:11] cathaysia opened #464 "[Bug]: bad visual effect after open file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

please notice bufferline

https://user-images.githubusercontent.com/42114817/176996041-ab302624-98ac-4a2e-ba6d-0c2a374dcbd6.mp4

### What did you expect to happen?

a bufferline like this:

![图片](https://user-images.githubusercontent.com/42114817/176996025-d42bfd0f-e94b-41f1-ab04-fb4815ba09d1.p

[2022-07-02 10:38] akinsho commented on #464
@cathaysia this issue is quite unclear, I cannot at all tell from your video what is missing that you expect. Compared to the picture from the README you have not set numbers or close icons, but you are not using a minimal configuration but have copied a huge amount of the config, so you will need to figure out which options need to be turned on and off. This is not an issue with this plugin thoug

[2022-07-03 01:40] cathaysia commented on #464
as you can see in this video, when I open two files, then bufferline just like this:

![图片](https://user-images.githubusercontent.com/42114817/177020998-f3816236-be78-4953-9237-b4bdfe0eff74.png)

and what I except is
![图片](https://user-images.githubusercontent.com/42114817/177021010-25aee4c5-c593-4c83-921e-d3481f2da17a.png)

emm, or rather, all my tabs has one background color, but I want inactive

[2022-07-03 03:03] cathaysia commented on #464
I already know the reason for this bug is because I set colorscheme after loaded bufferline. Sorry

[2022-07-03 03:03] #464 closed

[2022-07-04 06:41] akinsho commented on #386
Thanks @qubidt yes it was, forgot to unpin it

[2022-07-04 17:34] ZennMystic commented on #446
I hate to intrude in someone else post. Sorry if its rude. no offense. I don't know were else to turn. This post is similar to my issue.

I have set the tab up for errors:
`diagnostics = "nvim_lsp",
    diagnostics_indicator = function(count, level, diagnostics_dict, context)
    local icon = level:match("error") and " " or " "
        return " " .. icon .. count
    end`

It looks good:

![Sele

[2022-07-04 19:55] tobealive commented on #446
Yes of course.

To style the diagnostics, in your case the error you need to change the  guifg and guibg values in for `error_diagnostic` to your liking. The `<*>_diagnostic` highlights target just the diagnostic indicator icons and numbers. You have the same groups without `_diagnostic` that will change the highlighting of the filename when a diagnostic is present for that buffer. Of course may n

[2022-07-04 20:00] tobealive commented on #446
To finish this issue. I found to solution not too long after opening, should have came back to this.

Checking the source I found `separator_selected` is used here for this tab separator.

So when ones using a TUI client with transparency enabled setting the hl for this one will solve this.

I'll take the liberty to close this one as this is not an issue anymore.

[2022-07-04 20:00] #446 closed

[2022-07-05 15:23] gerazov commented on #268
Maybe if it's a single buffer it can be the full name?

[2022-07-05 15:27] gerazov opened #466 "[Feature Request]: Jumping to the ordinal buffer number"
### What?

Great plugin :sunglasses:

Add a way to jump to the ordinal buffer number in bufferline.nvim.

I'm using:

[code]

But this only jumps based on the visible buffers in the bufferline. I'd like to jump to the first file opened when I do `<a-1>`

### Why?

I'm coming from [vim-airline](https://github.com/vim-airline/vim-airline) and there one could jump to the ordinal number of the buffer,

[2022-07-05 15:29] akinsho commented on #268
This comment still stands as far as this issue is concerned. If someone wants this enough, they should please feel free to raise a working PR. I don't think it should be implemented as an edge case, though, i.e. only if single buffer. This should be all or nothing. A user sets this option then all tabs have dynamic widths as long as their content or truncated to a max size 🤷🏿

[2022-07-05 16:54] gerazov commented on #466
Ok - had to dig through but found it #210 thanks :pray:

And here's the code here for reference:
[code]
I've also created a PR to add this to the README and docs #467

[2022-07-05 16:54] #466 closed

[2022-07-05 23:09] SergioBenitez opened #468 "[Bug]: Closing tabs doesn't work as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am using `bufferline` in `tabs` mode and experiencing several issues with closing tabs:

1. The last tab is "closeable" even though closing the last tab in vim is always an error. This means you get an ugly error if you try to do this. It would be nice if either 1) bufferline could disappear

[2022-07-06 05:33] CharaD7 opened #469 "[Feature Request]: Toggle unique buffer name"
### What?

It would be great to be able to toggle on and off unique buffer name.

### Why?

I tried to show unique buffer name but could not find a way to do this. However, I think sometimes. we want to see unique buffer names, other times, we don't so it won't hurt to have a feature to allow one to easily toggle unique buffer name.

[2022-07-06 07:46] akinsho commented on #468
Hi @SergioBenitez,

So essentially tabs mode exists almost entirely due to user pressure rather than any specific desire of mine (/the curiosity of implementing it) I don't actually use it at all and most of its development comes from tabs users of this plugin. So it doesn't really have feature parity with the rest of the plugin. I don't personally actively develop it unless there are critical iss

[2022-07-07 07:54] akinsho commented on #469
@CharaD7 I'm not against this, so if you'd like to raise a PR for it, should quite straightforward. You will need to add (yet another) option to the `config.lua` which would default to `true` then. Where the duplicate is added you will need to add a check for that value and if it is empty don't add the duplicate. This should be in `buffers.lua` and `tabpages.lua`.

I don't really see this as criti

[2022-07-08 07:31] Rukenshia opened #470 "[Bug]: Offset not working with neo-tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Sorry - I'm not sure if the issue should be raised here or with `neo-tree`. I tried some debugging first and confirmed that `neo-tree` is the filetype that should be offset.

The `offsets` config does not seem to affect the [neo-tree](https://github.com/nvim-neo-tree/neo-tree.nvim) plugin, buff

[2022-07-08 07:41] akinsho commented on #470
@Rukenshia your bufferline config is incorrect, the offsets should be inside the options table. Please have a look at the example in README

[2022-07-08 07:43] Rukenshia commented on #470
You're absolutely right and now I feel very stupid - that's what you get for copy pasting only parts of configs. Sorry!

[2022-07-08 07:43] #470 closed

[2022-07-10 23:14] tobealive commented on #310
I take you by the word 😊. I found myself in situations where I missed that feature.
But I definitely have empathy for not bloating the code base with commands that are very specific to a users workflow. Rather providing a API that the users can add all they need themselves.

The PR just adds one line and allows to pass -1 to the `go_to_buffer` function.
#471

[2022-07-11 17:24] bokutotu opened #474 "[Bug]: Language icons are wrong."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The language icons are wrong.
<img  alt="Screen Shot 2022-07-12 at 2 02 20" src="https://user-images.githubusercontent.com/56831446/178318688-b23e7100-eafe-49bd-a665-fe1515cc3a88.png">
As you can see in this image, unfamiliar characters are displayed where the language icons should appear.
The

[2022-07-12 10:12] lcheylus opened #475 "[Feature Request]: Add an option to disable italic in highlights"
### What?

Thanks for your work on bufferline plugin, it's a must-have one to use Neovim.

I would like to have a config option to disable globally italic in highlight groups.

[code]

### Why?

In my daily use, I don't like graphic styles / GUI in bufferline with italic. In my configuration, I redefined highlight groups to disable italic (defined in `lua/bufferline/config.lua`):

[code]
I would l

[2022-07-12 10:34] akinsho commented on #475
Hi @lcheylus,

The number of options this plugin provides has gone absolutely crazy there are *way* too many IMO which increases the maintenance burden hugely. I'm very against adding new ones without a very good reason. I appreciate that some people may or may not like style x or feature x but tbh I can't easily accommodate everyone, as I mentioned in the README this plugin is __opinionated__ you

[2022-07-12 10:57] lcheylus commented on #475
Hi @akinsho

OK, I understand perfectly your opinion. It's true that the number of options for your plugin are really (too) numerous.

Too bad because I had started to develop/test code in `lua/bufferline/highlights.lua` (function `convert_gui`) to send you a PR for my request.

Wontfix => close this issue.

[2022-07-12 10:57] #475 closed

[2022-07-12 11:30] akinsho commented on #475
@lcheylus it might be useful to point out in working on a PR to pass on all the default highlights if highlights is specified as an option in this case a use can map through the highlights and set bold to false in a loop

[2022-07-12 11:30] akinsho commented on #475
This will I believe give you an easy solution to disable all bold styling

[2022-07-12 11:31] akinsho commented on #475
You can try https://github.com/akinsho/bufferline.nvim/pull/472 and see if disabling things in a loop works for you sorry there are no docs yet

[2022-07-12 13:03] lcheylus commented on #475
Great, when your PR #472 is merged, it will be simple to define a function for highlights to suppress italic/bold style (gui) in every group where it's defined.

I'm waiting for your merge before testing it. I could document my solution here.

[2022-07-12 13:48] akinsho commented on #475
@lcheylus better to test now if you can in case there are bugs or issues

[2022-07-12 15:35] Ryunaq commented on #382
Had the same problem too, as mentioned by @rodhash , doing this solved it
[code]

[2022-07-12 16:21] akinsho commented on #474
I'm going to close this out since I really don't think this relates to this plugin. How an icon appears in the terminal is way lower level than anything this plugin does. This seems much more likely to be an issue somewhere between the font and the terminal

[2022-07-12 16:21] #474 closed

[2022-07-12 16:22] akinsho commented on #475
This is merged in to `dev` now, so feel free to try this out on that branch.

[2022-07-13 01:16] lcheylus commented on #475
I updated my bufferline plugin with `dev` branch via Packer.

My `highlights` function to remove italic in gui for each group where it's defined :

[code]

With this function, my tests are OK : no side effect and italic removed in every highlight group (`buffer_selected, numbers_selected, diagnostic_selected`...)

[2022-07-13 03:25] yuttie commented on #468
@SergioBenitez I found a workaround.

It seems that we can override `{left,middle,right}_mouse_command` options after bufferline.nvim merges user config with its default values.

[code]

However, I couldn't override `close_command` option in this way.

[2022-07-13 03:46] yuttie commented on #468
@SergioBenitez I disabled right click and made middle click close a tab unless it's a last one with the following code:
[code]

[2022-07-13 06:15] Eezi opened #476 "[Bug]: Typo in the readme.md file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that I tried to add **BufferLineCycleNext** and **BufferLineCyclePrev** to my config file but these commands didn't work. This was caused because these extra brackets, (see the image below):
<img width="876" alt="bufferline" src="https://user-images.githubusercontent.com/54830004/1

[2022-07-13 06:55] akinsho commented on #476
@Eezi so it is a type but not the way you think, those are just example mappings they could be any keys a user likes, I'm not sure that I understand the 1,2 part of the expected behaviour I don't really know what that relates to or that that expectation is common. The general idea behind those keys is that they were similar to how https://github.com/tpope/vim-unimpaired sets mappings. The keys sho

[2022-07-13 06:59] akinsho commented on #468
@yuttie I'm not sure why you can't just override the mouse commands in your config rather than importing an internal module `bufferline.config` and using that directly. I'd say that that is strongly discouraged because those modules are for internal usage and the structure for them could change with refactors. If not for the way lua handles requires, those would definitely not be visible outside t

[2022-07-13 07:15] yuttie commented on #468
@akinsho Yes, I know that the module should not be used in that way and do not want to do such a dirty hack.
That's why I wrote it's a "workaround."

I think it's because `*_mouse_command` values are unconditionally set without considering a user's provided values [here](https://github.com/akinsho/bufferline.nvim/blob/4b93a9fc8182af34b7b6c1b3ee6de7dd4ccb0e97/lua/bufferline/config.lua#L621-L622) af

[2022-07-13 07:26] akinsho commented on #468
Oh right, this is a regression from https://github.com/akinsho/bufferline.nvim/commit/0652db63345454701bfb8ed7705546c177bc4ef2

[2022-07-13 07:46] Eezi commented on #476
Okey, I think this was just my bad. I was little bit confused that you have to replace these both characters **[** and **b**. Because the **BufferLineMoveNext** and **BufferLineMovePrev** setup was so clear to me, that you just have to replace this `<mymap> ` with your own map. But to hear that I found real typo accidentally :D

[2022-07-13 07:51] akinsho commented on #468
I've pushed a commit to `dev` which should allow normal overriding of the click commands in tab mode.

[2022-07-13 07:53] akinsho commented on #476
Fixed it on main now 👍🏿

[2022-07-13 07:53] #476 closed

[2022-07-13 07:56] akinsho commented on #475
Oh that's kind of messy still I had forgotten that because bufferline long pre-dates `nvim_set_hl` users use `guifg` and a string `gui` field for their bufferlines, and under the hood I actually convert that to more approachable `bold = true` etc. This is a hard one to fix though since it will involve x number of people having to change their configs, which will be a pain.

At some point I guess I

[2022-07-13 13:03] CodedCraft opened #478 "[Bug]: Left Trunc Marker and clickable area are offset to one another"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Clicking on the left trunk marker doesn't work, instead I have to click in the empty space between the left trunk marker and the first visible buffer as shown in the picture:
![Screenshot 2022-07-13 at 14 40 22](https://user-images.githubusercontent.com/58528488/178737150-1ceefc03-15fd-4b1c-bdb

[2022-07-13 13:32] akinsho commented on #478
Hi @philip1987,

I'm not sure, I understand the bug, actually. The offset markers aren't clickable at all, they aren't supposed to be. They are just visual indicators that there are x number of buffer off-screen

[2022-07-13 14:11] philip1987 commented on #478
@akinsho Now I feel dumb, sorry to have wasted your time. So it turns out that what I was actually clicking was the first visible tab or the empty space after the last visible tab and not the trunc indicators. Thank you for your great plugin and all your contributions to the neovim community.

[2022-07-13 14:11] #478 closed, assigned to nobody

[2022-07-14 03:57] SergioBenitez commented on #468
Thanks! Those workaround work.

Another issue with respect to tabs that I found was that using `sort_by = "tabs"` doesn't seem to work. However, I found that `:BufferLineSortByTabs` does, and that it persists. So I added the following to my `bufferline` config:

[code]

[2022-07-15 05:47] ArcticOc opened #479 "[Bug]: How can I render the bufferline transparent?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I want to make bufferline transparent.
![Screenshot_20220715_132746](https://user-images.githubusercontent.com/43022588/179158195-257b6da9-e0c1-440e-a443-bb35e390bcd2.png)

now only the title is transparent.

### What did you expect to happen?

entire bufferline transparent

### Config

`vim.cm

[2022-07-15 07:12] akinsho commented on #479
@ArcticOc I don't use transparency, so I can't give you an out-of-the-box answer. Other users of this plugin have been able to achieve this in their configs, you need to find every highlight group and set its background to none. If you are using `dev` you can specify the highlights option as a `function` and loop through it to set all `guibg` fields to `NONE` e.g. #475.

In either case this isn't

[2022-07-15 07:12] #479 closed

[2022-07-16 00:54] devkvlt opened #480 "[Question/feature request]: is there a way to style buffer name based on whether there is unsaved changes?"
### What?

Instead of an icon indicating unsaved change, I'd like to be able to do that just with styling the name (e.g. make the name dark orange...)

### Why?

Because it's cleaner in my opinion.. and also a rather basic feature.

[2022-07-16 09:19] akinsho commented on #480
@devkvlt this is a duplicate of #75 so I'm going to close it in favour of that one. Feel free to read through what I mentioned in that issue. TLDR I don't mind this feature but don't personally have a need for this so have no personal incentive to implement it, but will take a PR for it I've explained how to go about it there

[2022-07-16 09:19] #480 closed

[2022-07-16 12:26] devkvlt commented on #480
Thanks

[2022-07-16 12:33] 8427003 opened #481 "[Bug]: BufferLineGoToBuffer -1 not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

BufferLineGoToBuffer -1  not working

### What did you expect to happen?

go to buffer last item

### Config

:BufferLineGoToBuffer -1
can't working

### Additional Information

...

### commit

_No response_

[2022-07-16 13:07] akinsho commented on #481
@8427003 I've just tried this locally, and it works fine for me. Can you please clarify in detail what you mean when you say it doesn't work?

[2022-07-16 15:43] 8427003 commented on #481
sorry ，it is not a bug。i wan’t get the recently used item。i misunderstanding  the -1

[2022-07-16 16:23] 8427003 commented on #481
go to the item recently used, can support ? @akinsho

[2022-07-16 16:28] akinsho commented on #481
@8427003 I don't really understand the feature request, if you want to go back to the alternate buffer I recommend using the builtin neovim mapping, `:help CTRL-^`. I'm going to close this since it's not really an/the issue and there is a neovim builtin to go to the last buffer

[2022-07-16 16:28] #481 closed

[2022-07-17 07:28] yuttie opened #482 "[Bug]: Separator positions changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The positions of separators change when a user switch a tab.

In the following pictures, a customized highlight definitions are used to visually segment parts, and blue vertical lines are separators (specifically, the "thick" variant from presets).
Brighter green (and bolder text) indicates tha

[2022-07-17 08:13] akinsho commented on #482
@yuttie so this dates all the way back to the inception of this plugin, and it's initial implementation. It's important to note that I did this intentionally, I can't remember all the reasons why, since the initial implementation was years ago now. At least one reason was aesthetic and allows a less buggy look when an active buffer is beside a visible buffer IIRC there might be a few more, but the

[2022-07-17 11:15] yuttie commented on #482
@akinsho Thank you for the detailed explanation. I now understand that this is what was intended.

I don't know if I can find the time for PR, so for the time being I will try to change the separator to see if it can be made better.

Anyway, thank you for developing a great plugin!

[2022-07-22 11:50] Nexmean opened #484 "[Feature Request]: ability to hide bufferline"
### What?

It would be nice to have `BufferLineToggle/BufferLineHide/BufferLineShow` commands or field in config with predicate that tells plugin whenever to hide or to show itself.

### Why?

I want to hide bufferline in some cases:
- when it is tab for neogit
- when it is tab for gitview
- when there is only one buffer loaded

[2022-07-22 12:01] akinsho commented on #484
@Nexmean this does not need to be built into the plugin because you can hide or show a tabline in neovim using `showtabline` please see `:h showtabline`, point 1, 2 can be done by just using an `ftplugin` file or an autocommand to `set showtabline=0` and reset it on `BufLeave`. Point 3 is already built into the plugin, and there is a configuration option for this.

In general, functionality like t

[2022-07-22 12:02] #484 closed

[2022-07-22 12:12] Nexmean commented on #484
Thank you, I didn't know about `showtabline`.

[2022-07-24 14:10] #430 closed

[2022-07-25 10:19] cdelledonne commented on #437
@rodhash may I ask you to post your configuration for the last screenshot? Thanks a lot :)

[2022-07-25 19:31] Runeword commented on #479
Try this
[code]

[2022-07-26 00:44] rodhash commented on #437
Hi,

Sorry but I changed my config a few times after my last msg, currently I'm using a total different setup sorry. However the config is posted above in the first msg.

In that last msg however I had the following custom chars set:

`separator_style = {'', ''},`

It's a combination of two chars that make this bold italic space you saw in the above msg.

[2022-07-26 00:46] rodhash commented on #437
In case your terminal can't render the above chars, try installing the Victor Mono font, this is what I'm using:

[code]

[2022-07-26 16:31] Integralist opened #486 "[Bug]: Current tab highlighting looks broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The current tab highlighting looks broken...
<img width="530" alt="Screenshot 2022-07-26 at 17 25 44" src="https://user-images.githubusercontent.com/180050/181060407-9403add3-377d-44bb-b550-6d727aec78a1.png">

### What did you expect to happen?

I expected a nicer tab highlight, something more

[2022-07-27 06:59] akinsho commented on #486
@Integralist this issue doesn't really provide *any actionable information at all,* I can see that the highlighting looks different from what the default behaviour should be, but this is not the default behaviour of this plugin. In all likelihood you are using a theme and the colorscheme author has changed settings I often advise against changing for this exact reason, or you are not using termgui

[2022-07-27 13:08] Integralist commented on #486
So I was seeing this with all the colourschemes I tried.

I then tried creating a reduced test case of my config (e.g. remove all config setup except for this plugin) but I was still seeing the issue.

I then tried in the macOS terminal emulator and although the colour schemes are completely messed up in that terminal it looked like the weird highlight wasn't showing. Now that could be because the

[2022-07-27 14:42] chybl opened #487 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Whenever i close a buffer, the offset for NvimTree disappears.
it comes back when i open up anther buffer again.

### What did you expect to happen?

not to do what happened.

### Config

[code]

### Additional Information

...

### commit

_No response_

[2022-07-27 14:59] akinsho commented on #487
@chybl this issue does not have enough information. I really can't get a clear sense of what exactly you are seeing. If nvim tree is the only buffer, then this will not work. The offset requires that the nvim tree buffer is full height and positioned on the left or right for it to work

[2022-07-27 15:00] akinsho commented on #487
Please fill out clear information with a *minimal reproducible init.lua* otherwise I'll have to close this issue

[2022-07-27 15:02] akinsho commented on #486
@Integralist the macOS terminal doesn't support true colours I think, i.e. termguicolors won't work, so this plugins will also not work. You need to be using termguicolors otherwise you will have to set all the cterm colours yourself. Can you try another terminal emulator to narrow down the issue?

[2022-07-27 15:03] akinsho commented on #468
Is this issue still present? there have been some PRs since it was opened. Please make sure to test without tags and to also have a look at the dev branch if it's not resolved in main

[2022-07-27 17:04] chybl commented on #487
Ok so whenever I have more than one buffer open, and I close the buffet I'm currently on, NvimTree gets expended to the whole screen and I don't see any buffers.

I would like it so that if I have multiple buffers open, and I close a buffer, it just opens the next available buffer or at least doesn't expand NvimTree.

I'm guessing this is more of a PEBKAC, but could you help me learn

[2022-07-27 17:05] chybl commented on #487
Sorry, I'm on mobile and I accidentally closed.

[2022-07-27 17:43] akinsho commented on #487
@chybl there are quite a few solutions to this problem online which you can find, I personally don't use nvim tree currently so don't have a solution for that. Maybe try doing something like `:bd | b#` to go to the alternate buffer, or maybe ask in that repo how other users are solving it. Tbh I think you should be able to find a solution looking online I don't have one readily available, and it i

[2022-07-27 17:43] #487 closed

[2022-07-27 17:52] chybl commented on #487
ty!!

[2022-07-28 19:34] Integralist commented on #486
OK so everything works fine _except_ when run inside tmux. When running neovim in tmux, only then does the tab issue appear.

[2022-07-28 19:57] akinsho commented on #486
Ah... I don't use tmux any more, but have done historically, and I know you have to jump through some hoops to make sure colours work correctly with neovim. You can have a look at my tmux config in my dotfiles repo there might be something in there that would help but since this issue relates to an external tool I'll close this out, hopefully you can find a solution for this though and feel free t

[2022-07-28 19:57] #486 closed

[2022-07-28 20:37] Integralist commented on #486
Thanks I'll take a look but maybe this is the time for me to lean into the terminal support in neovim + your toggleterm plugin I've just discovered.

I normally am working across multiple projects at the same time, which is why tmux is so useful to me.

I already am a heavy user of vim tabs and so to mimic tmux windows would mean only using tabs with `:lcd` (as alacrity doesn't support tabs).

[2022-07-29 01:14] Pocco81 opened #488 "[Feature Request]: Be able to cycle through buffers with `BufferLineCycleNext` even when `showtabline = 0`"
### What?

I'd like to be able to cycle to the next/prev buffer by using `BufferLineCycleNext/Prev` while `showtabline = 0` so that I can get a minimal-feel while loosing none of buffer switching functionality. The see the current behavior:

1. Open a file
2. Set `set showtabline=0`
3. Open another file (e.g. `e hello.txt`)
4. Try to cycle through the buffers using `BufferLineCycle*`. Doesn't work

[2022-07-29 04:28] JungYT opened #489 "[Bug]: Buffer line does not be shown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. I enjoyed bufferline for a whlie.
2. I install NvimTree. (I don't know this cause an error or not)
3. After that, buffer line does not be shown.
4. I roll back config file and delete NvimTree.
5. Also, I delete and reinstall bufferline.
6. However, It still does not show buffer line.

The im

[2022-07-29 04:47] JungYT commented on #489
It seems that there are some issues with lualine after an update.
I changed bufferline.lua and lualine.lua as follows.
for bufferline.lua,
[code]
-->
[code]

for lualine.lua, delete below.
[code]

[2022-07-29 04:47] #489 closed

[2022-07-29 17:45] 4e554c4c opened #490 "[Bug]: Colors not updated when colorscheme is changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I change my colorscheme twice a day (when the sun rises and sets)
in neovim this amounts to loading a `colorscheme.lua` file with the lines
[code]
however, bufferline's colors do not change, even when the rest of my colors change

### What did you expect to happen?

I expect the bufferline colo

[2022-07-30 11:27] akinsho commented on #490
@4e554c4c I'm not sure exactly how you have neovim configured, but when I run `:colorscheme <value>` with bufferline this correctly updates the colours. Can you confirm that you are not using any theme that is manually manipulating bufferline's colours and that you are not yourself outside the setup function?

[2022-07-30 13:24] dylode opened #491 "[Bug]: attempt to call field 'notify_once' (a nil value)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that when I start neovim I get this error:

Error detected while processing /home/dylan/.config/nvim/after/plugin/bufferline.lua:
E5113: Error while calling lua chunk: ...ck/packer/start/bufferline.nvim/lua/bufferline/utils.lua:176: attempt to call field 'notify_once' (a nil value)

[2022-07-30 13:35] akinsho commented on #491
@dylode I believe `notify_once` was added in neovim `0.7`, this plugin only supports nvim 0.7+ can you please confirm that your neovim is up-to-date and that this error still persists?

[2022-07-30 16:13] akinsho commented on #488
Hi @Pocco81,

so I think the reason this doesn't work is quite a touch problem to solve, essentially when you set `showtabline=0` manually it means that bufferline *isn't running* basically every redraw the bufferline function is called and populates the buffer state and does the drawing. When showtabline is 0 that function which is the entry point to this plugin isn't being called at all. So ther

[2022-07-30 16:59] Pocco81 commented on #488
That's a pretty good solution. It would be lovely if you were to add this feature!

Regardless, to my understanding: _if you change the order of buffers :bnext and :bprevious will not respect the custom ordering_. So since you said that, in our case, setting `showtabline = 0` disables bufferline, I assume that it's inevitable for this to mess up with bufferlines' `Cycle` commands.

Is there any wo

[2022-07-30 17:12] akinsho commented on #488
I think the solution if you want to maintain custom cycling via bufferline then really bufferline has to be running since otherwise that's sort of a chicken and egg problem.

I don't think there's another solution that won't introduce a performance penalty of having things run constantly, even when not visible to every other user in all other scenarios.

Re. the bufferline buffer state and alterin

[2022-07-30 17:53] Pocco81 commented on #488
Understandable. Let's keep it simple then :)

[2022-07-30 17:59] dylode commented on #491
Thank you. I was assuming I ran the newest neovim.

[2022-07-30 17:59] #491 closed

[2022-07-31 01:58] 4e554c4c commented on #490
I'll try to come up with a MWE, thanks for trying to reproduce

[2022-07-31 11:10] yyy33 commented on #469
For me this is really useful, I am trying to replace tmux with neovim as a terminal, however the name of each terminal is the name of a shell, like zsh, so when I open as much as a terminal the bufferline gets ugly, so I would like to disable this feature when the buffer type is terminal, I tried to read the source code but it is a bit hard because my English is not very good, can you tell me a te

[2022-07-31 11:16] akinsho commented on #469
@CharaD7 the comment I made earlier still holds, PRs welcome 🙏🏿

[2022-07-31 11:54] dylode opened #492 "[Bug]: NvimTree offset not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that the offset does not seems to be working for NvimTree.

![image](https://user-images.githubusercontent.com/78496445/182024953-81c11fec-045f-46bc-a751-83a113d801f2.png)

### What did you expect to happen?

Expected behaviour: it should offset the bufferline

### Config

[code]

[2022-07-31 12:17] akinsho commented on #492
@dylode please have a very close look at the docs and your config, this feature definitely works as I use it daily. I'm not by a computer at the moment so can't dig in at the moment

[2022-07-31 14:51] dylode commented on #492
For me layout[1] == leaf not row?

https://github.com/akinsho/bufferline.nvim/blob/main/lua/bufferline/offset.lua#L129

[2022-08-01 07:12] akinsho commented on #492
@dylode this feature will only work if for *full height* windows if there are other buffers underneath nvim tree this feature will not work.

[2022-08-01 10:03] dylode commented on #492
![image](https://user-images.githubusercontent.com/78496445/182122808-c383483f-f4f3-4be4-9681-b09e0fad1538.png)

I'm not running anything underneath nvim tree except for lualine.
![image](https://user-images.githubusercontent.com/78496445/182123126-927215da-32df-4506-8692-b91af38e80b8.png)
And if I disable lualine it's the same? Does that status line count as a buffer?

This is my config: https://

[2022-08-01 17:40] dylode commented on #492
I had to add the following to lualine config:
disabled_filetypes = {'NvimTree'}

and after I reinstalled the plugin it worked (also looks better)
Thanks.

[2022-08-01 17:40] #492 closed

[2022-08-02 11:00] ofirgall opened #494 "[Feature Request]: show buffers in the current tab only"
### What?

Show buffers that has been opened only in the current tabpage

### Why?

I use tabpage to create a new "window" in the same directory, when I have multiple tabpages the bufferline becomes irrelevant because it shows so many buffers that I don't intend to use in the current tabpage.

[2022-08-02 11:02] akinsho commented on #494
Please have a look at https://github.com/tiagovla/scope.nvim which will solve your problem

[2022-08-02 11:06] #494 closed

[2022-08-03 07:27] najish-syncoria opened #496 "[Question/feature request]: is there a way to only show buffers of the current tab?"
I sometimes find it messy when buffers from different tabs gets mixed up. It would be convenient if there was a "both" mode to do that.

Or if there is already a way to do that manually.

[2022-08-03 07:51] akinsho commented on #496
I've just added a section about this to the readme as this is the second request I've gotten about this in 2 days please use the plugin that I've mentioned in the README.

[2022-08-03 07:51] #496 closed

[2022-08-03 07:52] akinsho commented on #490
@4e554c4c any news on this? I'm regularly switching themes and this works fine for me

[2022-08-03 07:55] akinsho commented on #488
Gonna close this out as I've merged the change into my dev branch. It will make it's way to main when I do the next release soon.

[2022-08-03 07:55] #488 closed

[2022-08-07 10:49] Kaesenudeln opened #498 "[Bug]: tab mode does not function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The issue is that when i set mode to "tabs", there comes an error.

Error detected while processing function <SNR>77_rooter[14]..<SNR>77_cd:
line    3:
E5108: Error executing lua ...cker/start/bufferline.nvim/lua/bufferline/duplicates.lua:29: attempt to call method 'ancestor' (a nil value)
stac

[2022-08-07 11:10] akinsho commented on #498
@Kaesenudeln can you please post an example with a minimal config, it appears you have copy pasted the entire example config, which is not recommended. Several of the options you have included, e.g. `sort_by = 'insert_after_current',` are not even valid for tabs.

[2022-08-07 11:11] akinsho commented on #490
I'm going to close this out since there's been not response. Feel free to post a minimal example that reproduces this issue and if I can reproduce I'll re-open this

[2022-08-07 11:11] #490 closed

[2022-08-07 13:16] Kaesenudeln commented on #498
I change the config to
[code]
The problem still exsits.
[code]

[2022-08-07 19:08] 4e554c4c commented on #490
sorry! was on vacation for a week with no internet.

back at my computer and I figured out two oddities that might be causing this issue

first, my `init.lua` loads colorschemes before plugin configurations. e.g. it loads `colorscheme.lua`:
[code]
_before_ running `require 'bufferline'.setup{}`.

I've replicated this in `vim -u NORC` as follows:
[code]
the following works (loading `colorscheme.lua

[2022-08-08 07:36] JamesTiberiusKirk commented on #486
I have the same problem. Fine outside tmux and broken inside. However, whats more weird is that I use the same dot files across mac and linux (also use alacritty on both) and this probled only shows up on lunx.
@Integralist Did you ever manage to find the issue on your side?

[2022-08-08 07:39] Integralist commented on #486
Nope. Afraid not. After 10+ years of using tmux and occasionally having to fight annoying issues like this I decided to just bite the bullet and switch to https://zellij.dev/ where the colour issues disappeared.

[2022-08-08 08:52] #498 closed

[2022-08-08 08:54] akinsho commented on #498
I managed to reproduce this, seems that a bad merge somewhere removed some logic from the plugin by accident.

[2022-08-08 09:36] JamesTiberiusKirk commented on #486
@Integralist ok, thanks for the shout. might give it a go myself at some point

[2022-08-08 20:48] nikfple commented on #482
I think this can be fix by adding options to change indicator_icon for unselected buffer also. and options to change guibg for indicator wether selected/unselected/visible.

[2022-08-08 21:55] akinsho commented on #490
@4e554c4c it's right/desirable for your colorscheme to be loaded before bufferline. Bufferline works by sampling colours from your theme to create its own colors so if the theme is set too late then it might not pick those up. Secondly, I'm not sure if I understand the exact workflow that isn't working. The workflow that is designed to work is that a user loads a colorscheme as normal and if at a

[2022-08-08 23:27] 4e554c4c commented on #490
tested with [gruvbox](https://github.com/morhetz/gruvbox) (and [gruvbox.nvim](https://github.com/ellisonleao/gruvbox.nvim)) for another nvim colorscheme)
base16 -> gruvbox works
gruvbox -> base16 doesn't

so this is probably related to the base16.nvim repo, I'll go report there and see if they have any insight

[2022-08-09 20:59] 4e554c4c commented on #490
base16 issue closed. they suggest I debug how bufferline reloads themes. i'll work on that when i get the time.

[2022-08-10 15:58] lnhrnndz commented on #486
The issue is actually with using italics in tmux, not with the colors.

To fix it disable italics for `buffer_selected` in your bufferline config

[code]

[2022-08-10 19:22] rayfaddis commented on #294
This is a really useful feature to me. Bufferline is the best tabline I've yet to use so don't break my heart @akinsho and rip it out haha! I hear you on the busy part and needing to focus elsewhere.

When I get some free time I'll take a look at this situation myself and hopefully open a PR.

[2022-08-11 22:39] stelcodes opened #500 "[Bug]: Unique tabs feature results in hidden tabs, confusing UX"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The recent change to enable unique tab names (PR #485) also hides tabs that are editing the same file. This is a significant, undocumented breaking change. It seems like this behavior was intended. When you have multiple tabs open that are editing the same file, only one is visible on the buffe

[2022-08-12 07:28] akinsho commented on #500
@stelcodes the issue you describe is not by design, I believe the user who contributed the change also did not intend this. I'm not entirely clear why this is happening but if you look through the code that was contributed there is no specific intention to add this, so in all likelihood this is caused by some unforeseen interaction.

I haven't much time and a lot of issue across too many plugins s

[2022-08-13 13:45] akinsho commented on #500
This should now be fixed by #501

[2022-08-13 13:45] #500 closed

[2022-08-13 18:13] stelcodes commented on #500
@akinsho You rock!

[2022-08-13 19:29] B4mbus opened #502 "[Bug]: offset doesn't work with NvimTree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Offset doesn't work for NvimTree.
![image](https://user-images.githubusercontent.com/75364377/184507986-69f3aa63-66c6-440d-8af8-3f1709aef655.png)
I've seen an issue in which the author of this plugin explains "this feature only works for full height windows". I have no idea what that means, but

[2022-08-13 19:48] akinsho commented on #502
@B4mbus unfortunately I get this issue on an almost weekly basis and there are quite a few like  it. From the above screenshot, it appears your configuration is set up incorrectly. You have placed the offsets key in the wrong place. Please have a careful look at the default configuration to see the correct structure.

[2022-08-13 19:54] B4mbus commented on #502
@akinsho oh man :flushed: this is really my fault. Very sorry, you are right, works now. Thanks!

[2022-08-13 19:54] #502 closed

[2022-08-14 12:17] OldWorldOrdr opened #504 "[Bug]: E518: Unknown option: separator_style Press ENTER or type command to continue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm sure I'm missing something stupid here, but I don't know where else to ask for help so I'm just gonna file a bug report. I'm very new to vim, and even newer to lua.  The option works as expected, I get slanted separators like I wanted, I just need to suppress the error message.

### What di

[2022-08-14 12:19] OldWorldOrdr commented on #504
[init.vim.txt](https://github.com/akinsho/bufferline.nvim/files/9333351/init.vim.txt)
heres my entire init.vim if it helps

[2022-08-14 12:28] akinsho commented on #504
Hi @OldWorldOrdr, so this option works as I can verify this locally by setting it myself, and it almost certainly is a configuration issue. In general a bug report isn't really ideal for this sort of thing since whilst I appreciate your predicament I maintain several plugins so having to help individual users with their configs is *very time-consuming* for me. Other than the indentation (which lua

[2022-08-14 12:31] OldWorldOrdr commented on #504
thanks for the advice

[2022-08-14 12:31] #504 closed

[2022-08-14 12:33] akinsho commented on #504
@OldWorldOrdr looking at your `init.vim`

this is erroring because you are doing
`set separator_style`
this is not correct and you should not have this line in your config

[2022-08-14 12:38] OldWorldOrdr commented on #504
Ahh I forgot to remove that thanks

[2022-08-14 13:20] ivanmoreau opened #506 "[Bug]: attempt to call local 'cmd' (a nil value)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I get this error when starting nvim:
[code]

### What did you expect to happen?

It should work without the previous error.

### Config

This is my minimal .vimrc
[code]

### Additional Information

I traced the error to a minimal example that causes it. Turns out that a version of Neovim of at

[2022-08-14 13:23] akinsho commented on #506
@ivanmoreau did you try a *stable* neovim 0.7, old nightlies are not guaranteed to work at all. The command I added is valid in stable neovim 0.7.

In general, when any plugin author refers to a point release e.g. 0.7 or 0.7.2 we mean *stable* not nightly. If you are ever using a nightly older than a week, I'd suggest nothing is guaranteed to work.

[2022-08-14 13:33] ivanmoreau commented on #506
@akinsho my mistake, then. I did not. I had an outdated Brew version, with an outdated Neovim-nightly recipe.

I was using and old nightly because some plugin required for something that I don't remember. But it's not longer an issue.

But thank you for pointing it out.

Have a great day.

[2022-08-14 13:33] #506 closed

[2022-08-15 14:11] singlexyz opened #510 "[Bug]: The color of the separator is incorrect."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Now Looks like:

<img width="601" alt="图片" src="https://user-images.githubusercontent.com/4456413/184651080-744b5100-cc2c-44e7-a134-274d4190a030.png">

### What did you expect to happen?

Should looks like:

<img width="710" alt="图片" src="https://user-images.githubusercontent.com/4456413/184649

[2022-08-15 14:17] akinsho commented on #510
@singlexyz I'm unable to reproduce this. In all likelihood, this relates to your config and how things are being set up, i.e. when the colorscheme is called etc. The config you add will not be enough to reproduce this issue (please do not post your whole config though, as I don't have the time to go through an entire config).

The commit you point out does *nothing to change highlights* it only ad

[2022-08-15 16:10] #510 closed

[2022-08-16 06:12] xbot opened #511 "Bufferline is conflicted with taboo.vim"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Bufferline won’t work with Taboo.vim installed.

### What did you expect to happen?

I think it would be better to have this informed in the FAQ.

### Config

None

### Additional Information

...

### commit

_No response_

[2022-08-16 07:31] akinsho commented on #511
@xbot I can't realistically document every conflicting plugin, and frankly I don't want to maintain a list of plugins that don't work with this one. I think a good role in general is that if a plugin is also interacting with the tabline at all, it won't work with bufferline. Tabline plugins generally do not/cannot co-exist.

[2022-08-16 07:31] #511 closed

[2022-08-16 16:41] FollieHiyuki opened #512 "[Bug]: Highlights are no longer being set by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

With the latest switch to `nvim_set_hl`, I can't get my custom theme of bufferline.nvim to work anymore.

### What did you expect to happen?

bufferline.nvim uses my custom theme instead of the default.

### Config

- Load custom theme with `nvim_set_hl` (e.g. `vim.api.nvim_set_hl(0, 'BufferLin

[2022-08-16 17:55] akinsho commented on #512
@FollieHiyuki the workflow you are trying to use is not officially supported. Using `nvim_set_hl` to set your bufferline highlights means that when `bufferline.setup` is called, the plugin will use whatever highlights are set at that point. This plugin should be configured by setting the highlight objects so that all highlights are set *before* this plugin is loaded.

If you are trying to modulari

[2022-08-17 00:30] will commented on #512
For what it's worth I had no custom bufferline hilights in my config, and before f248437e31b97f2a91173ee770b181b8d8ccdd42 switching between light and dark backgrounds worked great, now bufferline only takes the dark theme, even when starting up in light and making sure that bufferline is setup() well after all colorscheme stuff is set.

I'm working on figuring out a workaround in the above linked

[2022-08-17 07:05] akinsho commented on #512
@will I don't believe this issue is related to yours as far as I can see. This is about using custom highlights outside bufferline's setup, and your case doesn't involve them at all. Regarding the commit you linked, this was a soft deprecation because gui* highlights all still work, so nothing should have stopped showing because of that.

Ultimately, a lot of people's setups are far too unpredicta

[2022-08-17 07:08] akinsho commented on #468
I think the original issues raised here have been resolved. If there are still tab related issue, please feel free to raise another issue or (preferably) a PR for those. If the original issue is not actually resolved, let me know.

[2022-08-17 07:08] #468 closed

[2022-08-17 10:26] molsenhiq opened #513 "[Feature Request]: Keybinding for closing the current buffer"
### What?

I recently switched from barbar to bufferline and one of the features i'm missing is the ability to close the current buffer/tab with a keybinding.
I tried using :bd as suggested in a different issue. However that behaves differently by closing the entire "window" while barbar just switched to the next buffer/tab in the same window.

### Why?

Having a keybinding for closing the current

[2022-08-17 10:37] akinsho commented on #513
@molsenhiq so a big difference between barbar and this plugin is that it dips its toes into buffer management, which this plugin explicitly does not do. I think it's a user's responsibility to decide how this sort of thing works, it also adds more of a maintenance burden for me. There are a lot of plugins that offer this functionality

* vim-bbye
* vim-sayonara
* nvim-bufdel
* https://github.com/f

[2022-08-17 10:38] akinsho commented on #513
This plugin doesn't provide keybinds and probably never will

[2022-08-17 13:30] FollieHiyuki commented on #512
@akinsho thanks for the answer.

I wonder would this change break lots of theme plugins in the wild. AFAIK theme plugins literally just do the same things as I do - define highlights for groups and applying them with `nvim_set_hl` or `:highlight` command. So, if the user set their theme before `bufferline.nvim`, the same behavior as mine will occur.

[2022-08-17 14:07] akinsho commented on #512
@FollieHiyuki I spoke incorrectly, although in this case I'm giving advice that is counter to how this plugin is intended to be used, setting your highlights before this plugin starts will not matter and really should never have done. When this plugin is loaded, it checks the highlights table *only* as the potential source of user colours.

It prefers anything set in the user highlights in the fir

[2022-08-17 14:33] molsenhiq commented on #513
Alright, thanks for links. I found this as well [LunarVim:bufferline.lua](https://github.com/LunarVim/LunarVim/blob/45f9825d1e666890ed37baf15a14707ae40e5cff/lua/lvim/core/bufferline.lua#L147-L219)

[2022-08-17 14:36] akinsho commented on #513
Going to close this out now then, there's also some *very old* discussion in neovim to just add a command that allows a user to close a buffer without messing up the window layout but I think the biggest blocker is that no one has contributed a solution since this could very well be native, and we wouldn't need dozens of solutions to a super common use case

[2022-08-17 14:36] #513 closed

[2022-08-17 15:01] akinsho commented on #512
Ok I think I've realized the issue and there was a bug. It's subtle, so wasn't immediately obvious. Basically `default` wasn't being set any more which would explain both your issues, actually. Can you both try the `dev` branch I've pushed a fix there

[2022-08-17 15:57] CroszJexx commented on #512
I switched to the development branch and everything seems to be working fine again.

[2022-08-17 16:36] FollieHiyuki commented on #512
Just checked out just now. Confirmed working. Thanks for the effort.

[2022-08-17 17:45] akinsho commented on #512
This is now merged into main in #505 so will close this out

[2022-08-17 17:45] #512 closed

[2022-08-17 18:44] 4e554c4c commented on #490
works as of v2.7!

[2022-08-18 15:08] codemang commented on #513
I have this in my vimrc from a while ago that works with this plugin as well:

[code]

[2022-08-20 12:59] xbot opened #517 "[Bug]: The color of the empty space on the right side of the last tab is not consistent with the separator color after upgrading to v2.7.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The color of the empty space on the right side of the last tab becomes inconsistent with the separator color after upgrading from v2.6.0 to v2.7.0.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/1068265/185747131-1f55ec51-a1e9-42f2-92f1-979a34f569c5.png">

I've tr

[2022-08-20 13:08] akinsho commented on #517
@xbot can you confirm if this behaviour is specific to tokyo night or not, since you are the only person reporting this issue my assumption is that it relates specifically to that colorscheme. If it is not reproducible with another colorscheme then please close this issue and report the bug over there.

[2022-08-20 13:46] #517 closed

[2022-08-20 23:22] joe23rep opened #518 "[Feature Request]: better modified icon behaviour/ options"
### What?

first off english isnt my native language so please bare with me

now to my requests.

first id like to see i smarter modified icon behaviour. what i mean is this:
go into a file and add a letter. remove that letter. your file is again like it was before, but bufferline still shows it as modified. i know it can be done since in lightline it works.

then it would really help if you could

[2022-08-21 09:44] akinsho commented on #518
@joe23rep you can change the background color of the modified icon using the `modified`, `modified_visible` and `modified_selected` highlights. Please check `:help bufferline-highlights` for details. Regarding the icon, you can just change it to an empty space `modified_icon = ' '` 🤷🏿.

Regarding changing the modified state without saving the file if you know how it is done please recommend a solu

[2022-08-22 14:11] joe23rep commented on #518
thank you. ill do that

[2022-08-22 14:11] #518 closed

[2022-08-23 01:46] aimerib commented on #517
This also happens with dracula: https://github.com/Mofiqul/dracula.nvim

[2022-08-23 07:26] akinsho commented on #517
Worth raising with that colour scheme author then. The OP and I have tried with other themes and this doesn't happen

[2022-08-23 09:50] Durev commented on #510
@akinsho just fyi I noticed the same issue when updating bufferline from commit `2e5d92efacf40d488c4647a9e3e5100357b184cf` to commit `f126f37177cb1902fa785897e038e00f2dca163e`.
Not sure which change between the two triggers the "bug".

I indeed fixed the problem by changing the order in which my plugins and colorscheme are respectively loaded, ie in my `init.vim` going from
[code]
to
[code]

The c

[2022-08-23 10:52] akinsho commented on #510
@Durev I don't know what's in those files, so they're not really a good jumping off point for a reproduction for me. I'd need a minimal example and ideally a single commit that introduces the issue if it is truly an issue. In general, your colorscheme should be loaded before this plugin because when the plugin runs setup it will check colours that exist and use those to create its highlights. In t

[2022-08-23 18:51] aimerib commented on #517
I'm happy to do so, however I'd like to point out that `onedark` theme also had issues with the "slant" separator as well. This issue with the colors seem to only happen when the separator is using the slant style.

So far, all four themes I've tried had the same issue, all four of them being "dark" themes:
* `onedark`
* `tokyonight`
* `tokyodark`
* `dracula.nvim`

My setup for testing these consi

[2022-08-23 19:00] akinsho commented on #517
@aimerib I've tested/regularly use [horizon.nvim](https://github.com/LunarVim/horizon.nvim), [nightfox.nvim](https://github.com/EdenEast/nightfox.nvim) and [doom-one.nvim](https://github.com/NTBBloodbath/doom-one.nvim). In all of these cases then as long as a user has set their highlight before bufferline loads this works correctly for me. As I have mentioned above, if a user sets their colorschem

[2022-08-23 19:14] akinsho commented on #517
@aimerib I just tried dracula and see the same issue here, but this seems to be by design as the author of that theme has purposely changed the color of the fill

https://github.com/Mofiqul/dracula.nvim/blob/40d38e95bf006470b3efe837b2e0b9f66707c850/lua/dracula/init.lua#L342

You can ask them why 🤷🏿‍♂️ but seems that it's expected to not look right since it's been changed on purpose

[2022-08-23 19:27] aimerib commented on #517
True! I am not sure why either. This is also not the plugin from the original dracula theme creator, so I am not super sure what the thinking was there. I'll submit a bug in that repo for this, but for the time being I just forked that theme and made the changes myself, so now I get my preferred color scheme with the slat separator!

You certainly didn't have to go through the trouble of digging i

[2022-08-23 20:00] CharlesARoy opened #521 "How to: Open nvim help in a new buffer instead of a split"
Does Bufferline have a command that could be used to open the help in its own buffer?

Note, I've seen pages like [this](https://vi.stackexchange.com/questions/3716/open-help-windows-in-new-buffer-instead-of-split-windows) and [this](https://vi.stackexchange.com/questions/358/how-to-full-screen-browse-vim-help) which recommend using e.g. `<C-w> o` after opening the help, but that's not quite what

[2022-08-24 07:15] akinsho commented on #521
Hi @CharlesARoy,

So I really don't think this issue actually relates to Bufferline at all. How the help buffer opens is really something for a user to sort out in their config, whereas this is just a plugin to provide nice visualization for buffers.

I'd recommend using some sort of autocommand or ftplugin file that used a `wincmd` to position the window as you please. In either case, I'm going t

[2022-08-24 07:15] #521 closed

[2022-08-24 13:39] Shatur opened #522 "[Bug]: Highlighting do not reload on changing background"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Highlighting stop reloading on changing background after f248437e31b97f2a91173ee770b181b8d8ccdd42
To reproduce just call `:set background=light` or `:set background=light` on a theme that supports light and dark mode. For example, https://github.com/Shatur/neovim-ayu

### What did you expect to

[2022-08-24 13:58] akinsho commented on #522
@Shatur I just tested this out with my colorscheme `doom-one.nvim` and setting background light/dark works without issue. Is this problem specific to your theme or can you reproduce it for other colorschemes

[2022-08-24 14:07] Shatur commented on #522
Strange, I can reproduce it with https://github.com/NTBBloodbath/doom-one.nvim too. Even without configuration:

![изображение](https://user-images.githubusercontent.com/22453358/186439796-348decc5-8110-4b1d-a6f0-7ea44cb03f08.png)
![изображение](https://user-images.githubusercontent.com/22453358/186439778-9ec97097-1fff-4adf-9713-18a40b1d8204.png)

I use NVIM v0.7.2

[2022-08-24 14:18] akinsho commented on #522
@Shatur can you reproduce this with a minimal `init.lua` that just packadds this plugin and doom and sets the colorscheme then loads this plugin with no config. Maybe it has to do with the fact that I am on nvim nightly but nothing I changed was nightly specific but the behaviour might be different somehow

[2022-08-24 14:30] akinsho commented on #522
Okay I'm able to reproduce it with
[code]

I'll look at it when I have some free time, would be good to get some sort of test for this since colorscheme relate breakage is constant but very hard to test

[2022-08-24 14:35] Shatur commented on #522
Yes, I debugged it and it looks like the issue is caused by calling `require("bufferline").setup()` after `vim.cmd.colorscheme("doom-one")`.
Here is minimal config to reproduce the issue (run with `nvim -nu minimal.lua`):
[code]

I took it from https://github.com/nvim-telescope/telescope.nvim/blob/master/.github/ISSUE_TEMPLATE/bug_report.yml

[2022-08-24 16:52] shaeinst opened #524 "'indicator_icon' will be deprecated"
full message:
[code]
there is no mention of this deprecation in [Announcements and Breaking Changes](https://github.com/akinsho/bufferline.nvim/issues/387). And as the error says `It should be changed to indicator and icon specified as indicator.icon, with indicator.style = 'icon'`, can i be certain with this statement?

[2022-08-24 17:33] akinsho commented on #524
@shaeinst I maintain several plugins and have several announcement threads I simply forgot to update that one, but yes the deprecation warning is correct please also check the default config in `:help buffer-configuration`. if you are using a custom indicator it will need to changed to
[code]

[2022-08-24 17:33] #524 closed

[2022-08-24 17:34] akinsho commented on #387
`option.indicator_icon` has been soft deprecated. For anyone overriding the `indicator_icon` please update your config to

[code]

[2022-08-24 17:37] akinsho commented on #387
All highlighting must now be done using the same arguments as are used for `nvim_set_hl` i.e.
all `gui*` attributes e.g. `guifg`, `guibg` etc. should now be changed as follows
`guifg` → `foreground`
`guibg` → `background`
`gui=italic,bold,underline` → `{italic = true, underline = true, bold = true}`

Please see `:help nvim_set_hl` for more details.

This removes an old piece of legacy code that wa

[2022-08-24 17:39] akinsho commented on #524
Generally speaking such notifications are painstakingly written by me, you should always take those at face value more than any other source.

[2022-08-24 17:47] shaeinst commented on #524
@akinsho i will, thanks.

[2022-08-24 18:00] shaeinst commented on #524
i think there are some mistakes in code snippet (comma and close curly bracket missing)
And in announcement threads, comma(,) is missing after `style='icon'`
[code]

[2022-08-24 20:48] akinsho commented on #522
fixed by #523

[2022-08-24 20:48] #522 closed

[2022-08-25 15:02] Durev commented on #510
@akinsho
[fd53af1 ](https://github.com/akinsho/bufferline.nvim/commit/fd53af18ac66b799d6edbaa74431a7bc1be832de) fixed the issue on my side.

That was quick!

Thanks 🙏

[2022-08-26 00:35] EmDash00 opened #528 "[Feature Request]: Custom highlight group for filetype icons"
### What?

 My colorscheme doesn't currently support bufferline so I made custom overrides for the highlight groups. I've looked around quite a bit for the filetype icon highlight group but I haven't been able to find one.

I sincerely apologize I'm just overlooking. If there is one, could someone please point me in the right direction?

### Why?

Currently have odd coloring of the filetype icon o

[2022-08-26 07:13] akinsho commented on #528
@EmDash00 this plugin is designed not to need specific theming from a colorscheme, it shouldn't really matter if your plugin supports it or not. If you are tweaking the highlights because you'd prefer they were different, then I strongly suggest you do this by using the `config.highlights` table. Trying to manually override the highlights of this plugin outside the highlights table is strongly adv

[2022-08-26 09:43] nullchilly commented on #528
@akinsho I am pretty sure the `BufferLineDevIconSelected` used to match `BufferLineBufferSelected`

Bufferline auto-generated highlight on `Catppuccin latte` isn't exactly as good as [catppuccin/groups/integrations/bufferline.lua](https://github.com/catppuccin/nvim/blob/main/lua/catppuccin/groups/integrations/bufferline.lua)
![image](https://user-images.githubusercontent.com/56817415/186876322-04f

[2022-08-26 10:26] akinsho commented on #528
@nullchilly I don't know exactly what you are getting at. The icon highlights have always been of the format `BufferLineDevIconLua`, BufferLineDevIconLuaSelected`, `BufferLineDevIconLuaInactive` (maybe a word moved, but I don't think so). Each icon highlight takes the highlights already defined by `web-dev-icons` and just adds a variant so that there is a matching background highlight for each buf

[2022-08-26 13:01] nullchilly commented on #528
@akinsho We have `:Catppuccin latte/frappe/macchiato/mocha` to change the colorscheme's flavour on the fly

This means when bufferline.setup is called once the user highlights table is set forever

https://github.com/akinsho/bufferline.nvim/blob/fb7b17362eb6eedc57c37bdfd364f8e7d8149e31/lua/bufferline.lua#L168-L172

What I am asking is to support `self.highlights` as a function and trigger after Co

[2022-08-26 13:31] akinsho commented on #528
@nullchilly [*highlights already supports a function*](https://github.com/akinsho/dotfiles/blob/2fe8a7e9b38b46e7e090c68317b4763d073a5515/.config/nvim/lua/as/plugins/bufferline.lua#L13)

[2022-08-26 13:33] akinsho commented on #528
I feel that this conversation is distracting from the OP's actual issue, can we please leave off conversations about catpuccin and other things like that to another issue if needed. As far as I can tell, there is no real issue since what you are describing for catpuccin can already be done and does not relate to this issue at all.

[2022-08-26 14:02] nullchilly commented on #528
@akinsho Thanks and sorry, feel free to mark comments are off-topic

[2022-08-26 18:24] EmDash00 commented on #528
Seems like this was the problem. I manually overrode the colorschemes with an au command after the colorscheme is loaded. Below is what I did. I think it must have been something odd about my configuration (not entirely sure what) because using the colorscheme defaults chosen by bufferline.nvim now works. Either way, lesson learned. Thanks for the response.

lua/colors/init.lua
[code]

lua/colors/

[2022-08-26 18:24] #528 closed

[2022-08-30 17:03] Bogdan-Torkhov opened #529 "Settings don't work"
Hello, my settings for bufferline don't work i am using nvim 7.2 with init.vim
i have this code for the setting up: `lua << EOF
require("bufferline).setup{}
EOF
let bufferline = get(g:, 'bufferline', {})
let bufferline.animation = v:true
let bufferline.closable = v:false
let bufferline.icon_separator_active = '▎'
let bufferline.icon_separator_inactive = '▎'
let bufferline.icon_close_tab = ''
let

[2022-08-30 17:25] akinsho commented on #529
@Bogdan-Torkhov sorry but the code you have pasted is not really legible at all, but it looks pretty incorrect. None of it has been set up correctly. Can you please look at the documentation in `:help bufferline` to set things up correctly.

*Do no copy paste this*, it should look more like
[code]

[2022-08-30 17:25] #529 closed

[2022-08-30 17:32] Bogdan-Torkhov commented on #529
@akinsho can you send me all code with my settings?

[2022-08-30 17:35] akinsho commented on #529
@Bogdan-Torkhov sorry but you should read through the documentation and figure out how to configure it properly, I can't write configs for all users. It's up to you to figure out how to make this plugin work. Please read through the documentation. If you do not need to configure anything special, then just use the defaults. The example below will load the defaults.

[code]

If you are having troub

[2022-09-01 21:18] NEX-S opened #531 "How to config can only show filename in bufferline"
![image](https://user-images.githubusercontent.com/97107165/188014624-fa9e8ca0-b8bc-4cca-888a-9a168c0beb30.png)

I wish to config bufferline to only show init.lua in bufferline ( not nvim/init.lua)

I've tried to use this to config it but seem not what I want.
[code]

[2022-09-01 22:21] akinsho commented on #531
The indicator you see there is to mark a duplicated filename. It only appears when two buffers with the exact same name are open. There is no way to disable this, but there is a feature request to add it. So this is either a duplicate of #469. In either case the question has been answered and if a duplicate there is already a tracking issue.

[2022-09-01 22:21] #531 closed

[2022-09-02 01:58] ray-x opened #532 "[Feature Request]: Auto adjust tab size and auto rename tab filename"
### What?

I worked on some projects for most of the files in the projects have very long file names, e.g.

`international_address_suggestion_table.js`, `international_address_suggestion_table.spec.js`,  `international_address_mapping.js`,   `international_address_mapping.spec.js`,

I have a tab size fixed to 18. But it is hard to tell which file I am working on if I open the above files.
I can re

[2022-09-02 07:41] akinsho commented on #532
This is a reasonable request @ray-x especially if it blocks your work. I'll see about adding an auto-size option or something.

The thing about the files though I think is quite specific it's a nice to have for sure but I think it can be achieved by using the name formatter for test files in combination with a custom sorter i.e. you can write a sorting function that puts files with similar names t

[2022-09-02 08:13] ray-x commented on #532
Thanks!
I will create name formatter function for now. I may going to transfer
`international_address_mapping.js` -> `intaddmap....js` and
`international_address_mapping.spec.js` -> `intaddmap.spe....js`.

I think dynamic tab-size can be a good feature to bring into bufferline.

[2022-09-02 08:38] akinsho commented on #532
@ray-x got a PR up for the auto sizing names behaviour can you try it and let me know

[2022-09-02 11:46] akinsho commented on #532
closed by #533 feel free to open another issue for the tab navigation thing but please ensure the bug you're describing is clear 🙏🏿

[2022-09-02 11:46] #532 closed

[2022-09-02 12:06] ray-x opened #534 "Improve tab navigation with truncate filename set to false"
There are 2 cases that can be improved.
* case 1
suppose I have three files, long_file_name_file_1, long_file_name_file_2, long_file_name_file_3. What I saw is
       |  empty_space |long_file_name_file_2|  empty_space  |

There is no way I can use mouse to move to the next buffer.  I have to use `bnext/bprev` (also `BufferLinePick` not working as only one tab is shown)

* case 2
3 files, as above

[2022-09-02 14:14] akinsho commented on #534
Ah right, so I don't think this is actually a bug, just a possible improvement that is brought to light by using long filenames.

This is actually *quite hard* to improve, the reason being that this plugin works by calculating the size of all tabs and then truncating it till they all fit. There's no edge case handling like if the long file name in case 1 is bigger than `empty_space` 1 and 2 there'

[2022-09-02 22:59] bluexnine commented on #149
I wanted this sort by mru feature so I spent some time pushing a patch up on my forked repo. I am not sure how to do a pull request but it seems as though I did something right because it is showing up on this issue/feature request.

@akinsho let me know what you think.

[2022-09-05 22:07] Tyson453 opened #536 "[Bug]: selected separator uses color for separator instead of separator_selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The separator for the selected buffer is the color value for `highlight.separator` instead of `highlight.separator_selected`.

### What did you expect to happen?

I expect the separator for the selected buffer to be the color value associate with `highlight.separator_selected`.

### Config

loc

[2022-09-06 12:09] akinsho commented on #268
This was done in #533 it's currently only in dev but will be released soon.

[2022-09-06 12:09] #268 closed

[2022-09-06 19:16] Alex-vZyl opened #540 "[Bug]: Toggleterm breaks offset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Here I have nvim-tree.lua open with the offset displaying correctly:

![image](https://user-images.githubusercontent.com/81622310/188718731-006997e1-ece9-4a63-9762-3ecfc11bbf36.png)

When I open the terminal (with toggleterm) the tree heading completely disappears:

![image](https://user-images

[2022-09-06 20:32] akinsho commented on #540
This is a duplicate of quite a few issues. It is a known limitation of this feature that it cannot handle window layouts where the vertical panel being offset doesn't actually extend the entire vertical length of the window, PRs welcome 🙏🏿  #241 #492.

[2022-09-06 20:32] #540 closed

[2022-09-06 22:40] Alex-vZyl commented on #540
Apologies for not spotting those issues :)  If I ever get around to understanding the inner workings of neovim I would love to submit a PR.

[2022-09-08 00:31] JBlocklove opened #541 "[Bug]: Configs Not Sourcing Correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Only a few configs seem to work when I get the options using `require("bufferline").setup{}`. On its own it seems to be fine, but when I add options, most done seem to do anything. I added `indicator = { style = 'underline' },` which seemed to work, although it looked odd, but I also added `sho

[2022-09-08 02:12] JBlocklove commented on #541
I moved the configs over to where I add the plugin with `packer` and that seems to fix the issue for me, however I don't think that should be necessary so I'll leave the issue open until someone who understands this better than I can take a look.

[2022-09-08 07:07] akinsho commented on #541
This issue does not appear to be due to a bug with this plugin, but rather about how things should be ordered when setting up plugins. As such, I'm going to close it out. In the case of packer, it is correct and expected that you setup the plugin in its config key. There are other ways to load plugins that ensure the correct order, but that is not an issue/discussion specifically for this plugin

[2022-09-08 07:07] #541 closed

[2022-09-08 14:25] akinsho commented on #536
@Tyson453 I've looked through the code and I don't see where there is any issue, I can also not tell from the above issue what exactly you are seeing that is incorrect. Based on the config above you have overriden the values of separator anyway so I wouldn't expect them to be anything other than what you set

[2022-09-08 17:18] bluexnine commented on #149
@mgutz You mentioned you had a "naive mru algorithm". Can you show me your algorithm or describe your implementation? If i get a chance I want to add the weighted time view sort by recording buffer view time by tracking buffer's active time in a set range of time. I believe this is what you were eluding to.

You also mentioned trying to give priority to modified buffers. I think this is a great fe

[2022-09-09 21:23] omerdn1 opened #543 "Is there a way to make buffer ordering consistent with bufferline sorting?"
Take the following scenario with custom option:
[code]
1. Open file_1
2. Open file_2
3. Navigate back to file_1
4. Open file_3

The buffer will show buffers as follows: file_1 → file_3 → file_2

The problem now begins when trying to navigate between the buffers.
If I execute `:bprevious` from file_3, I will be directed to file_2, instead of the more logical file_1.

This is happening because the b

[2022-09-10 08:22] akinsho commented on #543
@omerdn1 you are expected to use bufferline's cycle commands if you are using bufferline's sorting since there is no way to make vim's internal sort order match

[2022-09-10 09:14] akinsho commented on #543
See `:help bufferline-sorting` re. the commands you need to use. There is no way to change neovim's internal representation of buffers or it's order.